<template>
  <main class="EBook wrap">
    <div class="EBook-list EBook-labtop-list">
      <div
        class="EBook-item"
        v-for="book in $store.getters['eBook/books']"
        :key="book.id"
      >
        <router-link :to="{ name: $route.name, query: { id: book.id } }">
          <div class="EBook-cover">
            <img :src="book.cover" :alt="book.title" />
          </div>
        </router-link>
        <p>{{ book.title }}</p>
        <BaseButton class="download-button" target="_blank" :href="book.pdf">
          PDF下載
        </BaseButton>
      </div>
    </div>

    <div class="EBook-list EBook-mobile-list">
      <a
        class="EBook-item"
        v-for="book in $store.getters['eBook/books']"
        :key="book.id"
        :href="book.pdf"
        target="_blank"
      >
        <div class="EBook-cover">
          <img :src="book.cover" :alt="book.title" />
        </div>
        <span>{{ book.title }}</span>
      </a>
    </div>

    <b-modal
      ref="eBook-modal"
      modal-class="EBook-modal"
      size="xl"
      hide-footer
      :title="activeBook.title"
      :visible="modalVisible"
      @change="onChangeModalVisible"
      @shown="onShownModal"
    >
      <template>
        <FlipBook
          ref="ebook"
          :options="bookOptions"
          :total-page="activeBook.books.length"
        >
          <div v-for="(imagePath, index) in activeBook.books" :key="index">
            <img :src="imagePath" :alt="`${activeBook.title}-${index}`" />
          </div>
        </FlipBook>
      </template>
    </b-modal>
  </main>
</template>

<script>
import { mapActions } from 'vuex';

import FlipBook from '@/components/EBook/FlipBook';
import BaseButton from '@/components/other/BaseButton.vue';

export default {
  name: 'EBook',
  components: {
    FlipBook,
    BaseButton
  },
  data() {
    return {
      modalVisible: false,
      publicPath: process.env.BASE_URL,
      bookOptions: {
        // display: 'double'
        // acceleration: true
        // elevation: 50
      }
    };
  },
  computed: {
    activeBook: {
      get() {
        return this.$store.getters['eBook/activeBook'];
      },
      set(value) {
        this.$store.commit('eBook/activeBook', value);
      }
    }
  },
  beforeRouteEnter(to, from, next) {
    next(async vm => {
      if (to.query.id) {
        await vm.fetchEBookById(to.query.id);
        vm.modalVisible = true;
      }
    });
  },
  async beforeRouteUpdate(to, from, next) {
    if (to.query.id) await this.fetchEBookById(to.query.id);
    this.modalVisible = Boolean(to.query.id);
    next();
  },
  methods: {
    ...mapActions('eBook', ['fetchEBookById']),

    onChangeModalVisible(visible) {
      this.modalVisible = visible;
      if (!visible) {
        this.activeBook = null;

        this.$router.push({ name: this.$route.name });
      }
    },
    async onShownModal() {
      this.$refs.ebook.render();
      this.$refs.ebook.initZoom();
      this.$refs.ebook.resizeViewport();
    }
  }
};
</script>

<style lang="scss" scoped>
$book-base-height: 227px;

.EBook {
  &-top {
    display: none;

    position: relative;

    @include media(md) {
      // height: 650px;
      margin-bottom: 8px;

      display: block;
      text-align: center;

      background-color: $greyish-brown;
      box-shadow: inset 0 10px 10px -5px #00000060,
        inset 0 -10px 10px -5px #00000060;
      img {
        height: 100%;
        object-fit: contain;
      }
    }
  }
  &-title {
    margin-bottom: 23px;

    font-size: 24px;
    color: $greyish-brown;
  }
  &-list {
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 53px 13px;
    @include media(md) {
      grid-gap: 53px;
    }
    @include media(lg) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
      grid-gap: 53px;
    }
  }
  &-item {
    display: block;

    text-align: center;
  }

  &-cover {
    height: $book-base-height;
    margin-bottom: 16px;
    border: solid 3px $greenish-teal;
    border-radius: 10px;

    @include media(sm) {
      height: $book-base-height * 1.5;
    }
    @include media(md) {
      height: $book-base-height * 2;
    }
    @include media(lg) {
      height: $book-base-height * 1.5;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      border-radius: 7px;
    }
  }

  .download-button {
    width: 50%;
  }

  &-labtop-list {
    display: none;

    @include media(md) {
      display: grid;
    }

    .EBook-item {
      position: relative;
    }
  }

  &-mobile-list {
    @include media(md) {
      display: none;
    }
  }
}

.EBook-reader {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .turn-page {
    background-size: 100% 100%;
  }
}
</style>

<style lang="scss">
.EBook-modal {
  padding: 0 !important;

  .modal-dialog {
    max-width: none;
    min-height: 100%;
    margin: 0 auto;

    @include media(xl) {
      max-width: 1220px;
    }
  }

  .modal-content {
    height: 920px;

    position: absolute;

    border-radius: 0;
  }

  .modal-body {
    display: flex;
    flex-direction: column;
    padding: 0;

    .FlipBook {
      flex: 1 0 0;
    }
  }
}
</style>
