<template>
  <main class="ExhibitionColumn wrap">
    <article class="ExhibitionColumn-article">
      <header class="ExhibitionColumn-header">
        <h1 class="ExhibitionColumn-title">{{ exhibition.title }}</h1>
        <time class="ExhibitionColumn-time">{{ exhibition.opendate }}</time>
      </header>

      <section class="ExhibitionColumn-video">
        <b-embed
          v-if="exhibition.youTubeEmbedURL"
          type="iframe"
          aspect="16by9"
          :src="exhibition.youTubeEmbedURL"
          allowfullscreen
        ></b-embed>
      </section>

      <section
        class="ExhibitionColumn-content"
        v-html="exhibition.contents"
      ></section>
    </article>

    <section class="ExhibitionColumn-other-articles">
      <h2 class="ExhibitionColumn-other-articles-title">其他文章</h2>
      <div class="ExhibitionColumn-other-articles-list">
        <div
          class="ExhibitionColumn-other-articles-item"
          v-for="otherExhibition in otherExhibitions"
          :key="otherExhibition.id"
        >
          <router-link
            :to="{
              name: 'ExhibitionColumn',
              params: { id: otherExhibition.id }
            }"
          >
            <ProjectItem :project="otherExhibition" />
          </router-link>
        </div>
      </div>
    </section>
  </main>
</template>

<script>
import { mapGetters } from 'vuex';

import ProjectItem from '@/components/other/ProjectItem.vue';

export default {
  name: 'ExhibitionColumn',
  components: {
    ProjectItem
  },
  data() {
    return {};
  },
  computed: {
    ...mapGetters({
      exhibition: 'exhibition/exhibition'
    }),
    otherExhibitions() {
      const exhibitions = this.$store.getters['exhibition/exhibitions']
        .filter(exhibition => exhibition.id !== this.$route.params.id)
        // 只擷取其中 4 篇
        .filter((exhibition, index) => index < 4);
      return exhibitions;
    }
  },
  async beforeRouteUpdate(to, from, next) {
    await this.$store.dispatch('exhibition/fetchExhibitionById', to.params.id);
    next();
  },
  methods: {}
};
</script>

<style lang="scss" scoped>
.ExhibitionColumn {
  &-header {
    padding: 30px 16px;
    margin-bottom: 16px;

    text-align: center;

    border-radius: 9px;
    border: solid 3px $greenish-teal;
    background-color: $pale-grey;
    color: $greenish-teal;

    @include media(md) {
      padding: 60px 16px;
      margin-bottom: 36px;
    }
  }

  &-time {
    font-size: 15px;
    font-weight: 600;
  }

  &-title {
    font-size: 17px;
    font-weight: 600;

    @include media(md) {
      font-size: 24px;
    }
  }

  &-video {
    max-width: 660px;
    margin: 0 auto 36px;
  }

  &-content {
    font-size: 17px;
    line-height: 1.7;
  }

  &-other-articles {
    margin-top: 24px;

    @include media(md) {
      margin-top: 36px;
    }

    &-title {
      margin-bottom: 16px;

      text-align: center;

      font-size: 20px;
      font-weight: 600;
      color: $greyish-brown;

      @include media(md) {
        margin-bottom: 36px;
      }
    }

    &-list {
      display: grid;
      grid-gap: 35px;

      grid-template-columns: minmax(0, 1fr);
      @include media(md) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }
      @include media(lg) {
        grid-template-columns: repeat(4, minmax(0, 1fr));
      }
    }

    &-item {
      > a {
        display: block;

        &:hover {
          color: inherit;
          text-decoration: none;
        }
      }
    }
  }
}
</style>
