<template>
  <main class="Exhibition wrap">
    <div class="Exhibition-content" v-if="introduction">
      <section v-if="introduction.image" class="Exhibition-banner">
        <img :src="introduction.image" :alt="introduction.title" />
      </section>
      <section
        class="Exhibition-secondary-video"
        v-if="introduction.secondaryYouTubeEmbedURL"
      >
        <b-embed
          class="Exhibition-secondary-video-content"
          type="iframe"
          aspect="16by9"
          :src="introduction.secondaryYouTubeEmbedURL"
          allowfullscreen
        ></b-embed>
      </section>
      <section
        v-if="introduction.content"
        class="Exhibition-introduction-content"
        v-html="introduction.content"
      />
      <div
        v-if="introduction.manual || introduction.result"
        class="Exhibition-solicit-button"
      >
        <BaseButton
          v-if="introduction.manual"
          :type="null"
          :href="introduction.manual"
          target="_blank"
        >
          甄選辦法
        </BaseButton>
        <BaseButton
          v-if="introduction.result"
          :to="{ name: $route.name, params: { pathMatch: 'result' } }"
          @click="exhibitionResultDetailModalVisible = true"
        >
          甄選結果
        </BaseButton>
      </div>
    </div>
    <h3 class="Exhibition-column-title">線上常設展專欄</h3>
    <div class="Exhibition-fliter">
      <div class="month-picker">
        <BaseSelect
          placeholder="選取年份"
          :options="yearOptions"
          :value="$store.getters['exhibition/year']"
          @update:value="$store.commit('exhibition/year', $event)"
          @clear="$store.commit('exhibition/year', $event)"
          @change="onChangeYear"
        />
      </div>
      <div class="pagination-size-changer">
        <PaginationSizeChanger
          :pageSizeOptions="[16, 24, 32]"
          :total="$store.getters['exhibition/total']"
          :page-size="pageSize"
          @update:page-size="pageSize = $event"
          @change="onChangePageSize"
        />
      </div>
    </div>
    <div class="Exhibition-project-list">
      <div
        class="Exhibition-project-item"
        v-for="exhibition in $store.getters['exhibition/exhibitions']"
        :key="exhibition.id"
      >
        <router-link
          :to="{ name: 'ExhibitionColumn', params: { id: exhibition.id } }"
        >
          <ProjectItem :project="exhibition" />
        </router-link>
      </div>
    </div>
    <Pagination
      :current-page="currentPage"
      @update:currentPage="currentPage = $event"
      :page-size="pageSize"
      @update:pageSize="pageSize = $event"
      :total="$store.getters['exhibition/total']"
      @change="onChangePagination"
    />

    <DetailModal
      v-if="introduction"
      title="甄選結果"
      modal-class="exhibition-result-detail-modal"
      :visible="exhibitionResultDetailModalVisible"
      @change="onChangeExhibitionResultDetailModal"
    >
      <section
        class="exhibition-result-detail-modal-content"
        v-html="introduction.result"
      />
    </DetailModal>
  </main>
</template>

<script>
import store from '@/store';

import { ExhibitionYearOptionsAPI } from '@/api';
import RouterUtils from '@/utils/route';

// import PageHeader from '@/components/PageHeader.vue';
import BaseButton from '@/components/other/BaseButton.vue';
import BaseSelect from '@/components/other/BaseSelect.vue';
import PaginationSizeChanger from '@/components/shared/PaginationSizeChanger.vue';
import ProjectItem from '@/components/other/ProjectItem.vue';
import Pagination from '@/components/shared/Pagination.vue';
import DetailModal from '@/components/shared/DetailModal.vue';

export default {
  name: 'Exhibition',
  components: {
    // PageHeader,
    BaseButton,
    BaseSelect,
    PaginationSizeChanger,
    ProjectItem,
    Pagination,
    DetailModal
  },
  data() {
    return {
      yearOptions: [],

      exhibitionResultDetailModalVisible: false,
      currentPage: 1,
      pageSize: 16
    };
  },
  computed: {
    introduction() {
      return this.$store.getters['exhibition/introduction'];
    },

    pageOptions() {
      return {
        currentPage: this.currentPage,
        pageSize: this.pageSize
      };
    }
  },
  beforeRouteEnter(to, from, next) {
    next(async vm => {
      if (to.query.time) {
        const year = to.query.time;
        store.commit('exhibition/year', Number(year));
      }
      await Promise.all([
        vm.fetchYearOptions(),
        vm.fetchExhibitionTopPost(),
        store.dispatch('exhibition/fetchExhibitions')
      ]);
      if (to.params.pathMatch === 'result') {
        vm.exhibitionResultDetailModalVisible = true;
      }
    });
  },
  async beforeRouteUpdate(to, from, next) {
    if (to.query.time) {
      const year = to.query.time;
      this.$store.commit('exhibition/year', year);
    }
    next();
  },
  methods: {
    async fetchYearOptions() {
      const yearOptions = await ExhibitionYearOptionsAPI.list();
      this.yearOptions = yearOptions.map(year => ({
        text: String(year),
        value: Number(year)
      }));
    },
    async fetchExhibitionTopPost() {
      try {
        await this.$store.dispatch('exhibition/fetchExhibitionTopPost');
      } catch (error) {
        this.$store.commit('exhibition/year', null);
        RouterUtils.removeQuery('time');
        this.$store.dispatch('exhibition/fetchExhibitionTopPost');

        if (this.$store.getters['exhibition/exhibitions'].length === 0) {
          this.$store.dispatch('exhibition/fetchExhibitions');
        }
      }
    },

    async onChangeYear(year) {
      this.currentPage = 1;

      // eslint-disable-next-line no-unused-vars
      const { time, ...otherQuerys } = this.$route.query;

      this.$router.push({
        name: this.$route.name,
        query: year ? { ...otherQuerys, time: year } : otherQuerys
      });

      Promise.all([
        this.fetchExhibitions(),
        this.$store.dispatch('exhibition/fetchExhibitionTopPost')
      ]);
    },

    async onChangePageSize() {
      this.onChangeHandler();
    },
    async onChangePagination() {
      await this.fetchExhibitions();
    },

    async onChangeHandler() {
      this.currentPage = 1;
      await this.fetchExhibitions();
    },
    async fetchExhibitions() {
      await this.$store.dispatch(
        'exhibition/fetchExhibitionsDebounce',
        this.pageOptions
      );
    },

    onChangeExhibitionResultDetailModal(visible) {
      this.exhibitionResultDetailModalVisible = visible;

      if (!visible) {
        this.$router.push({
          name: this.$route.name,
          params: { pathMatch: undefined }
        });
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.Exhibition {
  &-content {
    margin-bottom: 36px;

    section {
      margin-bottom: 24px;

      color: $greyish-brown;
    }
  }

  &-banner {
    img {
      width: 100%;
    }
  }

  &-introduction-content {
    font-size: 17px;
    line-height: 1.7;
  }

  &-solicit-button {
    display: flex;
    flex-direction: column;
    @include media(md) {
      flex-direction: row;
    }
    .BaseButton {
      margin-bottom: 16px;

      font-size: 17px;
      font-weight: 400;

      @include media(md) {
        margin: 0 20px 0 0;
        &:last-child {
          margin: 0;
        }
      }
    }
  }
  &-column-title {
    margin-bottom: 16px;

    font-size: 24px;
    font-weight: 600;
    color: $greyish-brown;
  }
  &-fliter {
    margin-bottom: 16px;

    display: flex;
    flex-direction: column;
    @include media(sm) {
      margin-bottom: 40px;

      flex-direction: row;
      justify-content: space-between;
    }
    .month-picker {
      height: 54px;
      margin-bottom: 16px;

      @include media(sm) {
        width: 198px;
        margin-bottom: 0;
      }
    }
  }
  &-project-list {
    margin-bottom: 36px;

    display: grid;
    grid-gap: 35px;

    grid-template-columns: minmax(0, 1fr);
    justify-items: stretch;

    @include media(md) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @include media(lg) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }

  &-project-item {
    > a {
      display: block;

      &:hover {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}

.exhibition-result-detail-modal-content {
  line-height: 1.7;
}
</style>
