<template>
  <div class="DateTypeRadio">
    <div class="unlimit-time">
      <input
        id="unlimit-time-radio"
        class="Radio-input"
        type="radio"
        value="不限時間"
        v-model="selectedValue"
      />
      <span class="Radio-icon"></span>
      <label for="unlimit-time-radio" class="Radio-label">不限時間</label>
    </div>
    <div class="search-require">
      <div class="single-day">
        <input
          id="single-day-radio"
          class="Radio-input"
          type="radio"
          value="單日搜尋"
          v-model="selectedValue"
        />
        <span class="Radio-icon"></span>
        <label for="single-day-radio" class="Radio-label">單日搜尋</label>
      </div>
      <div class="range-date">
        <input
          id="range-date-radio"
          class="Radio-input"
          type="radio"
          value="範圍搜尋"
          v-model="selectedValue"
        />
        <span class="Radio-icon"></span>
        <label for="range-date-radio" class="Radio-label">範圍搜尋</label>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'DateTypeRadio',
  props: {
    type: {
      type: String,
      default: '單日搜尋'
    }
  },
  computed: {
    selectedValue: {
      get() {
        return this.type;
      },
      set(value) {
        const previousValue = this.type;

        this.$emit('update:type', value);
        this.$emit('change', value, previousValue);
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.DateTypeRadio {
  .unlimit-time {
    margin-bottom: 10px;

    display: flex;
    position: relative;
  }

  .search-require {
    display: flex;

    .single-day {
      margin-right: 16px;
      display: flex;
      position: relative;
    }

    .range-date {
      display: flex;
      position: relative;
    }
  }
}

.DateTypeRadio {
  .Radio {
    &-input {
      width: 20px;
      height: 20px;
      margin-right: 8px;

      z-index: 1;

      opacity: 0;

      cursor: pointer;

      &:checked + .Radio-icon {
        border-color: $greenish-teal;

        &::after {
          content: '';
          width: 10px;
          height: 10px;
          margin: auto;

          position: absolute;
          top: 3px;
          left: 3px;

          border-radius: 10px;
          background-color: $greenish-teal;
        }
      }
    }

    &-icon {
      width: 20px;
      height: 20px;

      position: absolute;
      top: 0;
      left: 0;

      border-radius: 20px;
      border: solid 2px $pale-grey-two;
      background-color: $white;
    }

    &-label {
      margin-bottom: 0;

      line-height: 20px;

      cursor: pointer;
    }
  }
}
</style>
