<template>
  <div class="DatePicker" :class="{ 'is-selected': value }">
    <a-date-picker
      input-read-only
      value-format="YYYY-MM-DD"
      placeholder="選擇日期"
      :align="{ points: ['tl', 'bl'], offset: [0, 4] }"
      :disabled-date="disabledDate"
      :value="value"
      @change="onChange"
    />
  </div>
</template>

<script>
import { isBefore } from 'date-fns/esm//fp';

export default {
  name: 'DatePicker',
  props: {
    value: {
      type: String
    },
    disableBeforeDate: {
      type: String,
      default: null
    }
  },
  methods: {
    disabledDate(date) {
      if (this.disableBeforeDate === null) return true;
      return isBefore(new Date(this.disableBeforeDate))(date.toDate());
    },

    onChange(value) {
      this.$emit('update:value', value);
      this.$emit('change', value);
    }
  }
};
</script>

<style lang="scss" scoped>
.DatePicker {
  &::v-deep {
    &.is-selected .ant-calendar-picker-input {
      color: $greenish-teal;
      border-color: $greenish-teal;
    }
  }
}
</style>
