<template>
  <div class="FormCheckboxDropdownWithColor">
    <div
      class="FormCheckboxDropdownWithColor-selection"
      :class="{
        'is-opened': isOpen,
        'is-selected': checkedValues.length !== 0
      }"
      @click="isOpen = !isOpen"
    >
      {{ displayValue }}
    </div>

    <div class="FormCheckboxDropdownWithColor-dropdown" v-show="isOpen">
      <div class="FormCheckboxDropdownWithColor-wrap">
        <div
          class="FormCheckboxDropdownWithColor-checkbox-group"
          v-for="option in options"
          :key="option.value"
        >
          <label class="FormCheckboxDropdownWithColor-checkbox-item">
            <input
              type="checkbox"
              class="FormCheckboxDropdownWithColor-checkbox"
              :value="option.value"
              v-model="selectedValues"
            />
            <span class="FormCheckboxDropdownWithColor-checkbox-icon"></span>
            <span class="FormCheckboxDropdownWithColor-checkbox-text">
              {{ option.text }}
            </span>
            <span
              class="FormCheckboxDropdownWithColor-checkbox-color"
              :style="{ 'background-color': option.color }"
            />
          </label>
        </div>
      </div>
      <span class="FormCheckboxDropdownWithColor-clear" @click="onClear">
        {{ $t('control.clear') }}
      </span>
    </div>
  </div>
</template>

<script>
// import chunk from 'lodash/chunk';

export default {
  name: 'FormCheckboxDropdownWithColor',
  props: {
    options: {
      type: Array,
      required: true
    },
    checkedValues: {
      type: Array,
      required: true
    },
    placeholder: {
      type: String,
      default: null
    }
  },
  data() {
    return {
      isOpen: false
    };
  },
  computed: {
    displayValue() {
      if (this.checkedValues.length === 0) {
        return this.placeholder;
      } else {
        return `${this.placeholder} ${this.checkedValues.length}`;
      }
    },
    selectedValues: {
      get() {
        return this.checkedValues;
      },
      set(values) {
        const checkedValue = values[values.length - 1];
        const option = this.options.filter(
          option => option.value === checkedValue
        );

        this.$emit('update:checked-values', values);
        this.$emit('change', values, option);
      }
    }
  },
  mounted() {
    const closeDropdown = event => {
      if (!this.isOpen) return;
      if (this.$el.contains(event.target)) return;

      this.isOpen = false;
    };
    document.body.addEventListener('click', closeDropdown, true);

    this.$once('hook:beforeDestroy', () => {
      document.body.removeEventListener('click', closeDropdown, true);
    });
  },
  methods: {
    onClear() {
      this.$emit('clear', []);
      this.$emit('change', []);
    }
  }
};
</script>

<style lang="scss" scoped>
.FormCheckboxDropdownWithColor {
  user-select: none;

  &-selection {
    padding: 0 16px;

    font-size: 17px;
    font-weight: 600;
    text-align: center;
    line-height: 54px;

    color: $greyish-brown;
    border-radius: 6px;
    border: 3px solid $pale-grey-two;

    cursor: pointer;

    &.is-opened {
      border-color: $greenish-teal;
    }

    &.is-selected {
      color: $greenish-teal;
      border-color: $greenish-teal;
    }
  }

  &-dropdown {
    margin-top: 8px;
    padding: 16px;

    // display: grid;
    // grid-template-columns: repeat(2, 1fr);
    // grid-template-rows: auto;
    // gap: 20px 75px;

    position: absolute;
    left: 0;
    right: auto;
    z-index: 1;

    border-radius: 10px;
    box-shadow: 0 2px 12px 0 $black-15;
    background-color: $white;
    @include media(xl) {
      left: auto;
      right: 0;
    }
  }

  &-wrap {
    margin-bottom: 16px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 20px 75px;
    @include media(xl) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &-checkbox-group {
    width: 280px;
  }

  &-checkbox-item {
    display: flex;
    // align-items: flex-start;

    cursor: pointer;
  }

  &-checkbox {
    width: 20px;
    height: 20px;
    margin-right: 16px;

    display: inline-block;
    position: relative;
    z-index: 1;

    opacity: 0;

    cursor: pointer;

    &:checked + .FormCheckboxDropdownWithColor-checkbox-icon {
      content: '';

      background-color: $greenish-teal;
      border-color: $greenish-teal;

      &::after {
        content: '';
        width: 10px;
        height: 10px;
        margin: auto;

        display: block;
        position: absolute;
        top: 3px;
        left: 3px;

        background-image: url(~@/assets/images/icons/check-icon.png);
        background-size: 10px 10px;
        background-repeat: no-repeat;
      }
    }
    &-icon {
      width: 20px;
      height: 20px;

      position: absolute;

      border-radius: 4px;
      border: solid 2px $pale-grey-two;
      background-color: $white;
    }
    &-text {
      flex: 1 0 0;

      font-size: 17px;
      line-height: 20px;
      vertical-align: top;

      color: $greyish-brown;

      cursor: pointer;
    }
  }
  &-label {
    margin: 0;

    flex: 1 1 0;

    display: flex;

    font-size: 17px;
    line-height: 20px;
    vertical-align: top;

    color: $greyish-brown;

    cursor: pointer;
  }

  &-checkbox-color {
    // width: 24px;
    height: 24px;
    margin-left: auto;

    flex: 0 0 24px;
    align-self: center;

    border-radius: 24px;
  }

  &-clear {
    font-size: 17px;
    font-weight: 600;
    text-align: left;
    text-decoration: underline;

    cursor: pointer;

    color: $greyish-brown;
  }
}
</style>
