<template>
  <l-map
    class="OpenStreetMap"
    :minZoom="minZoom"
    :zoom="zoom"
    @update:zoom="zoom = $event"
    :center="center"
    @update:center="$emit('update:center', $event)"
    @update:bounds="bounds = $event"
    @ready="onReadyMap"
  >
    <l-tile-layer
      url="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"
      :attribution="attribution"
    />

    <l-geo-json :geojson="geoJSON" :options-style="geoJSONLayerStyle" />

    <l-marker
      v-for="marker in markers"
      :key="marker.region"
      :lat-lng="marker.latLng"
      @click="onClickMarker($event, marker)"
    >
      <l-tooltip :options="tooltopOptions">
        {{ marker.displayRegion }}
      </l-tooltip>
      <l-icon :icon-size="[33, 44]" :icon-anchor="[15, 44]">
        <component :is="markerIcon(marker.region)" class="marker-icon" />
        <span
          class="marker-label"
          :class="{ active: isActiveRegion(marker.region) }"
        >
          {{ marker.count }}
        </span>
      </l-icon>
    </l-marker>
  </l-map>
</template>

<script>
import Logger from '@/utils/Logger';

import PinIcon from '@/assets/images/icons/icon-pin.svg';
import PinActiveIcon from '@/assets/images/icons/icon-pin-active.svg';

import {
  LMap,
  LTileLayer,
  LGeoJson,
  LMarker,
  LIcon,
  LTooltip
} from 'vue2-leaflet';

export default {
  name: 'OpenStreetMap',
  components: {
    LMap,
    LTileLayer,
    LGeoJson,
    LMarker,
    LIcon,
    LTooltip,

    PinIcon,
    PinActiveIcon
  },
  props: {
    activeRegion: {
      type: String,
      default: null
    },
    markers: {
      type: Array,
      default: () => []
    },
    center: {
      type: [Object, Array],
      required: true
    }
  },
  data() {
    return {
      mapObject: null,

      zoom: 7,
      minZoom: 7,
      bounds: null,
      // maxBounds: [
      //   [21.5, 116.2],
      //   [27.5, 125.9]
      // ],
      attribution: `&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors`,
      geoJSON: []
    };
  },
  computed: {
    initial() {
      return {
        center: [23.973875, 120.982024],
        zoom: 7,
        geoJSON: []
      };
    },
    tooltopOptions() {
      return {
        direction: 'top',
        offset: [0, -44]
      };
    },
    geoJSONLayerStyle() {
      return () => ({
        interactive: false,
        color: '#2ebb86',
        opacity: 0.8,
        fillOpacity: 0.3
      });
    },

    isActiveRegion() {
      return markerRegion => this.activeRegion === markerRegion;
    },
    markerIcon() {
      return markerRegion => {
        return this.isActiveRegion(markerRegion) ? 'PinActiveIcon' : 'PinIcon';
      };
    }
  },
  methods: {
    onReadyMap(mapObject) {
      this.mapObject = mapObject;

      this.mapObject.locate();
      this.mapObject.on('locationfound', async event => {
        this.$emit('location-found', event.latlng);
      });
      this.mapObject.on('locationerror', event => {
        Logger.error(event);
      });
    },
    initMapView() {
      this.mapObject.setView(this.initial.center, this.initial.zoom);
      this.geoJSON = this.initial.geoJSON;
    },
    setMapView(center, zoom) {
      this.mapObject.setView(center, zoom);
      this.geoJSON = this.initial.geoJSON;
    },
    boundRegion(region) {
      const boundingBox = region.boundingbox.map(Number);

      this.mapObject.fitBounds([
        [boundingBox[0], boundingBox[2]],
        [boundingBox[1], boundingBox[3]]
      ]);

      if (region.geojson.type === 'Point') {
        // 未提供地區邊界就無法畫出
        // 且因 Point 會長出預設的 marker，所以將值設為空陣列，去除預設的 marker
        this.geoJSON = this.initial.geoJSON;
      } else {
        this.geoJSON = region.geojson;
      }
    },

    changeRegion(regionResult) {
      const { type, value: region } = regionResult;

      if (type === 'NoSearchResults') {
        this.setMapView(region.latLng, 11);
      }
      if (type === 'GetSearchResults') {
        this.boundRegion(region);
      }
    },

    onClickMarker(event, marker) {
      this.$emit('update:active-region', marker.region);
      this.$emit('click-marker', marker);
    }
  }
};
</script>

<style lang="scss" scoped>
.OpenStreetMap {
  width: 100%;
  height: 100%;

  z-index: 0;
}
</style>

<style lang="scss">
.leaflet-marker-icon {
  position: relative;

  .marker-icon {
    width: 100%;

    z-index: 10;

    user-select: none;
    pointer-events: none;
  }

  .marker-label {
    position: absolute;
    top: 6px;
    left: 0;
    right: 0;
    margin: 0 auto;

    font-family: 'Fredoka One';
    font-size: 15px;
    text-align: center;

    color: $greenish-teal;

    user-select: none;
    pointer-events: none;

    &.active {
      color: #ff743c;
    }
  }
}
</style>
