<template>
  <section class="ProjectCalendarCollapse">
    <p v-if="!projectCount">無計畫資料</p>

    <template v-else>
      <button
        type="button"
        class="ProjectCalendarCollapse-toggle-button"
        @click="toggleAllCollapses"
      >
        {{ isToggleAllCollapses ? '全部收合' : '全部展開' }}
      </button>
      <section
        class="ProjectCalendarCollapse-group-by-date"
        v-for="projectsByDate in projectsByDateGroup"
        :key="projectsByDate.date"
      >
        <header class="ProjectCalendarCollapse-header">
          <time>{{ projectsByDate.date }}</time>
          <span class="collapse-total">
            共 {{ projectsByDate.projectCount }} 條
          </span>
        </header>

        <main class="ProjectCalendarCollapse-main">
          <div
            class="ProjectCalendarCollapse-group-by-school"
            v-for="projectsBySchool in projectsByDate.projectsBySchoolGroup"
            :key="projectsBySchool.school"
          >
            <h2 class="collapse-school">{{ projectsBySchool.school }}</h2>
            <a-collapse
              expand-icon-position="right"
              v-model="isActiveCollapses"
            >
              <template #expandIcon="props">
                <DownIcon :rotate="props.isActive ? 90 : 0" />
              </template>
              <a-collapse-panel
                v-for="project in projectsBySchool.projects"
                :key="project.id"
              >
                <div slot="header" class="collapse-header">
                  <div class="collapse-badge-list">
                    <Badge isPill>{{ project.category }}</Badge>
                    <Badge isPill>{{ project.schedule }}</Badge>
                  </div>
                  <h3 class="collapse-title">{{ project.title }}</h3>
                </div>
                <p class="collapse-content">{{ project.description }}</p>
              </a-collapse-panel>
            </a-collapse>
          </div>
        </main>
      </section>
    </template>
  </section>
</template>

<script>
import Badge from '@/components/shared/Badge.vue';

import DownIcon from '@/assets/images/icons/icon-down.svg';

export default {
  name: 'ProjectCalendarCollapse',
  components: {
    Badge,

    DownIcon
  },
  props: {
    projectCount: {
      type: Number
    },
    projectsId: {
      type: Array,
      default: () => []
    },
    projectsByDateGroup: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      isActiveCollapses: []
    };
  },
  computed: {
    isToggleAllCollapses() {
      return this.isActiveCollapses.length !== 0;
    }
  },
  methods: {
    toggleAllCollapses() {
      if (this.isToggleAllCollapses) {
        this.isActiveCollapses = [];
      } else {
        this.isActiveCollapses = this.projectsId;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
$toggle-button-height: 40px;

.ProjectCalendarCollapse {
  &-toggle-button {
    display: none;

    @include media(md) {
      padding: 0 16px;
      margin-left: auto;

      display: block;
      position: sticky;
      right: 0;
      top: 0;
      z-index: 2;

      font-size: 15px;
      font-weight: 600;
      line-height: $toggle-button-height;

      color: $greenish-teal;
      background: transparent;
      border: none;
    }
  }

  &-group-by-date {
    position: relative;

    @include media(md) {
      top: -$toggle-button-height;
    }

    & + & {
      margin-top: 30px;
    }
  }

  &-header {
    padding: 12px 0;

    position: sticky;
    top: 84px;
    z-index: 1;

    background-color: white;

    @include media(md) {
      padding: 0 0 12px 0;

      top: 0;
    }

    time {
      font-family: 'Fredoka One';
      font-size: 24px;

      color: $greenish-teal;
    }

    .collapse-total {
      margin-left: 4px;

      font-size: 15px;

      color: $greyish-brown;
    }
  }

  &-main {
    padding: 0;
  }

  &-group-by-school + &-group-by-school {
    margin-top: 26px;
  }
}

.collapse {
  &-school {
    font-size: 20px;
    font-weight: 600;

    color: $greenish-teal;
  }

  &-badge-list {
    margin-bottom: 8px;

    .Badge {
      margin-bottom: 3px;
      @media (min-width: 375px) {
        &:last-child {
          margin: 0 0 0 8px;
        }
      }
    }
  }

  &-title {
    margin: 0;

    font-size: 17px;
    font-weight: 600;
    line-height: 1.7;

    color: $greyish-brown;
  }
  &-content {
    line-height: 1.7;
  }
}
</style>
