<template>
  <div class="RangePicker">
    <div class="RangePicker-selection" :class="{ 'is-selected': isSelected }">
      <span v-if="!isSelected">選擇日期範圍</span>
      <template v-else>
        <span class="RangePicker-selection-line">{{ fromDateValue }} -</span>
        <span class="RangePicker-selection-line">{{ toDateValue }}</span>
      </template>
    </div>

    <!-- 桌機版使用 RangePicker -->
    <a-range-picker
      class="rangePicker d-none d-md-block"
      input-read-only
      value-format="YYYY-MM-DD"
      separator="-"
      :placeholder="['開始日期', '結束日期']"
      :align="{ points: ['tl', 'bl'], offset: [0, 4] }"
      :disabled-date="disabledDate"
      :value="value"
      @change="onChangeRangePicker"
    />

    <!-- 手機版使用兩個 DatePicker，將 fromDate 和 toDate 分開點選 -->
    <a-date-picker
      class="fromDatePicker d-md-none"
      input-read-only
      value-format="YYYY-MM-DD"
      placeholder="開始日期"
      :align="{ points: ['tl', 'bl'], offset: [0, 4] }"
      :disabled-date="disabledDate"
      :value="fromDate"
      @change="onChangeFromDatePicker"
      @openChange="onChangeOpenFromDatePicker"
    >
      <template slot="renderExtraFooter">
        開始日期
      </template>
    </a-date-picker>

    <a-date-picker
      class="toDatePicker d-md-none"
      input-read-only
      value-format="YYYY-MM-DD"
      placeholder="結束日期"
      :align="{ points: ['tl', 'bl'], offset: [0, 4] }"
      :disabled-date="disabledDate"
      :value="toDate"
      @change="onChangeToDatePicker"
      :open="isOpenedToDatePicker"
      @openChange="isOpenedToDatePicker = $event"
    >
      <template slot="renderExtraFooter">
        結束日期
      </template>
    </a-date-picker>
  </div>
</template>

<script>
import { isBefore } from 'date-fns/esm//fp';

export default {
  name: 'RangePicker',
  props: {
    value: {
      type: Array,
      default: () => []
    },
    disableBeforeDate: {
      type: String,
      default: null
    }
  },
  data() {
    return {
      fromDateValue: null,
      toDateValue: null,
      isOpenedToDatePicker: false
    };
  },
  computed: {
    fromDate() {
      return this.fromDateValue ?? this.value[0] ?? null;
    },
    toDate() {
      return this.toDateValue ?? this.value[1] ?? null;
    },
    isSelected() {
      return this.fromDate !== null;
    }
  },
  methods: {
    disabledDate(date) {
      if (this.disableBeforeDate === null) return true;
      return isBefore(new Date(this.disableBeforeDate))(date.toDate());
    },

    onChangeRangePicker(value) {
      this.fromDateValue = value[0];
      this.toDateValue = value[1];
      this.$emit('update:value', value);
      this.$emit('change', value);
    },
    onChangeFromDatePicker(fromDate) {
      this.fromDateValue = fromDate;
      this.toDateValue = null;
    },
    onChangeToDatePicker(toDate) {
      this.toDateValue = toDate;
      const value = [this.fromDateValue, this.toDateValue];
      this.$emit('update:value', value);
      this.$emit('change', value);
    },

    onChangeOpenFromDatePicker(isOpen) {
      if (!isOpen) this.isOpenedToDatePicker = true;
    }
  }
};
</script>

<style lang="scss" scoped>
.RangePicker {
  height: 60px;

  position: relative;

  user-select: none;

  &-selection {
    height: 60px;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;

    font-size: 17px;
    font-weight: 600;
    text-align: center;
    line-height: 54px;

    color: $greyish-brown;
    background-color: $white;
    border-radius: 6px;
    border: 3px solid $pale-grey-two;

    cursor: pointer;

    &.is-selected {
      color: $greenish-teal;
      border-color: $greenish-teal;
    }

    &-line {
      height: 20px;
      margin: 0;

      line-height: 20px;
    }
  }
}

.RangePicker {
  &::v-deep {
    &.is-selected .ant-calendar-picker-input {
      color: $greenish-teal;
      border-color: $greenish-teal;
    }

    .ant-calendar-picker-input {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.rangePicker,
.fromDatePicker,
.toDatePicker {
  opacity: 0;
}

.rangePicker {
  z-index: 1;
}

.fromDatePicker,
.toDatePicker {
  position: absolute;
  left: 0;
  top: 0;
}

.fromDatePicker {
  z-index: 1;
}

.toDatePicker {
  z-index: -1;
}
</style>
