<template>
  <div class="RegionalMenuPanel">
    <div
      class="RegionalMenuPanel-header"
      v-if="isSelectCity"
      @click="previousList"
    >
      <div class="RegionalMenuPanel-header-icon">
        <PrevIcon />
      </div>
      <span class="RegionalMenuPanel-header-name">{{ displayCity }}</span>
    </div>

    <ul class="RegionalMenuPanel-list" v-if="!isSelectCity">
      <li
        class="RegionalMenuPanel-item"
        :class="{ 'is-selected': option.city.value === city }"
        v-for="option in options"
        :key="option.city.value"
        @click="selectCity(option.city)"
      >
        <span class="RegionalMenuPanel-item-name">{{ option.city.text }}</span>
        <div
          class="RegionalMenuPanel-item-icon"
          v-if="option.districts.length !== 0"
        >
          <NextIcon />
        </div>
      </li>
    </ul>

    <ul class="RegionalMenuPanel-list" v-else>
      <li
        class="RegionalMenuPanel-item"
        :class="{ 'is-selected': districtOption.district.value === district }"
        v-for="districtOption in selectedDistrictOptions"
        :key="districtOption.district.value"
        @click="selectDistrict(districtOption.district)"
      >
        <span class="RegionalMenuPanel-item-name">
          {{ districtOption.district.text }}
        </span>
        <span class="RegionalMenuPanel-item-count">
          {{ districtOption.count }}
        </span>
      </li>
    </ul>
  </div>
</template>

<script>
import PrevIcon from '@/assets/images/icons/icon-prev.svg';
import NextIcon from '@/assets/images/icons/icon-next.svg';

export default {
  name: 'RegionalMenuPanel',
  components: {
    PrevIcon,
    NextIcon
  },
  props: {
    value: {
      type: String,
      default: null
    },
    city: {
      type: String,
      default: null
    },
    district: {
      type: String,
      default: null
    },
    options: {
      type: Array,
      required: true
    }
  },
  computed: {
    isSelectCity() {
      return this.city !== null;
    },
    selectedDistrictOptions() {
      const option = this.options.find(
        option => option.city.value === this.city
      );
      return option?.districts ?? [];
    },
    displayCity() {
      const option = this.options.find(
        option => option.city.value === this.city
      );
      return option?.city.text ?? '';
    }
  },
  methods: {
    selectCity(city) {
      this.$emit('update:city', city.value);
      this.$emit('update:district', null);
      this.updateDisplayValue(city.text);
      this.changeValue(city.value);
    },
    selectDistrict(district) {
      this.$emit('update:district', district.value);
      this.updateDisplayValue(`${this.displayCity} > ${district.text}`);
      this.changeValue(`${this.city}${district.value}`);
    },
    previousList() {
      this.$emit('update:city', null);
      this.$emit('update:district', null);
      this.updateDisplayValue('');
      this.changeValue(null);
    },

    updateDisplayValue(displayValue) {
      this.$emit('update:display-value', displayValue);
    },
    changeValue(value) {
      this.$emit('update:value', value);
      this.$emit('change', value);
    }
  }
};
</script>

<style lang="scss" scoped>
.RegionalMenuPanel {
  height: 100%;

  font-size: 17px;

  color: $greyish-brown;
  border-radius: 10px;
  border: 3px solid $pale-grey-two;

  overflow: auto;

  user-select: none;

  &-header {
    padding: 16px 10px;

    display: flex;
    align-items: center;

    font-size: 17px;

    cursor: pointer;

    &-name {
      margin-left: 8px;
    }
  }

  &-list {
    margin: 0;
    padding: 0;

    list-style: none;

    cursor: pointer;
  }

  &-item {
    padding: 16px;

    display: flex;
    justify-content: space-between;

    &.is-selected {
      background-color: $pale-grey;
    }

    &-name {
      margin-right: 10px;
      font-size: 17px;
      line-height: 1.2;
    }

    &-count {
      font-family: 'Fredoka One';
      font-size: 17px;
      line-height: 1.2;

      color: $greenish-teal;
    }
  }
}
</style>
