<template>
  <div class="ActivityCalendar" ref="calendar">
    <a-calendar
      :locale="zh_TW"
      :defaultValue="defaultValue"
      :value="selectedDay"
    >
      <template slot="headerRender">
        <header class="ActivityCalendar-header">
          <template v-if="!hideNavigation">
            <button type="button" @click="previousMonth">
              <CalendarPreviousIcon />
            </button>
            <div class="ActivityCalendar-current-month">
              {{ currentYearMonth }}
            </div>
            <button type="button" @click="nextMonth">
              <CalendarNextIcon />
            </button>
          </template>

          <template v-else>
            <div class="ActivityCalendar-current-month">
              {{ currentYearMonth }}
            </div>
          </template>
        </header>
      </template>

      <template slot="dateCellRender" slot-scope="datetime">
        <div
          class="ActivityCalendar-content"
          @mouseenter="hoverActivity($event, datetime)"
          @mouseleave="hoverOutActivity($event, datetime)"
        >
          <a-badge
            :color="activityBadgeColor(item.tag)"
            v-for="item in getActivitiesOfDay(datetime)"
            :key="item.id"
          />
        </div>
      </template>
    </a-calendar>

    <div
      class="ActivityCalendar-popover"
      :style="popoverPositionStyle"
      v-show="popoverVisible"
      @mouseenter.stop="hoverPopover"
      @mouseleave="hoverOutPopover"
    >
      <CalendarActivityList :activities="popoverActivities" />
    </div>
  </div>
</template>

<script>
import CalendarActivityList from '@/components/Home/CalendarActivityList';

import CalendarPreviousIcon from '@/assets/images/views/A-Home/calendar-previous-icon.svg';
import CalendarNextIcon from '@/assets/images/views/A-Home/calendar-next-icon.svg';

import moment from 'moment';
import 'moment/locale/zh-tw';

import zh_TW from 'ant-design-vue/lib/locale-provider/zh_TW';

moment.locale('zh-tw');

export default {
  name: 'ActivityCalendar',
  components: {
    CalendarActivityList,

    CalendarPreviousIcon,
    CalendarNextIcon
  },
  props: {
    defaultValue: {
      type: Object, // Moment
      default: () => moment()
    },
    activities: {
      type: Array,
      default: () => []
    },
    hideNavigation: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      zh_TW,
      value: null,
      popoverPosition: {
        x: null,
        y: null
      },
      popoverVisible: false,
      popoverDate: null,
      popoverTimer: null,
      mouseLeaveDelayInSeconds: 0.2
    };
  },
  computed: {
    activityBadgeColor() {
      return badgeColor => {
        if (badgeColor === 'activity') return '#ff743c';
        if (badgeColor === 'announcement') return '#ffc700';
      };
    },

    selectedDay() {
      return this.value ?? this.defaultValue;
    },
    currentYearMonth() {
      // clone moment 才不會改到原有的 locale
      return this.selectedDay
        .clone()
        .locale('en')
        .format('MMMM YYYY');
    },

    activityGroupByDate() {
      return this.activities.reduce((activityMap, activity) => {
        if (activityMap[activity.date]) {
          activityMap[activity.date].push(activity);
        } else {
          activityMap[activity.date] = [activity];
        }
        return activityMap;
      }, {});
    },

    popoverActivities() {
      return this.activityGroupByDate[this.popoverDate] ?? [];
    },
    popoverPositionStyle() {
      const leftOffset = this.popoverPosition.x;
      const topOffset = this.popoverPosition.y;

      return {
        left: leftOffset ? `${leftOffset}px` : null,
        top: topOffset ? `${topOffset}px` : null
      };
    }
  },
  methods: {
    previousMonth() {
      // 需 clone moment 才能 react 更新 `selectedDay`
      this.value = this.selectedDay.clone().subtract(1, 'M');
      this.$emit('update:year-month', {
        year: this.value.year(),
        month: this.value.month() + 1
      });
    },
    nextMonth() {
      this.value = this.selectedDay.clone().add(1, 'M');
      this.$emit('update:year-month', {
        year: this.value.year(),
        month: this.value.month() + 1
      });
    },

    getActivitiesOfDay(datetime) {
      const date = datetime.format('YYYY-MM-DD');
      return this.activityGroupByDate[date];
    },

    hoverActivity(event, datetime) {
      const date = datetime.format('YYYY-MM-DD');

      if (this.activityGroupByDate[date]) {
        this.clearPopoverTimer();

        const calendarRect = this.$refs.calendar.getBoundingClientRect();
        const targetRect = event.target.getBoundingClientRect();
        const dateCellBorderWidth = 2;

        this.popoverPosition = {
          x: targetRect.left - calendarRect.x - dateCellBorderWidth,
          y: targetRect.bottom - calendarRect.y + dateCellBorderWidth
        };
        this.popoverDate = date;
        this.popoverVisible = true;
      }
    },
    hoverOutActivity(event, datetime) {
      const date = datetime.format('YYYY-MM-DD');

      if (this.activityGroupByDate[date]) {
        this.delayClosePopover();
      }
    },

    hoverPopover() {
      this.popoverVisible = true;
      this.clearPopoverTimer();
    },
    hoverOutPopover() {
      this.delayClosePopover();
    },

    clearPopoverTimer() {
      clearTimeout(this.popoverTimer);
      this.popoverTimer = null;
    },
    delayClosePopover() {
      this.popoverTimer = setTimeout(() => {
        this.popoverVisible = false;
        this.popoverPosition = { x: null, y: null };
        this.popoverTimer = null;
      }, this.mouseLeaveDelayInSeconds * 1000);
    }
  }
};
</script>

<style lang="scss" scoped>
.ActivityCalendar {
  position: relative;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      padding: 0;

      font-size: 0;

      background-color: transparent;
      border: none;

      &:focus {
        outline: none;
      }
    }
  }

  &-popover {
    position: absolute;
    z-index: 1;
  }

  &-current-month {
    font-family: 'Fredoka One', cursive;
    font-size: 24px;
    letter-spacing: 1.33px;
    text-transform: uppercase;

    color: $greenish-teal;
  }

  &-content {
    height: 100%;
    padding: 8px;

    display: flex;
    align-items: flex-end;
  }
}

::v-deep {
  .ant-fullcalendar {
    table {
      border-radius: 10px;
    }

    td {
      border: 1px solid $white-three;
      background-color: $pale-grey;
    }

    &-calendar-body {
      padding: 18px 3px 0;
    }

    &-tbody {
      border-radius: 10px;
      box-shadow: 0 0 0 3px #2ebb86;
    }
  }

  .ant-fullcalendar-value {
    font-weight: 600;
    color: $greenish-teal;
  }

  .ant-fullcalendar-last-month-cell .ant-fullcalendar-value {
    color: $white-three;
  }

  .ant-fullcalendar-fullscreen {
    // 星期
    .ant-fullcalendar-column-header {
      padding: 0 0 12px;

      text-align: center;

      &:first-child,
      &:last-child {
        color: $pinkish-orange;
      }

      &-inner {
        font-weight: 600;
      }
    }

    .ant-fullcalendar-date {
      height: 55px;
      margin: 0;
      padding: 8px;
      border: none;

      position: relative;

      &:hover {
        background-color: transparent;
      }
    }

    .ant-fullcalendar-content {
      height: auto;

      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .ant-fullcalendar-today {
      .ant-fullcalendar-date {
        background-color: transparent;
      }

      .ant-fullcalendar-value {
        color: $greenish-teal;
      }
    }

    .ant-fullcalendar-selected-day {
      .ant-fullcalendar-date {
        background-color: transparent;
      }

      .ant-fullcalendar-value {
        color: $greenish-teal;
      }
    }
  }
}

// ====================================
// # Ant Badge

::v-deep {
  .ant-badge-status {
    font-size: 0;
    line-height: 0;

    pointer-events: none;

    & + .ant-badge-status {
      margin-left: 8px;
    }

    &-dot {
      width: 8px;
      height: 8px;
    }

    &-text {
      margin-left: 0;
    }
  }
}

::v-deep {
  tr {
    td:first-child {
      border-left-width: 0px;
    }

    td:last-child {
      border-right-width: 0px;
    }

    &:first-child {
      td {
        border-top-width: 0px;
      }

      td:first-child {
        border-top-left-radius: 10px;
      }

      td:last-child {
        border-top-right-radius: 10px;
      }
    }

    &:last-child {
      td {
        border-bottom-width: 0px;
      }

      td:first-child {
        border-bottom-left-radius: 10px;
      }

      td:last-child {
        border-bottom-right-radius: 10px;
      }
    }
  }
}
</style>
