<template>
  <div
    class="Badge"
    :class="{ pill: isPill, fill }"
    :style="{ backgroundColor: color }"
  >
    <slot />
  </div>
</template>

<script>
export default {
  name: 'Badge',
  props: {
    isPill: {
      type: Boolean,
      default: false
    },
    fill: {
      type: Boolean,
      default: false
    },
    color: {
      type: String,
      default: ''
    }
  }
};
</script>

<style lang="scss" scoped>
.Badge {
  display: inline-block;
  padding: 0 16px;

  text-align: center;

  border: solid 2px $pinkish-orange;
  border-radius: 4px;

  color: $pinkish-orange;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
}
.pill {
  padding: 0 16px;

  color: $white;
  font-size: 13px;
  line-height: 24px;

  border-radius: 80px;
  border: none;
  background-color: $pinkish-orange;
}
.fill {
  padding: 2px 8px;

  border: none;

  color: $white;
  background-color: $greenish-teal;
}
</style>
