<template>
  <div class="DetailModal">
    <b-modal
      :modal-class="`DetailModal-modal ${modalClass}`"
      :title="title"
      hide-footer
      :visible="visible"
      @change="$emit('change', $event)"
      @hidden="$emit('hidden', $event)"
    >
      <slot />
    </b-modal>
  </div>
</template>

<script>
export default {
  name: 'DetailModal',
  props: {
    title: {
      type: String,
      required: true
    },
    modalClass: {
      type: String,
      required: true
    },
    visible: {
      type: Boolean,
      default: false
    }
  }
};
</script>

<style lang="scss" scoped></style>

<style lang="scss">
.DetailModal-modal {
  padding: 0 !important;

  .modal-dialog {
    max-width: none;
    min-height: 100%;
    margin: 0 auto;

    @include media(lg) {
      max-width: 900px;
      margin: 40px auto;
    }
  }

  .modal-content {
    min-height: 100%;

    position: absolute;

    border-radius: 0;

    @include media(lg) {
      position: relative;

      border-radius: 10px;
    }
  }

  .modal-body {
    padding: 25px 16px 36px;

    position: relative;

    @include media(lg) {
      padding: 18px 36px;
    }

    p {
      margin-bottom: 6px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
</style>
