<template>
  <img class="FakeImage" :src="fakeImage" :alt="post.title" />
</template>

<script>
export default {
  name: 'FakeImage',
  components: {},
  props: {
    fakeImages: {
      type: Array,
      required: true
    },
    post: {
      type: Object,
      required: true
    }
  },
  computed: {
    fakeImage() {
      // 用活動 id 來隨機 USR 假圖
      // 所以用 id 取餘數，可讓每個活動的假圖是固定的 (才不會因每次隨機而不同)
      const fakeImageCount = this.fakeImages.length;
      const randomIndex = Number(this.post.id) % fakeImageCount;
      return this.fakeImages[randomIndex];
    }
  }
};
</script>

<style lang="scss" scoped>
.FakeImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
</style>
