<template>
  <div class="FormCheckboxSchool">
    <h3 class="FormCheckboxSchool-title">{{ title }}</h3>
    <FormCheckbox
      v-for="group in schoolOptionsFilteredByDistrict"
      :key="group.district"
      :title="group.district"
      :options="group.schoolOptions"
      :checked-values="selectedValuesForCheckbox[group.district]"
      @update:checked-values="updateCheckedValues(group.district, $event)"
      hide-clear
    />
    <span class="FormCheckboxSchool-clear" @click="onClear">
      清除
    </span>
  </div>
</template>

<script>
import FormCheckbox from '@/components/shared/FormCheckbox.vue';

export default {
  name: 'FormCheckboxSchool',
  components: {
    FormCheckbox
  },
  props: {
    title: {
      type: String,
      required: true
    },
    checkedValues: {
      type: Array,
      required: true
    },
    district: {
      type: String
    }
  },
  computed: {
    selectedValuesForCheckbox() {
      if (this.checkedValues.length === 0) return this.initCheckedValues;

      const selectedValues = this.checkedValues.reduce((result, school) => {
        const schools = this.schoolOptionsFilteredByDistrict.find(group => {
          return group.schoolOptions.some(option => option.value === school);
        });

        if (schools) {
          const district = schools.district;
          result[district] = [...(result[district] ?? []), school];
        }

        return result;
      }, {});

      return {
        ...this.initCheckedValues,
        ...(this.district
          ? { [this.district]: selectedValues[this.district] ?? [] }
          : selectedValues)
      };
    },

    initCheckedValues() {
      return Object.fromEntries(this.districts.map(district => [district, []]));
    },
    schoolOptionsFilteredByDistrict() {
      return this.district
        ? this.schoolOptionsGroupByDistrict.filter(
            group => group.district === this.district
          )
        : this.schoolOptionsGroupByDistrict;
    },

    districts() {
      return ['北北基', '桃竹苗宜花', '中彰投', '雲嘉南', '高屏澎東'];
    },
    schoolOptionsGroupByDistrict() {
      return [
        {
          district: '北北基',
          schoolOptions: [
            { text: '國立臺灣科技大學', value: '國立臺灣科技大學' },
            { text: '國立臺北科技大學', value: '國立臺北科技大學' },
            { text: '中國科技大學', value: '中國科技大學' },
            { text: '中華科技大學', value: '中華科技大學' },
            { text: '國立臺北護理健康大學', value: '國立臺北護理健康大學' },
            { text: '亞東技術學院', value: '亞東技術學院' },
            { text: '明志科技大學', value: '明志科技大學' },
            { text: '東南科技大學', value: '東南科技大學' },
            { text: '致理科技大學', value: '致理科技大學' },
            { text: '耕莘健康管理專科學校', value: '耕莘健康管理專科學校' },
            { text: '華夏科技大學', value: '華夏科技大學' },
            { text: '國立臺灣海洋大學', value: '國立臺灣海洋大學' },
            { text: '臺北市立大學', value: '臺北市立大學' },
            { text: '國立臺灣師範大學', value: '國立臺灣師範大學' },
            { text: '國立臺灣大學', value: '國立臺灣大學' },
            { text: '臺北醫學大學', value: '臺北醫學大學' },
            { text: '中國文化大學', value: '中國文化大學' },
            { text: '東吳大學', value: '東吳大學' },
            { text: '國立臺北藝術大學', value: '國立臺北藝術大學' },
            { text: '國立陽明大學', value: '國立陽明大學' },
            { text: '國立政治大學', value: '國立政治大學' },
            { text: '國立臺灣藝術大學', value: '國立臺灣藝術大學' },
            { text: '國立臺北大學', value: '國立臺北大學' },
            { text: '淡江大學', value: '淡江大學' },
            { text: '大同大學', value: '大同大學' }
          ]
        },
        {
          district: '桃竹苗宜花',
          schoolOptions: [
            { text: '仁德醫護管理專科學校', value: '仁德醫護管理專科學校' },
            { text: '明新科技大學', value: '明新科技大學' },
            { text: '長庚科技大學', value: '長庚科技大學' },
            { text: '慈濟科技大學', value: '慈濟科技大學' },
            { text: '萬能科技大學', value: '萬能科技大學' },
            { text: '龍華科技大學', value: '龍華科技大學' },
            { text: '中華大學', value: '中華大學' },
            { text: '長庚大學', value: '長庚大學' },
            { text: '國立宜蘭大學', value: '國立宜蘭大學' },
            { text: '國立中央大學', value: '國立中央大學' },
            { text: '中原大學', value: '中原大學' },
            { text: '元智大學', value: '元智大學' },
            { text: '國立體育大學', value: '國立體育大學' },
            { text: '國立清華大學', value: '國立清華大學' },
            { text: '國立聯合大學', value: '國立聯合大學' },
            { text: '慈濟大學', value: '慈濟大學' },
            { text: '國立東華大學', value: '國立東華大學' }
          ]
        },
        {
          district: '中彰投',
          schoolOptions: [
            { text: '中臺科技大學', value: '中臺科技大學' },
            { text: '國立臺中科技大學', value: '國立臺中科技大學' },
            { text: '弘光科技大學', value: '弘光科技大學' },
            { text: '南開科技大學', value: '南開科技大學' },
            { text: '修平科技大學', value: '修平科技大學' },
            { text: '朝陽科技大學', value: '朝陽科技大學' },
            { text: '國立勤益科技大學', value: '國立勤益科技大學' },
            { text: '嶺東科技大學', value: '嶺東科技大學' },
            { text: '中國醫藥大學', value: '中國醫藥大學' },
            { text: '中山醫學大學', value: '中山醫學大學' },
            { text: '國立中興大學', value: '國立中興大學' },
            { text: '國立臺中教育大學', value: '國立臺中教育大學' },
            { text: '逢甲大學', value: '逢甲大學' },
            { text: '東海大學', value: '東海大學' },
            { text: '亞洲大學', value: '亞洲大學' },
            { text: '靜宜大學', value: '靜宜大學' },
            { text: '國立彰化師範大學', value: '國立彰化師範大學' },
            { text: '大葉大學', value: '大葉大學' },
            { text: '國立暨南國際大學', value: '國立暨南國際大學' }
          ]
        },
        {
          district: '雲嘉南',
          schoolOptions: [
            { text: '國立雲林科技大學', value: '國立雲林科技大學' },
            { text: '中華醫事科技大學', value: '中華醫事科技大學' },
            { text: '台南應用科技大學', value: '台南應用科技大學' },
            { text: '吳鳳科技大學', value: '吳鳳科技大學' },
            { text: '國立虎尾科技大學', value: '國立虎尾科技大學' },
            { text: '南臺科技大學', value: '南臺科技大學' },
            { text: '崑山科技大學', value: '崑山科技大學' },
            { text: '嘉南藥理大學', value: '嘉南藥理大學' },
            { text: '遠東科技大學', value: '遠東科技大學' },
            { text: '環球科技大學', value: '環球科技大學' },
            { text: '國立嘉義大學', value: '國立嘉義大學' },
            { text: '國立中正大學', value: '國立中正大學' },
            { text: '南華大學', value: '南華大學' },
            { text: '國立臺南大學', value: '國立臺南大學' },
            { text: '國立成功大學', value: '國立成功大學' },
            { text: '長榮大學', value: '長榮大學' },
            { text: '國立臺南藝術大學', value: '國立臺南藝術大學' }
          ]
        },
        {
          district: '高屏澎東',
          schoolOptions: [
            { text: '國立屏東科技大學', value: '國立屏東科技大學' },
            { text: '大仁科技大學', value: '大仁科技大學' },
            { text: '文藻外語大學', value: '文藻外語大學' },
            { text: '正修科技大學', value: '正修科技大學' },
            { text: '美和科技大學', value: '美和科技大學' },
            { text: '高苑科技大學', value: '高苑科技大學' },
            { text: '國立高雄餐旅大學', value: '國立高雄餐旅大學' },
            { text: '輔英科技大學', value: '輔英科技大學' },
            { text: '國立澎湖科技大學', value: '國立澎湖科技大學' },
            { text: '樹人醫護管理專科學校', value: '樹人醫護管理專科學校' },
            { text: '樹德科技大學', value: '樹德科技大學' },
            { text: '國立臺東專科學校', value: '國立臺東專科學校' },
            { text: '義守大學', value: '義守大學' },
            { text: '高雄醫學大學', value: '高雄醫學大學' },
            { text: '國立高雄師範大學', value: '國立高雄師範大學' },
            { text: '國立中山大學', value: '國立中山大學' },
            { text: '國立臺東大學', value: '國立臺東大學' },
            { text: '國立屏東大學', value: '國立屏東大學' },
            { text: '國立高雄科技大學', value: '國立高雄科技大學' }
          ]
        }
      ];
    }
  },
  methods: {
    updateCheckedValues(checkedDistrict, checkedDistrictSchools) {
      const checkedValues = Object.entries(this.selectedValuesForCheckbox)
        .map(([district, schools]) => {
          return district === checkedDistrict
            ? checkedDistrictSchools
            : schools;
        })
        .flat();

      this.$emit('update:checkValues', checkedValues);
      this.$emit('change', checkedValues);
    },
    onClear() {
      this.$emit('update:checkValues', []);
      this.$emit('change', []);
    }
  }
};
</script>

<style lang="scss" scoped>
.FormCheckbox {
  margin-bottom: 24px;
}
.FormCheckboxSchool-clear {
  font-size: 17px;
  font-weight: 600;
  text-align: left;
  text-decoration: underline;
  line-height: 55px;

  color: $greyish-brown;

  cursor: pointer;
  user-select: none;
}
</style>
