<template>
  <div class="FormRadio">
    <h3 class="FormRadio-title">{{ title }}</h3>
    <div class="FormRadio-group">
      <label
        class="FormRadio-label"
        v-for="option in options"
        :key="option.value"
      >
        <input
          type="radio"
          class="FormRadio-radio"
          :value="option.value"
          v-model="selectedValue"
        />
        <span class="FormRadio-radio-icon"></span>
        <span class="FormRadio-radio-text">
          {{ option.text }}
        </span>
      </label>
    </div>
    <span class="FormRadio-clear" v-if="!hideClear" @click="onClear">
      清除
    </span>
  </div>
</template>

<script>
export default {
  name: 'FormRadio',
  component: {},
  props: {
    options: {
      type: Array,
      required: true
    },
    checkedValue: {
      type: [String, Number]
    },
    title: {
      type: String,
      required: true
    },
    hideClear: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    selectedValue: {
      get() {
        return this.checkedValue;
      },
      set(value) {
        this.$emit('update:checked-value', value);
        this.$emit('change', value);
      }
    }
  },
  methods: {
    onClear() {
      this.$emit('clear', null);
      this.$emit('change', null);
    }
  }
};
</script>

<style lang="scss" scoped>
.FormRadio {
  background-color: $white;

  &-title {
    margin-bottom: 25px;

    color: $greyish-brown;
    font-weight: 600;
  }

  &-label {
    margin: 0;

    display: flex;

    position: relative;

    font-size: 17px;
    line-height: 20px;
    vertical-align: top;

    color: $greyish-brown;

    cursor: pointer;

    + .FormRadio-label {
      margin-top: 30px;
    }
  }

  &-radio {
    width: 20px;
    height: 20px;
    margin-right: 16px;

    opacity: 0;

    cursor: pointer;

    &:checked + .FormRadio-radio-icon {
      content: '';

      border-color: $greenish-teal;

      &::after {
        content: '';
        width: 10px;
        height: 10px;
        margin: auto;

        position: absolute;
        top: 3px;
        left: 3px;

        border-radius: 10px;
        background-color: $greenish-teal;
      }
    }

    &-icon {
      width: 20px;
      height: 20px;

      position: absolute;

      border-radius: 50%;
      border: solid 2px $pale-grey-two;
      background-color: $white;
    }

    &-text {
      flex: 1 1 0;
    }

    &-color {
      flex: 0 0 24px;
      height: 24px;
      margin-left: 16px;

      border-radius: 24px;
      background-color: $cool-grey;
    }
  }

  &-clear {
    margin-top: 15px;
    padding-right: 20px;

    display: inline-block;

    font-size: 17px;
    font-weight: 600;
    text-align: left;
    text-decoration: underline;
    line-height: 55px;

    color: $greyish-brown;

    cursor: pointer;
    user-select: none;
  }
}
</style>
