<template>
  <div class="FormCheckbox">
    <h3 class="FormCheckbox-title">{{ title }}</h3>
    <div class="FormCheckbox-group">
      <label
        class="FormCheckbox-label"
        v-for="option in options"
        :key="option.value"
      >
        <input
          type="checkbox"
          class="FormCheckbox-checkbox"
          :value="option.value"
          v-model="selectedValues"
        />
        <span class="FormCheckbox-checkbox-icon"></span>
        <span class="FormCheckbox-checkbox-text">
          {{ option.text }}
        </span>
        <span
          class="FormCheckbox-checkbox-color"
          v-show="option.color"
          :style="{ 'background-color': option.color }"
        />
      </label>
    </div>
    <span class="FormCheckbox-clear" v-if="!hideClear" @click="onClear">
      {{ $t('control.clear') }}
    </span>
  </div>
</template>

<script>
export default {
  name: 'FormCheckbox',
  component: {},
  props: {
    options: {
      type: Array,
      required: true
    },
    checkedValues: {
      type: Array,
      required: true
    },
    title: {
      type: String,
      required: true
    },
    hideClear: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    selectedValues: {
      get() {
        return this.checkedValues;
      },
      set(values) {
        const value = values[values.length - 1];
        const option = this.options.filter(option => option.value === value);

        this.$emit('update:checked-values', values);
        this.$emit('change', values, option);
      }
    }
  },
  methods: {
    onClear() {
      this.$emit('clear', []);
      this.$emit('change', []);
    }
  }
};
</script>

<style lang="scss" scoped>
.FormCheckbox {
  background-color: $white;

  &-title {
    margin-bottom: 25px;

    color: $greyish-brown;
    font-weight: 600;
  }

  &-label {
    margin: 0;

    display: flex;

    position: relative;

    font-size: 17px;
    line-height: 20px;
    vertical-align: top;

    color: $greyish-brown;

    cursor: pointer;

    + .FormCheckbox-label {
      margin-top: 30px;
    }
  }

  &-checkbox {
    width: 20px;
    height: 20px;
    margin-right: 16px;

    opacity: 0;

    cursor: pointer;

    &:checked + .FormCheckbox-checkbox-icon {
      content: '';

      background-color: $greenish-teal;
      border-color: $greenish-teal;

      &::after {
        content: '';
        width: 10px;
        height: 10px;
        margin: auto;

        position: absolute;
        top: 3px;
        left: 3px;

        background-image: url(~@/assets/images/icons/check-icon.png);
        background-size: 10px 10px;
        background-repeat: no-repeat;
      }
    }

    &-icon {
      width: 20px;
      height: 20px;

      position: absolute;

      border-radius: 4px;
      border: solid 2px $pale-grey-two;
      background-color: $white;
    }

    &-text {
      flex: 1 1 0;
    }

    &-color {
      flex: 0 0 24px;
      height: 24px;
      margin-left: 16px;

      border-radius: 24px;
      background-color: $cool-grey;
    }
  }

  &-clear {
    margin-top: 15px;
    padding-right: 20px;

    display: inline-block;

    font-size: 17px;
    font-weight: 600;
    text-align: left;
    text-decoration: underline;
    line-height: 55px;

    color: $greyish-brown;

    cursor: pointer;
    user-select: none;
  }
}
</style>
