<template>
  <div class="FormRadioDropdown">
    <div
      class="FormRadioDropdown-selection"
      :class="{
        'is-opened': isOpen,
        'is-selected': checkedValue !== null
      }"
      @click="isOpen = !isOpen"
    >
      {{ displayValue }}
    </div>

    <div class="FormRadioDropdown-dropdown" v-show="isOpen">
      <label
        class="FormRadioDropdown-label"
        v-for="option in options"
        :key="option.value"
      >
        <input
          type="radio"
          class="FormRadioDropdown-radio"
          :value="option.value"
          v-model="selectedValue"
        />
        <span class="FormRadioDropdown-radio-icon"></span>
        <span class="FormRadioDropdown-radio-text">
          {{ option.text }}
        </span>
      </label>
    </div>
  </div>
</template>

<script>
export default {
  name: 'FormRadioDropdown',
  props: {
    options: {
      type: Array,
      required: true
    },
    checkedValue: {
      type: [String, Number]
    },
    placeholder: {
      type: String,
      default: null
    }
  },
  data() {
    return {
      isOpen: false
    };
  },
  computed: {
    displayValue() {
      if (this.checkedValue === null) {
        return this.placeholder;
      } else {
        const checkedOption = this.options.find(
          option => option.value === this.checkedValue
        );
        return checkedOption.text;
      }
    },
    selectedValue: {
      get() {
        return this.checkedValue;
      },
      set(value) {
        this.$emit('update:checked-value', value);
        this.$emit('change', value);
      }
    }
  },
  mounted() {
    const closeDropdown = event => {
      if (!this.isOpen) return;

      const isDropdownItem = event.target.classList
        .toString()
        .includes('FormRadioDropdown-radio');
      if (this.$el.contains(event.target) && !isDropdownItem) return;

      this.isOpen = false;
    };
    document.body.addEventListener('click', closeDropdown, true);

    this.$once('hook:beforeDestroy', () => {
      document.body.removeEventListener('click', closeDropdown, true);
    });
  }
};
</script>

<style lang="scss" scoped>
.FormRadioDropdown {
  position: relative;

  user-select: none;

  &-selection {
    padding: 0 16px;

    font-size: 17px;
    font-weight: 600;
    text-align: center;
    line-height: 54px;

    color: $greyish-brown;
    border-radius: 6px;
    border: 3px solid $pale-grey-two;

    cursor: pointer;

    &.is-opened {
      border-color: $greenish-teal;
    }

    &.is-selected {
      color: $greenish-teal;
      border-color: $greenish-teal;
    }
  }

  &-dropdown {
    min-width: 280px;

    margin-top: 8px;
    padding: 16px;

    position: absolute;
    z-index: 1;

    border-radius: 10px;
    box-shadow: 0 2px 12px 0 $black-15;
    background-color: $white;
  }

  &-label {
    margin: 0 0 32px;

    display: flex;

    position: relative;

    font-size: 17px;
    line-height: 20px;
    vertical-align: top;

    color: $greyish-brown;

    cursor: pointer;
    &:last-child {
      margin: 0;
    }
  }

  &-radio {
    width: 20px;
    height: 20px;
    margin-right: 16px;

    opacity: 0;

    cursor: pointer;

    &:checked + .FormRadioDropdown-radio-icon {
      content: '';

      border-color: $greenish-teal;
      &::after {
        content: '';
        width: 10px;
        height: 10px;
        margin: auto;

        position: absolute;
        top: 3px;
        left: 3px;

        border-radius: 10px;
        background-color: $greenish-teal;
      }
    }

    &-icon {
      width: 20px;
      height: 20px;

      position: absolute;

      border-radius: 20px;
      border: solid 2px $pale-grey-two;
      background-color: $white;
    }

    &-text {
      flex: 1 1 0;
    }
  }
}
</style>
