<template>
  <div class="FormModal">
    <b-modal
      :id="modalId"
      :modal-class="`FormModal-modal ${modalClass}`"
      :title="title"
      :visible="visible"
      @change="$emit('change', $event)"
    >
      <slot />

      <template #modal-footer>
        <template v-if="type === 'search'">
          <BaseButton outline @click="onCancel">
            {{ $t('buttonCancel') }}
          </BaseButton>
          <BaseButton @click="onSearch">
            {{ $t('buttonSearch') }}
          </BaseButton>
        </template>

        <slot v-else name="modal-footer" />
      </template>
    </b-modal>
  </div>
</template>

<i18n lang="yaml">
zh: 
  buttonCancel: "取消"
  buttonSearch: "搜尋"
en: 
  buttonCancel: "Cancel"
  buttonSearch: "Search"
</i18n>

<script>
import BaseButton from '@/components/other/BaseButton.vue';

export default {
  name: 'FormModal',
  components: {
    BaseButton
  },
  props: {
    title: {
      type: String,
      required: true
    },
    modalClass: {
      type: String,
      required: true
    },
    visible: {
      type: Boolean,
      default: false
    },
    type: {
      type: String
    }
  },
  computed: {
    modalId() {
      return this.modalClass;
    }
  },
  methods: {
    hide() {
      this.$bvModal.hide(this.modalId);
    },
    onCancel() {
      this.hide();
      this.$emit('cancel');
    },
    onSearch() {
      this.hide();
      this.$emit('search');
    }
  }
};
</script>

<style lang="scss" scoped></style>

<style lang="scss">
.FormModal-modal {
  padding: 0 !important;

  .modal-dialog {
    max-width: none;
    min-height: 100%;
    margin: 0 auto;

    @include media(lg) {
      max-width: 900px;
      margin: 40px auto;
    }
  }

  .modal-content {
    min-height: 100%;

    position: absolute;

    border-radius: 0;

    @include media(lg) {
      position: relative;

      border-radius: 10px;
    }
  }

  .modal-body {
    padding: 25px 16px 36px;

    position: relative;

    @include media(lg) {
      padding: 18px 36px;
    }

    p {
      margin-bottom: 6px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .modal-footer {
    flex-wrap: nowrap;
  }
}
</style>
