<template>
  <div class="FormCheckboxDropdown">
    <div
      class="FormCheckboxDropdown-selection"
      :class="{
        'is-opened': isOpen,
        'is-selected': checkedValues.length !== 0
      }"
      @click="isOpen = !isOpen"
    >
      {{ displayValue }}
    </div>

    <div class="FormCheckboxDropdown-dropdown" v-show="isOpen">
      <label
        class="FormCheckboxDropdown-label"
        v-for="option in options"
        :key="option.value"
      >
        <input
          type="checkbox"
          class="FormCheckboxDropdown-checkbox"
          :value="option.value"
          v-model="selectedValues"
        />
        <span class="FormCheckboxDropdown-checkbox-icon"></span>
        <span class="FormCheckboxDropdown-checkbox-text">
          {{ option.text }}
        </span>
      </label>
      <span class="FormCheckboxDropdown-clear" @click="onClear">
        {{ $t('control.clear') }}
      </span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'FormCheckboxDropdown',
  props: {
    options: {
      type: Array,
      required: true
    },
    checkedValues: {
      type: Array,
      required: true
    },
    placeholder: {
      type: String,
      default: null
    }
  },
  data() {
    return {
      isOpen: false
    };
  },
  computed: {
    displayValue() {
      if (this.checkedValues.length === 0) {
        return this.placeholder;
      } else {
        return `${this.placeholder} ${this.checkedValues.length}`;
      }
    },
    selectedValues: {
      get() {
        return this.checkedValues;
      },
      set(values) {
        this.$emit('update:checked-values', values);
        this.$emit('change', values);
      }
    }
  },
  mounted() {
    const closeDropdown = event => {
      if (!this.isOpen) return;
      if (this.$el.contains(event.target)) return;

      this.isOpen = false;
    };
    document.body.addEventListener('click', closeDropdown, true);

    this.$once('hook:beforeDestroy', () => {
      document.body.removeEventListener('click', closeDropdown, true);
    });
  },
  methods: {
    onClear() {
      this.$emit('clear', []);
      this.$emit('change', []);
    }
  }
};
</script>

<style lang="scss" scoped>
.FormCheckboxDropdown {
  position: relative;

  user-select: none;

  &-selection {
    padding: 0 16px;

    font-size: 17px;
    font-weight: 600;
    text-align: center;
    line-height: 54px;

    color: $greyish-brown;
    border-radius: 6px;
    border: 3px solid $pale-grey-two;

    cursor: pointer;

    &.is-opened {
      border-color: $greenish-teal;
    }

    &.is-selected {
      color: $greenish-teal;
      border-color: $greenish-teal;
    }
  }

  &-dropdown {
    min-width: 280px;

    margin-top: 8px;
    padding: 16px;

    position: absolute;
    z-index: 1;

    border-radius: 10px;
    box-shadow: 0 2px 12px 0 $black-15;
    background-color: $white;
  }

  &-label {
    margin: 0 0 32px;

    display: flex;

    position: relative;

    font-size: 17px;
    line-height: 20px;
    vertical-align: top;

    color: $greyish-brown;

    cursor: pointer;
  }

  &-checkbox {
    width: 20px;
    height: 20px;
    margin-right: 16px;

    opacity: 0;

    cursor: pointer;

    &:checked + .FormCheckboxDropdown-checkbox-icon {
      content: '';

      background-color: $greenish-teal;
      border-color: $greenish-teal;

      &::after {
        content: '';
        width: 10px;
        height: 10px;
        margin: auto;

        position: absolute;
        top: 3px;
        left: 3px;

        background-image: url(~@/assets/images/icons/check-icon.png);
        background-size: 10px 10px;
        background-repeat: no-repeat;
      }
    }

    &-icon {
      width: 20px;
      height: 20px;

      position: absolute;

      border-radius: 4px;
      border: solid 2px $pale-grey-two;
      background-color: $white;
    }

    &-text {
      flex: 1 1 0;
    }
  }

  &-clear {
    font-size: 17px;
    font-weight: 600;
    text-align: left;
    text-decoration: underline;

    cursor: pointer;

    color: $greyish-brown;
  }
}
</style>
