<template>
  <div class="FullTitle" :style="{ textAlign: center ? 'center' : null }">
    <h2 class="FullTitle-chinese-heading">{{ title.chinese }}</h2>
    <h2 class="FullTitle-english-heading">{{ title.english }}</h2>
  </div>
</template>

<script>
export default {
  name: 'FullTitle',
  props: {
    title: {
      type: Object,
      required: true
    },
    center: {
      type: Boolean,
      default: false
    }
  }
};
</script>

<style lang="scss" scoped>
.FullTitle {
  &-chinese-heading {
    margin: 0;

    font-size: 15px;
    font-weight: 600;

    @include media(lg) {
      font-size: 17px;
    }
  }

  &-english-heading {
    margin: 0;

    font-family: $font-family-cursive;
    font-size: 32px;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 39px;
    letter-spacing: 2px;

    color: $greenish-teal;

    @include media(lg) {
      font-size: 36px;
    }
  }
}
</style>
