<template>
  <div class="GoogleRecaptcha">
    <vue-recaptcha
      ref="recaptcha"
      :sitekey="sitekey"
      :load-recaptcha-script="true"
      @verify="$emit('verify', $event)"
      @expired="$emit('expired')"
    />
  </div>
</template>

<script>
import VueRecaptcha from 'vue-recaptcha';

export default {
  name: 'GoogleRecaptcha',
  components: {
    'vue-recaptcha': VueRecaptcha
  },
  data() {
    return {
      // sitekey: '6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI' // test
      sitekey: '6Ld3R8UZAAAAABzQI08HinklG5F-aEQn_1-wbEyS' // prod
    };
  },
  methods: {
    resetRecaptcha() {
      this.$refs.recaptcha.reset();
    }
  }
};
</script>

<style lang="scss" scoped>
.GoogleRecaptcha {
  min-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}
</style>
