<template>
  <div class="LocaleChanger">
    <div
      class="LocaleChanger-selection"
      :class="{ active: isOpen }"
      @click="isOpen = !isOpen"
    >
      <div class="LocaleChanger-selection-text">{{ currentLocale }}</div>
      <div
        class="LocaleChanger-selection-icon"
        :class="{ 'is-rotate': isOpen }"
      >
        <DropdownIcon />
      </div>
    </div>

    <ul class="LocaleChanger-dropdown" v-show="isOpen">
      <li
        class="LocaleChanger-dropdown-item"
        :class="{ 'is-selected': locale.value === $i18n.locale }"
        v-for="locale in locales"
        :key="locale.text"
        @click="selectLocale(locale.value)"
      >
        {{ locale.text }}
      </li>
    </ul>
  </div>
</template>

<script>
import DropdownIcon from '@/assets/images/icons/icon-dropdown.svg';

export default {
  name: 'LocaleChanger',
  components: {
    DropdownIcon
  },
  data() {
    return {
      isOpen: false
    };
  },
  mounted() {
    const closeDropdown = event => {
      if (!this.isOpen) return;

      const isDropdownItem = event.target.classList.contains(
        'LocaleChanger-dropdown-item'
      );
      if (this.$el.contains(event.target) && !isDropdownItem) return;

      this.isOpen = false;
    };
    document.body.addEventListener('click', closeDropdown, true);

    this.$once('hook:beforeDestroy', () => {
      document.body.removeEventListener('click', closeDropdown, true);
    });
  },
  computed: {
    locales() {
      return [
        { text: '繁中', value: 'zh' },
        { text: 'Eng', value: 'en' }
      ];
    },
    currentLocale() {
      switch (this.$i18n.locale) {
        case 'zh':
          return '繁中';
        case 'en':
          return 'Eng';
        default:
          return '繁中';
      }
    },

    rotateArrowStyle() {
      return {
        transform: 'rotate(180deg) translateY(2px)'
      };
    }
  },
  methods: {
    selectLocale(locale) {
      if (this.$i18n.locale === locale) return;

      this.$i18n.locale = locale;
      if (this.$i18n.locale === 'zh') {
        this.$router.push({ name: 'Home' });
      }
      if (this.$i18n.locale === 'en') {
        this.$router.push({ name: 'HomeEnglish' });
      }
    }
  }
};
</script>

<style lang="scss">
%background-style {
  background-color: $white;
  color: $greyish-brown;
  border-radius: 18px;
  box-shadow: 0 2px 4px 0 $black-20;
}

.LocaleChanger {
  position: relative;

  &-selection {
    padding: 0 12px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    line-height: 36px;

    @extend %background-style;

    cursor: pointer;

    &.active {
      color: $greenish-teal;
      box-shadow: none;

      svg path {
        stroke: $greenish-teal;
      }
    }

    &-text {
      font-size: 15px;
      font-weight: 600;
    }

    &-icon {
      transform: translateY(-2px);

      &.is-rotate {
        transform: rotate(180deg) translateY(-2px);
      }
    }
  }

  &-dropdown {
    width: 100%;
    padding: 38px 4px 4px;
    margin: 0;

    position: absolute;
    z-index: -1;
    top: 0;

    list-style: none;
    @extend %background-style;

    &-item {
      padding: 0 9px;

      font-size: 15px;
      font-weight: 600;
      line-height: 36px;

      color: $greyish-brown;

      cursor: pointer;

      &:hover,
      &.is-selected {
        border-radius: 10px;
        background-color: $pale-grey;
      }
    }
  }
}
</style>
