<template>
  <div class="LottieAnimation" ref="animationContainer"></div>
</template>

<script>
import lottie from 'lottie-web';

export default {
  name: 'LottieAnimation',
  props: {
    animationData: {
      type: Object,
      required: true
    },
    loop: {
      type: Boolean,
      default: true
    },
    autoPlay: {
      type: Boolean,
      default: true
    },
    rendererSettings: {
      type: Object,
      default: () => ({})
    }
  },
  data() {
    return {
      animation: null
    };
  },
  mounted() {
    this.animation = lottie.loadAnimation({
      container: this.$refs.animationContainer,
      renderer: 'svg',
      loop: this.loop,
      autoplay: this.autoPlay,
      animationData: this.animationData,
      rendererSettings: this.rendererSettings
    });

    this.$emit('animation-created', this.animation);
  },
  beforeDestroy() {
    this.destroy();
  },
  methods: {
    play() {
      this.animation?.play();
    },
    pause() {
      this.animation?.pause();
    },
    stop() {
      this.animation?.stop();
    },
    destroy() {
      this.animation?.destroy();
    }
  }
};
</script>

<style lang="scss" scoped>
.LottieAnimation {
  width: 100%;
  height: 100%;

  overflow: hidden;
}
</style>
