<template>
  <div class="MessageModal">
    <b-modal
      :id="id"
      :modal-class="`MessageModal-modal ${id}`"
      centered
      hide-header
      hide-footer
      :visible="visible"
      @change="$emit('change', $event)"
    >
      <span class="MessageModal-modal-close-button" @click="$bvModal.hide(id)">
        <ModelCloseIcon />
      </span>

      <h4 class="MessageModal-modal-title">{{ title }}</h4>

      <slot />

      <BaseButton
        v-if="!hideFooterButton"
        class="MessageModal-modal-ok-button"
        @click="$bvModal.hide(id)"
      >
        確認
      </BaseButton>
    </b-modal>
  </div>
</template>

<script>
import BaseButton from '@/components/other/BaseButton.vue';

import ModelCloseIcon from '@/assets/images/icons/icon-modal-close.svg';

export default {
  name: 'MessageModal',
  components: {
    BaseButton,
    ModelCloseIcon
  },
  props: {
    title: {
      type: String,
      required: true
    },
    id: {
      type: String,
      required: true
    },
    visible: {
      type: Boolean,
      default: false
    },
    hideFooterButton: {
      type: Boolean,
      default: false
    }
  }
};
</script>

<style lang="scss" scoped></style>

<style lang="scss">
.MessageModal-modal {
  &-title {
    margin-bottom: 26px;

    font-size: 19px;

    color: $greyish-brown;

    @include media(lg) {
      font-size: 24px;
    }
  }

  &-close-button {
    position: absolute;
    top: 16px;
    right: 16px;

    cursor: pointer;
  }

  &-ok-button {
    max-width: 300px;
    margin-top: 15px;

    @include media(lg) {
      margin-top: 36px;
    }
  }

  .modal-dialog {
    max-width: 700px;
  }

  .modal-body {
    padding: 25px 16px 36px;

    position: relative;

    text-align: center;

    @include media(lg) {
      padding: 36px 36px 65px;
    }

    p {
      margin-bottom: 6px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
</style>
