<template>
  <div class="PaginationSizeChanger">
    <span v-if="$i18n.locale === 'zh'" class="PaginationSizeChanger-total-text">
      共 {{ total }} 條
    </span>
    <span v-if="$i18n.locale === 'en'" class="PaginationSizeChanger-total-text">
      {{ pageSize }} of {{ total }}
    </span>
    <BaseSelect
      class="PaginationSizeChanger-selection"
      hide-clear
      :options="options"
      :value="pageSize"
      @update:value="$emit('update:page-size', $event)"
      @change="changePageSize"
    />
  </div>
</template>

<script>
import BaseSelect from '@/components/other/BaseSelect.vue';

export default {
  name: 'PaginationSizeChanger',
  components: {
    BaseSelect
  },
  props: {
    pageSize: {
      type: Number,
      default: 10
    },
    total: {
      type: Number,
      default: 0
    },
    pageSizeOptions: {
      type: Array,
      default: () => [10, 20, 30]
    }
  },
  computed: {
    options() {
      return this.pageSizeOptions.map(this.generateOptions);
    }
  },
  methods: {
    generateOptions(pageSize) {
      if (this.$i18n.locale === 'en') {
        return { text: `${pageSize} per page`, value: pageSize };
      } else {
        return { text: `${pageSize} 條/頁`, value: pageSize };
      }
    },
    changePageSize(value) {
      this.$emit('update:page-size', value);
      this.$emit('change', value);
    }
  }
};
</script>

<style lang="scss" scoped>
.PaginationSizeChanger {
  display: flex;
  align-items: center;

  &-total-text {
    margin-right: 16px;

    font-size: 15px;
    color: $greyish-brown;
  }

  &-selection {
    width: 120px;

    &::v-deep .BaseSelect {
      &-select {
        height: 42px;
      }

      &-selection {
        font-size: 15px;
        font-weight: normal;
        line-height: 36px;

        color: $greyish-brown;
      }

      &-dropdown-item {
        font-size: 15px;
      }
    }
  }
}
</style>
