<template>
  <div class="Pagination">
    <div class="Pagination-phone-size">
      <a-pagination
        :hide-on-single-page="hideOnSinglePage"
        :current="currentPage"
        :page-size="pageSize"
        :total="total"
        @change="changePagination"
        size="small"
        show-less-items
      />
    </div>
    <div class="Pagination-laptop-size">
      <a-pagination
        :hide-on-single-page="hideOnSinglePage"
        :current="currentPage"
        :page-size="pageSize"
        :total="total"
        @change="changePagination"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: 'Pagination',
  data() {
    return {};
  },
  props: {
    currentPage: {
      type: Number,
      default: 1
    },
    pageSize: {
      type: Number,
      default: 10
    },
    total: {
      type: Number,
      default: 0
    },
    hideOnSinglePage: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    changePagination(currentPage, pageSize) {
      this.$emit('update:currentPage', currentPage);
      this.$emit('update:pageSize', pageSize);
      this.$emit('change');
    }
  }
};
</script>

<style lang="scss" scoped>
.Pagination-phone-size {
  text-align: center;
  @include media(md) {
    display: none;
  }
}
.Pagination-laptop-size {
  display: none;
  @include media(md) {
    display: block;

    text-align: center;
  }
}

::v-deep {
  .ant-pagination-prev .ant-pagination-item-link,
  .ant-pagination-next .ant-pagination-item-link {
    display: block;
    height: 100%;
    font-size: 12px;
    text-align: center;
    border: none;
    border-radius: 4px;
    outline: none;
    transition: all 0.3s;
  }

  .ant-pagination-disabled a,
  .ant-pagination-disabled:hover a,
  .ant-pagination-disabled:focus a,
  .ant-pagination-disabled .ant-pagination-item-link,
  .ant-pagination-disabled:hover .ant-pagination-item-link,
  .ant-pagination-disabled:focus .ant-pagination-item-link {
    border-color: transparent;
  }
  .ant-pagination-prev:focus .ant-pagination-item-link,
  .ant-pagination-next:focus .ant-pagination-item-link,
  .ant-pagination-prev:hover .ant-pagination-item-link,
  .ant-pagination-next:hover .ant-pagination-item-link {
    color: $warm-grey;
  }

  .ant-pagination-item {
    display: inline-block;
    min-width: 32px;
    height: 32px;
    margin-right: 8px;
    font-family: $font-family-sans-serif;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    list-style: none;
    color: $greyish-brown;
    background-color: $pale-grey;
    border: none;
    border-radius: 100%;
    outline: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .ant-pagination-item-active {
    font-weight: 500;
    color: $white;
    background-color: $greenish-teal;
    border-color: transparent;
  }
  .ant-pagination.mini .ant-pagination-item {
    min-width: 30px;
    height: 30px;
    margin-right: 8px;

    line-height: 30px;
  }
  .ant-pagination.mini .ant-pagination-item:not(.ant-pagination-item-active) {
    color: $greyish-brown;
    background-color: $pale-grey;
  }
  .ant-pagination-jump-prev:focus .ant-pagination-item-ellipsis,
  .ant-pagination-jump-next:focus .ant-pagination-item-ellipsis,
  .ant-pagination-jump-prev:hover .ant-pagination-item-ellipsis,
  .ant-pagination-jump-next:hover .ant-pagination-item-ellipsis {
    opacity: 1;
  }
  .ant-pagination-jump-prev:focus .ant-pagination-item-link-icon,
  .ant-pagination-jump-next:focus .ant-pagination-item-link-icon,
  .ant-pagination-jump-prev:hover .ant-pagination-item-link-icon,
  .ant-pagination-jump-next:hover .ant-pagination-item-link-icon {
    opacity: 0;
  }
}
</style>
