<template>
  <div class="SearchBar">
    <input
      type="text"
      :placeholder="placeholder ? placeholder : $t('defaultPlaceholder')"
      :value="value"
      @input="inputEvent = $event"
    />
    <div class="search-icon">
      <SearchIcon />
    </div>
  </div>
</template>

<i18n lang="yaml">
zh:
  defaultPlaceholder: "輸入關鍵字"
en:
  defaultPlaceholder: "Enter keyword"
</i18n>

<script>
import { debounce } from 'lodash-es';

import SearchIcon from '@/assets/images/icons/icon-search.svg';

export default {
  name: 'SearchBar',
  components: {
    SearchIcon
  },
  props: {
    value: {
      type: String,
      required: true
    },
    placeholder: {
      type: String
    },
    delay: {
      type: Number,
      default: 300
    }
  },
  datas() {
    return {
      inputValue: null
    };
  },
  computed: {
    inputEvent: {
      get() {
        return this.inputValue;
      },
      set(event) {
        this.inputValue = event.target.value;
        this.debounced();
      }
    }
  },
  mounted() {
    this.debounced = debounce(() => {
      this.onInput();
    }, this.delay);
  },
  methods: {
    onInput() {
      const value = this.inputValue;

      this.$emit('update:value', value);
      this.$emit('change', value);
    }
  }
};
</script>

<style lang="scss" scoped>
.SearchBar {
  position: relative;
  input {
    width: 100%;
    padding: 0 20px;

    font-weight: 600;
    line-height: 54px;

    border: solid 3px $pale-grey-two;
    border-radius: 30px;
    &::placeholder {
      color: $pale-grey-two;
    }
  }
  .search-icon {
    width: 36px;
    height: 36px;

    position: absolute;
    top: 12px;
    right: 20px;
    svg {
      width: 100%;
      object-fit: cover;
    }
  }
}
</style>
