<template>
  <div class="SkeletonParagraph" :style="rootStyle">
    <b-skeleton
      v-for="index in rows"
      :key="index"
      :height="height"
      :style="skeletonStyle"
    />
  </div>
</template>

<script>
export default {
  name: 'SkeletonParagraph',
  props: {
    rows: {
      type: Number,
      default: 1
    },
    height: {
      type: String
    },
    rowSpacing: {
      type: String
    },
    lastLineWidth: {
      type: String,
      default: '60%'
    }
  },
  data() {
    return {
      loading: true
    };
  },
  computed: {
    rootStyle() {
      return {
        '--SkeletonParagraph-last-line-width': this.lastLineWidth
      };
    },
    skeletonStyle() {
      return {
        marginBottom: this.rowSpacing
      };
    }
  }
};
</script>

<style lang="scss" scoped>
.SkeletonParagraph {
  --SkeletonParagraph-last-line-width: 60%;
  .b-skeleton:last-child:not(:first-child) {
    width: var(--SkeletonParagraph-last-line-width);
  }
}
</style>
