<template>
  <div class="UploadImage">
    <div class="UploadImage-upload">
      <label
        :for="id"
        class="UploadImage-label"
        :style="{ cursor: uploadedImages.length >= 3 ? 'not-allowed' : null }"
        @click="checkUploadedImageCount"
      >
        選擇檔案
      </label>
      <div class="UploadImage-description">
        <p>可上傳三張圖片，限JPG與PNG檔</p>
        <p>每張檔案大小不得超過3MB</p>
      </div>
    </div>

    <div class="UploadImage-list" v-if="uploadedImages.length !== 0">
      <div
        class="UploadImage-item"
        v-for="(image, index) in uploadedImages"
        :key="index"
      >
        <span>{{ image.name }}</span>
        <div class="UploadImage-delete" @click="deleteUploadImage(index)">
          <TrushIcon />
        </div>
      </div>
    </div>

    <input
      type="file"
      :id="id"
      :class="{ 'is-invalid': Boolean(errorMessage) }"
      :accept="accept"
      :disabled="this.uploadedImages.length >= 3"
      hidden
      @change="onChangeUploadImage"
    />

    <div class="invalid-feedback" v-if="errorMessage">
      {{ errorMessage }}
    </div>
  </div>
</template>

<script>
import TrushIcon from '@/assets/images/icons/icon-trash.svg';

export default {
  name: 'UploadImage',
  components: {
    TrushIcon
  },
  props: {
    id: {
      type: String,
      required: true
    },
    accept: {
      type: String,
      default: 'image/png, image/jpeg'
    },
    uploadedImages: {
      type: Array,
      required: true
    },
    errorMessageType: {
      type: String,
      default: null
    }
  },
  computed: {
    limitFileTypes() {
      return this.accept.split(', ');
    },
    errorMessageMap() {
      return {
        countLimit: '最多只能上傳三張圖片',
        sizeLimit: '每張檔案大小不得超過3MB',
        typeLimit: '只能上傳JPG與PNG檔',
        multiLimit: '一次只能上傳一張圖片'
      };
    },
    errorMessage() {
      if (this.errorMessageType === null) {
        return null;
      } else {
        return this.errorMessageMap[this.errorMessageType];
      }
    }
  },
  methods: {
    checkUploadedImageCount() {
      if (this.uploadedImages.length >= 3) {
        this.$emit('update:error-message-type', 'countLimit');
      }
    },
    onChangeUploadImage(event) {
      const file = event.target.files[0];

      // 未選擇檔案時，file 會為 undefined，所以需阻擋此行為
      if (!file) return;

      if (this.uploadedImages.length >= 3) {
        this.$emit('update:error-message-type', 'countLimit');
        return;
      }

      if (this.isLargerThen3MB(file)) {
        this.$emit('update:error-message-type', 'sizeLimit');
        return;
      }

      // if (!this.isMatchType(file, this.limitFileTypes)) {
      //   this.$emit('update:error-message-type', 'typeLimit');
      //   return;
      // }

      const uploadedImages = [...this.uploadedImages, file];
      this.$emit('update:uploaded-images', uploadedImages, file);
    },
    deleteUploadImage(index) {
      this.$emit('delete:uploaded-image', index);

      if (this.uploadedImages.length < 3) {
        this.$emit('update:error-message-type', null);
      }
    },

    isLargerThen3MB(file) {
      const fileSizeByMB = file.size / 1024 / 1024;
      return fileSizeByMB > 3;
    },
    isMatchType(file, types) {
      return types.includes(file.type);
    }
  }
};
</script>

<style lang="scss" scoped>
.UploadImage {
  &-upload {
    display: flex;
    align-items: center;
  }

  &-label {
    min-width: 140px;
    margin: 0;

    display: inline-block;

    font-size: 17px;
    line-height: 54px;
    text-align: center;

    color: $warm-grey;
    border-radius: 10px;
    background-color: $pale-grey;

    cursor: pointer;
    user-select: none;
  }

  &-description {
    margin-left: 8px;

    font-size: 13px;

    color: $greyish-brown;

    p {
      margin: 0;
    }
  }

  &-list {
    margin-top: 12px;
  }

  &-item {
    padding-left: 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    line-height: 44px;

    border-radius: 10px;
    background-color: $warm-grey;

    + .UploadImage-item {
      margin-top: 12px;
    }

    span {
      font-size: 15px;
      font-weight: 500;

      color: $white;
    }
  }

  &-delete {
    padding: 0 16px;

    cursor: pointer;
  }

  .invalid-feedback {
    font-size: 15px;
    color: #fc534c;
  }
}
</style>
