<template>
  <div class="YoutubePopup" @click="visible = true">
    <img
      src="@/assets/images/logo_2x.png"
      alt="USR"
      class="YoutubePopup-channel-icon"
    />
    <h3 v-if="title" class="YoutubePopup-title text-truncate">
      {{ title }}
    </h3>
    <img
      class="YoutubePopup-thumbnail"
      :src="thumbnailUrl"
      alt="Youtube Video thumbnail"
    />
    <button type="button" class="YoutubePopup-play-button">
      <YoutubePlayIcon />
    </button>

    <b-modal
      modal-class="YoutubePopup-popup"
      size="xl"
      centered
      hide-header
      hide-footer
      :visible="visible"
      @change="visible = $event"
    >
      <b-embed
        class="YoutubePopup-video"
        type="iframe"
        aspect="16by9"
        :src="embedUrl"
        allowfullscreen
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      />
    </b-modal>
  </div>
</template>

<script>
import YoutubePlayIcon from '@/assets/images/icons/icon-youtube-play.svg';

export default {
  name: 'YoutubePopup',
  components: {
    YoutubePlayIcon
  },
  props: {
    videoId: {
      type: String,
      required: true
    },
    autoPlay: {
      type: Boolean,
      required: false
    },
    title: {
      type: String,
      default: null
    }
  },
  data() {
    return {
      visible: false
    };
  },
  computed: {
    // paddingBottom() {
    //   return `${(9 / 16) * 100}%`;
    // },
    thumbnailUrl() {
      return `https://i.ytimg.com/vi/${this.videoId}/hqdefault.jpg`;
    },
    embedUrl() {
      const params = new URLSearchParams([]);
      if (this.autoPlay) params.append('autoplay', '1');
      const queries = params.toString();

      return `https://www.youtube.com/embed/${this.videoId}?${queries}`;
    }
  }
};
</script>

<style lang="scss" scoped>
.YoutubePopup {
  position: relative;

  background-color: #000;

  cursor: pointer;

  &::before {
    content: '';
    display: block;
    padding-bottom: 100% / (16 / 9);

    pointer-events: none;
  }

  &::after {
    content: '';

    width: 100%;
    height: 60px;
    padding-bottom: 50px;
    box-sizing: content-box;

    position: absolute;
    top: 0;
    z-index: 1;

    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==);
    background-position: top;
    background-repeat: repeat-x;

    transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);

    pointer-events: none;
  }

  &-channel-icon {
    width: 40px;
    height: 40px;
    padding: 6px;

    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;

    background-color: $white;
    border-radius: 50%;
  }

  &-title {
    width: 100%;
    padding: 20px 20px 20px 60px;
    margin: 0;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    font-weight: normal;

    color: $white;
  }

  &-thumbnail {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    object-fit: cover;
  }

  &:hover &-play-button,
  &-play-button:focus {
    filter: none;
  }

  &-play-button {
    width: 68px;
    height: 48px;
    padding: 0;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-width: 0;
    background-color: transparent;
    filter: grayscale(100%);

    cursor: pointer;
    pointer-events: none;
  }
}
</style>

<style lang="scss">
.YoutubePopup-popup {
  .modal-content {
    background-color: $black;
    border-radius: 0;
  }

  .modal-body {
    padding: 0;
  }

  .modal-dialog {
    @include media(sm) {
      max-width: none;
      margin: 0.5rem;
    }
    @include media(md) {
      margin: 1.75rem auto;
    }
  }

  .modal-lg,
  .modal-xl {
    @include media(md) {
      max-width: 800px;
    }
    @include media(lg) {
      max-width: 800px;
    }
  }

  .modal-xl {
    @include media(xl) {
      max-width: 1140px;
    }
  }
}
</style>
