$black: #000;
$black-15: rgba(0, 0, 0, 0.15);
$black-20: rgba(0, 0, 0, 0.2);


$greyish-25: rgba(179, 179, 179, 0.25);
$greyish-5: rgba(179, 179, 179, 0.05);
$greyish-10: rgba(179, 179, 179, 0.1);
$warm-grey-25: rgba(128, 128, 128, 0.25);
$warm-grey-15: rgba(128, 128, 128, 0.15);
$warm-grey-12: rgba(128, 128, 128, 0.12);
$warm-grey-10: rgba(128, 128, 128, 0.1);
$greyish-brown: #4a4a4a;
$slate: #475669;

$warm-grey: #9b9b9b;
$bluey-grey: #99a9bf;
$cool-grey: #b0b7bd;
$pinkish-grey: #bfbfbf;
$silver-two: #cad1d8;
$white-four: #d8d8d8;
$white-three: #dbdbdb;
$pale-grey-two: #dde4eb;
$white-five: #dadada;
$silver: #e2e5e7;
$white-two: #e0e0e0;
$pale-grey-three: #e0e6ed;
$beige: #f9f7ef;
$pale-grey: #f7f7f8;
$white: #ffffff;

$rouge: #a21942;
$cerise: #df1382;
$rouge-two: #c5192d;
$cherry-red: #e60b1c;
$lipstick: #e5243b;
$orange-red: #ff3a21;
$coral: #fc534c;
$tomato: #f15642;
$coral-two: #f55f44;
$reddish-orange: #fd6925;
$pumpkin-orange: #ff6c26;
$pinkish-orange: #ff743c;

$leather: #bf8b2e;
$mango: #fd9d24;
$dull-orange: #dda63a;
$marigold: #ffc700;
$marigold-two: #fcc30b;
$sun-yellow: #fdd835;

$fern-green: #3f7e44;
$leafy-green: #4c9f38;
$jade: #1da16f;
$grass: #56c02b;
$dark-seafoam: #1eb487;
$greenish-teal: #2ebb86;
$aqua-marine: #47e6b1;
$pale-teal: #96d2aa;
$light-grey-green: #aee196;

$dark-slate-blue: #19486a;
$peacock-blue: #00689d;
$azul: #1771e6;
$dodger-blue: #508cff;
$soft-blue: #4d8af0;
$water-blue: #0a97d9;
$dark-sky-blue: #50bee8;
$dark-sky-blue-two: #26bde2;
