<template>
  <div class="BasePostItem">
    <div class="BasePostItem-image">
      <img v-if="post.image" :src="post.image" :alt="post.title" />

      <!--
        其他基於此元件的父元件，若沒有在名為 "fake-image" 的 slot 提供假圖時，
        使用任意一張假圖 (下面這張就是隨便挑的)
      -->
      <slot name="fake-image" v-else>
        <img
          src="@/assets/images/views/G-Media/blog_01.jpg"
          :alt="post.title"
        />
      </slot>
    </div>
    <div class="BasePostItem-content">
      <div class="BasePostItem-info">
        <div class="BasePostItem-typetag" v-if="!hideTag">
          <slot name="type" />
        </div>
        <time>
          <slot name="datetime" :post="post" />
        </time>
      </div>
      <h3 class="BasePostItem-title">{{ post.title }}</h3>
    </div>
    <slot name="link" />
  </div>
</template>

<script>
export default {
  name: 'BasePostItem',
  components: {},
  props: {
    post: {
      type: Object,
      required: true
    },
    hideTag: {
      type: Boolean,
      default: false
    }
  }
};
</script>

<style lang="scss" scoped>
.BasePostItem {
  position: relative;

  &-image {
    height: 217px;
    margin: 0 0 7px 0;

    border-radius: 10px;
    border: solid 3px $greenish-teal;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;

      border-radius: 7px;
    }
    svg {
      width: 100%;
      height: 100%;
      object-fit: cover;

      border-radius: 7px;
    }
  }
  &-content {
    @include media(sm) {
      flex: 0 0 65%;
    }
  }
  &-info {
    margin-bottom: 7px;

    display: flex;
    justify-content: space-between;
    @include media(md) {
      flex-direction: column;
    }
    @include media(lg) {
      flex-direction: row;
    }
    .BasePostItem-tag {
      svg {
        margin-right: 5px;

        vertical-align: middle;
      }
      span {
        vertical-align: middle;

        font-weight: 600;

        color: $pinkish-orange;
      }
    }
    time {
      vertical-align: middle;

      line-height: 1.5;

      color: $warm-grey;
    }
  }
  &-title {
    color: $greyish-brown;
    font-size: 17px;
    font-weight: 600;
  }
}
</style>
