<template>
  <div class="BaseForm">
    <b-form novalidate @submit.prevent="onSubmit">
      <BaseFormSelect
        label="身份"
        required
        :id="`${formName}-identity`"
        :state="validateState('identity')"
        :options="identityOptions"
        :value="$v.form.identity.$model"
        @change="$v.form.identity.$model = $event"
      />

      <BaseFormSelect
        label="問題類型"
        required
        :id="`${formName}-class`"
        :state="validateState('class')"
        :options="classOptions"
        :value="$v.form.class.$model"
        @change="$v.form.class.$model = $event"
      />

      <BaseFormInput
        type="text"
        label="姓名"
        placeholder="例）王小明"
        required
        :id="`${formName}-name`"
        :state="validateState('name')"
        :value="$v.form.name.$model"
        @input="$v.form.name.$model = $event"
      />

      <BaseFormInput
        type="text"
        label="公司 / 機關名稱"
        placeholder="例）成功大學學務處"
        :id="`${formName}-company`"
        :state="validateState('company')"
        :value="$v.form.company.$model"
        @input="$v.form.company.$model = $event"
      />

      <BaseFormInput
        type="tel"
        label="聯絡電話"
        placeholder="例）0978782739"
        required
        :id="`${formName}-phone`"
        :state="validateState('phone')"
        :value="$v.form.phone.$model"
        @input="$v.form.phone.$model = $event"
      />

      <BaseFormInput
        type="email"
        label="聯絡 email"
        placeholder="例）usr@gmail.com"
        required
        :id="`${formName}-email`"
        :state="validateState('email')"
        :value="$v.form.email.$model"
        @input="$v.form.email.$model = $event"
      >
        <template #invalid-feedback="{ label }">
          <span v-if="!$v.form.email.required">請填入{{ label }}</span>
          <span v-else-if="!$v.form.email.emal">請填入正確的 email 格式</span>
        </template>
      </BaseFormInput>

      <BaseFormTextarea
        label="內容"
        rows="10"
        no-resize
        required
        :id="`${formName}-contents`"
        :state="validateState('contents')"
        :value="$v.form.contents.$model"
        @input="$v.form.contents.$model = $event"
      />

      <div class="BaseForm-control" v-if="useUploadImage">
        <b-form-group label-cols-lg="4" label="上傳圖片">
          <slot name="upload-image" />
        </b-form-group>
      </div>

      <!--
      為了畫面結構與上面的 BaseFromInput、BaseFormSelect 和 BaseFormTextarea 元件一致，
      所以下面的 GoogleRecaptcha 元件需多包一層 <div class="BaseForm-control">
      -->
      <div class="BaseForm-control BaseForm-control-required">
        <b-form-group label-cols-lg="4" label="驗證碼">
          <GoogleRecaptcha
            ref="ContactGoogleRecaptcha"
            @verify="$v.form.g_recaptcha_response.$model = $event"
            @expired="$v.form.g_recaptcha_response.$model = ''"
          />
          <b-form-invalid-feedback
            :state="validateState('g_recaptcha_response')"
          >
            請點擊驗證碼核取方塊
          </b-form-invalid-feedback>
        </b-form-group>
      </div>

      <BaseButton type="submit" class="BaseForm-submit-button">
        送出訊息
      </BaseButton>
      <!-- <b-button class="ml-2" @click="reset">Reset</b-button> -->
    </b-form>
  </div>
</template>

<script>
import { validationMixin } from 'vuelidate';
import { required, email } from 'vuelidate/lib/validators';

import BaseFormSelect from '@/components/other/BaseFormSelect';
import BaseFormInput from '@/components/other/BaseFormInput';
import BaseFormTextarea from '@/components/other/BaseFormTextarea';
import GoogleRecaptcha from '@/components/shared/GoogleRecaptcha';
import BaseButton from '@/components/other/BaseButton.vue';

export default {
  name: 'BaseForm',
  mixins: [validationMixin],
  components: {
    BaseFormSelect,
    BaseFormInput,
    BaseFormTextarea,
    GoogleRecaptcha,
    BaseButton
  },
  props: {
    formName: {
      type: String,
      required: true
    },
    identityOptions: {
      type: Array,
      required: true
    },
    classOptions: {
      type: Array,
      required: true
    },
    useUploadImage: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      form: {
        identity: null,
        class: null,
        name: '',
        company: '',
        phone: '',
        email: '',
        contents: '',
        g_recaptcha_response: ''
      }
    };
  },
  validations: {
    form: {
      identity: { required },
      class: { required },
      name: { required },
      company: {},
      phone: { required },
      email: { required, email },
      contents: { required },
      g_recaptcha_response: { required }
    }
  },
  computed: {
    initForm() {
      return {
        identity: null,
        class: null,
        name: '',
        company: '',
        phone: '',
        email: '',
        contents: '',
        g_recaptcha_response: ''
      };
    }
  },
  methods: {
    validateState(name) {
      const { $dirty, $error } = this.$v.form[name];
      return $dirty ? !$error : null;
    },
    // onExpired() {
    //   console.log('Expired');
    // },
    resetRecaptcha() {
      this.$refs.ContactGoogleRecaptcha.resetRecaptcha();
    },
    resetForm() {
      this.form = { ...this.initForm };
      this.resetRecaptcha();

      this.$nextTick(() => {
        this.$v.$reset();
      });
    },
    onSubmit() {
      this.$v.form.$touch();

      if (this.$v.form.$anyError) return;

      this.$emit('submit', this.form);
    }
  }
};
</script>

<style lang="scss" scoped>
.BaseForm {
  &-upload-image {
    display: flex;
    align-items: center;

    &-label {
      min-width: 140px;
      margin: 0;

      display: inline-block;

      font-size: 17px;
      line-height: 54px;
      text-align: center;

      color: $warm-grey;
      border-radius: 10px;
      background-color: $pale-grey;

      cursor: pointer;
    }

    &-description {
      margin-left: 8px;

      font-size: 13px;

      color: $greyish-brown;

      p {
        margin: 0;
      }
    }

    &-list {
      margin-top: 12px;
    }

    &-item {
      padding-left: 16px;

      display: flex;
      justify-content: space-between;
      align-items: center;

      line-height: 44px;

      border-radius: 10px;
      background-color: $warm-grey;

      + .BaseForm-upload-image-item {
        margin-top: 12px;
      }

      span {
        font-size: 15px;
        font-weight: 500;

        color: $white;
      }
    }

    &-delete {
      padding: 0 16px;

      cursor: pointer;
    }
  }

  &-submit-button {
    max-width: 300px;
    margin: 36px auto 0 auto;

    display: block;
  }
}

::v-deep .BaseForm-control {
  &:last-of-type .form-group {
    margin-bottom: 0;
  }

  &-required {
    label::before {
      content: '*';
      color: $pinkish-orange;
    }
  }
}

::v-deep .form-row {
  > .col,
  > [class*='col-'] {
    padding-right: 8px;
    padding-left: 8px;
  }
}

::v-deep .col-form-label {
  padding-top: 0;
  padding-bottom: 0;

  font-size: 17px;
  font-weight: 600;
  line-height: 30px;

  color: $greenish-teal;

  @include media(lg) {
    line-height: 54px;
    text-align: right;
  }
}

::v-deep .bv-no-focus-ring:focus {
  outline: none;
}

.BaseForm-control {
  .invalid-feedback {
    font-size: 15px;

    color: $coral;
  }
}
</style>
