<template>
  <div class="BaseSelect">
    <!-- 手機版使用原生 <select> -->
    <b-form-select
      class="BaseSelect-select"
      :class="{ 'is-selected': value !== null }"
      :options="options"
      :value="value"
      @change="changeValue"
    >
      <template #first>
        <b-form-select-option :value="null" disabled hidden>
          {{ placeholder }}
        </b-form-select-option>
      </template>
    </b-form-select>

    <div
      class="BaseSelect-selection"
      :class="{ 'is-selected': Boolean(value) }"
      @click="isOpen = !isOpen"
    >
      {{ value === null ? placeholder : displayValue }}
    </div>

    <input
      type="text"
      autocomplete="off"
      readonly
      hidden
      :value="displayValue"
      @change="onChange"
    />

    <div class="BaseSelect-dropdown" v-show="isOpen">
      <ul>
        <li
          class="BaseSelect-dropdown-item"
          :class="{ 'is-selected-item': option.value === value }"
          v-for="option in options"
          :value="option.value"
          :key="option.value"
          @click="selectOption(option)"
        >
          {{ option.text }}
        </li>
      </ul>
      <div class="BaseSelect-dropdown-clear" v-if="!hideClear" @click="onClear">
        {{ $t('control.clear') }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'BaseSelect',
  props: {
    value: {
      type: [String, Number],
      default: null
    },
    options: {
      type: Array,
      required: true
    },
    placeholder: {
      type: String,
      default: null
    },
    hideClear: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      isOpen: false
    };
  },
  computed: {
    displayValue() {
      if (this.value === null) return null;

      const targetOption = this.options.find(
        option => option.value === this.value
      );
      return targetOption?.text ?? this.placeholder;
    }
  },
  mounted() {
    const closeDropdown = event => {
      if (!this.isOpen) return;

      const isDropdownItem = event.target.classList.contains(
        'BaseSelect-dropdown-item'
      );
      if (this.$el.contains(event.target) && !isDropdownItem) return;

      this.isOpen = false;
    };
    document.body.addEventListener('click', closeDropdown, true);

    this.$once('hook:beforeDestroy', () => {
      document.body.removeEventListener('click', closeDropdown, true);
    });
  },
  methods: {
    selectOption(option) {
      if (option.value === this.value) return;
      this.changeValue(option.value);
    },

    onChange(event) {
      this.changeValue(event.target.value);
    },
    onClear() {
      this.$emit('clear', null);
      this.$emit('change', null);
    },
    changeValue(value) {
      this.$emit('update:value', value);
      this.$emit('change', value);
    }
  }
};
</script>

<style lang="scss" scoped>
.BaseSelect {
  position: relative;

  user-select: none;

  &-select {
    height: 60px;
    padding: 0 16px;

    position: absolute;

    opacity: 0;
    cursor: pointer;

    @include media(lg) {
      display: none;
    }
  }

  &-selection {
    width: 100%;
    padding: 0 16px;

    font-size: 17px;
    font-weight: 600;
    text-align: center;
    line-height: 54px;

    color: $greyish-brown;
    background-color: $white;
    border-radius: 6px;
    border: 3px solid $pale-grey-two;

    cursor: pointer;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $greyish-brown;
    }

    &.is-selected {
      color: $greenish-teal;
      border-color: $greenish-teal;
    }
  }

  &-dropdown {
    width: 100%;

    position: absolute;
    z-index: 1;

    text-align: center;

    border-radius: 10px;
    box-shadow: 0 2px 12px 0 $black-15;
    background-color: $white;

    p {
      margin-bottom: 8px;

      font-size: 15px;
      font-weight: 600;

      color: $greyish-brown;
    }

    ul {
      margin: 0;
      padding: 0;

      list-style: none;
    }

    li {
      font-size: 17px;
      line-height: 50px;

      color: $greyish-brown;

      cursor: pointer;

      &:hover {
        background-color: $greyish-10;
      }

      &.is-selected-item {
        color: $greenish-teal;
      }
    }

    &-clear {
      margin: 10px 16px 16px;

      font-size: 17px;
      font-weight: 600;
      text-align: left;
      text-decoration: underline;

      cursor: pointer;

      color: $greyish-brown;
    }
  }
}
</style>
