<template>
  <div class="BaseBreadcrumb">
    <span
      class="BaseBreadcrumb-item"
      v-for="(breadcrumbItem, index) in breadcrumb"
      :key="`${breadcrumbItem}-${index}`"
    >
      {{ breadcrumbItem }}
    </span>
  </div>
</template>

<script>
import { getMatchedRouteMeta } from '@/utils/route';

export default {
  name: 'BaseBreadcrumb',
  computed: {
    breadcrumb() {
      return getMatchedRouteMeta(this.$route, 'breadcrumb');
    }
  }
};
</script>

<style lang="scss" scoped>
.BaseBreadcrumb {
  font-size: 0;

  &-item {
    font-size: 15px;
    font-weight: 600;

    color: $greyish-brown;

    @include media(lg) {
      font-size: 17px;
    }

    & + .BaseBreadcrumb-item::before {
      content: '/';
    }
  }
}
</style>
