<template>
  <div
    class="BaseFormTextarea BaseForm-control"
    :class="{ 'BaseForm-control-required': required }"
  >
    <b-form-group label-cols-lg="4" :label="label" :label-for="id">
      <b-form-textarea
        :id="id"
        :name="id"
        :no-resize="noResize"
        :rows="rows"
        :placeholder="placeholder"
        :aria-describedby="`${id}-feedback`"
        :state="state"
        :value="value"
        @input="$emit('input', $event)"
      />

      <b-form-invalid-feedback :id="`${id}-feedback`">
        <slot name="invalid-feedback" :label="label"> 請填入{{ label }} </slot>
      </b-form-invalid-feedback>
    </b-form-group>
  </div>
</template>

<script>
export default {
  name: 'BaseFormTextarea',
  props: {
    label: {
      type: String,
      required: true
    },
    id: {
      type: String,
      required: true
    },
    placeholder: {
      type: String
    },
    state: {
      type: Boolean,
      default: null
    },
    value: {
      // type: [Object, Array, String, Number, Boolean],
      default: null
    },
    required: {
      type: Boolean,
      default: false
    },
    rows: {
      type: [Number, String],
      default: 2
    },
    noResize: {
      type: Boolean,
      default: false
    }
  }
};
</script>

<style lang="scss" scoped>
.BaseFormTextarea {
  .form-control {
    padding: 15px 15px;

    font-size: 17px;

    border-color: $pale-grey;
    border-radius: 10px;
    background-color: $pale-grey;

    &::placeholder {
      color: $warm-grey;
    }
  }

  .was-validated .form-control:valid,
  .form-control.is-valid {
    background-image: none;
  }

  .was-validated .form-control:invalid,
  .form-control.is-invalid {
    border-color: $coral;
    background-image: none;
  }

  .invalid-feedback {
    font-size: 15px;

    color: $coral;
  }
}
</style>
