<template>
  <b-button
    :to="to"
    :type="type"
    :class="outline ? 'BaseButton-outline' : 'BaseButton'"
    @click="$emit('click', $event)"
    v-bind="$attrs"
  >
    <slot></slot>
  </b-button>
</template>

<script>
export default {
  name: 'BaseButton',
  props: {
    to: {
      type: [String, Object],
      default: null
    },
    type: {
      type: String,
      default: 'button'
    },
    outline: {
      type: Boolean,
      default: false
    }
  }
};
</script>

<style lang="scss" scoped>
@mixin BaseButton() {
  width: 100%;
  padding: 0;

  font-size: 15px;
  font-weight: 600;
  text-align: center;
  line-height: 56px;

  border-radius: 10px;
}

// =================================
// # BaseButton
.BaseButton {
  @include BaseButton();

  color: $white;
  border: none;
  background-color: $greenish-teal;

  &:hover {
    background-color: $jade;
  }
}

.BaseButton.btn-secondary {
  &:focus,
  &:not(:disabled):active {
    background-color: $jade;
  }
}

// =================================
// # BaseButton-outline
.BaseButton-outline {
  @include BaseButton();

  color: $greyish-brown;
  border: 2px solid $greenish-teal;
  background-color: $white;

  &:hover {
    color: $greyish-brown;
    border-color: $jade;
    background-color: $pale-grey;
  }
}

.BaseButton-outline.btn-secondary {
  &:focus,
  &:not(:disabled):active {
    color: $greyish-brown;
    border-color: $jade;
    background-color: $silver;
  }
}
</style>
