<template>
  <div
    class="BaseFormSelect BaseForm-control"
    :class="{ 'BaseForm-control-required': required }"
  >
    <b-form-group label-cols-lg="4" :label="label" :label-for="id">
      <b-form-select
        :id="id"
        :name="id"
        :aria-describedby="`${id}-feedback`"
        :options="options"
        :state="state"
        :value="value"
        @change="$emit('change', $event)"
      >
        <template #first>
          <b-form-select-option :value="null" disabled hidden>
            選擇
          </b-form-select-option>
        </template>
      </b-form-select>

      <b-form-invalid-feedback :id="`${id}-feedback`">
        <slot name="invalid-feedback" :label="label"> 請選擇{{ label }} </slot>
      </b-form-invalid-feedback>
    </b-form-group>
  </div>
</template>

<script>
export default {
  name: 'BaseFormSelect',
  props: {
    label: {
      type: String,
      required: true
    },
    id: {
      type: String,
      required: true
    },
    state: {
      type: Boolean,
      default: null
    },
    value: {
      // type: [Object, Array, String, Number, Boolean],
      default: null
    },
    options: {
      type: [Array, Object],
      required: true
    },
    required: {
      type: Boolean,
      default: false
    }
  }
};
</script>

<style lang="scss" scoped>
.BaseFormSelect {
  .custom-select {
    height: 54px;
    padding: 15px 15px;

    border-color: $pale-grey;
    border-radius: 10px;
    background-color: $pale-grey;
    background-image: url('~@/assets/images/icons/icon-form-select.png');
    background-repeat: no-repeat;
    background-position: calc(100% - 16px) center;
    background-size: 20px 10px;
  }

  .was-validated .custom-select:invalid,
  .custom-select.is-invalid {
    border-color: $coral;
    background-image: url('~@/assets/images/icons/icon-form-select.png');
  }

  .invalid-feedback {
    font-size: 15px;

    color: $coral;
  }
}
</style>
