<template>
  <div class="BlogItem">
    <div class="blog-item-image">
      <img v-if="blog.image" :src="blog.image" :alt="blog.title" />
      <BlogImage v-else />
    </div>
    <div class="blog-item-content">
      <div class="blog-item-info">
        <div class="blog-item-tag" v-if="!hideTag">
          <CalendarIcon />
          <span>專欄文章</span>
        </div>
        <time>{{ blog.time }}</time>
      </div>
      <p>{{ blog.title }}</p>
    </div>
  </div>
</template>

<script>
import BlogImage from '@/assets/images/views/A-Home/illustration-blog.svg';
import CalendarIcon from '@/assets/images/icons/icon-calendar.svg';

export default {
  name: 'BlogItem',
  components: {
    BlogImage,
    CalendarIcon
  },
  props: {
    blog: {
      type: Object,
      required: true
    },
    hideTag: {
      type: Boolean,
      default: false
    }
  }
};
</script>

<style lang="scss" scoped>
.BlogItem {
  @include media(sm) {
    display: flex;
    justify-content: space-between;
  }
  @include media(xl) {
    flex-direction: column;
  }
}
.blog-item-image {
  height: 217px;
  margin-bottom: 7px;

  border-radius: 10px;
  border: solid 3px $greenish-teal;
  @include media(sm) {
    height: 120px;
    flex: 0 0 33%;
  }
  @include media(md) {
    height: 100px;
  }
  @include media(xl) {
    height: 150px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;

    border-radius: 7px;
  }
  svg {
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-radius: 7px;
  }
}
.blog-item-content {
  @include media(sm) {
    flex: 0 0 65%;
  }
  .blog-item-info {
    margin-bottom: 7px;

    display: flex;
    justify-content: space-between;
    .blog-item-tag {
      svg {
        margin-right: 5px;

        vertical-align: middle;
      }
      span {
        vertical-align: middle;

        font-weight: 600;

        color: $pinkish-orange;
      }
    }
    time {
      vertical-align: middle;

      line-height: 1.5;

      color: $warm-grey;
    }
  }
}
</style>
