<template>
  <div class="Carousel">
    <swiper class="swiper" :options="swiperOption">
      <swiper-slide
        v-for="carouselItem in carouselItems"
        :key="carouselItem.id"
      >
        <div class="carousel-caption">
          <div class="carousel-caption-tag">
            <TypeTag :type="carouselItem.type" />
          </div>
          <div class="carousel-content">
            <p class="title">{{ carouselItem.title }}</p>
            <p class="text">{{ carouselItem.description }}...</p>
            <a class="read-more" href="##">閱讀更多</a>
          </div>
        </div>
        <img
          class="carousel-image"
          :src="carouselCover(carouselItem.cover)"
          :alt="carouselItem.title"
        />

        <router-link
          v-if="carouselItem.linkType === 'internal'"
          :to="carouselItem.link"
          class="stretched-link"
        />
        <a
          v-else
          :href="carouselItem.link"
          target="_blank"
          class="stretched-link"
        />
      </swiper-slide>

      <div class="swiper-pagination" slot="pagination"></div>
      <div class="swiper-button-prev" slot="button-prev">
        <PrevButton />
      </div>
      <div class="swiper-button-next" slot="button-next">
        <NextButton />
      </div>
    </swiper>
  </div>
</template>

<script>
// ====================================
// customize component
import TypeTag from '@/components/other/TypeTag.vue';

// ====================================
// svg component
import PrevButton from '@/assets/images/icons/icon-button-prev.svg';
import NextButton from '@/assets/images/icons/icon-button-next.svg';

export default {
  name: 'Carousel',
  title: 'Loop mode / Infinite loop',
  components: {
    TypeTag,
    PrevButton,
    NextButton
  },
  props: {
    carouselItems: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      swiperOption: {
        slidesPerView: 1,
        spaceBetween: 0,
        loop: true,
        autoplay: {
          delay: 5000,
          disableOnInteraction: false
        },
        pagination: {
          el: '.swiper-pagination',
          clickable: true
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        }
      }
    };
  },
  methods: {
    carouselCover(cover) {
      return cover ?? require('@/assets/images/shared/blossom.jpg');
    }
  }
};
</script>

<style lang="scss" scoped>
.Carousel {
  position: relative;
}

.carousel-image {
  width: 100%;
  height: 188px;
  object-fit: cover;

  border-radius: 7px;

  @include media(sm) {
    height: 384px;
  }
  @include media(md) {
    width: 720px;
    height: 350px;
  }
  @include media(lg) {
    width: 852px;
    height: 396px;
  }
  @include media(xl) {
    width: 1168px;
    height: 460px;
  }
}

.swiper {
  position: static;
}

::v-deep .swiper-wrapper {
  z-index: 0;
}

.swiper-container {
  z-index: 0;

  border-radius: 10px;
  border: solid 3px $greenish-teal;
}

.swiper-button-prev,
.swiper-button-next {
  width: auto;
  height: auto;

  z-index: 0;

  display: none;

  @include media(lg) {
    display: flex;
  }
}

.swiper-button-next {
  right: -70px;

  &::after {
    content: '';
  }
}

.swiper-button-prev {
  left: -70px;

  &::after {
    content: '';
  }
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: -25px;
}

.swiper-pagination {
  z-index: 0;
}

::v-deep .swiper-pagination-bullet-active {
  background-color: $greenish-teal;
}

.carousel-caption {
  padding: 9px;

  position: absolute;
  left: 9px;
  right: 9px;
  bottom: 9px;

  text-align: left;

  color: $greyish-brown;
  border-radius: 10px;
  background-color: $white;
  opacity: 0.85;
  @include media(lg) {
    width: 600px;
    padding: 16px;

    left: 24px;
    bottom: 24px;
  }
}

::v-deep .title {
  margin: 5px 0;

  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;

  font-size: 17px;
  font-weight: 600;
  @include media(md) {
    margin-bottom: 9px;

    font-size: 24px;
  }
}

::v-deep .text {
  display: none;
  @include media(md) {
    display: block;
  }
}

::v-deep .read-more {
  display: none;

  color: $warm-grey;
  @include media(md) {
    display: block;
    float: right;
    &::after {
      content: '';
      clear: both;
    }
  }
}
</style>
