<template>
  <div class="ProjectItem">
    <div class="ProjectItem-image">
      <img v-if="project.cover" :src="project.cover" :alt="project.title" />
      <img v-else src="@/assets/images/shared/USR_1.jpg" :alt="project.title" />
    </div>
    <div class="ProjectItem-info">
      <div class="ProjectItem-title">{{ project.title }}</div>
      <div class="ProjectItem-time">{{ project.opendate }}</div>
    </div>
    <div class="ProjectItem-content">{{ project.description }}...</div>
  </div>
</template>

<script>
export default {
  name: 'ProjectItem',
  components: {},
  props: {
    project: {
      type: Object,
      required: true
    }
  }
};
</script>

<style lang="scss" scoped>
.ProjectItem {
  &-image {
    height: 274px;
    margin-bottom: 8px;

    border: solid 3px $greenish-teal;
    border-radius: 10px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }
  &-info {
    margin-bottom: 8px;
  }
  &-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color: $pinkish-orange;
  }
  &-time {
    margin-left: auto;

    font-size: 15px;
    color: $warm-grey;
  }
}
</style>
