<template>
  <div class="TypeTag">
    <div class="typetag-activity" v-if="type === 'activity'">
      <CalendarIcon />
      <span>中心活動</span>
    </div>
    <div class="typetag-blog" v-else-if="type === 'blog'">
      <BlogIcon />
      <span>專欄文章</span>
    </div>
    <div class="typetag-announce" v-else-if="type === 'sop'">
      <AnnounceIcon />
      <span>計畫公告</span>
    </div>
    <div class="typetag-news" v-else-if="type === 'media'">
      <NewsIcon />
      <span>媒體報導</span>
    </div>
    <div class="typetag-exhibition" v-else-if="type === 'exhibition'">
      <ExhibitionIcon />
      <span>線上常設展</span>
    </div>
    <div class="typetag-externelink" v-else-if="type === 'externalLink'">
      <ExternalLink />
      <span>外部連結</span>
    </div>
    <div class="typetag-other" v-else>
      <ExternalLink />
      <span>其他</span>
    </div>
  </div>
</template>

<script>
import CalendarIcon from '@/assets/images/icons/icon-calendar.svg';
import BlogIcon from '@/assets/images/icons/icon-blog.svg';
import AnnounceIcon from '@/assets/images/icons/icon-announce.svg';
import NewsIcon from '@/assets/images/icons/icon-news.svg';
import ExhibitionIcon from '@/assets/images/icons/icon-exhibition.svg';
import ExternalLink from '@/assets/images/icons/icon-link.svg';

export default {
  neme: 'TypeTag',
  components: {
    CalendarIcon,
    BlogIcon,
    AnnounceIcon,
    NewsIcon,
    ExhibitionIcon,
    ExternalLink
  },
  props: {
    type: {
      type: String,
      required: true
    }
  }
};
</script>

<style lang="scss" scoped>
.TypeTag {
  svg {
    margin-right: 5px;

    vertical-align: middle;
  }
  span {
    vertical-align: middle;

    font-weight: 600;

    color: $pinkish-orange;
  }
}
</style>
