<template>
  <main class="PhaseFirstProjectMap wrap">
    <div class="project-title">
      <p>{{ $t('projectTitle') }}</p>
    </div>
    <div class="fliter">
      <div class="multi-select-phone">
        <div class="multi-select-botton" @click="formModalVisible = true">
          <filterIcon />
        </div>
        <div class="search-bar">
          <SearchBar
            :value="filterFields.keyword"
            @update:value="
              updateFilterFields({ field: 'keyword', payload: $event })
            "
            @change="onChangeKeyword"
          />
        </div>
      </div>
      <div class="multi-select-labtop">
        <div class="search-bar">
          <SearchBar
            :value="filterFields.keyword"
            @update:value="
              updateFilterFields({ field: 'keyword', payload: $event })
            "
            @change="onChangeKeyword"
          />
        </div>
        <div class="multi-select">
          <FormCheckboxDropdown
            :placeholder="$t('ProjectCategoryLabel')"
            :options="categoryOptions"
            :checked-values="filterFields.category"
            @update:checked-values="
              updateFilterFields({ field: 'category', payload: $event })
            "
            @clear="updateFilterFields({ field: 'category', payload: $event })"
            @change="onChangeCategory"
          />
        </div>
        <div class="multi-select">
          <FormCheckboxDropdown
            :placeholder="$t('issueLabel')"
            :options="issueOptions"
            :checked-values="filterFields.issue"
            @update:checked-values="
              updateFilterFields({ field: 'issue', payload: $event })
            "
            @clear="updateFilterFields({ field: 'issue', payload: $event })"
            @change="onChangeIssue"
          />
        </div>
      </div>
    </div>
    <div
      class="district-title"
      :style="{ fontWeight: filterFields.region === '' ? '600' : null }"
    >
      <span v-if="filterFields.region === null">
        {{ $t('location') }}
      </span>
      <span v-else>{{ regionDisplayValue }}</span>
    </div>
    <div class="map-container">
      <div class="RegionSelect-labtop">
        <RegionalMenuPanel
          :options="regionalOptions"
          :city="filterFields.city"
          @update:city="updateFilterFields({ field: 'city', payload: $event })"
          :district="filterFields.district"
          @update:district="
            updateFilterFields({ field: 'district', payload: $event })
          "
          :value="filterFields.region"
          @update:value="
            updateFilterFields({ field: 'region', payload: $event })
          "
          @update:display-value="regionDisplayValue = $event"
          @change="onChangeRegion"
        />
      </div>
      <div class="RegionSelect-phone">
        <div class="RegionSelect-item">
          <BaseSelect
            :placeholder="$t('regionSelect')"
            :options="cityOptions"
            :value="filterFields.city"
            @update:value="
              updateFilterFields({ field: 'city', payload: $event })
            "
            @clear="updateFilterFields({ field: 'city', payload: $event })"
            @change="onChangeCity"
          />
        </div>
        <div class="RegionSelect-item" v-if="filterFields.city">
          <BaseSelect
            :placeholder="$t('districtSelect')"
            :options="districtOptions"
            :value="filterFields.district"
            @update:value="
              updateFilterFields({ field: 'district', payload: $event })
            "
            @clear="updateFilterFields({ field: 'district', payload: $event })"
            @change="onChangeDistrict"
          />
        </div>
      </div>
      <div class="PhaseFirstProjectMap-map">
        <LottieAnimation
          v-if="isLoading"
          ref="loadingPinAnimation"
          :animationData="loadingPinAnimation"
        />
        <div class="global-field" v-if="filterFields.region === '國外場域'">
          <div class="global-field-content">
            <img
              src="@/assets/images/views/F-ProjectMap/project-global-field-icon.png"
              alt="國外場域"
            />
            <span>國外場域</span>
          </div>
        </div>
        <OpenStreetMap
          v-show="filterFields.region !== '國外場域'"
          ref="OpenStreetMap"
          :markers="$store.getters['phaseFirstProjectMap/regionalCount']"
          :active-region.sync="map.activeRegion"
          @click-marker="onClickMarker"
          :center="map.center"
          @update:center="map.center = $event"
          @location-found="onLocationFound"
        />
      </div>
    </div>
    <!-- <button type="button" @click="$refs.loadingPinAnimation.play()">
        play animation
      </button>
      <button type="button" @click="$refs.loadingPinAnimation.pause()">
        pause animation
      </button>
      <button type="button" @click="$refs.loadingPinAnimation.stop()">
        stop animation
      </button> -->

    <div class="project-list">
      <div class="project-list-title">
        <span>{{ $t('projectList') }}</span>
        <div class="per-page-select">
          <PaginationSizeChanger
            :total="projectCount"
            :page-size="pageSize"
            @update:page-size="pageSize = $event"
            @change="onChangePageSize"
          />
        </div>
      </div>
      <p v-if="projectCount === 0" class="project-item-no-data">
        {{ $t('noResult') }}
      </p>
      <template v-else>
        <div
          class="project-item"
          v-for="project in projects"
          :key="`prject2-${project.id}`"
        >
          <div class="project-item-title">
            {{ project.school }}
          </div>
          <div class="project-item-info">
            <Badge isPill>{{ project.type }}</Badge>
            <Badge isPill>{{ project.class_name }}</Badge>
          </div>
          <div class="project-item-content">
            <router-link
              :to="{
                name: $route.name,
                query: { id: project.id },
                params: { lang: $i18n.locale === 'en' ? 'en' : null }
              }"
            >
              {{ project.title }}
            </router-link>
          </div>
        </div>
      </template>
    </div>

    <Pagination
      v-if="projectCount !== 0"
      :current-page="currentPage"
      @update:currentPage="currentPage = $event"
      :page-size="pageSize"
      @update:pageSize="pageSize = $event"
      :total="projectCount"
      @change="onChangePagination"
    />

    <FormModal
      :title="$t('filter')"
      type="search"
      modal-class="project1-form-modal"
      :visible="formModalVisible"
      @change="formModalVisible = $event"
      @cancel="onCancel"
      @search="onSearch"
    >
      <FormCheckbox
        :title="$t('ProjectCategoryLabel')"
        :options="categoryOptions"
        :checked-values="filterFields.category"
        @update:checked-values="
          updateFilterFields({ field: 'category', payload: $event })
        "
        @clear="updateFilterFields({ field: 'category', payload: $event })"
        @change="onChangeCategory"
      />
      <FormCheckbox
        :title="$t('issueLabel')"
        :options="issueOptions"
        :checked-values="filterFields.issue"
        @update:checked-values="
          updateFilterFields({ field: 'issue', payload: $event })
        "
        @clear="updateFilterFields({ field: 'issue', payload: $event })"
        @change="onChangeIssue"
      />
    </FormModal>

    <DetailModal
      :title="$t('projectContentTitle')"
      modal-class="project1-detail-modal"
      :visible="detailModalVisible"
      @change="onChangeDetailModalVisible"
    >
      <template v-if="activeProject">
        <header class="project-detail-modal-header">
          <p class="school">{{ activeProject.school }}</p>
          <h3 class="project-name">{{ activeProject.title }}</h3>
          <div class="typetag">
            <Badge isPill>{{ activeProject.type }}</Badge>
            <Badge isPill>{{ activeProject.class_name }}</Badge>
          </div>
        </header>

        <section class="project-detail-modal-content">
          <div
            class="project-picture"
            v-if="activeProject.pictures.length !== 0"
          >
            <div
              class="project-picture-item"
              v-for="(picture, index) in activeProject.pictures"
              :key="index"
            >
              <img :src="picture" :alt="activeProject.title" />
            </div>
          </div>

          <p class="project-content">{{ activeProject.contents }}</p>
          <p class="project-content">{{ activeProject.EN_contents }}</p>
        </section>
      </template>
    </DetailModal>
  </main>
</template>

<i18n lang="yaml">
zh:
  projectTitle: "第一期(107-108年度)大學社會責任實踐計畫核定蹲點地圖 (已完成)"
  ProjectCategoryLabel: "計畫類別"
  issueLabel: "議題分類"
  location: "選擇地區"
  regionSelect: "選擇地區"
  districtSelect: "選擇區域"
  projectList: "計畫列表"
  noResult: "目前沒有任何資料"
  filter: "篩選條件"
  projectContentTitle: "計畫內容"
en: 
  projectTitle: "Map of USR teams on site, Phase I (2018-2019)"
  ProjectCategoryLabel: "Levels"
  issueLabel: "Categories"
  location: "Location"
  regionSelect: "Select a Region"
  districtSelect: "Select a District"
  projectList: "List"
  noResult: "No result"
  filter: "Filter"
  projectContentTitle: "Content"
</i18n>

<script>
import { mapGetters, mapMutations, mapActions } from 'vuex';

import loadingPinAnimation from '@/assets/animations/loading-pin.json';

import FormCheckbox from '@/components/shared/FormCheckbox.vue';
import FormCheckboxDropdown from '@/components/shared/FormCheckboxDropdown.vue';
import SearchBar from '@/components/shared/SearchBar.vue';
import RegionalMenuPanel from '@/components/Project/RegionalMenuPanel.vue';
import BaseSelect from '@/components/other/BaseSelect.vue';
import Badge from '@/components/shared/Badge.vue';
import PaginationSizeChanger from '@/components/shared/PaginationSizeChanger.vue';
import Pagination from '@/components/shared/Pagination.vue';
import FormModal from '@/components/shared/FormModal.vue';
import DetailModal from '@/components/shared/DetailModal';
import LottieAnimation from '@/components/shared/LottieAnimation';
import OpenStreetMap from '@/components/Project/OpenStreetMap.vue';

import filterIcon from '@/assets/images/icons/icon-filter.svg';

export default {
  name: 'phaseFirstProjectMap',
  components: {
    FormCheckbox,
    FormCheckboxDropdown,
    SearchBar,
    RegionalMenuPanel,
    BaseSelect,
    Badge,
    PaginationSizeChanger,
    Pagination,
    FormModal,
    DetailModal,
    LottieAnimation,
    OpenStreetMap,

    filterIcon
  },
  data() {
    return {
      map: {
        center: [23.973875, 120.982024],
        activeRegion: null
      },

      isLoading: false,
      regionDisplayValue: '',

      currentPage: 1,
      pageSize: 10,

      formModalVisible: false,
      detailModalVisible: false,

      previousRouteQuery: {},

      loadingPinAnimation
    };
  },
  computed: {
    ...mapGetters({
      categoryOptions: 'phaseFirstProjectMap/categoryOptions',
      issueOptions: 'phaseFirstProjectMap/issueOptions',
      filterFields: 'phaseFirstProjectMap/filterFields',
      regionalOptions: 'phaseFirstProjectMap/regionalOptions',
      cityOptions: 'phaseFirstProjectMap/cityOptions',
      districtOptions: 'phaseFirstProjectMap/districtOptions',
      projects: 'phaseFirstProjectMap/projects',
      projectCount: 'phaseFirstProjectMap/total'
    }),

    pageOptions() {
      return {
        currentPage: this.currentPage,
        pageSize: this.pageSize
      };
    },
    activeProject: {
      get() {
        return this.$store.getters['phaseFirstProjectMap/activeProject'];
      },
      set(value) {
        this.$store.commit('phaseFirstProjectMap/activeProject', value);
      }
    },
    activeProjectId: {
      get() {
        return this.$store.getters['phaseFirstProjectMap/activeProjectId'];
      },
      set(value) {
        this.$store.commit('phaseFirstProjectMap/activeProjectId', value);
      }
    },

    initFilterFields() {
      return {
        category: [],
        issue: [],
        SDGs: [],
        keyword: '',
        city: '',
        district: '',
        region: ''
      };
    }
  },
  beforeRouteEnter(to, from, next) {
    next(async vm => {
      if (to.query.id) {
        await vm.fetchProjectById(to.query.id);
        vm.activeProjectId = to.query.id;
        vm.detailModalVisible = true;
      }
    });
  },
  async beforeRouteUpdate(to, from, next) {
    if (to.query.id) {
      await this.fetchProjectById(to.query.id);
      this.activeProjectId = to.query.id;
      this.detailModalVisible = true;
    } else {
      this.activeProjectId = null;
      this.detailModalVisible = false;
    }
    next();
  },
  watch: {
    ['$route.query']() {
      if (Boolean(this.$route.query.type) || Boolean(this.$route.query.time)) {
        this.previousRouteQuery = this.$route.query;
      }
    }
  },
  methods: {
    ...mapMutations({
      updateFilterFields: 'phaseFirstProjectMap/filterFields'
    }),
    ...mapActions({
      fetchProjectRegionalCount:
        'phaseFirstProjectMap/fetchProjectRegionalCount',
      fetchCityByLatLng: 'phaseFirstProjectMap/fetchCityByLatLng',
      fetchLatLngByRegion: 'phaseFirstProjectMap/fetchLatLngByRegion',
      fetchProjectById: 'phaseFirstProjectMap/fetchProjectById'
    }),

    getSDGsColorByName(name) {
      return this.SDGsOptions.find(option => option.text === name)?.color;
    },

    onChangeDetailModalVisible(visible) {
      this.detailModalVisible = visible;
      if (!visible) {
        this.activeProjectId = null;
        this.activeProject = null;

        this.$router.push({
          name: this.$route.name,
          query: this.previousRouteQuery,
          params: { lang: this.$i18n.locale === 'en' ? 'en' : null }
        });
      }
    },

    async onChangeCategory() {
      await this.fetchProjectRegionalCount();
      this.onChangeHandler();
    },
    async onChangeIssue() {
      await this.fetchProjectRegionalCount();
      this.onChangeHandler();
    },
    async onChangeKeyword() {
      await this.fetchProjectRegionalCount();
      this.onChangeHandler();
    },
    onCancel() {},
    onSearch() {},

    async onLocationFound(latlng) {
      // 最差的情況只能知道在台灣，但不知在哪個縣市
      // - 知道縣市：縮放 + 圈選該二級行政區
      // - 只知道在台灣 (不知道縣市)：不處理
      const city = await this.fetchCityByLatLng(latlng);

      if (city) {
        const region = city;
        this.updateFilterFields({ field: 'region', payload: region });
        this.updateFilterFields({ field: 'city', payload: city });
        this.updateFilterFields({ field: 'district', payload: null });

        const regionResult = await this.fetchLatLngByRegion(region);
        this.$refs.OpenStreetMap.changeRegion(regionResult);
        this.onChangeHandler();
      }
    },

    async onClickMarker(marker) {
      const regionResult = await this.fetchLatLngByRegion(
        marker.district.value
      );

      this.updateFilterFields({ field: 'region', payload: marker.region });
      this.updateFilterFields({ field: 'city', payload: marker.city.value });
      this.updateFilterFields({
        field: 'district',
        payload: marker.district.value
      });
      this.regionDisplayValue = `${marker.city.text} > ${marker.district.text}`;

      if (regionResult.type === 'GetSearchResults') {
        const { value: region } = regionResult;
        this.$refs.OpenStreetMap.boundRegion(region);
      }
      if (regionResult.type === 'NoSearchResults') {
        this.$refs.OpenStreetMap.setMapView(marker.latLng, 11);
      }
      this.onChangeHandler();
    },
    async onChangeRegion() {
      if ([null, '國外場域'].includes(this.filterFields.region)) {
        this.$refs.OpenStreetMap.initMapView();
        this.map.activeRegion = null;
      } else {
        const regionResult = await this.fetchLatLngByRegion();
        this.$refs.OpenStreetMap.changeRegion(regionResult);
        this.map.activeRegion = this.filterFields.region;
      }
      this.onChangeHandler();
    },
    async onChangeCity(value) {
      this.updateFilterFields({ field: 'district', payload: null });
      this.updateFilterFields({
        field: 'region',
        payload: this.filterFields.city
      });

      const cityOption = this.cityOptions.find(
        option => option.value === value
      );

      this.regionDisplayValue = cityOption.text;

      if ([null, '國外場域'].includes(this.filterFields.region)) {
        this.$refs.OpenStreetMap.initMapView();
        this.map.activeRegion = null;
      } else {
        const regionResult = await this.fetchLatLngByRegion();
        this.$refs.OpenStreetMap.changeRegion(regionResult);
        this.map.activeRegion = this.filterFields.region;
      }

      this.onChangeHandler();
    },
    async onChangeDistrict(value) {
      this.updateFilterFields({
        field: 'region',
        payload: `${this.filterFields.city}${this.filterFields.district}`
      });

      const cityOption = this.cityOptions.find(
        option => option.value === this.filterFields.city
      );
      const districtOption = this.districtOptions.find(
        option => option.value === value
      );

      this.regionDisplayValue = `${cityOption.text} > ${districtOption.text}`;

      if ([null, '國外場域'].includes(this.filterFields.region)) {
        this.$refs.OpenStreetMap.initMapView();
        this.map.activeRegion = null;
      } else {
        const regionResult = await this.fetchLatLngByRegion();
        this.$refs.OpenStreetMap.changeRegion(regionResult);
        this.map.activeRegion = this.filterFields.region;
      }

      this.onChangeHandler();
    },
    async onChangePageSize() {
      this.onChangeHandler();
    },
    async onChangePagination() {
      await this.fetchProjects();
      window.scrollTo(0, 0);
    },

    async onChangeHandler() {
      this.currentPage = 1;
      await this.fetchProjects();
    },
    async fetchProjects() {
      await this.$store.dispatch(
        'phaseFirstProjectMap/fetchProjects',
        this.pageOptions
      );
    }
  }
};
</script>

<style lang="scss" scoped>
.project-title {
  p {
    margin-bottom: 16px;
    color: $greyish-brown;
    font-size: 20px;
    font-weight: 600;
    @include media(lg) {
      font-size: 24px;
    }
  }
}
.fliter {
  margin-bottom: 16px;

  position: relative;
  .multi-select-phone {
    display: flex;
    flex: 1;
    align-items: center;
    @include media(md) {
      display: none;
    }

    .multi-select-botton {
      width: 44px;
      height: 44px;
      margin-right: 10px;

      cursor: pointer;

      svg {
        width: 100%;
        object-fit: cover;
      }
    }
  }
  .multi-select-labtop {
    display: none;
    @include media(md) {
      max-width: 781px;

      display: flex;
    }
    .multi-select {
      @include media(md) {
        margin-right: 16px;

        flex: 1;
        &:last-of-type {
          margin: 0;
        }
      }
      &::v-deep .FormCheckboxDropdown {
        &-dropdown {
          right: 0;
          left: auto;
        }
      }
    }
  }
  .search-bar {
    flex: 6;
    @include media(md) {
      margin-right: 16px;
      flex: 1 0 30%;
    }
  }
}

.district-title {
  margin-bottom: 8px;

  display: none;

  @include media(md) {
    display: block;
  }
}
.map-container {
  margin-bottom: 40px;
  position: relative;
  @include media(md) {
    display: flex;
  }
}
.RegionSelect-labtop {
  display: none;
  @include media(md) {
    width: 323px;
    height: 500px;
    margin-right: 16px;

    display: block;
  }
}
.RegionSelect-phone {
  margin: 0 auto 16px;

  @include media(md) {
    display: none;
  }
  .RegionSelect-item {
    height: 60px;

    + .RegionSelect-item {
      margin-top: 16px;
    }

    @include media(md) {
      display: none;
    }

    &::v-deep {
      .BaseSelect-selection {
        font-weight: normal;

        &.is-selected {
          color: $greyish-brown;
        }
      }
    }
  }
}
.PhaseFirstProjectMap-map {
  height: 600px * (2 /3);
  margin: 0 -15px;

  @include media(md) {
    width: 849px;
    height: 500px;
    margin: 0;

    display: block;
  }
}
.project-list {
  &-title {
    margin-bottom: 20px;
    @include media(md) {
      display: flex;
      justify-content: space-between;
    }
    span {
      font-size: 24px;
      line-height: 42px;
    }
  }
}

.project-item-no-data {
  font-size: 15px;
  color: $warm-grey;
}

.project-item {
  padding: 25px 0;
  border-bottom: solid 3px $greenish-teal;

  &-title {
    margin-bottom: 8px;

    font-size: 17px;
    font-weight: 600;

    color: $greyish-brown;
  }
  &-info {
    margin-bottom: 8px;

    .Badge {
      margin: 0 8px 8px 0;
      @include media(sm) {
        margin-bottom: 0;
      }
    }
  }
  &-content {
    color: $greyish-brown;
  }
}

.Pagination {
  margin-top: 40px;
}
</style>

<style lang="scss">
.project1-form-modal {
  .FormCheckbox + .FormCheckbox {
    margin-top: 6px;
  }
}

.project1-detail-modal {
  .project-detail-modal-header {
    margin-bottom: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .school {
      color: $warm-grey;
      line-height: 1.5;
    }
    .project-name {
      font-size: 24px;
      color: $greyish-brown;
    }
    .typetag {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      .Badge {
        margin: 0 16px 8px 0;
      }
    }
  }
  .project-detail-modal-content {
    line-height: 1.7;
    .project-content {
      margin: 0 0 30px 0;
    }
    .project-picture {
      @include media(md) {
        margin-bottom: 30px;

        display: flex;
        justify-content: space-between;
      }
    }
    .project-picture-item {
      margin: 0 0 16px 0;
      @include media(md) {
        flex: 0 0 calc((100% - 30px) / 3);
        height: 200px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
</style>
