<template>
  <main class="PhaseSecondProjectMap wrap">
    <div class="project-title">
      <p>{{ $t('projectTitle') }}</p>
    </div>
    <div class="fliter">
      <div class="multi-select-phone">
        <div class="multi-select-botton" @click="formModalVisible = true">
          <filterIcon />
        </div>
      </div>
      <div class="multi-select-labtop">
        <div class="multi-select">
          <FormCheckboxDropdown
            :placeholder="$t('ProjectCategoryLabel')"
            :options="categoryOptions"
            :checked-values="filterFields.category"
            @update:checked-values="
              updateFilterFields({ field: 'category', payload: $event })
            "
            @clear="updateFilterFields({ field: 'category', payload: $event })"
            @change="onChangeCategory"
          />
        </div>
        <div class="multi-select">
          <FormCheckboxDropdown
            :placeholder="$t('issueLabel')"
            :options="issueOptions"
            :checked-values="filterFields.issue"
            @update:checked-values="
              updateFilterFields({ field: 'issue', payload: $event })
            "
            @clear="updateFilterFields({ field: 'issue', payload: $event })"
            @change="onChangeIssue"
          />
        </div>
        <div class="multi-select-with-color">
          <FormCheckboxDropdownWithColor
            :placeholder="$t('sdgsLabel')"
            :options="SDGsOptions"
            :checked-values="filterFields.SDGs"
            @update:checked-values="
              updateFilterFields({ field: 'SDGs', payload: $event })
            "
            @clear="updateFilterFields({ field: 'SDGs', payload: $event })"
            @change="onChangeSDGs"
          />
        </div>
      </div>
      <div class="search-bar">
        <SearchBar
          :value="filterFields.keyword"
          @update:value="
            updateFilterFields({ field: 'keyword', payload: $event })
          "
          @change="onChangeKeyword"
        />
      </div>
    </div>
    <div
      class="district-title"
      :style="{ fontWeight: filterFields.region === '' ? '600' : null }"
    >
      <span v-if="filterFields.region === null">{{ $t('location') }}</span>
      <span v-else>{{ regionDisplayValue }}</span>
    </div>
    <div class="map-container">
      <div class="RegionSelect-labtop">
        <RegionalMenuPanel
          :options="regionalOptions"
          :city="filterFields.city"
          @update:city="updateFilterFields({ field: 'city', payload: $event })"
          :district="filterFields.district"
          @update:district="
            updateFilterFields({ field: 'district', payload: $event })
          "
          :value="filterFields.region"
          @update:value="
            updateFilterFields({ field: 'region', payload: $event })
          "
          @update:display-value="regionDisplayValue = $event"
          @change="onChangeRegion"
        />
      </div>
      <div class="RegionSelect-phone">
        <div class="RegionSelect-item">
          <BaseSelect
            :placeholder="$t('regionSelect')"
            :options="cityOptions"
            :value="filterFields.city"
            @update:value="
              updateFilterFields({ field: 'city', payload: $event })
            "
            @clear="updateFilterFields({ field: 'city', payload: $event })"
            @change="onChangeCity"
          />
        </div>
        <div
          class="RegionSelect-item"
          v-if="filterFields.region !== '國外場域' && filterFields.city"
        >
          <BaseSelect
            :placeholder="$t('districtSelect')"
            :options="districtOptions"
            :value="filterFields.district"
            @update:value="
              updateFilterFields({ field: 'district', payload: $event })
            "
            @clear="updateFilterFields({ field: 'district', payload: $event })"
            @change="onChangeDistrict"
          />
        </div>
      </div>
      <div class="PhaseSecondProjectMap-map">
        <LottieAnimation
          v-if="isLoading"
          ref="loadingPinAnimation"
          :animationData="loadingPinAnimation"
        />
        <div class="global-field" v-if="filterFields.region === '國外場域'">
          <div class="global-field-content">
            <img
              src="@/assets/images/views/F-ProjectMap/project-global-field-icon.png"
              :alt="$i18n.t('PhaseSecondProjectMap.region.overseas')"
            />
            <span>
              {{ $i18n.t('PhaseSecondProjectMap.region.overseas') }}
            </span>
          </div>
        </div>
        <OpenStreetMap
          v-show="filterFields.region !== '國外場域'"
          ref="OpenStreetMap"
          :markers="$store.getters['phaseSecondProjectMap/regionalCount']"
          :active-region.sync="map.activeRegion"
          @click-marker="onClickMarker"
          :center="map.center"
          @update:center="map.center = $event"
          @location-found="onLocationFound"
        />
      </div>
    </div>
    <!-- <button type="button" @click="$refs.loadingPinAnimation.play()">
        play animation
      </button>
      <button type="button" @click="$refs.loadingPinAnimation.pause()">
        pause animation
      </button>
      <button type="button" @click="$refs.loadingPinAnimation.stop()">
        stop animation
      </button> -->

    <div class="project-list">
      <div class="project-list-title">
        <span>{{ $t('projectList') }}</span>
        <div class="per-page-select">
          <PaginationSizeChanger
            :total="projectCount"
            :page-size="pageSize"
            @update:page-size="pageSize = $event"
            @change="onChangePageSize"
          />
        </div>
      </div>
      <p v-if="projectCount === 0" class="project-item-no-data">
        {{ $t('noResult') }}
      </p>
      <template v-else>
        <div
          class="project-item"
          v-for="project in projects"
          :key="`prject2-${project.id}`"
        >
          <div class="project-item-title">
            {{ project.school }}
          </div>
          <div class="project-item-info">
            <Badge isPill>{{ project.category }}</Badge>
            <Badge isPill>{{ project.issue }}</Badge>
            <Badge
              isPill
              :color="getSDGsColorByName(sdg)"
              v-for="(sdg, index) in project.sdg"
              :key="`prject2-${project.id}-sdg-${index}`"
              >{{ sdg }}</Badge
            >
          </div>
          <div class="project-item-content">
            <router-link
              :to="{
                name: $route.name,
                query: { id: project.id },
                params: { lang: $i18n.locale === 'en' ? 'en' : null }
              }"
            >
              {{ project.title }}
            </router-link>
          </div>
        </div>
      </template>
    </div>

    <Pagination
      v-if="projectCount !== 0"
      :current-page="currentPage"
      @update:currentPage="currentPage = $event"
      :page-size="pageSize"
      @update:pageSize="pageSize = $event"
      :total="projectCount"
      @change="onChangePagination"
    />

    <FormModal
      :title="$t('filter')"
      type="search"
      modal-class="project2-form-modal"
      :visible="formModalVisible"
      @change="formModalVisible = $event"
      @cancel="onCancel"
      @search="onSearch"
    >
      <FormCheckbox
        :title="$t('ProjectCategoryLabel')"
        :options="categoryOptions"
        :checked-values="filterFields.category"
        @update:checked-values="
          updateFilterFields({ field: 'category', payload: $event })
        "
        @clear="updateFilterFields({ field: 'category', payload: $event })"
        @change="onChangeCategory"
      />
      <FormCheckbox
        :title="$t('issueLabel')"
        :options="issueOptions"
        :checked-values="filterFields.issue"
        @update:checked-values="
          updateFilterFields({ field: 'issue', payload: $event })
        "
        @clear="updateFilterFields({ field: 'issue', payload: $event })"
        @change="onChangeIssue"
      />
      <FormCheckbox
        :title="$t('sdgsLabel')"
        :options="SDGsOptions"
        :checked-values="filterFields.SDGs"
        @update:checked-values="
          updateFilterFields({ field: 'SDGs', payload: $event })
        "
        @clear="updateFilterFields({ field: 'SDGs', payload: $event })"
        @change="onChangeSDGs"
      />
    </FormModal>

    <DetailModal
      :title="$t('projectContentTitle')"
      modal-class="project2-detail-modal"
      :visible="detailModalVisible"
      @change="onChangeDetailModalVisible"
    >
      <template v-if="activeProject">
        <header class="project-detail-modal-header">
          <p class="school">{{ activeProject.school }}</p>
          <h3 class="project-name">{{ activeProject.title }}</h3>
          <div class="typetag">
            <Badge isPill>{{ activeProject.category }}</Badge>
            <Badge isPill>{{ activeProject.issue }}</Badge>
          </div>
          <div class="project-sort">
            <div
              class="project-sort-type"
              v-for="sdg in activeProject.sdg"
              :key="sdg"
            >
              <div
                class="project-sort-type-color"
                :style="{ backgroundColor: getSDGsColorByName(sdg) }"
              ></div>
              <p class="project-sort-type-text">{{ sdg }}</p>
            </div>
          </div>
        </header>

        <section class="project-detail-modal-content">
          <div
            class="project-picture"
            v-if="activeProject.pictures.length !== 0"
          >
            <div
              class="project-picture-item"
              v-for="(picture, index) in activeProject.pictures"
              :key="index"
            >
              <img :src="picture" :alt="activeProject.title" />
            </div>
          </div>

          <div class="sdg-metrics">
            <p class="sdg-metrics-item">
              {{ $t('sdgsTitle') }}：
              {{
                activeProject.sdg
                  .map((item, index) => `${index + 1}. ${item}`)
                  .join('、')
              }}
            </p>
          </div>
          <div class="progect-issue">
            <p class="progect-issue-item">
              {{ $t('issueTitle') }}：{{ activeProject.issue }}
            </p>
          </div>
          <div class="progect-issue-keyword" v-if="$i18n.locale === 'zh'">
            <p class="keyword-item">
              {{ $t('keyWordTitle') }}：{{ activeProject.key_word.join('、') }}
            </p>
          </div>
          <div class="project-summary">
            <span class="project-summary-title">
              {{ $t('abstractTitle') }}：
            </span>
          </div>
          <div class="project-target">
            <span class="project-target-title">
              {{ $t('projectTargetTitle') }}：
            </span>
            <p class="project-target-content">
              {{ activeProject.project_target }}
            </p>
          </div>
          <div class="execution-strategy">
            <span class="execution-strategy-title">
              {{ $t('projectStrategyTitle') }}：
            </span>
            <p class="execution-strategy-content">
              {{ activeProject.project_strategy }}
            </p>
          </div>
          <div class="project-kpi">
            <span class="project-kpi-title">
              {{ $t('projectKpiTitle') }}：
            </span>
            <p class="project-kpi-content">{{ activeProject.project_KPI }}</p>
          </div>
          <div class="project-host" v-if="$i18n.locale === 'zh'">
            <span class="project-host-title">
              計畫主持人：
            </span>
            <span class="project-host-item">
              {{ activeProject.project_host }}
            </span>
          </div>
          <div class="project-contact" v-if="$i18n.locale === 'zh'">
            <div class="project-contact-title">
              計畫聯絡人：
              <span class="project-contact-item">
                {{ activeProject.contact.name }}
              </span>
              <span class="project-contact-item">
                單位及職稱：
                {{
                  `${activeProject.contact.unit}${activeProject.contact.jobTitle}`
                }}
              </span>
              <span class="project-contact-item">
                電話：{{ activeProject.contact.phone }}
              </span>
              <span class="project-contact-item">
                電子信箱：{{ activeProject.contact.email }}
              </span>
            </div>
          </div>
        </section>
      </template>
    </DetailModal>
  </main>
</template>

<i18n lang="yaml">
zh: 
  projectTitle: "第二期(109-111年度)大學社會責任實踐計畫核定蹲點地圖 (進行中)"
  ProjectCategoryLabel: "計畫類別"
  issueLabel: "議題分類"
  sdgsLabel: "SDGs"
  location: "選擇地區"
  regionSelect: "選擇地區"
  districtSelect: "選擇區域"
  projectList: "計畫列表"
  noResult: "目前沒有任何資料"
  filter: "篩選條件"
  projectContentTitle: "計畫內容"
  sdgsTitle: "聯合國永續發展指標 (SDGs)"
  issueTitle: "計畫議題"
  keyWordTitle: "關鍵字"
  abstractTitle: "計畫摘要"
  projectTargetTitle: "問題意識與計畫目標"
  projectStrategyTitle: "計畫執行策略與作法"
  projectKpiTitle: "預期效益與關鍵績效指標"
en: 
  projectTitle: "Map of USR teams on site, Phase II (2020-2022)"
  ProjectCategoryLabel: "Categories"
  issueLabel: "Levels"
  sdgsLabel: "SDGs"
  location: "Location"
  regionSelect: "Select a Region"
  districtSelect: "Select a District"
  projectList: "List"
  noResult: "No result"
  filter: "Filter"
  projectContentTitle: "Content"
  sdgsTitle: "SDGs"
  issueTitle: "Issue"
  keyWordTitle: "Key Word"
  abstractTitle: "Abstract"
  projectTargetTitle: "Project Target"
  projectStrategyTitle: "Project Strategy"
  projectKpiTitle: "Project KPI"
</i18n>

<script>
import { mapGetters, mapMutations, mapActions } from 'vuex';

import loadingPinAnimation from '@/assets/animations/loading-pin.json';

import FormCheckbox from '@/components/shared/FormCheckbox.vue';
import FormCheckboxDropdown from '@/components/shared/FormCheckboxDropdown.vue';
import FormCheckboxDropdownWithColor from '@/components/Project/FormCheckboxDropdownWithColor.vue';
import SearchBar from '@/components/shared/SearchBar.vue';
import RegionalMenuPanel from '@/components/Project/RegionalMenuPanel.vue';
import BaseSelect from '@/components/other/BaseSelect.vue';
import Badge from '@/components/shared/Badge.vue';
import PaginationSizeChanger from '@/components/shared/PaginationSizeChanger.vue';
import Pagination from '@/components/shared/Pagination.vue';
import FormModal from '@/components/shared/FormModal.vue';
import DetailModal from '@/components/shared/DetailModal';
import LottieAnimation from '@/components/shared/LottieAnimation';
import OpenStreetMap from '@/components/Project/OpenStreetMap.vue';

import filterIcon from '@/assets/images/icons/icon-filter.svg';

export default {
  name: 'PhaseSecondProjectMap',
  components: {
    FormCheckbox,
    FormCheckboxDropdown,
    FormCheckboxDropdownWithColor,
    SearchBar,
    RegionalMenuPanel,
    BaseSelect,
    Badge,
    PaginationSizeChanger,
    Pagination,
    FormModal,
    DetailModal,
    LottieAnimation,
    OpenStreetMap,

    filterIcon
  },
  data() {
    return {
      map: {
        center: [23.973875, 120.982024],
        activeRegion: null
      },

      isLoading: false,
      regionDisplayValue: '',

      currentPage: 1,
      pageSize: 10,

      formModalVisible: false,
      detailModalVisible: false,

      previousRouteQuery: {},

      loadingPinAnimation
    };
  },
  computed: {
    ...mapGetters({
      categoryOptions: 'phaseSecondProjectMap/categoryOptions',
      issueOptions: 'phaseSecondProjectMap/issueOptions',
      SDGsOptions: 'phaseSecondProjectMap/SDGsOptions',
      filterFields: 'phaseSecondProjectMap/filterFields',
      regionalOptions: 'phaseSecondProjectMap/regionalOptions',
      cityOptions: 'phaseSecondProjectMap/cityOptions',
      districtOptions: 'phaseSecondProjectMap/districtOptions',
      projects: 'phaseSecondProjectMap/projects',
      projectCount: 'phaseSecondProjectMap/total'
    }),

    pageOptions() {
      return {
        currentPage: this.currentPage,
        pageSize: this.pageSize
      };
    },
    activeProject: {
      get() {
        return this.$store.getters['phaseSecondProjectMap/activeProject'];
      },
      set(value) {
        this.$store.commit('phaseSecondProjectMap/activeProject', value);
      }
    },
    activeProjectId: {
      get() {
        return this.$store.getters['phaseSecondProjectMap/activeProjectId'];
      },
      set(value) {
        this.$store.commit('phaseSecondProjectMap/activeProjectId', value);
      }
    }
  },
  beforeRouteEnter(to, from, next) {
    next(async vm => {
      if (to.query.id) {
        await vm.fetchProjectById(to.query.id);
        vm.activeProjectId = to.query.id;
        vm.detailModalVisible = true;
      }
    });
  },
  async beforeRouteUpdate(to, from, next) {
    if (to.query.id) {
      await this.fetchProjectById(to.query.id);
      this.activeProjectId = to.query.id;
      this.detailModalVisible = true;
    } else {
      this.activeProjectId = null;
      this.detailModalVisible = false;
    }

    // checkQueryOfTimeAndType(
    //   { route: to, timeQueryFormat: 'byYear' },
    //   function onCheckTypeQueryComplete({ year }) {
    //     store.commit('announce/year', year);
    //   },
    //   function onCheckTimeQueryComplete(type) {
    //     store.commit('announce/category', type);
    //   }
    // );

    // await this.fetchAnnounces();
    next();
  },
  watch: {
    ['$route.query']() {
      if (Boolean(this.$route.query.type) || Boolean(this.$route.query.time)) {
        this.previousRouteQuery = this.$route.query;
      }
    }
  },
  methods: {
    ...mapMutations({
      updateFilterFields: 'phaseSecondProjectMap/filterFields'
    }),
    ...mapActions({
      fetchProjectRegionalCount:
        'phaseSecondProjectMap/fetchProjectRegionalCount',
      fetchCityByLatLng: 'phaseSecondProjectMap/fetchCityByLatLng',
      fetchLatLngByRegion: 'phaseSecondProjectMap/fetchLatLngByRegion',
      fetchProjectById: 'phaseSecondProjectMap/fetchProjectById'
    }),

    getSDGsColorByName(name) {
      return this.SDGsOptions.find(option => option.text === name)?.color;
    },

    onChangeDetailModalVisible(visible) {
      this.detailModalVisible = visible;
      if (!visible) {
        this.activeProjectId = null;
        this.activeProject = null;

        this.$router.push({
          name: this.$route.name,
          query: this.previousRouteQuery,
          params: { lang: this.$i18n.locale === 'en' ? 'en' : null }
        });
      }
    },

    async onChangeCategory() {
      await this.fetchProjectRegionalCount();
      this.onChangeHandler();
    },
    async onChangeIssue() {
      await this.fetchProjectRegionalCount();
      this.onChangeHandler();
    },
    async onChangeSDGs() {
      await this.fetchProjectRegionalCount();
      this.onChangeHandler();
    },
    async onChangeKeyword() {
      await this.fetchProjectRegionalCount();
      this.onChangeHandler();
    },
    onCancel() {},
    onSearch() {},

    async onLocationFound(latlng) {
      // 最差的情況只能知道在台灣，但不知在哪個縣市
      // - 知道縣市：縮放 + 圈選該二級行政區
      // - 只知道在台灣 (不知道縣市)：不處理
      const city = await this.fetchCityByLatLng(latlng);

      if (city) {
        const region = city;
        this.updateFilterFields({ field: 'region', payload: region });
        this.updateFilterFields({ field: 'city', payload: city });
        this.updateFilterFields({ field: 'district', payload: null });

        const regionResult = await this.fetchLatLngByRegion(region);
        this.$refs.OpenStreetMap.changeRegion(regionResult);
        this.onChangeHandler();
      }
    },

    async onClickMarker(marker) {
      const regionResult = await this.fetchLatLngByRegion(
        marker.district.value
      );

      this.updateFilterFields({ field: 'region', payload: marker.region });
      this.updateFilterFields({ field: 'city', payload: marker.city.value });
      this.updateFilterFields({
        field: 'district',
        payload: marker.district.value
      });
      this.regionDisplayValue = `${marker.city.text} > ${marker.district.text}`;

      if (regionResult.type === 'GetSearchResults') {
        const { value: region } = regionResult;
        this.$refs.OpenStreetMap.boundRegion(region);
      }
      if (regionResult.type === 'NoSearchResults') {
        this.$refs.OpenStreetMap.setMapView(marker.latLng, 11);
      }
      this.onChangeHandler();
    },
    async onChangeRegion() {
      if ([null, '國外場域'].includes(this.filterFields.region)) {
        this.$refs.OpenStreetMap.initMapView();
        this.map.activeRegion = null;
      } else {
        const regionResult = await this.fetchLatLngByRegion();
        this.$refs.OpenStreetMap.changeRegion(regionResult);
        this.map.activeRegion = this.filterFields.region;
      }
      this.onChangeHandler();
    },
    async onChangeCity(value) {
      this.updateFilterFields({ field: 'district', payload: null });
      this.updateFilterFields({
        field: 'region',
        payload: this.filterFields.city
      });

      const cityOption = this.cityOptions.find(
        option => option.value === value
      );

      this.regionDisplayValue = cityOption.text;

      if ([null, '國外場域'].includes(this.filterFields.region)) {
        this.$refs.OpenStreetMap.initMapView();
        this.map.activeRegion = null;
      } else {
        const regionResult = await this.fetchLatLngByRegion();
        this.$refs.OpenStreetMap.changeRegion(regionResult);
        this.map.activeRegion = this.filterFields.region;
      }

      this.onChangeHandler();
    },
    async onChangeDistrict(value) {
      this.updateFilterFields({
        field: 'region',
        payload: `${this.filterFields.city}${this.filterFields.district}`
      });

      const cityOption = this.cityOptions.find(
        option => option.value === this.filterFields.city
      );
      const districtOption = this.districtOptions.find(
        option => option.value === value
      );

      this.regionDisplayValue = `${cityOption.text} > ${districtOption.text}`;

      if ([null, '國外場域'].includes(this.filterFields.region)) {
        this.$refs.OpenStreetMap.initMapView();
        this.map.activeRegion = null;
      } else {
        const regionResult = await this.fetchLatLngByRegion();
        this.$refs.OpenStreetMap.changeRegion(regionResult);
        this.map.activeRegion = this.filterFields.region;
      }

      this.onChangeHandler();
    },
    async onChangePageSize() {
      this.onChangeHandler();
    },
    async onChangePagination() {
      await this.fetchProjects();
      window.scrollTo(0, 0);
    },

    async onChangeHandler() {
      this.currentPage = 1;
      await this.fetchProjects();
    },
    async fetchProjects() {
      await this.$store.dispatch(
        'phaseSecondProjectMap/fetchProjects',
        this.pageOptions
      );
    }
  }
};
</script>

<style lang="scss" scoped>
.project-title {
  p {
    margin-bottom: 16px;
    color: $greyish-brown;
    font-size: 20px;
    font-weight: 600;
    @include media(lg) {
      font-size: 24px;
    }
  }
}
.fliter {
  margin-bottom: 16px;

  display: flex;

  position: relative;
  .multi-select-phone {
    flex: 1;
    align-self: center;

    @include media(md) {
      display: none;
    }

    .multi-select-botton {
      width: 44px;
      height: 44px;
      margin-right: 10px;

      cursor: pointer;

      svg {
        width: 100%;
        object-fit: cover;
      }
    }
  }
  .multi-select-labtop {
    display: none;
    @include media(md) {
      max-width: 566px;
      margin-right: 16px;

      display: flex;
      flex: 1;
    }
    .multi-select {
      @include media(md) {
        margin-right: 16px;

        flex: 1;
      }
    }
    .multi-select-with-color {
      margin-bottom: 16px;

      @include media(md) {
        margin: 0;
        flex: 1;
      }
    }
  }
  .search-bar {
    flex: 6;
    @include media(md) {
      flex: 0 0 34%;
    }
  }
}

.district-title {
  margin-bottom: 8px;

  display: none;

  @include media(md) {
    display: block;
  }
}
.map-container {
  margin-bottom: 40px;
  position: relative;
  @include media(md) {
    display: flex;
  }
}
.RegionSelect-labtop {
  display: none;
  @include media(md) {
    width: 323px;
    height: 500px;
    margin-right: 16px;

    display: block;
  }
}
.RegionSelect-phone {
  margin: 0 auto 16px;

  @include media(md) {
    display: none;
  }
  .RegionSelect-item {
    height: 60px;

    + .RegionSelect-item {
      margin-top: 16px;
    }

    @include media(md) {
      display: none;
    }

    &::v-deep {
      .BaseSelect-selection {
        font-weight: normal;

        &.is-selected {
          color: $greyish-brown;
        }
      }
    }
  }
}
.PhaseSecondProjectMap-map {
  height: 600px * (2 / 3);
  margin: 0 -15px;

  @include media(md) {
    width: 849px;
    height: 500px;
    margin: 0;

    display: block;
  }

  .global-field {
    height: 100%;

    font-size: 0;
    text-align: center;

    &::after {
      content: '';
      height: 100%;
      display: inline-block;
      vertical-align: middle;
    }

    &-content {
      margin-top: 150px;

      display: inline-block;
      vertical-align: middle;

      @include media(md) {
        margin-top: 0;
      }
    }

    span {
      margin-top: 18px;

      display: block;

      font-size: 17px;
      font-weight: 600;

      color: $greyish-brown;
    }
  }
}
.project-list {
  &-title {
    margin-bottom: 20px;
    @include media(md) {
      display: flex;
      justify-content: space-between;
    }
    span {
      font-size: 24px;
      line-height: 42px;
    }
  }
}

.project-item-no-data {
  font-size: 15px;
  color: $warm-grey;
}

.project-item {
  padding: 25px 0;
  border-bottom: solid 3px $greenish-teal;

  &-title {
    margin-bottom: 8px;

    font-size: 17px;
    font-weight: 600;

    color: $greyish-brown;
  }
  &-info {
    .Badge {
      margin: 0 8px 8px 0;
    }
  }
  &-content {
    color: $greyish-brown;
  }
}

.Pagination {
  margin-top: 40px;
}
</style>

<style lang="scss">
.project2-form-modal {
  .FormCheckbox + .FormCheckbox {
    margin-top: 6px;
  }
}

.project2-detail-modal {
  .project-detail-modal-header {
    margin-bottom: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .school {
      color: $warm-grey;
      line-height: 1.5;
    }
    .project-name {
      font-size: 24px;
      color: $greyish-brown;
    }
    .typetag {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      .Badge {
        margin: 0 16px 8px 0;
      }
    }
    .project-sort {
      width: 80%;
      display: flex;
      flex-wrap: wrap;
      @include media(sm) {
        text-align: center;
        justify-content: center;
      }
      &-type {
        margin: 0 16px 8px 0;
        display: flex;
        justify-content: center;
        &:last-of-type {
          margin-right: 0;
        }
        &-color {
          width: 16px;
          height: 16px;
          margin-right: 8px;

          line-height: 16px;
          vertical-align: middle;

          border-radius: 16px;
          background-color: $rouge-two;
        }
        &-text {
          flex: 2 0 0;
          line-height: 16px;
          vertical-align: middle;
        }
      }
    }
  }
  .project-detail-modal-content {
    line-height: 1.7;
  }

  .project-picture {
    @include media(md) {
      margin-bottom: 30px;

      display: flex;
      justify-content: space-between;
    }
  }
  .project-picture-item {
    margin: 0 0 16px 0;
    @include media(md) {
      flex: 0 0 calc((100% - 30px) / 3);
      height: 200px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .sdg-metrics {
    margin-bottom: 30px;
    // display: flex;
  }
  .progect-issue {
    margin-bottom: 30px;
  }
  .progect-issue-keyword {
    margin-bottom: 30px;
    .keyword-item {
      &::after {
        content: '、';
      }
      &:last-child::after {
        content: '';
      }
    }
  }
  .project-summary {
    margin-bottom: 30px;
  }
  .project-target {
    margin-bottom: 30px;
  }
  .execution-strategy {
    margin-bottom: 30px;
  }
  .project-kpi {
    margin-bottom: 30px;
  }
  .project-contact {
    display: flex;
    flex-wrap: wrap;
    &-item {
      &::after {
        content: '|';
        margin: 0 8px;
      }
      &:last-of-type::after {
        content: ' ';
      }
    }
  }
}
</style>
