<template>
  <main class="ProjectCalendar wrap">
    <section class="ProjectCalendar-requirement">
      <DateTypeRadio
        :type="filterTimeType"
        @update:type="updateFilterTimeType"
        @change="onChangeFilterTimeType"
      />
      <div class="calendar">
        <a-config-provider :locale="zh_TW">
          <div v-if="filterTimeType === '不限時間'" class="unlimit-time-picker">
            選擇日期
          </div>

          <DatePicker
            v-else-if="filterTimeType === '單日搜尋'"
            disable-before-date="2019-05-19"
            :value="filterFields.singleDay"
            @update:value="
              updateFilterFields({ field: 'singleDay', payload: $event })
            "
            @change="onChangeDatePicker"
          />

          <RangePicker
            v-else-if="filterTimeType === '範圍搜尋'"
            disable-before-date="2019-05-19"
            :value="filterFields.rangeDate"
            @update:value="
              updateFilterFields({ field: 'rangeDate', payload: $event })
            "
            @change="onChangeRangePicker"
          />
        </a-config-provider>
      </div>
      <div class="multi-select-labtop">
        <FormRadioDropdown
          placeholder="區域"
          :options="[
            { text: '全部', value: null },
            { text: '北北基', value: '北北基' },
            { text: '桃竹苗宜花', value: '桃竹苗宜花' },
            { text: '中彰投', value: '中彰投' },
            { text: '雲嘉南', value: '雲嘉南' },
            { text: '高屏澎東', value: '高屏澎東' }
          ]"
          :checked-value="filterFields.district"
          @update:checked-value="
            updateFilterFields({ field: 'district', payload: $event })
          "
          @clear="updateFilterFields({ field: 'district', payload: $event })"
          @change="onChangeDistrict"
        />
        <FormRadioDropdown
          placeholder="計畫類型"
          :options="[
            { text: '全部', value: null },
            { text: '大學特色類萌芽型', value: 'A' },
            { text: '大學特色類深耕型', value: 'B' },
            { text: '國際連結類萌芽型', value: 'C' },
            { text: '國際連結類深耕型', value: 'D' }
          ]"
          :checked-value="filterFields.category"
          @update:checked-value="
            updateFilterFields({ field: 'category', payload: $event })
          "
          @clear="updateFilterFields({ field: 'category', payload: $event })"
          @change="onChangeCategory"
        />
        <FormRadioDropdown
          placeholder="行程類型"
          :options="[
            { text: '全部', value: null },
            { text: '場域活動', value: '場域活動' },
            { text: '重要活動', value: '重要活動' },
            { text: '其他', value: '其他' },
            { text: '課程', value: '課程' }
          ]"
          :checked-value="filterFields.schedule"
          @update:checked-value="
            updateFilterFields({ field: 'schedule', payload: $event })
          "
          @clear="updateFilterFields({ field: 'schedule', payload: $event })"
          @change="onChangeSchedule"
        />
      </div>
      <div class="fliter">
        <div class="multi-select">
          <div class="multi-select-botton" @click="formModalVisible = true">
            <filterIcon />
          </div>
        </div>
        <div class="search-bar">
          <SearchBar
            :delay="1200"
            :value="filterFields.keyword"
            @update:value="
              updateFilterFields({ field: 'keyword', payload: $event })
            "
            @change="onChangeKeyword"
          />
        </div>
      </div>
      <div class="area-school-labtop">
        <FormCheckboxSchool
          title=""
          :district="filterFields.district"
          :checkedValues="filterFields.schools"
          @update:checkValues="
            updateFilterFields({ field: 'schools', payload: $event })
          "
          @change="onChangeSchools"
        />
      </div>
    </section>
    <section class="ProjectCalendar-collapse">
      <section class="loading" v-show="isLoading">
        <div class="loading-icon">
          <img
            src="@/assets/images/logo_2x.png"
            alt="教育部大學社會責任推動中心"
          />
        </div>
        <LottieAnimation
          ref="loadingAnimation"
          :animationData="loadingAnimation"
        />
      </section>

      <ProjectCalendarCollapse
        v-show="!isLoading"
        :project-count="projectCount"
        :projects-id="projectsID"
        :projects-by-date-group="projectsByDateGroup"
      />
    </section>

    <FormModal
      title="篩選條件"
      type="search"
      modal-class="project-calendar-form-modal"
      :visible="formModalVisible"
      @change="formModalVisible = $event"
      @cancel="onCancel"
      @search="onSearch"
    >
      <FormRadio
        title="區域"
        :options="[
          { text: '全部', value: null },
          { text: '北北基', value: '北北基' },
          { text: '桃竹苗宜花', value: '桃竹苗宜花' },
          { text: '中彰投', value: '中彰投' },
          { text: '雲嘉南', value: '雲嘉南' },
          { text: '高屏澎東', value: '高屏澎東' }
        ]"
        :checked-value="filterFields.district"
        @update:checked-value="
          updateFilterFields({ field: 'district', payload: $event })
        "
        @change="onChangeDistrict"
        hide-clear
      />
      <FormRadio
        title="計畫類型"
        :options="[
          { text: '全部', value: null },
          { text: '大學特色類萌芽型', value: 'A' },
          { text: '大學特色類深耕型', value: 'B' },
          { text: '國際連結類萌芽型', value: 'C' },
          { text: '國際連結類深耕型', value: 'D' }
        ]"
        :checked-value="filterFields.category"
        @update:checked-value="
          updateFilterFields({ field: 'category', payload: $event })
        "
        @change="onChangeCategory"
        hide-clear
      />
      <FormRadio
        title="行程類型"
        :options="[
          { text: '全部', value: null },
          { text: '場域活動', value: '場域活動' },
          { text: '重要活動', value: '重要活動' },
          { text: '其他', value: '其他' },
          { text: '課程', value: '課程' }
        ]"
        :checked-value="filterFields.schedule"
        @update:checked-value="
          updateFilterFields({ field: 'schedule', payload: $event })
        "
        @change="onChangeSchedule"
        hide-clear
      />
      <FormCheckboxSchool
        title="學校名稱"
        :district="filterFields.district"
        :checkedValues="filterFields.schools"
        @update:checkValues="
          updateFilterFields({ field: 'schools', payload: $event })
        "
        @change="onChangeSchools"
      />
    </FormModal>
  </main>
</template>

<script>
import moment from 'moment';
import { mapGetters, mapMutations, mapActions } from 'vuex';

import loadingAnimation from '@/assets/animations/loading-usr.json';

import zh_TW from 'ant-design-vue/lib/locale-provider/zh_TW';

import DateTypeRadio from '@/components/Project/DateTypeRadio.vue';
import DatePicker from '@/components/Project/DatePicker.vue';
import RangePicker from '@/components/Project/RangePicker.vue';
import SearchBar from '@/components/shared/SearchBar.vue';
import FormRadioDropdown from '@/components/shared/FormRadioDropdown.vue';
import FormCheckboxSchool from '@/components/shared/FormCheckboxSchool.vue';
import LottieAnimation from '@/components/shared/LottieAnimation';
import ProjectCalendarCollapse from '@/components/Project/ProjectCalendarCollapse.vue';
import FormModal from '@/components/shared/FormModal.vue';
import FormRadio from '@/components/shared/FormRadio.vue';

import filterIcon from '@/assets/images/icons/icon-filter.svg';

export default {
  name: 'ProjectCalendar',
  components: {
    DateTypeRadio,
    DatePicker,
    RangePicker,
    SearchBar,
    FormRadioDropdown,
    FormCheckboxSchool,
    LottieAnimation,
    ProjectCalendarCollapse,
    FormModal,
    FormRadio,

    filterIcon
  },
  data() {
    return {
      loadingAnimation,
      zh_TW,
      formModalVisible: false
    };
  },
  computed: {
    ...mapGetters({
      filterTimeType: 'projectCalendar/filterTimeType',
      filterFields: 'projectCalendar/filterFields',
      projectsByDateGroup: 'projectCalendar/projects',
      projectCount: 'projectCalendar/total',
      projectsID: 'projectCalendar/projectsID'
    }),
    isLoading() {
      return this.projectCount === null;
    }
  },
  methods: {
    moment,

    ...mapMutations({
      updateFilterTimeType: 'projectCalendar/filterTimeType',
      updateFilterFields: 'projectCalendar/filterFields'
    }),
    ...mapActions({
      fetchProjects: 'projectCalendar/fetchProjects'
    }),

    onChangeFilterTimeType(value, previousValue) {
      if (value === '不限時間') {
        this.fetchProjects();
      } else if (previousValue === '不限時間' && value === '單日搜尋') {
        this.fetchProjects();
      } else if (
        previousValue === '不限時間' &&
        value === '範圍搜尋' &&
        this.filterFields.rangeDate.length !== 0
      ) {
        this.fetchProjects();
      } else if (
        previousValue === '範圍搜尋' &&
        value === '單日搜尋' &&
        this.filterFields.rangeDate.length !== 0
      ) {
        this.fetchProjects();
      } else if (
        previousValue === '單日搜尋' &&
        value === '範圍搜尋' &&
        this.filterFields.rangeDate.length !== 0
      ) {
        this.fetchProjects();
      }
    },

    async onChangeDatePicker() {
      await this.fetchProjects();
    },
    async onChangeRangePicker() {
      await this.fetchProjects();
    },

    async onChangeDistrict() {
      await this.fetchProjects();
    },
    async onChangeCategory() {
      await this.fetchProjects();
    },
    async onChangeSchedule() {
      await this.fetchProjects();
    },
    async onChangeSchools() {
      await this.fetchProjects();
    },
    async onChangeKeyword() {
      await this.fetchProjects();
    },
    onCancel() {},
    onSearch() {}
  }
};
</script>

<style lang="scss" scoped>
.ProjectCalendar {
  @include media(md) {
    display: flex;
  }

  &-requirement,
  &-collapse {
    @include media(md) {
      height: calc(100vh - 150px);

      overflow: auto;
    }
  }

  &-requirement {
    @include media(md) {
      padding-right: 16px;
      margin-right: 16px;

      flex: 0 0 270px;
    }
    @include media(lg) {
      margin-right: 36px;
    }
  }

  &-collapse {
    position: relative;

    @include media(md) {
      flex: 1;
    }
  }

  .DateTypeRadio {
    margin-bottom: 8px;
  }
}

.loading {
  width: 270px;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  top: 100px;
  left: 0;
  right: 0;
  margin: 0 auto;

  &-icon {
    position: absolute;
  }
}

.calendar {
  margin-bottom: 16px;
}

.unlimit-time-picker {
  padding: 0 16px;

  font-size: 17px;
  font-weight: 600;
  text-align: center;
  line-height: 54px;

  color: $pale-grey-two;
  border-radius: 6px;
  border: 3px solid $pale-grey-two;

  user-select: none;
  cursor: not-allowed;
}

.fliter {
  margin-bottom: 16px;

  display: flex;
  align-items: center;
  .multi-select {
    margin-right: 10px;

    cursor: pointer;

    @include media(md) {
      display: none;
    }
  }
  .search-bar {
    flex: 2 0 0;
  }
}
.multi-select-labtop {
  display: none;
  @include media(md) {
    display: block;
  }
  .FormRadioDropdown {
    margin-bottom: 16px;
  }
}
.area-school-labtop {
  display: none;
  @include media(md) {
    display: block;
  }
}
</style>

<style lang="scss">
.project-calendar-form-modal {
  .FormRadio {
    margin-bottom: 24px;
  }
}
</style>
