<template>
  <footer>
    <div @click="BackToTop" class="back-to-top">
      <BackToToop />
    </div>
    <div v-if="$i18n.locale === 'zh'" class="chinese-footer-logo">
      <img
        src="@/assets/images/shared/footer-logo.png"
        alt="教育部大學社會責任推動中心"
      />
    </div>
    <div v-if="$i18n.locale === 'en'" class="english-footer-logo">
      <img
        class="english-footer-logo-laptop"
        src="@/assets/images/shared/footer-logo-en.png"
        alt=""
      />
      <img
        class="english-footer-logo-phone"
        src="@/assets/images/shared/footer-logo-en-phone.png"
        alt=""
      />
    </div>
    <div class="contact">
      <div v-if="$i18n.locale === 'zh'" class="chinese-contact-info">
        <div class="contact-adress">
          <div class="contact-icon">
            <AdressIcon />
          </div>
          <p>
            <a :href="data.address_google_maps_link" target="_blank">
              {{ data.address }}
            </a>
          </p>
        </div>
        <div class="contact-phone">
          <div class="contact-icon">
            <PhoneIcon />
          </div>
          <div class="phone-info">
            <div class="phone-number-info">
              <p class="phone-number-info-title">總辦專線</p>
              <span
                class="phone-number"
                v-for="(item, index) in nantouOffice"
                :key="index"
              >
                <a :href="`tel:${item.telNumber}`">{{ item.telNumber }}</a>
                <span v-if="item.extension"> 轉 {{ item.extension }}</span>
              </span>
            </div>
            <div class="phone-number-info">
              <p class="phone-number-info-title">北辦專線</p>
              <span
                class="phone-number"
                v-for="(item, index) in taipeiOffice"
                :key="index"
              >
                <a :href="`tel:${item.telNumber}`">{{ item.telNumber }}</a>
                <span v-if="item.extension"> 轉 {{ item.extension }}</span>
                <span class="laptop-size" v-if="item.note">
                  ({{ item.note }})
                </span>
              </span>
            </div>
          </div>
        </div>
        <div class="contact-email">
          <div class="contact-icon">
            <EmailIcon />
          </div>
          <p>
            <a :href="`mailto:${data.email}`">{{ data.email }}</a>
          </p>
        </div>
      </div>
      <div v-if="$i18n.locale === 'en'" class="english-contact-info">
        <div class="contact-adress">
          <div class="contact-icon">
            <AdressIcon />
          </div>
          <p>
            <a :href="data.address_google_maps_link" target="_blank">
              {{ data.address }}
            </a>
          </p>
        </div>
        <div class="contact-phone">
          <div class="contact-icon">
            <PhoneIcon />
          </div>
          <div class="phone-info">
            <div class="phone-number-info">
              <p class="phone-number-info-title">Nantou office</p>
              <span
                class="phone-number"
                v-for="(item, index) in nantouOffice"
                :key="index"
              >
                <a :href="`tel:${item.telNumber}`">{{ item.telNumber }}</a>
                <span v-if="item.extension"> # {{ item.extension }}</span>
              </span>
            </div>
            <div class="phone-number-info">
              <p class="phone-number-info-title">Taipei office</p>
              <span
                class="phone-number"
                v-for="(item, index) in taipeiOffice"
                :key="index"
              >
                <a :href="`tel:${item.telNumber}`">{{ item.telNumber }}</a>
                <span v-if="item.extension"> # {{ item.extension }}</span>
                <span class="laptop-size" v-if="item.note">
                  ({{ item.note }})
                </span>
              </span>
            </div>
          </div>
        </div>
        <div class="contact-email">
          <div class="contact-icon">
            <EmailIcon />
          </div>
          <p>
            <a :href="`mailto:${data.email}`">{{ data.email }}</a>
          </p>
        </div>
      </div>
      <div v-if="$i18n.locale === 'zh'" class="contact-button">
        <BaseButton :to="{ name: 'Contact' }"> 聯絡我們 </BaseButton>
      </div>
    </div>
    <div class="copyright">
      <p>
        Center for University Social Responsibility Ministry of Education, 2020
        All Rights Reserved.
      </p>
    </div>
  </footer>
</template>

<script>
import { FooterAPI } from '@/api';
import { groupBy } from '@/utils/helper.js';

// ====================================
// component
import BaseButton from '@/components/other/BaseButton.vue';
// ====================================
// svg component
import AdressIcon from '@/assets/images/icons/icon-adress-footer.svg';
import EmailIcon from '@/assets/images/icons/icon-email-footer.svg';
import PhoneIcon from '@/assets/images/icons/icon-phone-footer.svg';
import BackToToop from '@/assets/images/icons/icon-back-to-top.svg';
export default {
  name: 'LayoutFooter',
  components: {
    // ====================================
    // component
    BaseButton,
    // ====================================
    // svg component
    AdressIcon,
    EmailIcon,
    PhoneIcon,
    BackToToop
  },
  data() {
    return {
      data: {}
    };
  },
  created() {
    this.getFooterData();
  },
  computed: {
    nantouOffice() {
      const key = this.$i18n.locale === 'zh' ? '總辦專線' : 'Nantou office';
      return this.telephoneDataTransform?.[key] ?? null;
    },
    taipeiOffice() {
      const key = this.$i18n.locale === 'zh' ? '北辦專線' : 'Taipei office';
      return this.telephoneDataTransform?.[key] ?? null;
    },
    telephoneDataTransform() {
      return this.data.tel ? this.getFooterTelString(this.data.tel) : null;
    }
  },
  watch: {
    '$i18n.locale'() {
      this.getFooterData();
    }
  },
  methods: {
    BackToTop() {
      window.scrollTo(0, 0);
    },
    async getFooterData() {
      if (this.$i18n.locale === 'zh') {
        this.data = await FooterAPI.zh.list();
      } else {
        this.data = await FooterAPI.en.list();
      }
    },
    getFooterTelString(value) {
      const allTelsInfo = value.split('\n');
      const completeTelNumber = allTelsInfo.map(tel => {
        const [office, telephone, note] = tel.split(',');
        const [telNumber, extension] = this.parseTelephone(telephone);

        return {
          office,
          telNumber,
          extension: extension ?? null,
          note: note ?? null
        };
      });
      return groupBy(completeTelNumber, item => item.office);
    },
    parseTelephone(telephoneValue) {
      // 拆分中英文語系的電話與分機
      if (this.$i18n.locale === 'zh') {
        return telephoneValue.split('轉');
      } else {
        return telephoneValue.split('#');
      }
    }
  }
};
</script>

<style lang="scss" scoped>
footer {
  padding: 24px 24px 0 24px;
  background-image: url(~@/assets/images/shared/footer_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.back-to-top {
  width: 54px;
  height: 54px;

  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 10;

  background-color: $jade;
  border-radius: 100%;
  box-shadow: 1px 1px 10px 0 rgba(128, 128, 128, 0.6);

  cursor: pointer;

  svg {
    fill: white;
  }
}
.chinese-footer-logo {
  width: 214px;
  height: 94px;
  margin: 0 auto 50px;

  @include media(md) {
    width: 311px;
    height: 130px;
    margin-bottom: 26px;
  }
  img {
    width: 100%;
  }
}

.english-footer-logo {
  max-width: 311px;
  margin: 0 auto 50px;
  @include media(md) {
    width: 700px;
    max-width: none;
    margin-bottom: 44px;
  }
  &-laptop {
    display: none;
    @include media(md) {
      display: block;
    }
  }
  &-phone {
    @include media(md) {
      display: none;
    }
  }
  img {
    width: 100%;
  }
}
.contact {
  max-width: 1300px;
  padding: 37px 16px 0 16px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  border-radius: 20px 20px 0 0;
  background-color: $white;
  @include media(md) {
    padding: 37px 16px 0 16px;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  @include media(lg) {
    padding: 37px 50px 0;
  }
  &-info {
    @include media(md) {
      flex: 0 0 60%;
    }
    @include media(lg) {
      flex: 0 0 60%;
    }
  }
  p {
    margin: 0;

    font-size: 14px;
    color: $greyish-brown;
    line-height: 16px;
  }
  &-icon {
    width: 16px;
    margin-right: 9px;
    svg {
      width: 16px;
    }
  }
  &-adress {
    margin-bottom: 14px;

    display: flex;
    align-items: baseline;
  }
  &-phone {
    margin-bottom: 14px;

    display: flex;
    align-items: baseline;

    .phone-info {
      line-height: 1.5;
      span {
        margin-right: 5px;
        font-size: 14px;
        &:last-of-type {
          margin: 0;
        }
      }
      .laptop-size {
        display: none;
      }
      @include media(lg) {
        span {
          display: inline;
        }
        .laptop-size {
          display: inline;
        }
      }
    }
    .phone-number-info-title {
      margin-right: 8px;

      @include media(lg) {
        display: inline-block;
      }
    }
  }
  &-email {
    margin-bottom: 30px;

    display: flex;
    align-items: baseline;
    @include media(lg) {
      margin-bottom: 14px;
    }
    p {
      font-size: 14px;
    }
  }
  &-button {
    @include media(md) {
      flex: 0 0 40%;
    }
    @include media(lg) {
      flex: 0 0 25%;
    }
  }
}
.copyright {
  max-width: 1300px;
  padding: 18px 16px;
  margin: 0 auto;

  text-align: center;

  background-color: $white;
  @include media(lg) {
    padding: 14px 0;
  }
  p {
    color: $greenish-teal;
    font-size: 13px;
  }
}
</style>
