<template>
  <header>
    <div class="brand-container">
      <div class="brand">
        <h1 title="教育部大學社會責任推動中心" class="m-0">
          <router-link
            :to="{ name: $i18n.locale === 'zh' ? 'Home' : 'HomeEnglish' }"
          >
            <img
              v-if="$i18n.locale === 'zh'"
              src="@/assets/images/main-logo.png"
              alt="教育部大學社會責任推動中心"
            />
            <template v-if="$i18n.locale === 'en'">
              <img
                class="brand-logo"
                src="@/assets/images/logo_2x.png"
                alt="Center for University Social Responsibility Ministry of Education"
              />
              <img
                class="brand-word"
                src="@/assets/images/main-logo-word-en.png"
                alt="Center for University Social Responsibility Ministry of Education"
              />
            </template>
          </router-link>
        </h1>
      </div>
    </div>
  </header>
</template>

<script>
export default {
  name: 'LayoutHeader'
};
</script>

<style lang="scss" scoped>
$header-breakpoint: l;

header {
  $navbar-height: 56px;
  height: $navbar-height;
  padding: 30px 0 24px 0;
  box-sizing: content-box;

  background-color: $beige;

  @include media($header-breakpoint) {
    $logo-height: 72px;
    $logo-margin-bottom: 20px;

    height: $logo-height + $logo-margin-bottom + $navbar-height;
    padding: 20px 0 40px 0;
  }
}

.brand-container {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 0 24px;
  box-sizing: content-box;
}

.brand {
  display: none;

  @include media($header-breakpoint) {
    display: block;

    text-align: center;
  }

  a {
    display: inline-block;
  }
}

// ====================================
// # 英文版 header
.en {
  header {
    $navbar-height: 76px;
    position: relative;

    @include media($header-breakpoint) {
      height: $navbar-height;
      padding: 36px 0;
    }
  }

  .brand {
    display: none;

    @include media($header-breakpoint) {
      display: block;

      position: absolute;
      // 高於 Navbar 的 200
      z-index: 201;

      text-align: left;
    }

    a {
      display: inline-block;
    }

    &-logo {
      width: 70px;
    }

    &-word {
      display: none;
      @media (min-width: 1080px) {
        width: 350px;
        margin-left: 8px;

        display: inline-block;
      }
    }
  }
}
</style>
