<template>
  <div class="NavBar">
    <b-navbar toggleable="l">
      <div class="NavBar-header">
        <div class="NavBar-logo" :class="{ show: isShowNavbarLogo }">
          <router-link
            :to="{ name: $i18n.locale === 'zh' ? 'Home' : 'HomeEnglish' }"
            @click.native="scrollToTop"
          >
            <img
              src="@/assets/images/logo_2x.png"
              alt="教育部大學社會責任推動中心"
            />
          </router-link>
        </div>
        <span class="NavBar-title">{{ title }}</span>
        <button
          type="button"
          aria-label="Toggle navigation"
          class="navbar-toggler collapsed"
          @click="openMenu"
        >
          <MenuIcon></MenuIcon>
        </button>
      </div>

      <div class="navbar-collapse">
        <b-navbar-nav v-for="navItem in navItems" :key="navItem.text">
          <!-- 巢狀的下拉式 nav-item -->
          <b-nav-item-dropdown
            v-if="navItem.dropdownItems"
            :text="navItem.text"
          >
            <b-dropdown-item
              v-for="dropdownItem in navItem.dropdownItems"
              :key="dropdownItem.text"
              v-bind="navItemLink(dropdownItem)"
              @click="closeMenu"
            >
              {{ dropdownItem.text }}
            </b-dropdown-item>
          </b-nav-item-dropdown>

          <!-- 沒有巢狀 nav-item -->
          <b-nav-item v-else v-bind="navItemLink(navItem)" @click="closeMenu">
            {{ navItem.text }}
          </b-nav-item>
        </b-navbar-nav>
      </div>
    </b-navbar>

    <div class="social-media-wrap">
      <div class="social-media">
        <div class="social-media-icon">
          <a
            href="https://www.facebook.com/usrmoetw/"
            class="facebook-icon"
            target="_blank"
          >
            <FacebookIcon />
          </a>
        </div>
        <div class="social-media-icon">
          <a
            href="https://www.youtube.com/channel/UCBJ2AAY1nqBWRTQZItaMTyg"
            class="youtube-icon"
            target="_blank"
          >
            <YoutubeIcon />
          </a>
        </div>
        <div class="social-media-icon" v-if="isChinese">
          <router-link
            :to="{ name: 'Contact' }"
            class="mail-icon"
            @click.native="closeMenu"
          >
            <MailIcon />
          </router-link>
        </div>
      </div>
      <div class="LocaleChanger-phone" v-if="isEnglish">
        <button class="lang" @click="selectLocale('zh')">繁中</button>
        <button class="lang" @click="selectLocale('en')">Eng</button>
      </div>
    </div>

    <div class="login" v-if="isChinese">
      <BaseButton class="login-button" @click="isLoginOpen = !isLoginOpen">
        學校計畫登入
      </BaseButton>
      <div class="login-button-dropdown" v-show="isLoginOpen">
        <router-link :to="{ name: 'Login' }">
          <div class="login-button-item">
            計畫行事曆
          </div>
        </router-link>
        <a
          class="login-button-item"
          href="https://manage.tw-usr.org/application/login"
          rel="noopener"
          target="_blank"
        >
          計畫管理
        </a>
      </div>
      <div class="login-button-phone">
        <router-link :to="{ name: 'Login' }">
          <div class="login-button-phone-item" @click="closeMenu">
            登入計畫行事曆
          </div>
        </router-link>
        <a
          class="login-button-phone-item"
          href="https://manage.tw-usr.org/application/login"
          rel="noopener"
          target="_blank"
        >
          登入計畫管理
        </a>
      </div>
    </div>
    <div class="LocaleChanger-phone" v-if="isChinese">
      <button class="lang" @click="selectLocale('zh')">繁中</button>
      <button class="lang" @click="selectLocale('en')">Eng</button>
    </div>

    <LocaleChanger />

    <button type="button" class="NavBar-close-button" @click="closeMenu">
      <MenuCloseIcon />
    </button>
  </div>
</template>

<script>
import { ExpoLinksAPI } from '@/api';
import { debounce } from '@/utils/helper';
import { getMatchedRouteMeta } from '@/utils/route';

import FacebookIcon from '@/assets/images/icons/fb.svg';
import YoutubeIcon from '@/assets/images/icons/youtube.svg';
import MailIcon from '@/assets/images/icons/mail.svg';
import MenuIcon from '@/assets/images/icons/icon-menu.svg';
import MenuCloseIcon from '@/assets/images/icons/icon-close-menu.svg';

import BaseButton from '@/components/other/BaseButton.vue';
import LocaleChanger from '@/components/shared/LocaleChanger';

export default {
  name: 'Navbar',
  components: {
    FacebookIcon,
    YoutubeIcon,
    MailIcon,
    MenuIcon,
    MenuCloseIcon,
    BaseButton,
    LocaleChanger
  },
  data() {
    return {
      expoNavItems: [],

      isMenuOpen: false,
      isShowNavbarLogo: false,
      isLoginOpen: false
    };
  },
  created() {
    this.fetchExpoLinks();
  },
  mounted() {
    const toggleNavbarLogo = debounce(this.toggleNavbarLogo.bind(this), 100);
    document.addEventListener('scroll', toggleNavbarLogo);

    const closeDropdown = event => {
      const isLoginButton = event.target.classList.contains('login-button');
      if (!this.isLoginOpen || isLoginButton) return;

      this.isLoginOpen = false;
    };
    document.body.addEventListener('click', closeDropdown, true);

    this.$once('hook:beforeDestroy', () => {
      document.removeEventListener('scroll', toggleNavbarLogo);
      document.body.removeEventListener('click', closeDropdown, true);
    });
  },
  computed: {
    title() {
      return getMatchedRouteMeta(this.$route, 'menuTitle');
    },
    isChinese() {
      return this.$i18n.locale === 'zh';
    },
    isEnglish() {
      return this.$i18n.locale === 'en';
    },
    navItems() {
      return this.isEnglish ? this.englishNavItems : this.chineseNavItems;
    },
    englishNavItems() {
      return [
        {
          text: 'About USR',
          dropdownItems: [
            { text: 'Introduction', route: { name: 'AboutUSREnglish' } },
            {
              text: 'Organizational Chart',
              route: { name: 'OrganizationEnglish' }
            }
          ]
        },
        {
          text: 'Map of USR teams on site',
          dropdownItems: [
            {
              text: 'Phase II (2020-2022)',
              route: { name: 'PhaseSecondProjectMap', params: { lang: 'en' } }
            },
            {
              text: 'Phase I (2018-2019)',
              route: { name: 'PhaseFirstProjectMap', params: { lang: 'en' } }
            }
          ]
        },
        { text: 'USR News', route: { name: 'MediaReportEnglish' } }
      ];
    },
    chineseNavItems() {
      return [
        {
          text: '關於USR',
          dropdownItems: [
            { text: '什麼是USR', route: { name: 'AboutUSR' } },
            { text: '組織架構', route: { name: 'Organization' } }
          ]
        },
        {
          text: '最新消息',
          dropdownItems: [
            { text: '中心活動', route: { name: 'CentralActivities' } },
            { text: '計畫公告', route: { name: 'CentralAnnouncement' } },
            { text: '文件下載', route: { name: 'Download' } },
            { text: 'QA問答', route: { name: 'FAQ' } }
          ]
        },
        {
          text: '品味USR',
          dropdownItems: [
            { text: '電子書', route: { name: 'EBook' } },
            { text: '線上常設展', route: { name: 'Exhibition' } }
          ]
        },
        {
          text: '計畫蹲點',
          dropdownItems: [
            { text: '計畫行事曆', route: { name: 'ProjectCalendar' } },
            {
              text: '第二期計畫地圖',
              route: { name: 'PhaseSecondProjectMap' }
            },
            {
              text: '第一期計畫地圖',
              route: { name: 'PhaseFirstProjectMap' }
            }
          ]
        },
        {
          text: 'USR博覽會',
          dropdownItems: this.expoNavItems.map(item => ({
            text: item.year,
            externalLink: item.url
          }))
        },
        {
          text: '專欄與報導',
          dropdownItems: [
            {
              text: '專欄文章',
              route: { name: 'ColumnArticle' }
            },
            {
              text: '媒體報導',
              route: { name: 'MediaReport' }
            }
          ]
        },
        {
          text: '效益評估專區',
          route: { name: 'Assessment' }
        },
        {
          text: '友站專區',
          route: { name: 'Site' }
        }
      ];
    },
    navItemLink() {
      return navItem =>
        this.isExternalLink(navItem)
          ? this.externalLink(navItem)
          : this.internalLink(navItem);
    },
    externalLink() {
      return navItem => {
        return {
          href: navItem.externalLink,
          rel: 'noopener',
          target: '_blank'
        };
      };
    },
    internalLink() {
      return navItem => {
        return { to: navItem.route };
      };
    }
  },
  methods: {
    async fetchExpoLinks() {
      this.expoNavItems = await ExpoLinksAPI.list();
    },

    isExternalLink(navItem) {
      return 'externalLink' in navItem;
    },

    toggleNavbarLogo() {
      // viewport 的最上面至 navbar 的最上面大約為 110px
      this.isShowNavbarLogo = document.documentElement.scrollTop >= 110;
    },
    scrollToTop() {
      const routeName = this.$route.name;
      if (routeName !== 'Home' && routeName !== 'HomeEnglish') return;
      window.scrollTo(0, 0);
      this.isShowNavbarLogo = false;
    },
    openMenu() {
      this.isMenuOpen = true;
      document.body.classList.add('NavBar-is-open');
    },
    closeMenu() {
      this.isMenuOpen = false;
      document.body.classList.remove('NavBar-is-open');
    },
    selectLocale(locale) {
      if (this.$i18n.locale === locale) {
        this.closeMenu();
        return;
      }

      this.$i18n.locale = locale;
      if (this.$i18n.locale === 'zh') {
        this.$router.push({ name: 'Home' });
      }
      if (this.$i18n.locale === 'en') {
        this.$router.push({ name: 'HomeEnglish' });
      }
      this.closeMenu();
    }
  }
};
</script>

<style lang="scss">
$Navbar-breakpoint: l;

.NavBar-is-open {
  overflow: hidden;

  @include media($Navbar-breakpoint) {
    overflow: visible;
  }
}
</style>

<style lang="scss" scoped>
$Navbar-breakpoint: l;
// ====================================
// # custom class

.NavBar {
  $navbar-height: 56px;
  $navbar-margin-bottom: 24px;
  $navbar-margin-top: -($navbar-height + $navbar-margin-bottom);

  max-width: 1200px;
  margin: $navbar-margin-top auto $navbar-margin-bottom auto;
  padding: 0 24px;
  box-sizing: content-box;

  position: sticky;
  top: 30px;
  left: 0;
  right: 0;
  // 高於電子書的 130
  z-index: 200;

  @include media($Navbar-breakpoint) {
    $navbar-height: 56px;
    $navbar-margin-bottom: 40px;

    $navbar-margin-top: -($navbar-height + $navbar-margin-bottom);
    margin: $navbar-margin-top auto $navbar-margin-bottom auto;

    display: flex;
    align-items: center;

    top: 36px;
  }

  &-header {
    padding-left: 10px;

    flex: 1 0 0;

    display: flex;
    align-items: center;

    background-color: $white;
    border-radius: 10px;
    box-shadow: 0 2px 12px 0 $black-15;

    @include media($Navbar-breakpoint) {
      padding-left: 0;

      flex: 0 1 auto;

      background-color: transparent;
      border-radius: 0;
      box-shadow: none;
    }
  }

  &-logo {
    @include media($Navbar-breakpoint) {
      width: 0;
      opacity: 0;

      transition: ease-in-out 0.3s;
    }

    a {
      width: 40px;

      display: inline-block;
    }

    img {
      width: 100%;
    }

    &.show {
      @include media($Navbar-breakpoint) {
        width: 60px;
        opacity: 1;
      }
    }
  }

  &-title {
    margin: 0 16px 0 auto;

    font-size: 17px;
    font-weight: 600;

    color: $greenish-teal;

    @include media($Navbar-breakpoint) {
      display: none;
    }
  }

  &-close-button {
    padding: 17px;

    display: none;

    position: absolute;
    top: 30px;
    right: 24px;
    z-index: 9;

    background-color: $greenish-teal;
    border: none;
    border-radius: 28px;
  }
}

.social-media {
  margin-top: 16px;

  display: none;

  position: relative;
  z-index: 1;

  text-align: center;

  background-color: $white;
  border-radius: 10px;
  box-shadow: 0 2px 12px 0 $black-15;

  &-wrap {
    @include media($Navbar-breakpoint) {
      display: none;
    }
    @include media(xl) {
      display: block;
      flex: 0 0 180px;
    }
  }
  @include media(xl) {
    margin: 0 0 0 10px;

    display: flex;

    box-shadow: 0 2px 12px 0 $black-15;
  }

  &-icon {
    flex: 1 0 0;

    + .social-media-icon {
      border-left: solid 1px $pale-grey;
    }
  }

  a {
    display: block;

    font-size: 0;
    line-height: 56px;
  }
}

.login {
  width: 100%;
  margin-top: 16px;

  position: relative;
  z-index: 1;

  @include media($Navbar-breakpoint) {
    display: block;
    margin: 0 0 0 10px;

    flex: 0 0 130px;

    box-shadow: none;
  }
  .BaseButton {
    font-weight: 400;
  }

  &-button {
    display: none;

    font-size: 17px;

    @include media($Navbar-breakpoint) {
      display: block;

      box-shadow: 0 2px 12px 0 $black-15;
    }
    &-dropdown {
      display: none;
      @include media($Navbar-breakpoint) {
        width: 100%;

        display: block;

        position: absolute;

        font-weight: 600;

        border-radius: 10px;
        background-color: $white;
        box-shadow: 0 2px 12px 0 $black-15;
      }
      a {
        display: block;
      }
    }
    &-item {
      padding: 0 16px;

      font-size: 17px;
      text-align: center;
      color: $greyish-brown;
      line-height: 50px;
      &:hover {
        background-color: $greyish-10;
      }
    }
  }

  .login-button-phone {
    margin-top: 16px;

    display: none;

    a {
      display: block;
    }
    &-item {
      margin-top: 10px;

      color: $white;
      font-size: 17px;
      font-weight: 400;
      line-height: 56px;
      text-align: center;

      background-color: $greenish-teal;
      border-radius: 10px;
    }
    @include media($Navbar-breakpoint) {
      display: none;
    }
  }
}

.en {
  .NavBar {
    justify-content: flex-end;

    @include media($Navbar-breakpoint) {
      $header-padding-bottom: 36px;
      $logo-height: 76px;
      $navbar-height: 56px;
      $height-diff-between-header-and-logo: ($logo-height - $navbar-height) / 2;

      $navbar-margin-top: -($header-padding-bottom + $navbar-height +
            $height-diff-between-header-and-logo);
      $navbar-margin-bottom: $header-padding-bottom +
        $height-diff-between-header-and-logo;
      margin: $navbar-margin-top auto $navbar-margin-bottom auto;

      display: flex;
      align-items: center;
    }

    .navbar {
      flex: 0 0 530px;
    }
  }

  .social-media {
    margin-top: 0;
    &-wrap {
      flex: 0 0 119px;
    }
  }
}

.LocaleChanger-phone {
  display: none;
}

.LocaleChanger {
  display: none;

  @include media($Navbar-breakpoint) {
    margin-left: 8px;

    display: block;

    flex: 0 0 78px;
  }
}

// ====================================
// # 點擊 手機版 menu 按鈕要 toggle 的元素

.NavBar-is-open {
  .en {
    .social-media-wrap {
      position: absolute;
      bottom: 40px;
      left: 24px;
      right: 24px;
      @include media($Navbar-breakpoint) {
        display: none;
      }
    }
  }
  .NavBar {
    $header-padding-top: 30px;
    $navbar-height: 56px;
    $navbar-margin-bottom: 24px;
    $padding-top: $header-padding-top + $navbar-height + $navbar-margin-bottom;

    margin: 0;
    padding: $padding-top 24px 24px;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;

    background-color: $pale-grey;

    @include media($Navbar-breakpoint) {
      background-color: transparent;
    }

    .NavBar-header,
    .navbar-toggler {
      display: none;
    }

    .navbar-collapse {
      display: block;
    }

    .social-media {
      display: flex;

      @include media(xl) {
        margin: 0 0 0 10px;

        display: flex;

        box-shadow: 0 2px 12px 0 $black-15;
      }
    }
  }

  .NavBar-close-button,
  .login-button-phone {
    display: block;
  }
  .LocaleChanger-phone {
    display: block;

    margin-top: 16px;

    text-align: center;
    @include media($Navbar-breakpoint) {
      display: none;
    }
    .lang {
      width: 78px;
      height: 36px;

      margin-right: 16px;

      font-size: 15px;

      border: none;
      border-radius: 18px;
      background-color: $white;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

// # 修正「開啟 menu 後，螢幕寬度變平板以上的跑版」

@include media($Navbar-breakpoint) {
  .NavBar-is-open {
    .NavBar {
      $navbar-height: 56px;
      $navbar-margin-bottom: 40px;
      $navbar-margin-top: -($navbar-height + $navbar-margin-bottom);

      padding: 0 24px;
      margin: $navbar-margin-top auto $navbar-margin-bottom auto;

      position: sticky;
      top: 36px;
      overflow: visible;
    }

    .NavBar-close-button,
    .login-button-phone {
      display: none;
    }
  }
}

// ====================================
// # custom Bootstrap navbar 元件

.navbar {
  padding: 0;

  @include media($Navbar-breakpoint) {
    padding: 0 16px;

    flex: 1 0 0;

    background-color: $white;
    border-radius: 10px;
    box-shadow: 0 2px 12px 0 $black-15;
  }

  &-toggler {
    // ref: https://github.com/bootstrap-vue/bootstrap-vue/blob/dev/src/components/modal/helpers/modal-manager.js#L177
    // 去除顯示 BootstrapVue 的 Modal 元件時，多對 <b-navbar-toggler> 調整的 margin
    margin-right: 0 !important;
    padding: 0 20px;

    font-size: 0;
    line-height: 56px;

    color: transparent;
    border: none;
    border-radius: 0 10px 10px 0;
    background-color: $dark-seafoam;

    @include media($Navbar-breakpoint) {
      display: none;
    }
  }

  &-nav {
    &:focus {
      outline: none;
    }

    & + .navbar-nav {
      margin-top: 10px;

      @include media($Navbar-breakpoint) {
        margin-top: 0;
      }
    }
  }

  &-collapse {
    display: none;

    position: relative;
    z-index: 1;

    @include media($Navbar-breakpoint) {
      justify-content: space-between;
    }
  }
}

::v-deep .navbar-light {
  .navbar-nav .nav-link {
    color: $greyish-brown;

    &:hover {
      color: $greenish-teal;
    }
  }
}

// ====================================
// # custom Bootstrap nav 元件

::v-deep .nav-link {
  padding: 0 16px;

  font-size: 17px;
  font-weight: 600;
  line-height: 50px;

  background-color: $white;
  border-radius: 10px;

  @include media($Navbar-breakpoint) {
    line-height: 56px;

    border-radius: 0;
    background-color: transparent;
  }
}

::v-deep .navbar-expand-#{$Navbar-breakpoint} .navbar-nav .nav-link {
  padding: 0 16px;
  @include media(l) {
    padding: 0;
  }
}

// ====================================
// # custom Bootstrap dropdown 元件

::v-deep .dropdown {
  &:focus {
    outline: none;
  }

  &.show .nav-link {
    border-radius: 10px 10px 0 0;
  }

  &-toggle {
    &:focus {
      outline: none;
    }

    &::after {
      display: none;
    }
  }

  &-menu {
    min-width: 135px;
    margin: 0;
    padding: 0;

    border: none;
    border-radius: 0 0 10px 10px;
    background-color: $greenish-teal;

    li + li .dropdown-item {
      border-top: 1px solid $white;

      @include media($Navbar-breakpoint) {
        border-top: none;
      }
    }

    @include media($Navbar-breakpoint) {
      padding: 8px 0;
    }
  }

  &-item {
    padding: 0 16px;

    font-size: 17px;
    font-weight: 400;
    line-height: 50px;

    color: $white;

    @include media($Navbar-breakpoint) {
      line-height: 36px;
    }

    &:hover,
    &:focus {
      background-color: $jade;
    }
  }
}
</style>
