<template>
  <div class="Profile">
    <!-- 'Profile-without-introduction' 要動態載入的 class 樣式 -->
    <div class="Profile-hover Profile-without-introduction">
      <div class="Profile-hover-logo">
        <img src="@/assets/images/logo_2x.png" alt="white logo" />
      </div>

      <p class="Profile-hover-job">{{ member.job_title }}</p>

      <p v-if="isShowIntroduction" class="Profile-hover-introduction">
        {{ member.introduction }}
      </p>

      <span v-if="member.phone" class="Profile-hover-phone">
        {{ member.phone }}
      </span>
    </div>

    <img
      class="Profile-image"
      v-if="member.picture"
      :src="member.picture"
      :alt="member.name"
    />
    <img
      class="Profile-image-fake"
      v-else
      src="@/assets/images/views/B-關於USR/B2_無照片.jpg"
      :alt="member.name"
    />

    <div class="Profile-info">
      <p class="Profile-title">
        <span class="Profile-name">{{ member.name }}</span>
        <span class="Profile-job">{{ member.job_title }}</span>
      </p>
      <span class="Profile-phone" v-if="member.phone">
        {{ member.phone }}
      </span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Profile',
  components: {},
  props: {
    member: {
      type: Object,
      required: true
    },
    type: {
      type: String,
      required: true
    }
  },
  computed: {
    isShowIntroduction() {
      // 是否為 主持人系列之一，包括 總主持人、共同主持人、協同主持人
      const isInvestigator = this.type === 'investigator';
      // 是否為 召集人
      // - 中文版判斷的 type 格式為「xxx召集人」，xxx 為地區，例如：北北基
      // - 英文版目前皆為「Convener」
      const isConvener = ['召集人', 'Convener'].map(type =>
        this.member.job_title.includes(type)
      );
      // 是否為 組長
      const isGroupLeader = ['組長', 'Group Leader'].includes(
        this.member.job_title
      );
      return isInvestigator || isConvener || isGroupLeader;
    }
  }
};
</script>

<style lang="scss" scoped>
$card-height: 232px;

.Organization-title-labtop {
  display: none;
  @include media(md) {
    margin-bottom: 19px;

    display: block;
    text-align: center;
    font-size: 21px;
    color: $greenish-teal;
  }
}
.Profile {
  height: $card-height + 40px;

  position: relative;

  border-radius: 3px;
  box-shadow: 0 0 8px 1px $black-20;
  @include media(md) {
    height: $card-height * 1.2;
  }
  @include media(lg) {
    height: $card-height * 1.4;
  }
  &-hover {
    display: none;
    @include media(lg) {
      padding: 20px;

      display: flex;
      flex-direction: column;
      align-items: center;

      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 2;

      text-align: center;
      color: $white;

      border-radius: 3px;
      background-color: $white;
      opacity: 0;
      &::after {
        content: '';

        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;

        border: solid 3px $greenish-teal;
        border-radius: 6px;
      }
    }
    &-logo {
      width: 54px;
      height: 57px;
      margin-bottom: 9px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-job {
      margin-bottom: 9px;
      font-size: 17px;
      color: $greenish-teal;
    }
    &-introduction {
      font-size: 15px;
      text-align: justify;
      color: $greyish-brown;
    }
    &-phone {
      padding: 5px 10px;

      display: inline-block;

      color: $greyish-brown;
      // border: solid 2px $white;
      border-radius: 6px;
      background-color: $pale-grey;
    }
  }
  &:hover {
    .Profile-hover {
      opacity: 1;
    }
  }
  // 要動態載入的 class 樣式
  &-without-introduction {
    justify-content: center;
    align-items: center;
  }
  &-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;

    border-radius: 3px;
    &-fake {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: top;

      border-radius: 3px;
      background-color: #5c7294;
    }
  }
  &-info {
    width: 100%;
    height: 100px;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 0;
    z-index: 1;

    text-align: center;

    background-color: $white;
    border-radius: 0 0 3px 3px;
    @include media(lg) {
      height: 90px;
    }
  }
  &-title {
    width: fit-content;
    margin-bottom: 0;
  }
  &-name {
    display: block;

    font-size: 17px;
    line-height: 1.5;
    @include media(lg) {
      margin-right: 6px;

      display: inline;

      color: $greyish-brown;
      line-height: 1.2;
    }
  }
  &-job {
    font-size: 15px;
    color: $warm-grey;
    @include media(lg) {
      display: inline;

      color: $greyish-brown;
      font-size: 17px;
    }
  }
  &-phone {
    font-size: 15px;
    color: $warm-grey;
    line-height: 1.2;
    text-decoration: underline;
    @include media(lg) {
      display: none;
    }
  }
}
</style>
