<template>
  <div ref="flipBookViewport" class="FlipBook">
    <div class="FlipBook-container">
      <img
        class="FlipBook-page-turn-reminder"
        src="@/assets/images/views/E-EBook/ebook-page-turn-reminder.png"
        alt="電子書翻頁提醒"
      />
      <div ref="flipBook" class="FlipBook-book">
        <slot />
      </div>

      <div class="FlipBook-previous-page" @click="previousPage" />
      <div class="FlipBook-next-page" @click="nextPage" />

      <div class="FlipBook-controls">
        <span class="FlipBook-controls-page-numbers">
          {{ currentPage }} / {{ totalPage }}
        </span>
        <div class="FlipBook-controls-page-slider">
          <a-slider
            v-model="currentPage"
            @afterChange="onChangeCurrentPage"
            :default-value="1"
            :min="1"
            :max="totalPage"
          />
        </div>
        <div class="FlipBook-controls-zoom-control">
          <button type="button" class="zoom-out" @click="zoomOut">
            <MinusIcon />
          </button>
          <button
            type="button"
            class="zoom-in"
            @click="zoomIn"
            :disabled="currentPage === 1"
          >
            <PlusIcon />
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import $ from 'jquery';
import '@/assets/venders/turn';
import '@/assets/venders/zoom';
import { debounce } from 'lodash-es';

import MinusIcon from '@/assets/images/icons/icon-minus.svg';
import PlusIcon from '@/assets/images/icons/icon-plus.svg';
import { _formatDate } from '@/utils/format';

export default {
  name: 'FlipBook',
  components: {
    MinusIcon,
    PlusIcon
  },
  data() {
    return {
      currentPage: 1
    };
  },
  props: {
    totalPage: {
      type: Number,
      required: true
    },
    options: {
      type: Object,
      default: () => {}
    }
  },
  watch: {
    defaultOptions: {
      handler(value) {
        this.render(value);
      },
      deep: true
    }
  },
  computed: {
    defaultOptions() {
      return {
        widht: 1200,
        height: 860,
        acceleration: true,
        when: {
          turned: (event, page) => {
            this.currentPage = page;
          }
        },
        ...this.options
      };
    }
  },
  mounted() {
    // this.bookOptions =
    //   window.innerWidth < 992
    //     ? { display: 'single', acceleration: true }
    //     : { display: 'double', acceleration: true };

    this.resizeModalContentHeight();

    const debouncedResizeReader = debounce(() => {
      this.resizeModalContentHeight();
      this.resizeViewport();
    }, 300);

    window.addEventListener('resize', debouncedResizeReader);

    this.$once('hook:beforeDestroy', () => {
      window.removeEventListener('resize', debouncedResizeReader);
    });
  },
  methods: {
    resizeModalContentHeight() {
      const boundHeight = window.innerHeight;
      const modalContentHeight = boundHeight > 920 ? 920 : boundHeight;

      document.querySelector(
        '.EBook-modal .modal-content'
      ).style.height = `${modalContentHeight}px`;
    },
    onChangeCurrentPage(page) {
      $(this.$refs.flipBook).turn('page', page);
    },

    resizeViewport() {
      this.$refs.flipBook.style.width = '';
      this.$refs.flipBook.style.height = '';

      const { width, height } = this.calculateBound();
      $(this.$refs.flipBook).turn('size', width, height);
    },

    calculateBound() {
      const boundWidth = window.innerWidth;
      const boundHeight = window.innerHeight;

      const width = this.$refs.flipBook.clientWidth;
      const height = this.$refs.flipBook.clientHeight;

      if (width > boundWidth || height > boundHeight) {
        const ratio = width / height;
        if (
          boundWidth / ratio > boundHeight &&
          boundHeight * ratio <= boundWidth
        ) {
          return {
            width: Math.round((boundHeight - 70) * ratio),
            height: boundHeight - 70
          };
        } else {
          return {
            width: boundWidth,
            height: Math.round(boundWidth / ratio)
          };
        }
      }

      const modalHeaderHeight = 50;
      return {
        width,
        height: height - modalHeaderHeight
      };
    },

    goTo(page) {
      $(this.$refs.flipBook).turn('page', page);
    },
    render() {
      $(this.$refs.flipBook).turn(this.defaultOptions);
    },
    previousPage() {
      $(this.$refs.flipBook).turn('previous');
    },
    nextPage() {
      $(this.$refs.flipBook).turn('next');
    },
    zoomOut() {
      $(this.$refs.flipBookViewport).zoom('zoomOut');
    },
    zoomIn() {
      $(this.$refs.flipBookViewport).zoom('zoomIn');
    },
    initZoom() {
      $(this.$refs.flipBookViewport).zoom({
        flipbook: $(this.$refs.flipBook),
        max: 2,
        when: {
          // tap(event) {
          //   if ($(this).zoom('value') == 1) {
          //     $(this).zoom('zoomIn', event);
          //   } else {
          //     $(this).zoom('zoomOut');
          //   }
          // }
          // resize: function(event, scale, page, pageElement) {
          //   if (scale == 1) loadSmallPage(page, pageElement);
          //   else loadLargePage(page, pageElement);
          // },
          zoomIn: () => {
            $(this.$refs.flipBookViewport).addClass('zoom-in');
          },
          zoomOut: () => {
            setTimeout(() => {
              $(this.$refs.flipBookViewport).removeClass('zoom-in');
              this.resizeViewport();
            }, 0);
          }
        }
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.FlipBook {
  width: 100%;
  outline: 2px solid;

  position: relative;

  overflow: visible !important;
  user-select: none;

  &.zoom-in {
    z-index: 2;
  }

  &-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: $greyish-brown;
  }

  &-page-turn-reminder {
    max-width: 50%;
    max-height: calc(100% - 40px);

    position: absolute;
    top: 0;
    left: 0;

    left: 50%;
    transform: translateX(-100%);
  }

  &-book {
    width: 100%;
    height: 100%;
    margin: 0 auto;

    overflow: hidden;
    user-select: none;

    .page {
      &.even img {
        object-position: right top;
      }
      &.odd img {
        object-position: left top;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  &-previous-page,
  &-next-page {
    width: 44%;
    height: 100%;

    position: absolute;
    top: 0;

    cursor: pointer;
  }

  &-previous-page {
    left: 6%;
  }

  &-next-page {
    right: 6%;
  }

  &-controls {
    display: flex;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    line-height: 40px;

    background-color: $black;
    color: $white;

    &-page-numbers {
      flex: 0 0 110px;

      text-align: center;
    }

    &-page-slider {
      flex: 1 0 0;

      &::v-deep {
        // 整個 slider 長
        .ant-slider:hover .ant-slider-rail,
        .ant-slider-rail {
          background-color: $warm-grey;
        }

        // 選取的 slider 範圍長
        .ant-slider:hover .ant-slider-track,
        .ant-slider-track {
          background-color: $white;
        }

        // slider 的拉桿 (圓形)
        .ant-slider:hover .ant-slider-handle,
        .ant-slider-handle {
          border-color: $white;
        }
      }
    }

    &-zoom-control {
      padding: 0 10px;

      display: flex;
      justify-content: space-between;

      flex: 0 0 110px;

      .zoom-out,
      .zoom-in {
        padding: 0;

        font-size: 0;

        background-color: transparent;
        border: none;

        cursor: pointer;

        &:disabled {
          cursor: not-allowed;
        }
      }

      svg {
        fill: $white;
      }
    }
  }
}
</style>
