<template>
  <div class="OtherActivity">
    <div class="OtherActivity-image">
      <img
        v-if="activity.picture"
        :src="activity.picture"
        :alt="activity.title"
      />
      <!-- <img v-else :src="fakeImage(activity.id)" :alt="activity.title" /> -->
      <FakeImage
        v-else
        :post="activity"
        :fake-images="[
          require('@/assets/images/views/Ｈ-Site/site_01.jpg'),
          require('@/assets/images/views/Ｈ-Site/site_02.jpg'),
          require('@/assets/images/views/Ｈ-Site/site_03.jpg')
        ]"
      ></FakeImage>
    </div>
    <div class="OtherActivity-info">
      <div class="OtherActivity-title">{{ activity.title }}</div>
      <div class="OtherActivity-time">{{ activity.opendate }}</div>
    </div>
    <div class="OtherActivity-content">{{ activity.description }}...</div>
  </div>
</template>

<script>
import FakeImage from '@/components/shared/FakeImage.vue';

export default {
  name: 'OtherActivity',
  component: {
    FakeImage
  },
  props: {
    activity: {
      type: Object,
      required: true
    }
  },
  computed: {
    fakeImage() {
      return activityId => {
        // 用活動 id 來隨機 USR 假圖，假圖有 8 張，
        // 所以用 8 取餘數，可讓每個活動的假圖是固定的 (才不會因每次隨機而不同)
        const fakeImageCount = 8;
        const randomNumber = (Number(activityId) % fakeImageCount) + 1;
        return require(`@/assets/images/shared/USR_${randomNumber}.jpg`);
      };
    }
  }
};
</script>

<style lang="scss" scoped>
.OtherActivity {
  &-image {
    height: 274px;
    margin-bottom: 8px;

    border: solid 3px $greenish-teal;
    border-radius: 10px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;

      border-radius: 7px;
    }
  }
  &-info {
    margin-bottom: 8px;
  }
  &-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color: $pinkish-orange;
  }
  &-time {
    margin-left: auto;

    font-size: 15px;
    color: $warm-grey;
  }
}
</style>
