<template>
  <div class="Contact">
    <div class="Contact-container">
      <FullTitle center :title="{ chinese: '聯絡我們', english: 'Contact' }" />

      <BaseForm
        ref="contactForm"
        class="Contact-form"
        formName="contact"
        :identity-options="[
          '一般民眾',
          'USR計畫端',
          'USR學校端',
          '學校單位',
          '民間企業團體',
          '政府機關',
          '其他'
        ]"
        :class-options="[
          '計畫執行',
          '經費相關',
          '尋求合作',
          '計畫管考',
          '其他'
        ]"
        @submit="onSubmit"
      />

      <MessageModal
        id="Contact-model"
        :title="isSubmitSuccess ? '確認寄出' : '未成功寄出'"
        :visible="dialogVisible"
        @change="dialogVisible = $event"
      >
        <p v-if="isSubmitSuccess">已收到您的訊息，我們將會盡快回覆，謝謝。</p>
        <p v-else>未收到您的訊息，請重新送出，謝謝。</p>
      </MessageModal>
    </div>
  </div>
</template>

<script>
import FullTitle from '@/components/shared/FullTitle';
import BaseForm from '@/components/other/BaseForm';
import MessageModal from '@/components/shared/MessageModal';

export default {
  name: 'Contact',
  components: {
    FullTitle,
    BaseForm,
    MessageModal
  },
  data() {
    return {
      dialogVisible: false,
      isSubmitSuccess: false
    };
  },
  methods: {
    async onSubmit(value) {
      const message = await this.$store.dispatch('contact/submitForm', value);
      this.isSubmitSuccess = message.includes('successful');
      this.dialogVisible = true;

      // 只有表單送出成功，才會重置表單欄位資料
      if (this.isSubmitSuccess) {
        this.$refs.contactForm.resetForm();
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.Contact {
  padding: 0 16px 36px 16px;

  background-color: $beige;

  @include media(lg) {
    padding: 0 0 50px 0;
  }

  &-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 24px 16px 36px 16px;

    border-radius: 10px;
    box-shadow: 0 2px 12px 0 $black-15;
    background-color: $white;

    @include media(lg) {
      padding: 32px 16px 40px 16px;
    }
  }

  .FullTitle {
    margin-bottom: 46px;

    @include media(lg) {
      margin-bottom: 40px;
    }
  }

  &-form {
    max-width: 540px;
    margin: 0 auto;
  }
}
</style>
