<template>
  <main class="home wrap">
    <div class="carousel">
      <Carousel :carouselItems="$store.getters['home/carouselItems']" />
    </div>
    <section>
      <div class="full-title">
        <FullTitle :title="{ chinese: '重點消息', english: 'TOPICS' }" />
      </div>
      <div class="topic">
        <div class="topics-list">
          <div
            class="topics-list-item"
            v-for="topic in $store.getters['home/topics']"
            :key="topic.id"
          >
            <HomeTopicPostItem :post="topic" />
          </div>
        </div>
        <div class="activity-calendar">
          <ActivityCalendar
            :activities="$store.getters['home/activities']"
            @update:year-month="updateActivityCalendarYearMonth"
          />
          <div class="topic-button-group">
            <BaseButton
              class="activity-button"
              :to="{
                name: 'CentralActivities',
                params: { year: activeYear, month: activeMonth }
              }"
            >
              查看全部活動
            </BaseButton>
            <BaseButton
              class="announcement-button"
              :to="{ name: 'CentralAnnouncement' }"
            >
              查看全部公告
            </BaseButton>
          </div>
        </div>
        <div class="topic-button-group">
          <BaseButton
            class="activity-button"
            :to="{
              name: 'CentralActivities',
              params: { year: activeYear, month: activeMonth }
            }"
          >
            查看全部活動
          </BaseButton>
          <BaseButton
            class="announcement-button"
            :to="{ name: 'CentralAnnouncement' }"
          >
            查看全部公告
          </BaseButton>
        </div>
      </div>
    </section>

    <section>
      <div class="full-title">
        <FullTitle :title="{ chinese: '專欄文章', english: 'BLOG' }" />
      </div>
      <div class="blog">
        <div class="blog-list">
          <section>
            <div
              class="blog-list-item"
              v-for="blog in $store.getters['home/blogs']"
              :key="blog.title"
            >
              <HomeBlogPostItem :post="blog" />
            </div>
          </section>
          <BaseButton
            :to="{ name: 'ColumnArticle' }"
            class="column-article-button"
          >
            查看全部文章
          </BaseButton>
        </div>
        <div class="facebook">
          <iframe
            src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fusrmoetw%2F&tabs=timeline&width=311&height=678&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=181476586403625"
            width="311"
            height="678"
            style="border:none;overflow:hidden"
            scrolling="no"
            frameborder="0"
            allowTransparency="true"
            allow="encrypted-media"
          ></iframe>
        </div>
      </div>
    </section>

    <section>
      <div class="full-title">
        <FullTitle :title="{ chinese: '影音專區', english: 'MEDIA' }" />
      </div>
      <div class="media">
        <div
          class="media-item"
          v-for="video in $store.getters['home/videos']"
          :key="video.youTubeVideoId"
        >
          <LazyYoutubeVideo
            class="d-lg-none"
            :videoId="video.youTubeVideoId"
            :title="video.title"
          />
          <YoutubePopup
            class="d-none d-lg-block"
            :videoId="video.youTubeVideoId"
            :title="video.title"
          />
        </div>
      </div>
    </section>
  </main>
</template>

<script>
import ActivityCalendar from '@/components/shared/ActivityCalendar.vue';
import Carousel from '@/components/other/Carousel';
import HomeTopicPostItem from '@/components/Home/HomeTopicPostItem.vue';
import HomeBlogPostItem from '@/components/Home/HomeBlogPostItem.vue';
import BaseButton from '@/components/other/BaseButton';
import FullTitle from '@/components/shared/FullTitle';
import YoutubePopup from '@/components/shared/YoutubePopup';
import LazyYoutubeVideo from '@/components/shared/LazyYoutubeVideo';

export default {
  name: 'Home',
  components: {
    ActivityCalendar,
    Carousel,
    HomeTopicPostItem,
    HomeBlogPostItem,
    BaseButton,
    FullTitle,
    YoutubePopup,
    LazyYoutubeVideo
  },
  data() {
    return {
      activeYear: new Date().getFullYear(),
      activeMonth: new Date().getMonth() + 1
    };
  },
  methods: {
    updateActivityCalendarYearMonth({ year, month }) {
      this.activeYear = year;
      this.activeMonth = month;
    }
  }
};
</script>

<style lang="scss" scoped>
.carousel {
  height: 188px;
  margin: 0 auto 85px;
  @include media(sm) {
    height: 384px;
  }
  @include media(md) {
    width: 720px;
    height: 350px;
  }
  @include media(lg) {
    width: 852px;
    height: 396px;
  }
  @include media(xl) {
    width: 1168px;
    height: 460px;
  }
}

.full-title {
  height: 60px;
  @include media(xl) {
    margin-bottom: 36px;
  }
}
.topic {
  margin-bottom: 60px;
  @include media(xl) {
    display: flex;
    justify-content: space-between;
  }
  .topics-list {
    @include media(md) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: center;
    }
    @include media(xl) {
      margin: 0 50px 20px 0;

      flex-direction: column;
      align-content: baseline;
      flex: 1;
    }
    &-item {
      margin: 0 0 16px 0;
      &:last-child {
        margin-bottom: 0;
      }
      @include media(md) {
        flex: 0 0 calc((100% - 16px) / 2);
        &:nth-child(even) {
          margin: 0;
        }
      }
      @include media(xl) {
        flex: 1 0 0;
        &:nth-child(even) {
          margin: 0 0 16px 0;
        }
      }
    }
  }

  &-button-group {
    margin-top: 30px;

    display: flex;

    @include media(xl) {
      display: none;
    }

    .BaseButton {
      flex: 1 0 0;

      & + .BaseButton {
        margin-left: 16px;
      }
    }

    .activity-button {
      background-color: $pinkish-orange;

      &.btn:focus,
      &.btn:active {
        background-color: $coral;
      }
    }
    .announcement-button {
      background-color: $marigold;

      &.btn:focus,
      &.btn:active {
        background-color: $dull-orange;
      }
    }
  }

  .activity-calendar {
    display: none;

    @include media(xl) {
      display: block;

      flex: 0 0 45%;
    }

    .topic-button-group {
      margin-top: 50px;

      @include media(xl) {
        display: flex;
      }

      .BaseButton + .BaseButton {
        margin-left: 34px;
      }
    }
  }
}

.blog {
  margin-bottom: 60px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include media(xl) {
    flex-direction: row;
  }
  .blog-list {
    margin-top: -16px;
    @include media(xl) {
      flex: 0 0 70%;
    }
    section {
      margin-top: 16px;
      @include media(md) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
      }
      @include media(xl) {
        margin-top: -55px;
        justify-content: flex-start;
      }
      .blog-list-item {
        margin-top: 16px;
        @include media(md) {
          flex: 0 0 48%;
        }
        @include media(xl) {
          margin-top: 55px;
          margin-left: 5%;
          flex: 0 0 30%;

          &:nth-of-type(3n + 1) {
            margin-left: 0;
          }
        }
      }
    }
    .column-article-button {
      margin-top: 24px;
      @include media(xl) {
        width: 300px;
        margin: 60px auto 0;

        display: block;
      }
    }
  }
  .facebook {
    display: none;
    @include media(xl) {
      margin-top: -15px;
      display: block;
      flex: 0 0 25%;
    }
  }
}

.media {
  margin-top: -16px;

  display: block;
  @include media(md) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &-item {
    margin-top: 16px;
    @include media(sm) {
      flex: 0 0 49%;
    }
    @include media(lg) {
      flex: 0 0 30.5%;
      margin-bottom: 0;
    }
  }
}
</style>
