<template>
  <main class="home wrap">
    <section>
      <div class="full-title">
        <FullTitle :title="{ english: 'USR News' }"></FullTitle>
      </div>
      <div class="blog">
        <div class="blog-list">
          <section>
            <div
              class="blog-list-item"
              v-for="report in $store.getters['home/reports']"
              :key="report.title"
            >
              <HomeReportPostItem :post="report" />
            </div>
          </section>
          <BaseButton
            :to="{ name: 'MediaReportEnglish' }"
            class="column-article-button"
          >
            See All News
          </BaseButton>
        </div>
        <div class="facebook">
          <iframe
            src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fusrmoetw%2F&tabs=timeline&width=311&height=678&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=181476586403625"
            width="311"
            height="678"
            style="border:none;overflow:hidden"
            scrolling="no"
            frameborder="0"
            allowTransparency="true"
            allow="encrypted-media"
          ></iframe>
        </div>
      </div>
    </section>

    <section>
      <div class="full-title">
        <FullTitle :title="{ english: 'MEDIA' }"></FullTitle>
      </div>
      <div class="media">
        <div
          class="media-item"
          v-for="video in $store.getters['home/videos']"
          :key="video.youTubeVideoId"
        >
          <LazyYoutubeVideo
            class="d-lg-none"
            :videoId="video.youTubeVideoId"
            :title="video.title"
          />
          <YoutubePopup
            class="d-none d-lg-block"
            :videoId="video.youTubeVideoId"
            :title="video.title"
          />
        </div>
      </div>
    </section>
  </main>
</template>

<script>
import HomeReportPostItem from '@/components/Home/HomeReportPostItem.vue';
import BaseButton from '@/components/other/BaseButton';
import FullTitle from '@/components/shared/FullTitle';
import YoutubePopup from '@/components/shared/YoutubePopup';
import LazyYoutubeVideo from '@/components/shared/LazyYoutubeVideo';

export default {
  name: 'HomeEn',
  components: {
    HomeReportPostItem,
    BaseButton,
    FullTitle,
    YoutubePopup,
    LazyYoutubeVideo
  },
  data() {
    return {
      activeYear: new Date().getFullYear(),
      activeMonth: new Date().getMonth() + 1
    };
  },
  methods: {
    updateActivityCalendarYearMonth({ year, month }) {
      this.activeYear = year;
      this.activeMonth = month;
    }
  }
};
</script>

<style lang="scss" scoped>
.full-title {
  height: 60px;
  @include media(xl) {
    margin-bottom: 36px;
  }
}

.blog {
  margin-bottom: 60px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include media(xl) {
    flex-direction: row;
  }
  .blog-list {
    margin-top: -16px;
    @include media(xl) {
      flex: 0 0 70%;
    }
    section {
      margin-top: 16px;
      @include media(md) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
      }
      @include media(xl) {
        margin-top: -55px;
        justify-content: flex-start;
      }
      .blog-list-item {
        margin-top: 16px;
        @include media(md) {
          flex: 0 0 48%;
        }
        @include media(xl) {
          margin-top: 55px;
          margin-left: 5%;
          flex: 0 0 30%;

          &:nth-of-type(3n + 1) {
            margin-left: 0;
          }
        }
      }
    }
    .column-article-button {
      margin-top: 24px;
      @include media(xl) {
        width: 300px;
        margin: 60px auto 0;

        display: block;
      }
    }
  }
  .facebook {
    display: none;
    @include media(xl) {
      margin-top: -15px;
      display: block;
      flex: 0 0 25%;
    }
  }
}

.media {
  margin-top: -16px;

  display: block;
  @include media(md) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &-item {
    margin-top: 16px;
    @include media(sm) {
      flex: 0 0 49%;
    }
    @include media(lg) {
      flex: 0 0 30.5%;
      margin-bottom: 0;
    }
  }
}
</style>
