<template>
  <div class="Login">
    <div class="Login-container">
      <FullTitle
        center
        :title="{ chinese: '學校計畫登入', english: 'Login' }"
      />
      <form autocomplete="off" class="Login-form" @submit.prevent>
        <label>
          <span>帳號</span>
          <input
            type="text"
            name="account"
            :value="$store.getters['login/account']"
            @input="$store.commit('login/account', $event.target.value)"
            required
          />
        </label>

        <label>
          <span>密碼</span>
          <input
            type="password"
            name="password"
            :value="$store.getters['login/password']"
            @input="$store.commit('login/password', $event.target.value)"
            @keyup.enter="login"
            required
          />
        </label>

        <div class="Login-prompt">
          <b-button
            class="Login-prompt-forget-password"
            variant="link"
            @click="dialogVisible = true"
          >
            忘記密碼
          </b-button>

          <span
            class="Login-prompt-invalid-feedback"
            v-if="$store.getters['login/invalidFeedback']"
          >
            {{ $store.getters['login/invalidFeedback'] }}
          </span>
        </div>

        <BaseButton class="Login-button" @click="login">
          登入
        </BaseButton>
      </form>

      <MessageModal
        id="Login-model"
        title="更改密碼"
        hide-footer-button
        :visible="dialogVisible"
        @change="dialogVisible = $event"
      >
        <p>請於上班時間來電至USR中心更改密碼。</p>
        <p>(週一至週五 8:30~17:30)</p>

        <address class="Login-contact" v-if="telephonesByOffice">
          <div class="Login-contact-phone-icon">
            <PhoneIcon />
          </div>
          <div class="Login-contact-phone">
            <p
              v-for="({ telephones }, office) in telephonesByOffice"
              :key="office"
            >
              <span class="mr-1">{{ office }}</span>
              <span
                v-for="({ telLink, telText, extension }, index) in telephones"
                :key="index"
              >
                <a :href="telLink">{{ telText }}</a>
                <template v-if="extension">
                  轉 <span>{{ extension }}</span>
                </template>
              </span>
            </p>
          </div>
        </address>
      </MessageModal>
    </div>
  </div>
</template>

<script>
import { FooterAPI } from '@/api';
import { groupByToArray } from '@/utils/helper.js';

import FullTitle from '@/components/shared/FullTitle.vue';
import BaseButton from '@/components/other/BaseButton.vue';
import MessageModal from '@/components/shared/MessageModal';

import PhoneIcon from '@/assets/images/icons/icon-phone-forget-password.svg';

export default {
  name: 'Login',
  components: {
    FullTitle,
    BaseButton,
    MessageModal,
    PhoneIcon
  },
  data() {
    return {
      telephonesRaw: null,

      dialogVisible: false
    };
  },
  computed: {
    telephonesByOffice() {
      if (this.telephonesRaw == null) return null;

      const telephones = this.telephonesRaw.map(this.formatTelephoneRaw);
      return this.getTelephonesGroupByOffice(telephones);
    }
  },
  created() {
    this.getTelephones();
  },
  methods: {
    async getTelephones() {
      const footerInfo = await FooterAPI.zh.list();
      if (!footerInfo) return;

      this.telephonesRaw = footerInfo.tel.split('\n');
    },
    formatTelephoneRaw(telephoneRaw) {
      const [office, fullTelephone] = telephoneRaw.split(',');
      const [telephone, extension] = fullTelephone.split('轉');
      const [areaCode, telephoneNumber] = telephone.split('-');

      return {
        office,
        telLink: `tel:${telephone}`,
        telText: `(${areaCode})${telephoneNumber}`,
        extension: extension ?? null
      };
    },
    getTelephonesGroupByOffice(telephones) {
      const telephonesByOffice = groupByToArray(
        telephones,
        { keyName: 'office', valueName: 'telephones' },
        'office'
      );
      const entriesOfTelephonesByOffice = telephonesByOffice.map(
        ({ office, telephones }) => {
          // 用第一個電話連結與其他比對是否相同，相同就合併 電話分機
          const { telLink } = telephones[0];
          const isSameTelLink = item => item.telLink === telLink;

          if (telephones.every(isSameTelLink)) {
            const mergedTelephoneExtension = this.mergeTelephoneExtension(
              telephones
            );
            return [office, { office, telephones: [mergedTelephoneExtension] }];
          } else {
            return [office, { office, telephones }];
          }
        }
      );
      return Object.fromEntries(entriesOfTelephonesByOffice);
    },
    mergeTelephoneExtension(items) {
      const { telLink, telText, office } = items[0];

      const extension = items
        .map(item => item.extension)
        .filter(item => item != null);

      return {
        office,
        telLink,
        telText,
        extension: extension.length > 0 ? extension.join('、') : null
      };
    },

    async login(event) {
      event.preventDefault();
      await this.$store.dispatch('login/login');

      const { isLoginSuccess, loginDashboardURL } = this.$store.getters[
        'login/result'
      ];
      if (isLoginSuccess) {
        this.$store.dispatch('login/resetForm');
        // 因後端 route 設定和 Apache 反向代理設定，先暫時由前端來更改登入 API 回傳的 URL
        window.open(loginDashboardURL.replace('api/login', 'api-login'));
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.Login {
  padding: 0 16px 50px 16px;

  background-color: $beige;

  @include media(lg) {
    padding: 0 0 50px 0;
  }

  &-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 44px 16px 36px 16px;

    border-radius: 10px;
    box-shadow: 0 2px 12px 0 $black-15;
    background-color: $white;

    @include media(lg) {
      padding: 44px 16px 74px 16px;
    }
  }

  .FullTitle {
    margin-bottom: 46px;

    @include media(lg) {
      margin-bottom: 40px;
    }
  }

  &-prompt {
    margin-bottom: 27px;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    &-invalid-feedback {
      font-size: 15px;

      color: $coral;
    }

    &-forget-password {
      padding: 0;

      font-size: 13px;
      text-decoration: underline;

      color: $pinkish-orange;

      &:hover {
        color: $pinkish-orange;
      }

      &:focus {
        box-shadow: none;
      }
    }
  }

  &-button {
    max-width: 300px;
  }

  &-form {
    max-width: 405px;
    margin: 0 auto;

    text-align: center;

    label {
      margin-bottom: 16px;
      padding: 12px 9px;

      display: flex;

      border-radius: 10px;
      border: 3px solid $greenish-teal;

      @include media(lg) {
        padding: 12px;
      }

      &:last-of-type {
        margin-bottom: 8px;
      }
    }

    label span {
      padding-right: 10px;

      font-size: 17px;
      font-weight: 600;

      color: $greenish-teal;
      border-right: 1px solid $greenish-teal;

      @include media(lg) {
        padding-right: 16px;
      }
    }

    input {
      margin-left: 10px;

      flex: 1 0 0;

      border: none;

      &:focus {
        outline: none;
      }
    }
  }

  &-contact {
    max-width: 420px;
    padding: 28px 20px;
    margin: 16px auto 0;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: left;

    border-radius: 10px;
    background-color: $pale-grey;

    &-phone-icon {
      width: 30px;
      margin-right: 14px;
    }
  }
}
</style>

<style lang="scss">
.Login-modal {
  .modal-body {
    @include media(lg) {
      padding-bottom: 65px;
    }
  }
}
</style>
