<template>
  <section class="calendar-activity-list">
    <template v-for="(activity, index) in activities">
      <hr v-if="index > 0" :key="'hr' + activity.id" />
      <section class="calendar-activity-item" :key="activity.id">
        <router-link
          :to="{
            ...activityLink(activity),
            params: {
              year: getYear(activity.date),
              month: getMonth(activity.date)
            }
          }"
          class="calendar-activity-item-link"
        >
          <div class="calendar-activity-item-image">
            <img
              v-if="activity.image"
              :src="activity.image"
              :alt="activity.title"
            />
            <img v-else :src="fakeImage(activity.id)" :alt="activity.title" />
          </div>
          <div class="calendar-activity-item-body">
            <a-badge :color="activityBadgeColor(activity.tag)" />
            <span class="calendar-activity-item-tag">
              {{ `${activityTag(activity.tag)} ${activity.note}` }}
            </span>
            <time>{{ activity.date }}</time>
            <h3>{{ activity.title }}</h3>
          </div>
        </router-link>
      </section>
    </template>
  </section>
</template>

<script>
import { getMonth, getYear } from '@/utils/dateHelper';

export default {
  name: 'CalendarActivityList',
  props: {
    activities: {
      type: Array,
      required: true
    }
  },
  computed: {
    activityLink() {
      return activity => {
        if (activity.tag === 'activity')
          return { name: 'CentralActivities', query: { id: activity.id } };
        if (activity.tag === 'announcement')
          return { name: 'CentralAnnouncement', query: { id: activity.id } };
        return { name: 'CentralActivities', query: { id: activity.id } };
      };
    },
    activityTag() {
      return tag => {
        if (tag === 'activity') return '中心活動';
        if (tag === 'announcement') return '計畫公告';
        return '其他';
      };
    },
    activityBadgeColor() {
      return badgeColor => {
        if (badgeColor === 'activity') return '#ff743c';
        if (badgeColor === 'announcement') return '#ffc700';
      };
    },
    fakeImage() {
      return activityId => {
        // 用活動 id 來隨機 USR 假圖，假圖有 3 張，
        // 所以用 3 取餘數，可讓每個活動的假圖是固定的 (才不會因每次隨機而不同)
        const fakeImageCount = 3;
        const randomNumber = (Number(activityId) % fakeImageCount) + 1;
        return require(`@/assets/images/shared/USR_${randomNumber}.jpg`);
      };
    }
  },
  methods: {
    getMonth,
    getYear
  }
};
</script>

<style lang="scss" scoped>
.calendar-activity-list {
  width: 337px;
  min-height: 90px;
  padding: 10px;
  box-sizing: content-box;

  background-color: $white;
  border: 3px solid $greenish-teal;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 $warm-grey-15;

  hr {
    margin: 10px 0;

    border-top: 1px solid $pale-grey-two;
  }
}

.calendar-activity-item-link {
  min-height: 90px;

  display: flex;

  &:hover {
    text-decoration: none;
  }
}

.calendar-activity-item {
  min-height: 90px;

  &-image {
    flex: 0 0 90px;
    margin-right: 8px;

    pointer-events: none;

    img {
      width: 100%;
      height: 90px;

      vertical-align: middle;

      object-fit: cover;
    }
  }

  &-body {
    pointer-events: none;

    .ant-badge {
      margin-right: 4px;
    }

    span {
      font-size: 13px;
      font-weight: 600;
      color: $greenish-teal;
      &:last-of-type {
        margin: 0;
      }
    }

    time {
      display: block;

      font-size: 13px;
      font-weight: 600;
      line-height: 22px;

      color: $warm-grey;
    }

    h3 {
      margin: 0;

      font-size: 15px;
      font-weight: 600;

      color: $greyish-brown;
    }
  }
}
</style>
