<template>
  <BasePostItem class="HomeBlogPostItem" :post="post">
    <template #type>
      <TypeTag type="blog" />
    </template>
    <template #datetime="{ post }">
      {{ post.time }}
    </template>
    <template #link>
      <router-link
        :to="{ name: 'ColumnArticleView', params: { id: post.id } }"
        class="stretched-link"
      />
    </template>
  </BasePostItem>
</template>

<script>
import BasePostItem from '@/components/other/BasePostItem';
import TypeTag from '@/components/other/TypeTag.vue';

export default {
  name: 'HomeBlogPostItem',
  components: {
    BasePostItem,
    TypeTag
  },
  props: {
    post: {
      type: Object,
      required: true
    }
  }
};
</script>

<style lang="scss" scoped>
.HomeBlogPostItem::v-deep {
  .BasePostItem-image {
    @include media(xl) {
      height: 160px;
    }
  }
}
</style>
