<template>
  <section class="banner">
    <picture class="banner-container">
      <source
        srcset="@/assets/images/shared/banner-lebtop.png"
        media="(min-width: 768px)"
      />
      <source
        srcset="@/assets/images/shared/banner-phone.png"
        media="(min-width: 320px)"
      />
      <img src="@/assets/images/shared/banner-lebtop.png" alt="banner" />
    </picture>
  </section>
</template>

<script>
export default {
  name: 'HomeBanner'
};
</script>

<style lang="scss" scoped>
.banner {
  // height: 520px;
  margin: 0 auto;
  padding: 20px;

  background-color: $beige;
  img {
    width: 100%;
    display: block;
    @include media(md) {
      width: 100%;
    }
    @include media(xl) {
      max-width: 1200px;
      margin: 0 auto;

      // height: 100%;
      // object-fit: cover;
    }
  }
}
</style>
