<template>
  <BasePostItem class="HomeTopicPostItem" :post="post">
    <template #type>
      <TypeTag class="HomeTopicPostItem-typetag" :type="post.type" />
    </template>
    <template class="HomeTopicPostItem-time" #datetime="{ post }">
      {{ post.opendate }}
      <template v-if="post.closedate">~ {{ post.closedate }}</template>
    </template>
    <template #link>
      <router-link
        v-if="post.linkType === 'internal'"
        :to="post.link"
        class="stretched-link"
      />
      <a v-else :href="post.link" target="_blank" class="stretched-link" />
    </template>
  </BasePostItem>
</template>

<script>
import BasePostItem from '@/components/other/BasePostItem';
import TypeTag from '@/components/other/TypeTag.vue';

export default {
  name: 'HomeTopicPostItem',
  components: {
    BasePostItem,
    TypeTag
  },
  props: {
    post: {
      type: Object,
      required: true
    }
  }
};
</script>

<style lang="scss" scoped>
.HomeTopicPostItem::v-deep {
  @include media(md) {
    display: flex;
  }
  .BasePostItem-image {
    margin: 0 0 8px 0;

    flex: 1;
    @include media(sm) {
      height: 350px;
    }
    @include media(md) {
      height: 120px;
      margin: 0 16px 0 0;
    }
  }
  .BasePostItem-content {
    @include media(sm) {
      flex: 2;
    }
  }
  .HomeTopicPostItem-typetag {
  }
  .HomeTopicPostItem-time {
    @include media(md) {
    }
  }
}
</style>
