<template>
  <BasePostItem class="HomeReportPostItem" :post="post">
    <template #datetime="{ post }">
      {{ post.time }}
    </template>
    <template #link>
      <router-link
        :to="{ name: 'MediaReportViewEnglish', params: { id: post.id } }"
        class="stretched-link"
      />
    </template>
  </BasePostItem>
</template>

<script>
import BasePostItem from '@/components/other/BasePostItem';

export default {
  name: 'HomeReportPostItem',
  components: {
    BasePostItem
  },
  props: {
    post: {
      type: Object,
      required: true
    }
  }
};
</script>

<style lang="scss" scoped>
.HomeReportPostItem::v-deep {
  .BasePostItem-image {
    @include media(xl) {
      height: 160px;
    }
  }
  .BasePostItem-typetag {
    display: none;
  }
}
</style>
