<template>
  <section class="HomeBannerEN">
    <div class="banner">
      <picture class="banner-container">
        <source
          srcset="@/assets/images/shared/banner-lebtop-en.png"
          media="(min-width: 768px)"
        />
        <source
          srcset="@/assets/images/shared/banner-phone.png"
          media="(min-width: 320px)"
        />
        <img src="@/assets/images/shared/banner-lebtop-en.png" alt="banner" />
      </picture>
    </div>
    <div class="vedio-carousel">
      <iframe
        src="https://www.youtube.com/embed/bMpuYxTy_WA"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      />
    </div>
  </section>
</template>

<script>
export default {
  name: 'HomeBannerEN'
};
</script>

<style lang="scss" scoped>
.banner {
  // height: 520px;
  margin: 0 auto;
  padding: 20px;

  background-color: $beige;
  img {
    width: 100%;
    display: block;
    @include media(md) {
      width: 100%;
    }
    @include media(xl) {
      max-width: 1200px;
      margin: 0 auto;

      // height: 100%;
      // object-fit: cover;
    }
  }
}

.vedio-carousel {
  height: calc(100vw / 1.7);
  iframe {
    width: 100%;
    height: 100%;
  }
}
</style>
