<template>
  <div class="TopicsItem">
    <div class="topics-item-image">
      <img :src="topic.image" :alt="topic.title" />
    </div>
    <div class="topics-item-content">
      <div class="topics-item-info">
        <div class="topics-item-typetag">
          <TypeTag :type="topic.type" />
        </div>
        <time>{{ topic.opendate }}</time>
      </div>
      <p>{{ topic.title }}</p>
    </div>
  </div>
</template>

<script>
import TypeTag from '@/components/other/TypeTag.vue';
export default {
  neme: 'TopicsItem',
  components: {
    TypeTag
  },
  props: {
    topic: {
      type: Object,
      required: true
    }
  }
};
</script>

<style lang="scss" scoped>
.TopicsItem {
  @include media(sm) {
    display: flex;
    justify-content: space-between;
  }
}
.topics-item-image {
  height: 217px;
  margin-bottom: 7px;

  border-radius: 10px;
  border: solid 3px $greenish-teal;
  @include media(sm) {
    height: 120px;
    flex: 0 0 33%;
  }
  @include media(md) {
    height: 100px;
  }
  @include media(xl) {
    height: 120px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-radius: 7px;
  }
}

.topics-item-content {
  @include media(sm) {
    flex: 0 0 65%;
  }
  p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.topics-item-info {
  margin-bottom: 7px;

  display: flex;
  justify-content: space-between;
  time {
    vertical-align: middle;

    line-height: 1.5;

    color: $warm-grey;
  }
  @include media(lg) {
    margin-bottom: 16px;
  }
}
</style>
