<template>
  <main class="Site wrap">
    <div class="Site-other-activity-list">
      <div
        class="Site-other-activity-item"
        v-for="activity in $store.getters['site/otherActivities']"
        :key="activity.id"
      >
        <router-link
          :to="{
            name: 'Site',
            query: { id: activity.id }
          }"
        >
          <OtherActivity :activity="activity" />
        </router-link>
      </div>
    </div>
    <div class="external-link">
      <div class="external-link-title">
        <h3>中央部會</h3>
      </div>
      <div class="external-link-list">
        <a
          class="external-link-item"
          v-for="government in governmentLink"
          :key="government.name"
          :href="government.link"
          rel="noopener"
          target="_blank"
        >
          <img :src="government.image" :alt="government.name" />
        </a>
      </div>
      <div class="external-link-title">
        <h3>企業/CSR</h3>
      </div>
      <div class="external-link-list">
        <a
          class="external-link-item"
          v-for="csr in CSRLink"
          :key="csr.name"
          :href="csr.link"
          rel="noopener"
          target="_blank"
        >
          <img :src="csr.image" :alt="csr.name" />
        </a>
      </div>
      <div class="external-link-title">
        <h3>NPO/NGO</h3>
      </div>
      <div class="external-link-list">
        <a
          class="external-link-item"
          v-for="charity in charityLink"
          :key="charity.name"
          :href="charity.link"
          rel="noopener"
          target="_blank"
        >
          <img :src="charity.image" :alt="charity.name" />
        </a>
      </div>
      <div class="external-link-title">
        <h3>青年在地社群團體</h3>
      </div>
      <div class="external-link-list">
        <a
          class="external-link-item"
          v-for="callant in callantGroup"
          :key="callant.name"
          :href="callant.link"
          rel="noopener"
          target="_blank"
        >
          <img :src="callant.image" :alt="callant.name" />
        </a>
      </div>
    </div>
    <DetailModal
      title="友站專區"
      modal-class="activity-detail-modal"
      :visible="detailModalVisible && Boolean(activeOtherActivityId)"
      @change="onChangeDetailModalVisible"
    >
      <template v-if="activeOtherActivity">
        <header class="activity-detail-modal-header">
          <h3>{{ activeOtherActivity.title }}</h3>
          <time>{{ activeOtherActivity.opendate }}</time>
        </header>
        <section
          class="activity-detail-modal-content"
          v-html="activeOtherActivity.contents"
        ></section>
      </template>
    </DetailModal>
  </main>
</template>

<script>
import store from '@/store';

import OtherActivity from '@/components/Site/OtherActivity.vue';
import DetailModal from '@/components/shared/DetailModal.vue';

export default {
  name: 'Site',
  components: {
    OtherActivity,
    DetailModal
  },
  data() {
    return {
      detailModalVisible: false
    };
  },
  computed: {
    activeOtherActivity: {
      get() {
        return this.$store.getters['site/activeOtherActivity'];
      },
      set(value) {
        this.$store.commit('site/activeOtherActivity', value);
      }
    },
    activeOtherActivityId: {
      get() {
        return this.$store.getters['site/activeOtherActivityId'];
      },
      set(value) {
        this.$store.commit('site/activeOtherActivityId', value);
      }
    },

    governmentLink() {
      return [
        {
          name: '教育部',
          link: 'https://www.edu.tw/',
          image: require('@/assets/images/views/Ｈ-Site/中央部會/教育部.png')
        },
        {
          name: '林務局',
          link: 'https://www.forest.gov.tw/',
          image: require('@/assets/images/views/Ｈ-Site/中央部會/林務局.jpg')
        },
        {
          name: '水土保持局',
          link: 'https://www.swcb.gov.tw/',
          image: require('@/assets/images/views/Ｈ-Site/中央部會/水保局.png')
        }
      ];
    },
    CSRLink() {
      return [
        {
          name: '人禾環境倫理發展基金會',
          link: 'https://eeft.org.tw/',
          image: require('@/assets/images/views/Ｈ-Site/企業-CSR/人禾環境倫理發展基金會.jpg')
        },
        {
          name: '台南企業文化藝術基金會',
          link:
            'https://www.facebook.com/財團法人台南企業文化藝術基金會-233124904126380',
          image: require('@/assets/images/views/Ｈ-Site/企業-CSR/台南企業文化藝術基金會.jpg')
        },
        {
          name: '裕隆集團公共事務部',
          link: 'http://www.yulon-group.com/index.php',
          image: require('@/assets/images/views/Ｈ-Site/企業-CSR/裕隆.jpg')
        },
        {
          name: '家樂福文教基金會',
          link: 'http://www.carrefour.org.tw/',
          image: require('@/assets/images/views/Ｈ-Site/企業-CSR/家樂福文教基金會.jpg')
        }
      ];
    },
    charityLink() {
      return [
        {
          name: '新作坊',
          link: 'https://www.hisp.ntu.edu.tw/',
          image: require('@/assets/images/views/Ｈ-Site/NPO-NGO/新作坊.jpg')
        },
        {
          name: '5% DESIGN ACTION 社會設計平台',
          link: 'http://5percent-design-action.com/',
          image: require('@/assets/images/views/Ｈ-Site/NPO-NGO/5_ DESIGN ACTION 社會設計平台.jpg')
        },
        {
          name: '銀享全球',
          link: 'http://www.silverliningsglobal.com/tw/',
          image: require('@/assets/images/views/Ｈ-Site/NPO-NGO/銀享全球.png')
        },
        {
          name: '斯創教育工作群',
          link: 'http://www.innovativelearning.com.tw/',
          image: require('@/assets/images/views/Ｈ-Site/NPO-NGO/斯創教育工作群.jpg')
        },
        {
          name: '中華民國愛自造者學習協會',
          link: 'https://programtheworld.tw/main.php',
          image: require('@/assets/images/views/Ｈ-Site/NPO-NGO/中華民國愛自造者學習協會.jpg')
        },
        {
          name: '奇美博物館',
          link: 'https://www.chimeimuseum.org/',
          image: require('@/assets/images/views/Ｈ-Site/NPO-NGO/奇美博物館.jpg')
        },
        {
          name: '人生百味',
          link: 'https://doyouaflavor.tw/',
          image: require('@/assets/images/views/Ｈ-Site/NPO-NGO/人生百味.png')
        }
      ];
    },
    callantGroup() {
      return [
        {
          name: '南方創客基地',
          link: 'https://southmaker.wda.gov.tw/',
          image: require('@/assets/images/views/Ｈ-Site/青年在地社群團體/南方創客基地.png')
        },
        {
          name: '老寮Hostel',
          link: 'https://www.facebook.com/mountainlodge2014/',
          image: require('@/assets/images/views/Ｈ-Site/青年在地社群團體/老寮hostel.jpg')
        },
        {
          name: '台灣田野學校',
          link: 'https://twfschool.com/',
          image: require('@/assets/images/views/Ｈ-Site/青年在地社群團體/台灣田野學校.jpg')
        },
        {
          name: '島島創生',
          link: 'https://island-square.com/',
          image: require('@/assets/images/views/Ｈ-Site/青年在地社群團體/島島創生.png')
        },
        {
          name: '島內散步',
          link: 'https://walkin.tw/',
          image: require('@/assets/images/views/Ｈ-Site/青年在地社群團體/島內散步.jpg')
        },
        {
          name: '好伴社計',
          link: 'https://www.happen.tw/',
          image: require('@/assets/images/views/Ｈ-Site/青年在地社群團體/好伴社計.jpg')
        },
        {
          name: '畸零地工作室',
          link: 'https://www.groundzerocreate.com/',
          image: require('@/assets/images/views/Ｈ-Site/青年在地社群團體/畸零地工作室.jpg')
        },
        {
          name: '職人',
          link: 'https://www.shokuzine.com/',
          image: require('@/assets/images/views/Ｈ-Site/青年在地社群團體/職人.png')
        },
        {
          name: '透南風工作室',
          link: 'https://www.tou-southwind.com/edcontent.php?lang=tw&tb=1',
          image: require('@/assets/images/views/Ｈ-Site/青年在地社群團體/透南風工作室.jpg')
        }
      ];
    }
  },
  beforeRouteEnter(to, from, next) {
    next(async vm => {
      if (to.query.id) {
        // 先設定好該筆資料的 id
        vm.activeOtherActivityId = to.query.id;
        // 再拿取資料
        await store.dispatch('site/fetchOtherActivitiesById');
        vm.detailModalVisible = true;
      }
    });
  },
  async beforeRouteUpdate(to, from, next) {
    if (to.query.id) {
      this.activeOtherActivityId = to.query.id;
      await store.dispatch('site/fetchOtherActivitiesById');
      this.detailModalVisible = true;
    } else {
      this.activeOtherActivityId = null;
      this.detailModalVisible = false;
    }
    next();
  },
  methods: {
    onChangeDetailModalVisible(visible) {
      this.detailModalVisible = visible;
      if (!visible) {
        this.activeAnnounceId = null;
        this.activeOtherActivity = null;

        this.$router.push({
          name: this.$route.name,
          query: this.previousRouteQuery
        });
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.Site {
  &-other-activity-list {
    margin-bottom: 35px;
    @include media(md) {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-gap: 35px;
    }
    @include media(lg) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
      // grid-gap: 35px;
    }
  }
  &-other-activity-item {
    margin-bottom: 16px;
    @include media(md) {
      margin: 0;
    }
  }
}
.external-link {
  &-title {
    h3 {
      font-size: 20px;
      color: $greyish-brown;
    }
  }
  &-list {
    @include media(md) {
      margin-bottom: 35px;

      display: grid;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      grid-gap: 35px;
    }
    @include media(lg) {
      display: grid;
      grid-template-columns: repeat(6, minmax(0, 1fr));
      grid-gap: 35px;
    }
    img {
      width: 100%;
    }
  }
}
.activity-detail-modal {
  &-header {
    padding: 18px 0;
    text-align: center;
    time {
      font-size: 15px;
      color: $greyish-brown;
    }
  }
  &-content {
    line-height: 1.7;
  }
}
</style>
