<template>
  <div class="PageHeader" v-if="heading">
    <div class="PageHeader-container">
      <BaseBreadcrumb />
      <h2 class="PageHeader-heading">{{ heading }}</h2>
    </div>
  </div>
</template>

<script>
import { getMatchedRouteMeta } from '@/utils/route';
import BaseBreadcrumb from '@/components/other/BaseBreadcrumb.vue';

export default {
  name: 'PageHeader',
  components: {
    BaseBreadcrumb
  },
  computed: {
    heading() {
      return getMatchedRouteMeta(this.$route, 'PageHeaderHeading');
    }
  }
};
</script>

<style lang="scss" scoped>
.PageHeader {
  padding-bottom: 16px;

  background-color: $beige;

  @include media(lg) {
    padding-bottom: 36px;
  }

  &-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;

    @include media(xl) {
      padding: 0 16px;
    }
  }

  &-heading {
    margin: 0;

    font-family: $font-family-cursive;
    font-size: 32px;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 39px;

    color: $greenish-teal;

    @include media(lg) {
      font-size: 36px;
    }
  }
}
</style>
