<template>
  <main class="aboutUSR wrap">
    <div class="aboutUSR-cover">
      <img :src="data.image" alt="about USR" />
    </div>
    <h2 class="aboutUSR-title">
      {{ data.title }}
    </h2>
    <div v-html="data.text" class="aboutUSR-content"></div>
  </main>
</template>

<script>
import { AboutAPI } from '@/api';
export default {
  name: 'AboutUSR',
  data() {
    return {
      data: {}
    };
  },
  created() {
    this.getAboutData();
  },
  methods: {
    async getAboutData() {
      if (this.$i18n.locale === 'zh') {
        this.data = await AboutAPI.zh.list();
      } else {
        this.data = await AboutAPI.en.list();
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.aboutUSR {
  &-cover {
    margin: 0 auto 35px;
    @include media(lg) {
      max-width: 1000px;
      height: 545px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-title {
    margin-bottom: 35px;
    text-align: center;

    font-size: 21px;
    color: $greenish-teal;
  }
  &-content::v-deep {
    margin-bottom: 35px;
    p {
      font-size: 17px;
      color: $greyish-brown;
      line-height: 1.7;
    }
    img {
      max-width: 100%;
      height: auto;
    }
    video {
      max-width: 100%;
      height: auto;
    }
    iframe {
      max-width: 100%;
    }
  }
}
</style>
