<template>
  <main class="Organization wrap">
    <section class="profile-list">
      <section
        class="profile-item Organization-investigator"
        v-for="member in organization.investigators"
        :key="member.id"
      >
        <h2 class="Organization-title">{{ member.project_job }}</h2>
        <Profile type="investigator" :member="member" />
      </section>
    </section>

    <h2 class="Organization-title">
      {{ $t('Organization.section.comprehensiveBusiness') }}
    </h2>
    <section class="profile-list">
      <section
        class="profile-item Organization-integratedBusinessGroup"
        v-for="member in organization.other['綜合業務組']"
        :key="member.id"
      >
        <Profile type="other" :member="member" />
      </section>
    </section>

    <h2 class="Organization-title">
      {{ $t('Organization.section.evalutionAndPlanning') }}
    </h2>
    <section class="profile-list">
      <section
        class="profile-item Organization-evaluationPlanningGroup"
        v-for="member in organization.other['評估企劃組']"
        :key="member.id"
      >
        <Profile type="other" :member="member" />
      </section>
    </section>

    <h2 class="Organization-title">
      {{ $t('Organization.section.counseling') }}
    </h2>
    <section class="profile-list">
      <section
        class="profile-item Organization-advisoryCooperationGroup"
        v-for="member in counselingSection[projectJob['召集人']]"
        :key="member.id"
      >
        <div class="Organization-district-group-badge">
          <Badge isPill v-html="member.district" />
        </div>
        <Profile type="other" :member="member" />
      </section>
    </section>

    <section class="profile-list">
      <section
        class="profile-item Organization-advisoryCooperationGroup"
        v-for="member in counselingSection[projectJob['博士後研究員']]"
        :key="member.id"
      >
        <div class="Organization-district-group-badge">
          <Badge isPill v-html="member.district" />
        </div>
        <Profile type="other" :member="member" />
      </section>
    </section>

    <section class="profile-list">
      <section
        class="profile-item Organization-advisoryCooperationGroup"
        v-for="member in counselingSection[projectJob['專員']]"
        :key="member.id"
      >
        <div class="Organization-district-group-badge">
          <Badge isPill v-html="member.district" />
        </div>
        <Profile type="other" :member="member" />
      </section>
    </section>
  </main>
</template>

<script>
import Badge from '@/components/shared/Badge';
import Profile from '@/components/About/Profile.vue';

export default {
  name: 'Organization',
  components: {
    Badge,
    Profile
  },
  data() {
    return {};
  },
  computed: {
    organization() {
      return this.$store.getters['organization/organization'];
    },
    projectJob() {
      return {
        召集人: this.$t('Organization.projectJob.convener'),
        博士後研究員: this.$t('Organization.projectJob.postdoctoralFellow'),
        專員: this.$t('Organization.projectJob.coordinator')
      };
    },
    counselingSection() {
      return this.organization.other['諮詢協作組'];
    }
  }
};
</script>

<style lang="scss" scoped>
$card-width: 163px;
.Organization {
  &-title {
    margin-bottom: 10px;

    font-size: 17px;
    font-weight: 600;
    text-align: center;

    color: $greenish-teal;

    @include media(md) {
      display: block;
      font-size: 21px;
    }
  }
}

.profile-list {
  margin-bottom: 30px;

  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 20px 16px;
  @include media(md) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 30px;
    justify-items: center;
  }
  @include media(lg) {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

.profile-item {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Profile {
  margin-top: auto;
}

.Badge {
  display: inline;
  padding: 0;
  margin-bottom: 7px;
  box-shadow: 1rem 0px 0px #ff743c, -1rem 0px 0px #ff743c;

  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.Organization-district-group {
  margin-bottom: 16px;
  @include media(lg) {
    margin-bottom: 23px;
  }
  &-badge {
    padding: 0 16px;
    margin: auto 0 16px 0;

    text-align: center;
    @include media(lg) {
      margin-bottom: 20px;
    }
  }
  &-list {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}
</style>
