<template>
  <main class="CentralActivities wrap">
    <div class="filter">
      <div class="month-picker">
        <BaseSelect
          placeholder="選取年份"
          :options="yearOptions"
          :value="$store.getters['activity2/year']"
          @update:value="$store.commit('activity2/year', $event)"
          @clear="$store.commit('activity2/year', $event)"
          @change="onChangeYear"
        >
        </BaseSelect>
      </div>
      <div class="activity-category-select">
        <BaseSelect
          placeholder="選擇分類"
          :options="[
            { text: '培力/SIG活動', value: '培力/SIG活動' },
            { text: '其他活動', value: '其他活動' },
            { text: 'EXPO', value: 'EXPO' },
            { text: '線上常設展', value: '線上常設展' }
          ]"
          :value="$store.getters['activity2/category']"
          @update:value="$store.commit('activity2/category', $event)"
          @clear="$store.commit('activity2/category', $event)"
          @change="onChangeCategory"
        />
      </div>

      <div class="search-bar">
        <SearchBar
          :value="$store.getters['activity2/keyword']"
          @update:value="$store.commit('activity2/keyword', $event)"
          @change="onChangeKeyword"
        />
      </div>
    </div>
    <section class="activity-wrap">
      <p class="full-title">活動列表</p>
      <p v-if="activitiesByMonthGroup.length === 0">
        無活動
      </p>
      <template v-else>
        <div
          class="month-list"
          v-for="activitiesByMonth in activitiesByMonthGroup"
          :key="activitiesByMonth.month"
        >
          <p class="month-title">{{ activitiesByMonth.month }}月</p>
          <div class="activity-list">
            <div
              v-for="activity in activitiesByMonth.activities"
              :key="`${activity.id}-${activity.date}`"
              class="activity-list-item"
            >
              <router-link
                :to="{ name: 'CentralActivities', query: { id: activity.id } }"
                class="activity-list-item-link"
              >
                <ActivityItem :activity="activity" />
              </router-link>
            </div>
          </div>
        </div>
      </template>
    </section>

    <DetailModal
      title="活動內容"
      modal-class="activity-detail-modal"
      :visible="this.detailModalVisible && Boolean(this.activeActivityId)"
      @change="changeDetailModalVisible"
    >
      <template v-if="activeActivity">
        <header class="activity-detail-modal-header">
          <div class="activity-category">
            <span>{{ activeActivity.category }}</span>
          </div>
          <h3>{{ activeActivity.title }}</h3>
          <time>{{ activeActivity.schedule }}</time>
        </header>

        <section
          class="activity-detail-modal-content"
          v-html="activeActivity.contents"
        />
      </template>
    </DetailModal>
  </main>
</template>

<script>
import store from '@/store';

import { ActivityYearOptionsAPI } from '@/api';
import { formatDate } from '@/utils/format';
import { getMonth, getYear } from '@/utils/dateHelper';
import RouterUtils from '@/utils/route';
import { addTypeQuery, addKeywordsQuery } from '@/utils/route';

import BaseSelect from '@/components/other/BaseSelect.vue';
// import ActivityCategorySelect from '@/components/News/ActivityCategorySelect.vue';
import ActivityItem from '@/components/News/ActivityItem.vue';
import DetailModal from '@/components/shared/DetailModal';
import SearchBar from '@/components/shared/SearchBar.vue';

export default {
  name: 'CentralActivities',
  components: {
    BaseSelect,
    // ActivityCategorySelect,
    ActivityItem,
    DetailModal,
    SearchBar
  },
  props: {
    activeYear: {
      type: Number,
      default: null
    },
    activeMonth: {
      type: Number,
      default: null
    }
  },
  data() {
    return {
      yearOptions: [],

      fromHomePage: {
        activeMonth: null,
        activeYear: null
      },

      detailModalVisible: false,
      previousRouteQuery: {}
    };
  },
  beforeRouteEnter(to, from, next) {
    next(async vm => {
      if (to.query.time) {
        const year = to.query.time;
        store.commit('activity2/year', Number(year));
      }
      await vm.fetchYearOptions();

      if (from.name === 'Home') {
        vm.fromHomePage.activeMonth = vm.activeMonth;
        vm.fromHomePage.activeYear = vm.activeYear;
      }

      if (to.query.id) {
        await store.dispatch('activity2/fetchActivityById', to.query.id);
        vm.activeActivityId = to.query.id;
        vm.detailModalVisible = true;
      }
    });
  },
  async beforeRouteUpdate(to, from, next) {
    if (to.query.id) {
      await store.dispatch('activity2/fetchActivityById', to.query.id);
      this.activeActivityId = to.query.id;
      this.detailModalVisible = true;
    } else {
      this.activeActivityId = null;
      this.detailModalVisible = false;
    }

    if (to.query.type) {
      const categoryQuery = to.meta.categoryQueryMap.find(
        category => category.query === to.query.type
      );
      this.$store.commit('activity2/category', categoryQuery.value);
    }

    if (to.query.time) {
      const year = to.query.time;
      this.$store.commit('activity2/year', Number(year));
    }
    next();
  },
  computed: {
    activitiesByMonthGroup() {
      const activitiesByMonthGroup = this.$store.getters[
        'activity2/activitiesByMonthGroup'
      ];
      return this.fromHomePage.activeMonth === null
        ? activitiesByMonthGroup
        : activitiesByMonthGroup.filter(
            item => Number(item.month) === this.fromHomePage.activeMonth
          );
    },

    activeActivity: {
      get() {
        return this.$store.getters['activity2/activeActivity'];
      },
      set(value) {
        this.$store.commit('activity2/activeActivity', value);
      }
    },
    activeActivityId: {
      get() {
        return this.$store.getters['activity2/activeActivityId'];
      },
      set(value) {
        this.$store.commit('activity2/activeActivityId', value);
      }
    }
  },
  watch: {
    ['$route.query']() {
      if (Boolean(this.$route.query.type) || Boolean(this.$route.query.time)) {
        this.previousRouteQuery = this.$route.query;
      }
    }
  },
  methods: {
    formatDate,
    getMonth,

    async fetchYearOptions() {
      const yearOptions = await ActivityYearOptionsAPI.list();
      this.yearOptions = yearOptions.map(year => ({
        text: String(year),
        value: Number(year)
      }));

      const year = this.$store.getters['activity2/year'];
      if (year != null && !yearOptions.includes(year)) {
        this.$store.commit('activity2/year', getYear(new Date()));
        RouterUtils.removeQuery('time');
        this.fetchActivities();
      }
    },

    changeDetailModalVisible(visible) {
      this.detailModalVisible = visible;
      if (!visible) {
        this.activeActivityId = null;
        this.clearDetailActivity();

        this.$router.push({
          name: 'CentralActivities',
          query: this.previousRouteQuery
        });
      }
    },
    clearDetailActivity() {
      this.activeActivity = null;
    },
    async onChangeYear(value) {
      this.fromHomePage = {
        activeMonth: null,
        activeYear: null
      };

      // eslint-disable-next-line no-unused-vars
      const { time, ...otherQuerys } = this.$route.query;

      this.$router.push({
        name: this.$route.name,
        query: value ? { ...otherQuerys, time: value } : otherQuerys
      });
      this.fetchActivities();
    },
    async onChangeCategory(value) {
      addTypeQuery(this.$route, value);

      this.fetchActivities();
    },
    onChangeKeyword(value) {
      addKeywordsQuery(this.$route, value);
      this.fetchActivities();
    },

    async fetchActivities() {
      this.$store.dispatch('activity2/fetchActivities');
    }
  }
};
</script>

<style lang="scss" scoped>
.filter {
  margin-bottom: 16px;
  @include media(md) {
    display: flex;
  }
  .month-picker {
    margin-bottom: 16px;
    @include media(md) {
      margin: 0 16px 0 0;

      flex: 1;
    }
    @include media(xl) {
      flex: 0 0 17%;
    }
  }
  .activity-category-select {
    margin-bottom: 16px;
    @include media(md) {
      margin: 0 16px 0 0;

      flex: 1;
    }
    @include media(xl) {
      flex: 0 0 17%;
    }
  }
  .search-bar {
    @include media(md) {
      flex: 2;
    }
    @include media(xl) {
      flex: 0 0 34%;
    }
  }
}

.activity-list {
  @include media(md) {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex: 0 0 100%;
  }
  @include media(lg) {
    flex: 0 0 50%;
  }
  &-item {
    margin: 0 0 16px 0;
    @include media(md) {
      margin: 0 54px 16px 0;
      flex: 0 0 calc((100% - 54px) / 2);
      &:nth-child(2n) {
        margin: 0 0 16px 0;
      }
    }
  }
}
.full-title {
  flex: 0 0 100%;

  color: $greenish-teal;
  font-size: 24px;
  font-weight: 600;
}
.month-title {
  margin-bottom: 8px;

  flex: 0 0 100%;

  font-size: 22px;
  color: $greenish-teal;
  font-weight: 600;
}
.activity-list-item-link::v-deep {
  display: block;

  text-decoration: none;

  &:hover {
    .ActivityItem-title {
      color: $greenish-teal;
    }
  }
}

.activity-detail-modal {
  &-header {
    margin-bottom: 16px;

    text-align: center;

    &-image {
      margin-bottom: 16px;
    }

    .activity-category {
      margin-bottom: 6px;

      font-size: 13px;
      font-weight: 600;
      color: $pinkish-orange;

      @include media(lg) {
        margin-bottom: 10px;

        font-size: 17px;
      }
    }

    h3 {
      margin-bottom: 8px;

      font-size: 17px;
      font-weight: 600;
      color: $greyish-brown;

      @include media(lg) {
        font-size: 24px;
      }
    }

    time {
      font-size: 15px;
      color: $greyish-brown;
    }
  }

  &-image {
    text-align: center;
  }

  &-content::v-deep {
    line-height: 1.7;
    img {
      // 原始 HTML 的圖片寬是用 inline style，所以只能用 !important 強制覆蓋
      width: 100% !important;
    }
  }
}
</style>
