<template>
  <main class="CentralAnnouncement wrap">
    <div class="filter">
      <div class="year-picker">
        <BaseSelect
          placeholder="選取年份"
          :options="yearOptions"
          :value="$store.getters['announce/year']"
          @update:value="$store.commit('announce/year', $event)"
          @clear="$store.commit('announce/year', $event)"
          @change="onChangeYear"
        />
      </div>
      <div class="activity-category-select">
        <BaseSelect
          placeholder="選擇分類"
          :options="[
            { text: '最新公告', value: '最新公告' },
            { text: '修正計畫', value: '修正計畫' },
            { text: '計畫管考', value: '計畫管考' },
            { text: '成果報告', value: '成果報告' }
          ]"
          :value="$store.getters['announce/category']"
          @update:value="$store.commit('announce/category', $event)"
          @clear="$store.commit('announce/category', $event)"
          @change="onChangeCategory"
        />
      </div>
      <div class="search-bar">
        <SearchBar
          :value="$store.getters['announce/keyword']"
          @update:value="$store.commit('announce/keyword', $event)"
          @change="onChangeKeyword"
        />
      </div>
      <div class="pagination-size-changer">
        <PaginationSizeChanger
          :total="$store.getters['announce/total']"
          :page-size="pageSize"
          @update:page-size="pageSize = $event"
          @change="onChangePageSize"
        />
      </div>
    </div>
    <div class="CentralAnnouncement-list">
      <div
        class="CentralAnnouncement-item"
        v-for="announce in $store.getters['announce/announces']"
        :key="announce.id"
      >
        <div class="CentralAnnouncement-content">
          <div class="CentralAnnouncement-info">
            <div class="CentralAnnouncement-time">
              {{ announce.opendate }}
            </div>
            <div class="CentralAnnouncement-badge">
              <Badge>{{ announce.category }}</Badge>
            </div>
          </div>
          <div class="CentralAnnouncement-title">
            <router-link
              :to="{
                name: 'CentralAnnouncement',
                query: { id: announce.id }
              }"
            >
              {{ announce.title }}
            </router-link>
          </div>
        </div>
        <div v-if="announce.Attached_file" class="CentralAnnouncement-donwload">
          <DonloadIcon />
        </div>
      </div>
    </div>

    <Pagination
      :current-page="currentPage"
      @update:currentPage="currentPage = $event"
      :page-size="pageSize"
      @update:pageSize="pageSize = $event"
      :total="$store.getters['announce/total']"
      @change="onChangePagination"
    />

    <DetailModal
      title="公告內容"
      modal-class="announce-detail-modal"
      :visible="this.detailModalVisible && Boolean(activeAnnounceId)"
      @change="onChangeDetailModalVisible"
    >
      <template v-if="activeAnnounce">
        <header class="announce-detail-modal-header">
          <div class="typetag">
            <span>{{ activeAnnounce.category }}</span>
          </div>
          <h3>{{ activeAnnounce.title }}</h3>
          <time>公告日期：{{ activeAnnounce.opendate }}</time>
        </header>
        <section
          class="announce-detail-modal-content"
          v-html="activeAnnounce.contents"
        />
      </template>
    </DetailModal>
  </main>
</template>

<script>
import store from '@/store';

import { AnnouncementYearOptionsAPI } from '@/api';
import { formatDate } from '@/utils/format.js';
import RouterUtils from '@/utils/route';
import { addTypeQuery, addKeywordsQuery, checkTypeQuery } from '@/utils/route';

// ====================================
// customize component
import BaseSelect from '@/components/other/BaseSelect.vue';
import DetailModal from '@/components/shared/DetailModal.vue';
import SearchBar from '@/components/shared/SearchBar.vue';
import Badge from '@/components/shared/Badge.vue';
import PaginationSizeChanger from '@/components/shared/PaginationSizeChanger.vue';
import Pagination from '@/components/shared/Pagination.vue';
// ====================================
// svg component
import DonloadIcon from '@/assets/images/icons/icon-donload-file.svg';

export default {
  name: 'CentralAnnouncement',
  components: {
    BaseSelect,
    DetailModal,
    SearchBar,
    Badge,
    PaginationSizeChanger,
    Pagination,

    DonloadIcon
  },
  data() {
    return {
      yearOptions: [],

      detailModalVisible: false,
      previousRouteQuery: {},
      currentPage: 1,
      pageSize: 10
    };
  },
  computed: {
    pageOptions() {
      return {
        currentPage: this.currentPage,
        pageSize: this.pageSize
      };
    },
    activeAnnounce: {
      get() {
        return this.$store.getters['announce/activeAnnounce'];
      },
      set(value) {
        this.$store.commit('announce/activeAnnounce', value);
      }
    },
    activeAnnounceId: {
      get() {
        return this.$store.getters['announce/activeAnnounceId'];
      },
      set(value) {
        this.$store.commit('announce/activeAnnounceId', value);
      }
    }
  },
  beforeRouteEnter(to, from, next) {
    next(async vm => {
      if (to.query.time) {
        const year = to.query.time;
        store.commit('announce/year', Number(year));
      }
      await vm.fetchYearOptions();
      if (to.query.id) {
        await store.dispatch('announce/fetchAnnounceById', to.query.id);
        vm.activeAnnounceId = to.query.id;
        vm.detailModalVisible = true;
      }
    });
  },
  async beforeRouteUpdate(to, from, next) {
    if (to.query.id) {
      await store.dispatch('announce/fetchAnnounceById', to.query.id);
      this.activeAnnounceId = to.query.id;
      this.detailModalVisible = true;
    } else {
      this.activeAnnounceId = null;
      this.detailModalVisible = false;
    }

    if (to.query.time) {
      const year = to.query.time;
      this.$store.commit('announce/year', year);
    }
    checkTypeQuery(to, function onComplete(type) {
      store.commit('announce/category', type);
    });
    next();
  },
  watch: {
    ['$route.query']() {
      if (Boolean(this.$route.query.type) || Boolean(this.$route.query.time)) {
        this.previousRouteQuery = this.$route.query;
      }
    }
  },
  methods: {
    formatDate,

    async fetchYearOptions() {
      const yearOptions = await AnnouncementYearOptionsAPI.list();
      this.yearOptions = yearOptions.map(year => ({
        text: String(year),
        value: Number(year)
      }));

      const year = this.$store.getters['announce/year'];
      if (year != null && !yearOptions.includes(year)) {
        this.$store.commit('announce/year', null);
        RouterUtils.removeQuery('time');
        this.fetchAnnounces();
      }
    },

    onChangeDetailModalVisible(visible) {
      this.detailModalVisible = visible;
      if (!visible) {
        this.activeAnnounceId = null;
        this.activeAnnounce = null;

        this.$router.push({
          name: this.$route.name,
          query: this.previousRouteQuery
        });
      }
    },

    async onChangeYear(value) {
      this.currentPage = 1;

      // eslint-disable-next-line no-unused-vars
      const { time, ...otherQuerys } = this.$route.query;

      this.$router.push({
        name: this.$route.name,
        query: value ? { ...otherQuerys, time: value } : otherQuerys
      });
      this.onChangeHandler();
    },
    async onChangeCategory(value) {
      addTypeQuery(this.$route, value);
      this.onChangeHandler();
    },
    async onChangeKeyword(value) {
      addKeywordsQuery(this.$route, value);
      this.onChangeHandler();
    },
    async onChangePageSize() {
      this.onChangeHandler();
    },
    async onChangePagination() {
      await this.fetchAnnounces();
      window.scrollTo(0, 0);
    },

    async onChangeHandler() {
      this.currentPage = 1;
      await this.fetchAnnounces();
    },
    async fetchAnnounces() {
      await this.$store.dispatch(
        'announce/fetchAnnouncesDebounce',
        this.pageOptions
      );
    }
  }
};
</script>

<style lang="scss" scoped>
.filter {
  margin-bottom: 16px;
  @include media(md) {
    display: flex;
  }
  .year-picker {
    margin-bottom: 16px;
    @include media(md) {
      margin: 0 16px 0 0;

      flex: 0 0 17%;
    }
  }
  .activity-category-select {
    margin-bottom: 16px;
    @include media(md) {
      margin: 0 16px 0 0;

      flex: 0 0 17%;
    }
  }
  .search-bar {
    margin-bottom: 16px;
    @include media(md) {
      margin: 0;

      flex: 0 0 34%;
    }
  }
  .pagination-size-changer {
    @include media(md) {
      margin-left: 16px;

      align-self: center;
    }
    @include media(md) {
      margin-left: auto;
    }

    align-self: center;
  }
}

.CentralAnnouncement {
  &-item {
    padding: 25px 0;

    display: flex;
    align-items: center;

    border-bottom: solid 3px $greenish-teal;
    &:last-child {
      margin-bottom: 37px;
    }
  }
  &-conent {
    flex: 2 0 0;
  }
  &-info {
    margin-bottom: 20px;
  }
  &-time {
    margin-right: 16px;

    display: inline-block;
    vertical-align: middle;

    color: $warm-grey;
  }
  &-badge {
    display: inline-block;
  }
  &-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

    font-weight: 600;

    a {
      color: $greyish-brown;

      &:hover {
        text-decoration: none;
      }
    }
  }
  &-donwload {
    margin: 0 25px 0 auto;

    cursor: pointer;
  }
}
.announce-detail-modal {
  &-header {
    margin-bottom: 16px;

    text-align: center;
  }
  .typetag {
    margin-bottom: 8px;
    text-align: center;
    span {
      color: $pinkish-orange;
    }
  }
  h3 {
    margin-bottom: 8px;

    font-size: 17px;
    font-weight: 600;
    color: $greyish-brown;

    @include media(lg) {
      font-size: 24px;
    }
  }
  &-content {
    line-height: 1.7;
  }
}
</style>
