<template>
  <main class="Download wrap">
    <div class="filter">
      <div class="activity-category-select">
        <BaseSelect
          placeholder="選擇分類"
          :options="[
            { text: '計畫公告', value: '計畫公告' },
            { text: '修正計畫', value: '修正計畫' },
            { text: '計畫徵件', value: '計畫徵件' }
          ]"
          :value="$store.getters['download/category']"
          @update:value="$store.commit('download/category', $event)"
          @clear="$store.commit('download/category', $event)"
          @change="onChangeCategory"
        />
      </div>
      <div class="search-bar">
        <SearchBar
          :value="$store.getters['download/keyword']"
          @update:value="$store.commit('download/keyword', $event)"
          @change="onChangeKeyword"
        />
      </div>
      <div class="pagination-size-changer">
        <PaginationSizeChanger
          :total="$store.getters['download/total']"
          :page-size="pageSize"
          @update:page-size="pageSize = $event"
          @change="onChangePageSize"
        />
      </div>
    </div>
    <div class="Download-list">
      <div
        class="Download-item"
        v-for="file in $store.getters['download/files']"
        :key="file.id"
      >
        <div class="Download-container">
          <div class="Download-info">
            <div class="Download-badge">
              <Badge>{{ file.category }}</Badge>
            </div>
          </div>
          <div class="Download-title">{{ file.name }}</div>
        </div>
        <a :href="file.url" target="_blank" class="Download-icon">
          <PDFIcon v-if="file.format === 'pdf'" />
          <ODTIcon v-else-if="file.format === 'odt'" />
          <ODSIcon v-else-if="file.format === 'ods'" />
        </a>
      </div>
    </div>

    <Pagination
      :current-page="currentPage"
      @update:currentPage="currentPage = $event"
      :page-size="pageSize"
      @update:pageSize="pageSize = $event"
      :total="$store.getters['download/total']"
      @change="onChangePagination"
    />
  </main>
</template>

<script>
import { addTypeQuery, addKeywordsQuery } from '@/utils/route';

import BaseSelect from '@/components/other/BaseSelect.vue';
import SearchBar from '@/components/shared/SearchBar.vue';
import Badge from '@/components/shared/Badge.vue';
import PaginationSizeChanger from '@/components/shared/PaginationSizeChanger.vue';
import Pagination from '@/components/shared/Pagination.vue';
import PDFIcon from '@/assets/images/icons/icon-pdf.svg';
import ODTIcon from '@/assets/images/icons/icon-odt.svg';
import ODSIcon from '@/assets/images/icons/icon-ods.svg';

export default {
  name: 'Download',
  components: {
    BaseSelect,
    SearchBar,
    Badge,
    PaginationSizeChanger,
    Pagination,
    PDFIcon,
    ODTIcon,
    ODSIcon
  },
  data() {
    return {
      currentPage: 1,
      pageSize: 10
    };
  },
  computed: {
    pageOptions() {
      return {
        currentPage: this.currentPage,
        pageSize: this.pageSize
      };
    }
  },
  methods: {
    async onChangeCategory(value) {
      this.onChangeHandler();

      addTypeQuery(this.$route, value);
    },
    async onChangeKeyword(value) {
      this.onChangeHandler();

      addKeywordsQuery(this.$route, value);
    },

    async onChangePageSize() {
      this.onChangeHandler();
    },
    async onChangePagination() {
      await this.fetchDownloadFiles();
      window.scrollTo(0, 0);
    },

    async onChangeHandler() {
      this.currentPage = 1;
      await this.fetchDownloadFiles();
    },
    async fetchDownloadFiles() {
      await this.$store.dispatch(
        'download/fetchDownloadFiles',
        this.pageOptions
      );
    }
  }
};
</script>

<style lang="scss" scoped>
.filter {
  margin-bottom: 16px;
  @include media(md) {
    display: flex;
  }
  .activity-category-select {
    margin-bottom: 16px;
    @include media(md) {
      margin: 0 16px 0 0;

      flex: 0 0 17%;
    }
  }
  .search-bar {
    margin-bottom: 16px;
    @include media(md) {
      margin: 0;

      flex: 0 0 34%;
    }
  }
  .pagination-size-changer {
    margin-left: auto;

    align-self: center;
  }
}

.Download {
  &-item {
    padding: 35px 0;

    display: flex;
    align-items: center;

    border-bottom: solid 3px $greenish-teal;
    &:last-child {
      margin-bottom: 37px;
    }
  }
  &-container {
    flex: 1 0 0;
  }
  &-info {
    margin-bottom: 20px;
  }
  &-time {
    margin-right: 16px;

    display: inline-block;
    vertical-align: middle;

    color: $warm-grey;
  }
  &-badge {
    display: inline-block;
  }
  &-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

    font-weight: 600;
  }
  &-icon {
    margin-left: 20px;

    flex: 0 0 60px;

    text-align: center;

    border: none;
    background-color: transparent;

    user-select: none;

    @include media(md) {
      margin: 0 20px;
    }
  }
}

.pagiation-phone-size {
  text-align: center;
  @include media(md) {
    display: none;
  }
}
.pagiation-lebtop-size {
  display: none;
  @include media(md) {
    display: block;

    text-align: center;
  }
}

::v-deep {
  .ant-pagination-prev .ant-pagination-item-link,
  .ant-pagination-next .ant-pagination-item-link {
    display: block;
    height: 100%;
    font-size: 12px;
    text-align: center;
    border: none;
    border-radius: 4px;
    outline: none;
    transition: all 0.3s;
  }

  .ant-pagination-disabled a,
  .ant-pagination-disabled:hover a,
  .ant-pagination-disabled:focus a,
  .ant-pagination-disabled .ant-pagination-item-link,
  .ant-pagination-disabled:hover .ant-pagination-item-link,
  .ant-pagination-disabled:focus .ant-pagination-item-link {
    border-color: transparent;
  }
  .ant-pagination-prev:focus .ant-pagination-item-link,
  .ant-pagination-next:focus .ant-pagination-item-link,
  .ant-pagination-prev:hover .ant-pagination-item-link,
  .ant-pagination-next:hover .ant-pagination-item-link {
    color: $warm-grey;
  }

  .ant-pagination-item {
    display: inline-block;
    min-width: 32px;
    height: 32px;
    margin-right: 8px;
    font-family: $font-family-sans-serif;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    list-style: none;
    color: $greyish-brown;
    background-color: $pale-grey;
    border: none;
    border-radius: 100%;
    outline: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .ant-pagination-item-active {
    font-weight: 500;
    color: $white;
    background-color: $greenish-teal;
    border-color: transparent;
  }
  .ant-pagination.mini .ant-pagination-item {
    min-width: 30px;
    height: 30px;
    margin-right: 8px;

    line-height: 30px;
  }
  .ant-pagination.mini .ant-pagination-item:not(.ant-pagination-item-active) {
    color: $greyish-brown;
    background-color: $pale-grey;
  }
  .ant-pagination-jump-prev:focus .ant-pagination-item-ellipsis,
  .ant-pagination-jump-next:focus .ant-pagination-item-ellipsis,
  .ant-pagination-jump-prev:hover .ant-pagination-item-ellipsis,
  .ant-pagination-jump-next:hover .ant-pagination-item-ellipsis {
    opacity: 1;
  }
  .ant-pagination-jump-prev:focus .ant-pagination-item-link-icon,
  .ant-pagination-jump-next:focus .ant-pagination-item-link-icon,
  .ant-pagination-jump-prev:hover .ant-pagination-item-link-icon,
  .ant-pagination-jump-next:hover .ant-pagination-item-link-icon {
    opacity: 0;
  }
}
</style>
