<template>
  <main class="FAQ wrap">
    <div class="filter">
      <div class="activity-category-select">
        <BaseSelect
          placeholder="選擇分類"
          :options="[
            { text: '經費相關', value: 'charge' },
            { text: '人事相關', value: 'hr' },
            { text: '計畫精神', value: 'plan_purpose' }
          ]"
          :value="$store.getters['faq/category']"
          @update:value="$store.commit('faq/category', $event)"
          @clear="$store.commit('faq/category', $event)"
          @change="onChangeCategory"
        />
      </div>
      <div class="search-bar">
        <SearchBar
          :value="$store.getters['faq/keyword']"
          @update:value="$store.commit('faq/keyword', $event)"
          @change="onChangeKeyword"
        />
      </div>
      <div class="pagination-size-changer">
        <PaginationSizeChanger
          :total="$store.getters['faq/total']"
          :page-size="pageSize"
          @update:page-size="pageSize = $event"
          @change="onChangePageSize"
        />
      </div>
    </div>
    <!-- <BaseButton class="FAQ-form-button" @click="formModalVisible = true">
        我要提問
      </BaseButton> -->
    <div class="FAQ-list">
      <div
        v-for="(faq, index) in $store.getters['faq/FAQs']"
        :key="index"
        class="FAQ-item"
      >
        <!-- {{ faq }} -->
        <div class="FAQ-badge">
          <Badge>{{ faq.type }}</Badge>
        </div>
        <div class="FAQ-question">
          <div class="FAQ-question-label">
            <span>Q</span>
          </div>
          <div class="FAQ-question-title">{{ faq.question }}</div>
        </div>
        <div class="FAQ-answer">
          <div class="FAQ-answer-label">
            <span>A</span>
          </div>
          <!-- <div class="FAQ-answer-content">{{ faq.answer }}</div> -->
          <div class="FAQ-answer-content" v-html="faq.answer"></div>
        </div>
      </div>
    </div>
    <Pagination
      :current-page="currentPage"
      @update:currentPage="currentPage = $event"
      :page-size="pageSize"
      @update:pageSize="pageSize = $event"
      :total="$store.getters['faq/total']"
      @change="onChangePagination"
    />

    <FormModal
      title="我要提問"
      type="submit"
      modal-class="FAQ-form-modal"
      :visible="formModalVisible"
      @change="formModalVisible = $event"
    >
      <template #default>
        <BaseForm
          ref="FAQForm"
          class="FAQ-form"
          formName="FAQ"
          use-upload-image
          :identity-options="['計畫端', '校窗口']"
          :class-options="[
            { text: '計畫執行', value: '1' },
            { text: '經費相關', value: '2' },
            { text: '計畫管考', value: '3' },
            { text: '其他', value: '4' }
          ]"
          @submit="onBaseFormSubmit"
        >
          <template #upload-image>
            <UploadImage
              id="upload-image"
              :uploaded-images="uploadedImage.files"
              @update:uploaded-images="uploadImage"
              @delete:uploaded-image="$delete(uploadedImage.files, $event)"
              :error-message-type="uploadedImage.errorMessageType"
              @update:error-message-type="
                uploadedImage.errorMessageType = $event
              "
            />
          </template>
        </BaseForm>
      </template>

      <template #modal-footer>
        <BaseButton @click="onFormModalSubmit">送出訊息</BaseButton>
      </template>
    </FormModal>

    <MessageModal
      id="FAQ-message-model"
      :title="isSubmitSuccess ? '確認寄出' : '未成功寄出'"
      :visible="messageModalVisible"
      @change="messageModalVisible = $event"
    >
      <template v-if="isSubmitSuccess">
        <p>已收到您的訊息，我們將會盡快回覆，謝謝。</p>
        <p>若需加速審核訊息，請於上班時間來電告知。</p>
        <p>(週一至週五 8:30~17:30，電話：06-209-0300)</p>
      </template>
      <p v-else>未收到您的訊息，請重新送出，謝謝。</p>
    </MessageModal>
  </main>
</template>

<script>
import store from '@/store';

import { mapGetters } from 'vuex';

import API from '@/utils/BackendAPI';
import { addTypeQuery, addKeywordsQuery, checkTypeQuery } from '@/utils/route';

import FAQ_Raw from '@/assets/data/faq.json';

import BaseSelect from '@/components/other/BaseSelect.vue';
import SearchBar from '@/components/shared/SearchBar.vue';
import Badge from '@/components/shared/Badge.vue';
import PaginationSizeChanger from '@/components/shared/PaginationSizeChanger.vue';
import Pagination from '@/components/shared/Pagination.vue';
import BaseButton from '@/components/other/BaseButton.vue';
import FormModal from '@/components/shared/FormModal.vue';
import BaseForm from '@/components/other/BaseForm';
import UploadImage from '@/components/shared/UploadImage';
import MessageModal from '@/components/shared/MessageModal';

export default {
  name: 'FAQ',
  components: {
    BaseSelect,
    SearchBar,
    Badge,
    BaseButton,
    PaginationSizeChanger,
    Pagination,
    FormModal,
    BaseForm,
    UploadImage,
    MessageModal
  },
  data() {
    return {
      currentPage: 1,
      pageSize: 10,
      formModalVisible: false,
      messageModalVisible: false,
      uploadedImage: {
        files: [],
        errorMessageType: null
      },
      isSubmitSuccess: false
    };
  },
  computed: {
    ...mapGetters({
      keyword: 'faq/keyword',
      category: 'faq/category'
    }),

    initUploadedImage() {
      return {
        files: [],
        errorMessageType: null
      };
    },
    FAQ() {
      return FAQ_Raw.filter(item =>
        this.category === null ? true : item.type === this.category
      )
        .map(item =>
          item.frequently_question.map(subItem => {
            return { type: item.type, ...subItem };
          })
        )
        .flat()
        .filter(
          item =>
            item.question.includes(this.keyword) ||
            item.answer.includes(this.keyword)
        );
    },

    pageOptions() {
      return {
        currentPage: this.currentPage,
        pageSize: this.pageSize
      };
    }
  },
  async beforeRouteUpdate(to, from, next) {
    checkTypeQuery(to, function onComplete(type) {
      store.commit('faq/category', type);
    });

    await this.fetchFAQs();
    next();
  },
  methods: {
    onChangeCategory(value) {
      this.currentPage = 1;

      addTypeQuery(this.$route, value);
    },
    onChangeKeyword(value) {
      this.onChangeHandler();

      addKeywordsQuery(this.$route, value);
    },
    async onChangePageSize() {
      this.onChangeHandler();
    },
    async onChangePagination() {
      await this.fetchFAQs();
      window.scrollTo(0, 0);
    },

    async onChangeHandler() {
      await this.fetchFAQs();
      this.currentPage = 1;
    },
    async fetchFAQs() {
      await this.$store.dispatch('faq/fetchFAQs', this.pageOptions);
    },

    async uploadImage(files, file) {
      try {
        const message = await API.uploadImage(file);

        // 各種訊息狀態的詳情請參閱 UploadImage 元件的 `errorMessageMap`
        if (message === 'file_type_error') {
          this.uploadedImage.errorMessageType = 'typeLimit';
        } else if (message === 'Upload_file_is_too_large') {
          this.uploadedImage.errorMessageType = 'sizeLimit';
        } else if (message === 'file_over_one') {
          this.uploadedImage.errorMessageType = 'multiLimit';
        } else {
          // 可能有以下訊息狀態
          // - 上傳成功：Save_successful
          // - 未上傳：Please_Upload_file
          this.uploadedImage.errorMessageType = null;
        }

        // 若上傳圖片時發生任何錯誤，不會更新畫面的上傳檔案清單
        if (this.uploadedImage.errorMessageType === null) {
          this.uploadedImage.files = files;
        }
      } catch (error) {
        // 印出例外
        console.log(error.message);
      }
    },
    resetUploadImage() {
      this.uploadedImage = { ...this.initUploadedImage };
    },
    async onBaseFormSubmit(value) {
      const message = await this.$store.dispatch('faq/submitForm', value);
      this.isSubmitSuccess = message.includes('successful');

      // 表單送出成功才會關閉 FormModal，且會重置表單欄位資料 (包括上傳的圖片列表)
      // 表單送出失敗不會關閉 FormModal
      if (this.isSubmitSuccess) {
        this.formModalVisible = false;
        // FormModal 已關閉時，表單元件已不存在，所以不用重製表單
        // this.$refs.FAQForm.resetForm();
        this.resetUploadImage();
      }
      // 不管表單送出成功或失敗，都會開啟 MessageModal 顯示對應的訊息
      this.messageModalVisible = true;
    },
    onFormModalSubmit() {
      this.$refs.FAQForm.onSubmit();
    }
  }
};
</script>

<style lang="scss" scoped>
.filter {
  margin-bottom: 30px;
  @include media(md) {
    margin-bottom: 20px;
    display: flex;
  }
  .activity-category-select {
    margin-bottom: 16px;
    @include media(md) {
      margin: 0 16px 0 0;

      flex: 0 0 17%;
    }
  }
  .search-bar {
    margin-bottom: 16px;
    @include media(md) {
      margin: 0 16px 0 0;

      flex: 0 0 34%;
    }
    @include media(xl) {
    }
  }

  .pagination-size-changer {
    @include media(md) {
      margin-left: auto;

      align-self: center;
    }
  }
}
.FAQ {
  &-form-button {
    width: 300px;
    margin: auto;

    display: block;
  }
  &-list {
    margin-bottom: 20px;
  }
  &-item {
    padding: 20px 0;

    border-bottom: solid 3px $greenish-teal;
  }
  &-badge {
    margin-bottom: 20px;
  }
  &-question {
    display: flex;
    margin-bottom: 24px;
    &-label {
      height: 30px;
      margin-right: 16px;

      flex: 0 0 30px;
      text-align: center;

      background-color: $pinkish-orange;
      border-radius: 30px 30px 0 30px;
      span {
        color: $white;
        font-size: 17px;
        line-height: 1.7;
        vertical-align: middle;
      }
    }
    &-title {
      flex: 2 0 0;
      color: $greyish-brown;
      font-size: 17px;
      font-weight: 600;
      line-height: 30px;
      vertical-align: middle;
    }
  }
  &-answer {
    display: flex;
    &-label {
      height: 30px;
      margin-right: 16px;

      flex: 0 0 30px;
      text-align: center;

      background-color: $marigold;
      border-radius: 30px 0 30px 30px;
      span {
        color: $white;
        font-size: 17px;
        line-height: 30px;
        vertical-align: middle;
      }
    }
    &-content {
      flex: 2 0 0;

      color: $greyish-brown;
      font-size: 17px;
      line-height: 1.7;
      vertical-align: top;
      word-break: break-all;
    }
  }
}
</style>

<style lang="scss">
.FAQ-form {
  max-width: 540px;
  margin: 0 auto;

  .BaseForm-submit-button {
    max-width: 340px;

    display: none;

    @include media(lg) {
      display: block;
    }
  }
}

.FAQ-form-modal {
  .modal-body {
    @include media(lg) {
      padding-bottom: 50px;
    }
  }

  .modal-footer {
    @include media(lg) {
      display: none;
    }
  }
}

.FAQ-message-model {
  .modal-body {
    @include media(lg) {
      padding-bottom: 40px;
    }
  }
}
</style>
