<template>
  <BasePostItem class="MediaPostItem" :post="post" hide-tag>
    <template #fake-image>
      <component :is="fakeImage" />
    </template>
    <template #datetime="{ post }">
      {{ post.date }}
    </template>
  </BasePostItem>
</template>

<script>
import BasePostItem from '@/components/other/BasePostItem';

import BlogImage from '@/assets/images/views/A-Home/illustration-blog.svg';
import MediaImage from '@/assets/images/views/G-Media/illustration-media.svg';

export default {
  name: 'MediaPostItem',
  components: {
    BasePostItem,
    BlogImage,
    MediaImage
    // TypeTag
  },
  props: {
    type: {
      type: String,
      required: true,
      validator(value) {
        return ['blog', 'media'].includes(value);
      }
    },
    post: {
      type: Object,
      required: true
    }
  },
  computed: {
    fakeImage() {
      return this.type === 'blog' ? 'BlogImage' : 'MediaImage';
    }
  }
};
</script>

<style lang="scss" scoped>
.MediaPostItem::v-deep {
  .BasePostItem {
    &-image {
      margin-bottom: 10px;
      @include media(md) {
        height: 211px;
      }
      @include media(lg) {
        height: 160px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      svg {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
</style>
