<template>
  <BasePostItem class="MediaPostItem" :post="post" hide-tag>
    <template #fake-image>
      <FakeImage :post="post" :fake-images="fakeImages" />
    </template>
    <template #datetime="{ post }">
      {{ post.date }}
    </template>
  </BasePostItem>
</template>

<script>
import BasePostItem from '@/components/other/BasePostItem';
import FakeImage from '@/components/shared/FakeImage.vue';

export default {
  name: 'MediaPostItem',
  components: {
    BasePostItem,
    FakeImage
  },
  props: {
    type: {
      type: String,
      required: true,
      validator(value) {
        return ['blog', 'media'].includes(value);
      }
    },
    post: {
      type: Object,
      required: true
    }
  },
  computed: {
    fakeImages() {
      switch (this.type) {
        case 'blog':
          return this.blogFakeImages;
        case 'media':
          return this.mediaFakeImages;

        default:
          // 否則隨便給一些假圖
          return this.blogFakeImages;
      }
    },
    blogFakeImages() {
      return [
        require('@/assets/images/views/G-Media/blog_01.jpg'),
        require('@/assets/images/views/G-Media/blog_02.jpg'),
        require('@/assets/images/views/G-Media/blog_03.jpg')
      ];
    },
    mediaFakeImages() {
      return [
        require('@/assets/images/views/G-Media/media_01.jpg'),
        require('@/assets/images/views/G-Media/media_02.jpg'),
        require('@/assets/images/views/G-Media/media_03.jpg')
      ];
    }
  }
};
</script>

<style lang="scss" scoped>
.MediaPostItem::v-deep {
  @include media(md) {
    padding: 16px 0;
    display: flex;
    border-bottom: solid 3px $greenish-teal;
  }

  .BasePostItem {
    &-image {
      height: 211px;
      @include media(md) {
        height: 100px;
        margin-right: 15px;
        flex: 0 0 163px;
      }
    }
  }
}
</style>
