<template>
  <section class="ExhibitionPrimaryVideo" v-if="vedioURL">
    <div class="content">
      <b-embed type="iframe" aspect="16by9" :src="vedioURL" allowfullscreen />
    </div>
  </section>
</template>

<script>
export default {
  name: 'ExhibitionPrimaryVideo',
  computed: {
    vedioURL() {
      const introduction = this.$store.getters['exhibition/introduction'];
      return introduction?.primaryYouTubeEmbedURL ?? null;
    }
  }
};
</script>

<style lang="scss" scoped>
.ExhibitionPrimaryVideo {
  padding-bottom: 36px;

  background-color: $beige;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}
</style>
