<template>
  <main class="ColumnArticle wrap">
    <div class="top-post">
      <div class="top-post-image">
        <img v-if="topBlog.image" :src="topBlog.image" :alt="topBlog.title" />
        <FakeImage
          v-else
          :post="activity"
          :fake-images="[
            require('@/assets/images/views/G-Media/blog_01.jpg'),
            require('@/assets/images/views/G-Media/blog_02.jpg'),
            require('@/assets/images/views/G-Media/blog_03.jpg')
          ]"
        />
        <div class="top-post-label">
          <CulomnLabel />
        </div>
      </div>
      <div class="top-post-content">
        <div class="top-post-time">
          {{ topBlog.date }}
        </div>
        <h2 class="top-post-title">
          {{ topBlog.title }}
        </h2>
        <div class="top-post-text">
          <p>{{ topBlog.description }}...</p>
          <span class="top-post-more">繼續閱讀</span>
        </div>
      </div>
      <router-link
        :to="{ name: 'ColumnArticleView', params: { id: topBlog.id } }"
        class="stretched-link"
      />
    </div>
    <div class="filter-phone-size">
      <div class="year-picker">
        <BaseSelect
          placeholder="選取年份"
          :options="yearOptions"
          :value="$store.getters['blog/year']"
          @update:value="$store.commit('blog/year', $event)"
          @clear="$store.commit('blog/year', $event)"
          @change="onChangeYear"
        />
      </div>
      <div class="search-bar">
        <SearchBar
          :value="$store.getters['blog/keyword']"
          @update:value="$store.commit('blog/keyword', $event)"
          @change="onChangeKeyword"
        />
      </div>
      <div class="pagination-size-changer">
        <PaginationSizeChanger
          :total="blogCount"
          :page-size="pageSize"
          @update:page-size="pageSize = $event"
          @change="onChangePageSize"
        />
      </div>
    </div>
    <div class="post">
      <p v-if="blogs.length === 0">無資料</p>
      <div class="media-base-post-item" v-for="blog in blogs" :key="blog.id">
        <router-link
          :to="{ name: 'ColumnArticleView', params: { id: blog.id } }"
        >
          <MediaPostItem type="blog" :post="blog" />
        </router-link>
      </div>
    </div>
    <div class="pagination">
      <Pagination
        :current-page="currentPage"
        @update:currentPage="currentPage = $event"
        :page-size="pageSize"
        @update:pageSize="pageSize = $event"
        :total="blogCount"
        @change="onChangePagination"
      />
    </div>
  </main>
</template>

<script>
// import store from '@/store';
import { mapGetters, mapMutations } from 'vuex';

import { BlogYearOptionsAPI } from '@/api';

import BaseSelect from '@/components/other/BaseSelect.vue';
import SearchBar from '@/components/shared/SearchBar.vue';
import PaginationSizeChanger from '@/components/shared/PaginationSizeChanger.vue';
import MediaPostItem from '@/components/Media/MediaPostItem.vue';
import Pagination from '@/components/shared/Pagination.vue';

import CulomnLabel from '@/assets/images/icons/icon-culomn-latest.svg';

export default {
  name: 'ColumnArticle',
  components: {
    BaseSelect,
    SearchBar,
    PaginationSizeChanger,
    MediaPostItem,
    Pagination,

    CulomnLabel
  },
  data() {
    return {
      yearOptions: [],

      currentPage: 1,
      pageSize: 10
    };
  },
  beforeRouteEnter(to, from, next) {
    next(async vm => {
      await vm.fetchYearOptions();
    });
  },
  computed: {
    ...mapGetters({
      year: 'blog/year',
      keyword: 'blog/keyword',
      topBlog: 'blog/topBlog',
      blogs: 'blog/blogs',
      blogCount: 'blog/total'
    }),

    pageOptions() {
      return {
        currentPage: this.currentPage,
        pageSize: this.pageSize
      };
    }
  },
  methods: {
    async fetchYearOptions() {
      const yearOptions = await BlogYearOptionsAPI.list();
      this.yearOptions = yearOptions.map(year => ({
        text: String(year),
        value: Number(year)
      }));
    },

    ...mapMutations({
      updateYear: 'blog/year',
      updateKeyword: 'blog/keyword'
    }),

    async onChangeYear() {
      this.onChangeHandler();
    },
    async onChangeKeyword() {
      this.onChangeHandler();
    },
    async onChangePageSize() {
      this.onChangeHandler();
    },
    async onChangePagination() {
      await this.fetchBlogs();

      window.scrollTo(0, 0);
    },

    async onChangeHandler() {
      this.currentPage = 1;
      await this.fetchBlogs();
    },
    async fetchBlogs() {
      await this.$store.dispatch('blog/fetchBlogs', this.pageOptions);
    }
  }
};
</script>

<style lang="scss" scoped>
.top-post {
  display: none;
  @include media(lg) {
    margin-bottom: 37px;
    display: flex;
    position: relative;
  }
  &-image {
    height: 350px;
    margin-right: 20px;

    flex: 1;

    position: relative;

    border: solid 3px $greenish-teal;
    border-radius: 10px;
    @include media(xl) {
      margin-right: 36px;
      flex: 0 0 647px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 7px;
    }
    svg {
      width: 100%;
      height: 100%;
      object-fit: cover;

      border-radius: 7px;
    }
  }
  &-label {
    position: absolute;
    top: 8px;
    left: 8px;
    svg {
      border-radius: 0;
    }
  }
  &-content {
    flex: 0 0 40%;
  }
  &-time {
    margin-bottom: 10px;

    color: $warm-grey;
  }
  &-title {
    margin-bottom: 8px;

    font-size: 20px;
    color: $greyish-brown;
    line-height: 1.7;
  }
  &-text {
    display: flex;
    flex-direction: column;

    text-align: justify;

    font-size: 17px;
    color: $greyish-brown;
    line-height: 1.7;
  }
  &-more {
    margin-left: auto;

    font-size: 17px;
    color: $warm-grey;
  }
}
.filter-phone-size {
  margin-bottom: 16px;
  @include media(md) {
    display: flex;
  }
  .year-picker {
    margin-bottom: 16px;
    @include media(md) {
      margin-right: 16px;
      flex: 0 0 17%;
    }
  }
  .search-bar {
    margin-bottom: 16px;
    @include media(md) {
      flex: 0 0 34%;
    }
  }
  .pagination-size-changer {
    @include media(md) {
      margin-left: auto;
    }
  }
}
.media-base-post-item {
  margin-bottom: 16px;
  &:last-of-type {
    margin-bottom: 0;
  }
}
.post {
  margin-bottom: 36px;
}
</style>
