<template>
  <main class="ColumnArticleView wrap">
    <div class="ColumnArticleView-title">
      <h2>{{ blog.title }}</h2>
      <time>{{ blog.date }}</time>
    </div>
    <div class="ColumnArticleView-content" v-html="blog.contents" />
    <div class="ColumnArticleView-other-articles">
      <p class="ColumnArticleView-other-articles-title">
        其他報專欄文章
      </p>
      <div class="ColumnArticleView-other-articles-list">
        <div
          class="ColumnArticleView-other-articles-item"
          v-for="otherBlog in otherBlogs"
          :key="otherBlog.id"
        >
          <router-link
            :to="{
              name: 'ColumnArticleView',
              params: { id: otherBlog.id }
            }"
          >
            <MediaOtherPostItem type="blog" :post="otherBlog" />
          </router-link>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import { mapGetters } from 'vuex';

import MediaOtherPostItem from '@/components/Media/MediaOtherPostItem.vue';

export default {
  name: 'ColumnArticleView',
  components: {
    MediaOtherPostItem
  },
  async beforeRouteUpdate(to, from, next) {
    await this.$store.dispatch('blog/fetchBlogById', to.params.id);
    next();
  },
  computed: {
    ...mapGetters({
      blog: 'blog/blog',
      otherBlogs: 'blog/otherBlogs'
    })
  }
};
</script>

<style lang="scss" scoped>
.ColumnArticleView {
  &-title {
    height: 180px;
    padding: 20px;
    margin-bottom: 35px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: solid 3px $greenish-teal;
    border-radius: 9px;
    background-color: $pale-grey;
    h2 {
      margin-bottom: 16px;

      text-align: center;

      font-size: 17px;
      font-weight: 600;
      color: $greenish-teal;
      @include media(md) {
        font-size: 24px;
      }
    }
    time {
      font-size: 15px;
      color: $greenish-teal;
    }
  }
  &-content {
    margin-bottom: 30px;

    font-size: 17px;
    line-height: 1.7;
    word-break: break-all;
  }
  &-other-articles {
    &-title {
      text-align: center;

      font-size: 20px;
      font-weight: 600;
    }
    &-list {
      @include media(md) {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-gap: 35px;
      }
      @include media(lg) {
        grid-template-columns: repeat(4, minmax(0, 1fr));
      }
    }
    &-item {
      margin-bottom: 16px;
      @include media(md) {
        margin: 0;
      }
    }
  }
}
</style>
