<template>
  <main class="MediaReportView wrap">
    <div class="MediaReportView-title">
      <h2>{{ report.title }}</h2>
      <time>{{ report.date }}</time>
    </div>
    <div class="MediaReportView-content" v-html="report.contents" />
    <div class="MediaReportView-other-articles">
      <p class="MediaReportView-other-articles-title">
        {{ $t('otherBlog') }}
      </p>
      <div class="MediaReportView-other-articles-list">
        <div
          class="MediaReportView-other-articles-item"
          v-for="otherReport in otherReports"
          :key="otherReport.id"
        >
          <router-link :to="mediaReportView(otherReport.id)">
            <MediaOtherPostItem type="media" :post="otherReport" />
          </router-link>
        </div>
      </div>
    </div>
  </main>
</template>

<i18n lang="yaml">
zh: 
  otherBlog: "其他報專欄文章"
en: 
  otherBlog: "USR Blog"
</i18n>

<script>
import { mapGetters } from 'vuex';

import MediaOtherPostItem from '@/components/Media/MediaOtherPostItem.vue';

export default {
  name: 'MediaReportView',
  components: {
    MediaOtherPostItem
  },
  async beforeRouteUpdate(to, from, next) {
    await this.$store.dispatch('report/fetchReportById', to.params.id);
    next();
  },
  computed: {
    ...mapGetters({
      report: 'report/report',
      otherReports: 'report/otherReports'
    }),

    mediaReportView() {
      return id => {
        if (this.$i18n.locale === 'zh') {
          return { name: 'MediaReportView', params: { id } };
        } else if (this.$i18n.locale === 'en') {
          return { name: 'MediaReportViewEnglish', params: { id } };
        } else {
          return { name: 'MediaReportView', params: { id } };
        }
      };
    }
  }
};
</script>

<style lang="scss" scoped>
.MediaReportView {
  &-title {
    height: 180px;
    padding: 20px;
    margin-bottom: 35px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: solid 3px $greenish-teal;
    border-radius: 9px;
    background-color: $pale-grey;
    h2 {
      margin-bottom: 16px;

      text-align: center;

      font-size: 17px;
      font-weight: 600;
      color: $greenish-teal;
      @include media(md) {
        font-size: 24px;
      }
    }
    time {
      font-size: 15px;
      color: $greenish-teal;
    }
  }
  &-content {
    margin-bottom: 30px;

    font-size: 17px;
    line-height: 1.7;
  }
  &-other-articles {
    &-title {
      margin-bottom: 30px;

      text-align: center;

      font-size: 20px;
      font-weight: 600;
    }
    &-list {
      @include media(md) {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-gap: 35px;
      }
      @include media(lg) {
        grid-template-columns: repeat(4, minmax(0, 1fr));
      }
    }
    &-item {
      margin-bottom: 16px;
      @include media(md) {
        margin: 0;
      }
    }
  }
}
</style>
