<template>
  <main class="MediaReport wrap">
    <div class="top-post">
      <div class="top-post-image">
        <img
          v-if="topReport.image"
          :src="topReport.image"
          :alt="topReport.title"
        />
        <FakeImage
          v-else
          :post="activity"
          :fake-images="[
            require('@/assets/images/views/G-Media/media_01.jpg'),
            require('@/assets/images/views/G-Media/media_02.jpg'),
            require('@/assets/images/views/G-Media/media_03.jpg')
          ]"
        ></FakeImage>

        <div class="top-post-label">
          <span>{{ $t('newestLabel') }}</span>
        </div>
      </div>
      <div class="top-post-content">
        <div class="top-post-time">
          {{ topReport.date }}
        </div>
        <h2 class="top-post-title">
          {{ topReport.title }}
        </h2>
        <div class="top-post-text">
          <p>{{ topReport.description }}...</p>
          <span class="top-post-more">{{ $t('readMore') }}</span>
        </div>
      </div>
      <router-link :to="mediaReportView(topReport.id)" class="stretched-link" />
    </div>
    <div class="filter-phone-size">
      <div class="year-picker">
        <BaseSelect
          :placeholder="$t('yearSelectPlaceholder')"
          :options="yearOptions"
          :value="$store.getters['report/year']"
          @update:value="$store.commit('report/year', $event)"
          @clear="$store.commit('report/year', $event)"
          @change="onChangeYear"
        />
      </div>
      <div class="search-bar">
        <SearchBar
          :value="$store.getters['report/keyword']"
          @update:value="$store.commit('report/keyword', $event)"
          @change="onChangeKeyword"
        />
      </div>
      <div class="pagination-size-changer">
        <PaginationSizeChanger
          :total="reportCount"
          :page-size="pageSize"
          @update:page-size="pageSize = $event"
          @change="onChangePageSize"
        />
      </div>
    </div>
    <div class="post">
      <p v-if="reports.length === 0">無資料</p>
      <div
        class="media-base-post-item"
        v-for="report in reports"
        :key="report.id"
      >
        <router-link :to="mediaReportView(report.id)">
          <MediaPostItem type="media" :post="report" />
        </router-link>
      </div>
    </div>
    <div class="pagination">
      <Pagination
        :current-page="currentPage"
        @update:currentPage="currentPage = $event"
        :page-size="pageSize"
        @update:pageSize="pageSize = $event"
        :total="reportCount"
        @change="onChangePagination"
      />
    </div>
  </main>
</template>

<i18n lang="yaml">
zh: 
  newestLabel: "最新報導"
  readMore: "繼續閱讀"
  yearSelectPlaceholder: "選取年份"
en: 
  newestLabel: "USR News"
  readMore: "more..."
  yearSelectPlaceholder: "year"
</i18n>

<script>
// import store from '@/store';
import { mapGetters } from 'vuex';

import { MediaYearOptionsAPI } from '@/api';

import BaseSelect from '@/components/other/BaseSelect.vue';
import SearchBar from '@/components/shared/SearchBar.vue';
import PaginationSizeChanger from '@/components/shared/PaginationSizeChanger.vue';
import MediaPostItem from '@/components/Media/MediaPostItem.vue';
import Pagination from '@/components/shared/Pagination.vue';
import FakeImage from '@/components/shared/FakeImage.vue';

// import MediaLabel from '@/assets/images/icons/icon-media-latest.svg';

export default {
  name: 'MediaReport',
  components: {
    BaseSelect,
    SearchBar,
    PaginationSizeChanger,
    MediaPostItem,
    Pagination,
    FakeImage

    // MediaLabel
  },
  data() {
    return {
      yearOptions: [],

      currentPage: 1,
      pageSize: 10
    };
  },
  beforeRouteEnter(to, from, next) {
    next(async vm => {
      await vm.fetchYearOptions();
    });
  },
  computed: {
    ...mapGetters({
      year: 'report/year',
      keyword: 'report/keyword',
      topReport: 'report/topReport',
      reports: 'report/reports',
      reportCount: 'report/total'
    }),

    pageOptions() {
      return {
        currentPage: this.currentPage,
        pageSize: this.pageSize
      };
    },

    mediaReportView() {
      return id => {
        if (this.$i18n.locale === 'zh') {
          return { name: 'MediaReportView', params: { id } };
        } else if (this.$i18n.locale === 'en') {
          return { name: 'MediaReportViewEnglish', params: { id } };
        } else {
          return { name: 'MediaReportView', params: { id } };
        }
      };
    }
  },
  methods: {
    async fetchYearOptions() {
      const yearOptions = await MediaYearOptionsAPI.list();
      this.yearOptions = yearOptions.map(year => ({
        text: String(year),
        value: Number(year)
      }));
    },

    async onChangeYear() {
      this.onChangeHandler();
    },
    async onChangeKeyword() {
      this.onChangeHandler();
    },
    async onChangePageSize() {
      this.onChangeHandler();
    },
    async onChangePagination() {
      await this.fetchReports();

      window.scrollTo(0, 0);
    },

    async onChangeHandler() {
      this.currentPage = 1;
      await this.fetchReports();
    },
    async fetchReports() {
      await this.$store.dispatch('report/fetchReports', this.pageOptions);
    }
  }
};
</script>

<style lang="scss" scoped>
.top-post {
  display: none;
  @include media(lg) {
    margin-bottom: 37px;
    display: flex;

    position: relative;

    cursor: pointer;
  }
  &-image {
    height: 350px;
    margin-right: 20px;

    flex: 1;

    position: relative;

    border: solid 3px $greenish-teal;
    border-radius: 10px;
    @include media(xl) {
      margin-right: 36px;
      flex: 0 0 647px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 7px;
    }
    svg {
      width: 100%;
      height: 100%;
      object-fit: cover;

      border-radius: 7px;
    }
  }
  &-label {
    width: 126px;
    height: 42px;
    background-color: $greenish-teal;
    border-radius: 42px 0 42px 0;
    text-align: center;
    position: absolute;
    top: 8px;
    left: 8px;
    span {
      font-size: 15px;
      color: $white;
      line-height: 42px;
      vertical-align: middle;
    }
  }
  &-content {
    flex: 0 0 40%;
  }
  &-time {
    margin-bottom: 10px;

    color: $warm-grey;
  }
  &-title {
    margin-bottom: 16px;

    font-size: 20px;
    color: $greyish-brown;
    line-height: 1.7;
  }
  &-text {
    display: flex;
    flex-direction: column;

    text-align: justify;

    font-size: 17px;
    color: $greyish-brown;
    line-height: 1.7;
  }
  &-more {
    margin-left: auto;

    font-size: 17px;
    color: $warm-grey;
  }
}
.filter-phone-size {
  margin-bottom: 16px;
  @include media(md) {
    display: flex;
  }
  .year-picker {
    margin-bottom: 16px;
    @include media(md) {
      margin-right: 16px;
      flex: 0 0 17%;
    }
  }
  .search-bar {
    margin-bottom: 16px;
    @include media(md) {
      flex: 0 0 34%;
    }
  }
  .pagination-size-changer {
    @include media(md) {
      margin-left: auto;
    }
  }
}
.media-base-post-item {
  margin-bottom: 16px;
  &:last-of-type {
    margin-bottom: 0;
  }
}
.post {
  margin-bottom: 36px;
}
</style>
