<template>
  <main class="Documents wrap">
    <h3 class="tab-title">推動中心中長期效益評估作業須知</h3>
    <div class="top-post" @click="openDetailModal(getTopDocument.id)">
      <DocumentTopPost :topDocument="getTopDocument" :loading="loadingList" />
    </div>
    <div class="filter-phone-size">
      <div class="year-picker">
        <BaseSelect
          placeholder="選取年份"
          :options="yearOptions"
          :value.sync="year"
          @clear="year = $event"
          @change="onChangeYear"
        />
      </div>
      <div class="search-bar">
        <SearchBar :value.sync="keyword" @change="onChangeKeyword" />
      </div>
      <div class="pagination-size-changer">
        <PaginationSizeChanger
          :total="documents.length"
          :pageSize.sync="pageSize"
          @change="currentPage = 1"
        />
      </div>
    </div>
    <div class="document-post-list">
      <div
        class="document-post-item"
        v-for="(report, index) in currentPagePostItems"
        :key="report ? report.id : index"
      >
        <div @click="openDetailModal(report.id)">
          <DocumentPostItem :post="report" :loading="loadingList" />
        </div>
      </div>
    </div>
    <div class="pagination">
      <Pagination
        :currentPage.sync="currentPage"
        :pageSize.sync="pageSize"
        :total="documents.length"
        @change="onChangePagination"
      />
    </div>
    <DetailModal
      title="公告內容"
      modal-class="announce-detail-modal"
      :visible="detailModalVisible"
      @change="onChangeDetailModalVisible"
    >
      <b-skeleton-wrapper :loading="loadingList">
        <template #loading>
          <header class="document-detail-modal-header">
            <h3>
              <b-skeleton height="18px"></b-skeleton>
            </h3>
            <time>
              <div class="document-detail-modal-time">
                <span>日期：</span>
                <b-skeleton
                  class="mb-0"
                  width="100px"
                  height="16px"
                ></b-skeleton>
              </div>
            </time>
          </header>
          <section class="announce-detail-modal-content">
            <SkeletonParagraph :rows="8" height="16px" rowSpacing="16px" />
          </section>
        </template>

        <template v-if="activeDocuments">
          <header class="document-detail-modal-header">
            <h3>{{ activeDocuments.title }}</h3>
            <div class="document-detail-modal-time">
              <span>日期：</span>
              <time>{{ activeDocuments.date }}</time>
            </div>
          </header>
          <section
            class="announce-detail-modal-content"
            v-html="activeDocuments.content"
          />
        </template>
      </b-skeleton-wrapper>
    </DetailModal>
  </main>
</template>
<script>
import { AssessmentAPI } from '@/api';
import { groupBy } from '@/utils/helper';
import { getIntervalYearOptions } from '@/utils/date.js';
import RouterUtils from '@/utils/route';

import BaseSelect from '@/components/other/BaseSelect.vue';
import SearchBar from '@/components/shared/SearchBar.vue';
import PaginationSizeChanger from '@/components/shared/PaginationSizeChanger.vue';
import DocumentPostItem from '@/components/Assessment/DocumentPostItem.vue';
import DocumentTopPost from '@/components/Assessment/DocumentTopPost.vue';
import Pagination from '@/components/shared/Pagination.vue';
import DetailModal from '@/components/shared/DetailModal.vue';
import SkeletonParagraph from '@/components/shared/SkeletonParagraph.vue';

export default {
  name: 'Documents',
  components: {
    BaseSelect,
    SearchBar,
    PaginationSizeChanger,
    DocumentPostItem,
    DocumentTopPost,
    Pagination,
    DetailModal,
    SkeletonParagraph
  },
  data() {
    return {
      loadingList: true,

      year: null,
      keyword: '',

      documents: [],
      detailModalVisible: false,
      activeDocuments: null,
      currentPage: 1,
      pageSize: 10
    };
  },
  created() {
    this.fetchAllPages();
  },
  computed: {
    pageOptions() {
      return {
        currentPage: this.currentPage,
        pageSize: this.pageSize
      };
    },
    getTopDocument() {
      return this.documents[0] ?? null;
    },
    currentPagePostItems() {
      return this.loadingList
        ? Array(this.pageSize).fill(null)
        : this.postItemsByPage[this.currentPage];
    },
    postItemsByPage() {
      if (this.documents <= this.pageSize) {
        return { 1: this.documents };
      } else {
        const whichPageNumber = (_item, index) =>
          Math.ceil((index + 1) / this.pageSize);
        return groupBy(this.documents, whichPageNumber);
      }
    },
    filters() {
      const filterConditionMap = {
        year: value => ({ date: { year: Number(value) } }),
        keyword: value => ({ title: { search: value } })
      };
      const andConditions = Object.entries(this.$route.query)
        .filter(([key]) => ['year', 'keyword'].includes(key))
        .map(([key, value]) => {
          const getCondition = filterConditionMap[key];
          return getCondition(value);
        });
      return andConditions.length === 0 ? null : { AND: andConditions };
    },
    yearOptions() {
      return getIntervalYearOptions(2021, new Date().getFullYear());
    }
  },
  beforeRouteEnter(to, from, next) {
    next(async vm => {
      if (to.query.year !== undefined) {
        vm.year = Number(to.query.year);
      }
      if (to.query.id) vm.openDetailModal.call(vm, to.query.id);
    });
  },
  methods: {
    async fetchAllPages() {
      this.loadingList = true;
      const eachPageRecords = AssessmentAPI.documents.eachPage({
        filters: this.filters
      });
      let numberOfFetches = 0;
      for await (const records of eachPageRecords) {
        numberOfFetches++;
        if (numberOfFetches === 1) this.documents = [];
        this.documents.push(...records);
      }
      this.currentPage = 1;
      this.loadingList = false;
    },
    async onChangeYear(value) {
      RouterUtils.toggleQuery('year', value);
      this.fetchAllPages();
    },
    async onChangeKeyword(value) {
      if (value.trim().length === 0) {
        RouterUtils.removeQuery('keyword', value);
      } else {
        RouterUtils.addQuery('keyword', value);
      }
      this.fetchAllPages();
    },
    onChangePagination() {
      window.scrollTo(0, 0);
    },
    async openDetailModal(id) {
      this.activeDocuments = await AssessmentAPI.documents.get(id);
      this.detailModalVisible = true;

      if (!this.$route.query.id) {
        this.$router.push({
          name: this.$route.name,
          query: { id }
        });
      }
    },
    onChangeDetailModalVisible(visible) {
      this.detailModalVisible = visible;
      if (!visible) {
        this.activeRelatedProject = null;
        this.$router.push({ name: this.$route.name });
      }
    }
  }
};
</script>
<style lang="scss" scoped>
.tab-title {
  display: none;
  @include media(md) {
    display: block;
    margin-bottom: 37px;
    text-align: center;
    font-size: 21px;
    color: $greenish-teal;
  }
}

.filter-phone-size {
  margin-bottom: 16px;
  @include media(md) {
    display: flex;
  }
  .year-picker {
    margin-bottom: 16px;
    @include media(md) {
      margin-right: 16px;
      flex: 0 0 17%;
    }
  }
  .search-bar {
    margin-bottom: 16px;
    @include media(md) {
      flex: 0 0 34%;
    }
  }
  .pagination-size-changer {
    @include media(md) {
      margin-left: auto;
    }
  }
}

.document-post {
  &-list {
    margin-bottom: 36px;
  }
}

.document-detail-modal {
  &-header {
    margin-bottom: 16px;

    text-align: center;
  }
  h3 {
    margin-bottom: 8px;

    font-size: 17px;
    font-weight: 600;
    color: $greyish-brown;

    @include media(lg) {
      font-size: 24px;
    }
  }
  &-time {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-content {
    line-height: 1.7;
  }
}
</style>
