<template>
  <main class="InternationalProjects wrap">
    <h3 class="tab-title">國際 USR 資源</h3>
    <main>
      <div class="filter">
        <div class="pagination-size-changer">
          <PaginationSizeChanger
            :total="internationalProjects.length"
            :pageSize.sync="pageSize"
            @change="currentPage = 1"
          />
        </div>
      </div>
      <div class="InternationalProjects-list">
        <a
          class="project-item"
          :href="project ? project.link : null"
          target="blank"
          v-for="(project, index) in currentPagePostItems"
          :key="project ? project.id : index"
        >
          <InternationalProjectsPostItem
            :project="project"
            :loading="loadingList"
          />
        </a>
      </div>
      <Pagination
        :currentPage.sync="currentPage"
        :pageSize.sync="pageSize"
        :total="internationalProjects.length"
        @change="onChangePagination"
      />
    </main>
  </main>
</template>
<script>
import { AssessmentAPI } from '@/api';
import { groupBy } from '@/utils/helper';

import PaginationSizeChanger from '@/components/shared/PaginationSizeChanger.vue';
import Pagination from '@/components/shared/Pagination.vue';
import InternationalProjectsPostItem from '@/components/Assessment/InternationalProjectsPostItem.vue';

export default {
  name: 'InternationalProjects',
  components: {
    PaginationSizeChanger,
    Pagination,
    InternationalProjectsPostItem
  },
  data() {
    return {
      loadingList: true,

      internationalProjects: [],
      currentPage: 1,
      pageSize: 10
    };
  },
  created() {
    this.fetchAllPages();
  },
  computed: {
    currentPagePostItems() {
      return this.loadingList
        ? Array(this.pageSize).fill(null)
        : this.postItemsByPage[this.currentPage];
    },
    postItemsByPage() {
      if (this.internationalProjects <= this.pageSize) {
        return { 1: this.internationalProjects };
      } else {
        const whichPageNumber = (_item, index) =>
          Math.ceil((index + 1) / this.pageSize);
        return groupBy(this.internationalProjects, whichPageNumber);
      }
    }
  },
  methods: {
    async fetchAllPages() {
      this.loadingList = true;
      const eachPageRecords = AssessmentAPI.internationalProjects.eachPage();
      let numberOfFetches = 0;
      for await (const records of eachPageRecords) {
        numberOfFetches++;
        if (numberOfFetches === 1) this.internationalProjects = [];
        this.internationalProjects.push(...records);
      }
      this.currentPage = 1;
      this.loadingList = false;
    },
    async onChangePagination() {
      window.scrollTo(0, 0);
    }
  }
};
</script>
<style lang="scss" scoped>
.InternationalProjects {
  &-list {
    margin-bottom: 20px;
  }
}

main {
  padding: 0;
}

.tab-title {
  display: none;
  @include media(md) {
    display: block;
    text-align: center;
    font-size: 21px;
    color: $greenish-teal;
  }
}

.filter {
  display: none;
  margin-bottom: 16px;
  @include media(md) {
    display: flex;
  }
  .pagination-size-changer {
    @include media(md) {
      margin-left: auto;
    }
  }
}

.project {
  &-item {
    display: block;
    margin-bottom: 16px;
    border: solid 3px $greenish-teal;
    border-radius: 5px;
  }
}
</style>
