<template>
  <main class="RelatedProjects wrap">
    <header class="mb-3">
      <h2 class="title d-none d-md-block">部會相關資源</h2>
      <p class="note">所有報名詳細資料皆以計畫網站為主</p>
    </header>

    <section class="list">
      <header class="list-header d-none d-md-flex">
        <PaginationSizeChanger
          class="ml-auto"
          :total="postItems.length"
          :pageSize.sync="pageSize"
          @change="currentPage = 1"
        />
      </header>

      <section
        class="item"
        v-for="(postItem, index) in currentPagePostItems"
        :key="postItem ? postItem.id : index"
      >
        <RelatedProjectPostItem
          :loading="loadingList"
          :data="postItem"
          @readMore="
            $router.push({
              name: $route.name,
              query: { id: postItem.id }
            })
          "
        />
      </section>

      <footer>
        <Pagination
          :currentPage.sync="currentPage"
          :pageSize.sync="pageSize"
          :total="postItems.length"
          @change="onChangePagination"
        />
      </footer>
    </section>

    <RelatedProjectDetailModal
      :loading="loadingDetailModal"
      :data="activePostItem"
      :visible="detailModalVisible"
      @change="detailModalVisible = $event"
      @hidden="onHiddenDetailModal"
    />
  </main>
</template>

<script>
import { AssessmentAPI } from '@/api';
import { groupBy } from '@/utils/helper';

import PaginationSizeChanger from '@/components/shared/PaginationSizeChanger.vue';
import Pagination from '@/components/shared/Pagination.vue';
import RelatedProjectPostItem from '@/components/Assessment/RelatedProjectPostItem.vue';
import RelatedProjectDetailModal from '@/components/Assessment/RelatedProjectDetailModal.vue';

export default {
  name: 'RelatedProjects',
  components: {
    PaginationSizeChanger,
    Pagination,
    RelatedProjectPostItem,
    RelatedProjectDetailModal
  },
  data() {
    return {
      loadingList: true,
      loadingDetailModal: true,

      postItems: [],

      detailModalVisible: false,
      activePostItem: null,

      currentPage: 1,
      pageSize: 10
    };
  },
  computed: {
    currentPagePostItems() {
      return this.loadingList
        ? Array(this.pageSize).fill(null)
        : this.postItemsByPage[this.currentPage];
    },
    postItemsByPage() {
      if (this.postItems <= this.pageSize) {
        return { 1: this.postItems };
      } else {
        const whichPageNumber = (_item, index) =>
          Math.ceil((index + 1) / this.pageSize);
        return groupBy(this.postItems, whichPageNumber);
      }
    }
  },
  created() {
    this.fetchAllPages();
  },
  beforeRouteEnter(to, from, next) {
    next(vm => {
      if (to.query.id === undefined) return;
      vm.openDetailModal.call(vm, to.query.id).catch(() => {
        vm.$router.replace({ name: vm.$route.name });
      });
    });
  },
  async beforeRouteUpdate(to, from, next) {
    if (to.query.id === undefined) {
      this.closeDetailModal();
    } else {
      this.openDetailModal(to.query.id);
    }
    next();
  },
  methods: {
    async fetchAllPages() {
      this.loadingList = true;
      const eachPageRecords = AssessmentAPI.relatedProjects.eachPage();
      let numberOfFetches = 0;
      for await (const records of eachPageRecords) {
        numberOfFetches++;
        if (numberOfFetches === 1) this.postItems = [];
        this.postItems.push(...records);
      }
      this.currentPage = 1;
      this.loadingList = false;
    },
    onChangePagination() {
      window.scrollTo(0, 0);
    },

    async openDetailModal(id) {
      this.loadingDetailModal = true;
      this.detailModalVisible = true;
      this.activePostItem = await AssessmentAPI.relatedProjects.get(id);
      this.loadingDetailModal = false;
    },
    closeDetailModal() {
      this.detailModalVisible = false;
      this.activePostItem = null;
    },
    onHiddenDetailModal() {
      if (this.$route.query.id === undefined) return;
      this.$router.push({ name: this.$route.name });
    }
  }
};
</script>

<style lang="scss" scoped>
.title {
  text-align: center;

  font-size: 21px;
  font-weight: 600;
  color: $greenish-teal;
}

.list-header {
  margin-bottom: 40px;
}

.note {
  text-align: center;

  font-size: 15px;
  font-weight: 600;
  color: $warm-grey;
}

.item {
  &::after {
    content: '';
    display: block;
    margin: 40px 0;
    border-bottom: 3px solid $greenish-teal;
  }
}
</style>
