<template>
  <main class="Reports wrap">
    <header>
      <h2 class="title d-none d-md-block">報告書</h2>
      <p class="note" :style="{ opacity: type === '大學社會責任年報' ? 1 : 0 }">
        學校次序依筆畫順序出現
      </p>
    </header>

    <section class="list">
      <header class="list-header d-md-flex justify-content-between">
        <div class="filter">
          <BaseSelect
            hideClear
            placeholder="選擇分類"
            :options="typeOptions"
            :value.sync="type"
            @clear="type = $event"
            @change="onChangeType"
          />
          <BaseSelect
            hideClear
            placeholder="選取年份"
            :options="yearOptions"
            :value.sync="year"
            @clear="year = $event"
            @change="onChangeYear"
          />
        </div>
        <PaginationSizeChanger
          class="d-none d-md-flex ml-4"
          :pageSizeOptions="[12, 24, 36]"
          :total="postItems.length"
          :pageSize.sync="pageSize"
          @change="currentPage = 1"
        />
      </header>

      <section class="items">
        <ReportPostItem
          v-for="(postItem, index) in currentPagePostItems"
          :key="postItem ? postItem.id : index"
          :data="postItem"
          :loading="loadingList"
        />
      </section>

      <footer class="list-footer">
        <Pagination
          :currentPage.sync="currentPage"
          :pageSize.sync="pageSize"
          :total="postItems.length"
          @change="onChangePagination"
        />
      </footer>
    </section>
  </main>
</template>

<script>
import { parseISO, getYear, isBefore } from 'date-fns';

import { AssessmentAPI } from '@/api';
import { groupBy } from '@/utils/helper';
import { getIntervalYearOptions } from '@/utils/date.js';
import RouterUtils from '@/utils/route';

import BaseSelect from '@/components/other/BaseSelect.vue';
import PaginationSizeChanger from '@/components/shared/PaginationSizeChanger.vue';
import Pagination from '@/components/shared/Pagination.vue';
import ReportPostItem from '@/components/Assessment/ReportPostItem.vue';

export default {
  name: 'Reports',
  components: {
    BaseSelect,
    PaginationSizeChanger,
    Pagination,
    ReportPostItem
  },
  data() {
    /**
     * @description 每年 05-01 後，「選擇年份」預設為「當年度 - 1」
     * @example
     * - 若現在日期為 2021-04-30，「選擇年份」預設為 2019
     * - 若現在日期為 2021-05-01，「選擇年份」預設為 2020
     * - 若現在日期為 2021-12-31，「選擇年份」預設為 2020
     * - 若現在日期為 2022-04-30，「選擇年份」預設為 2020
     * - 若現在日期為 2022-05-01，「選擇年份」預設為 2021
     */
    function getDefaultYear() {
      const today = new Date();
      const thisYear = getYear(today);
      const nextYear = thisYear + 1;
      const updateDateOfCurrnetAnnual = parseISO(`${thisYear}-05-01`);
      const updateDateOfNextAnnual = parseISO(`${nextYear}-05-01`);

      if (isBefore(today, updateDateOfCurrnetAnnual)) {
        return thisYear - 2;
      } else if (isBefore(today, updateDateOfNextAnnual)) {
        return thisYear - 1;
      } else {
        return thisYear;
      }
    }

    return {
      loadingList: true,

      type: '大學社會責任年報',
      year: getDefaultYear(),
      typeOptions: [],

      postItems: [],

      currentPage: 1,
      pageSize: 12
    };
  },
  computed: {
    currentPagePostItems() {
      return this.loadingList
        ? Array(this.pageSize).fill(null)
        : this.postItemsByPage[this.currentPage];
    },
    postItemsByPage() {
      if (this.postItems <= this.pageSize) {
        return { 1: this.postItems };
      } else {
        const whichPageNumber = (_item, index) =>
          Math.ceil((index + 1) / this.pageSize);
        return groupBy(this.postItems, whichPageNumber);
      }
    },
    filters() {
      const filterConditionMap = {
        type: value => ({ type: { equals: value } }),
        year: value => ({ year: { equals: Number(value) } })
      };
      const andConditions = Object.entries(this.$route.query)
        .filter(([key]) => ['type', 'year'].includes(key))
        .map(([key, value]) => {
          const getCondition = filterConditionMap[key];
          return getCondition(value);
        });
      return andConditions.length === 0 ? null : { AND: andConditions };
    },
    yearOptions() {
      return getIntervalYearOptions(2020, new Date().getFullYear());
    }
  },
  beforeRouteEnter(to, from, next) {
    next(vm => {
      vm.fetchTypeOptions();
      vm.fetchAllPages();
      if (to.query.type !== undefined) {
        vm.type = to.query.type;
      } else if (vm.type !== undefined) {
        RouterUtils.addQuery('type', vm.type);
      }
      if (to.query.year !== undefined) {
        vm.year = Number(to.query.year);
      } else if (vm.year !== undefined) {
        RouterUtils.addQuery('year', vm.year);
      }
    });
  },
  methods: {
    async fetchTypeOptions() {
      const typeOptions = await AssessmentAPI.reportTypeOptions.list();
      this.typeOptions = typeOptions.map(options => ({
        text: options,
        value: options
      }));
    },
    async fetchAllPages() {
      this.loadingList = true;
      const eachPageRecords = AssessmentAPI.reports.eachPage({
        filters: this.filters
      });
      let numberOfFetches = 0;
      for await (const records of eachPageRecords) {
        numberOfFetches++;
        if (numberOfFetches === 1) this.postItems = [];
        this.postItems.push(...records);
      }
      this.currentPage = 1;
      this.loadingList = false;
    },
    onChangeType(value) {
      RouterUtils.toggleQuery('type', value);
      this.fetchAllPages();
    },
    onChangeYear(value) {
      RouterUtils.toggleQuery('year', value);
      this.fetchAllPages();
    },
    onChangePagination() {
      window.scrollTo(0, 0);
    }
  }
};
</script>

<style lang="scss" scoped>
.Reports header {
  margin-bottom: 16px;

  @include media(md) {
    margin-bottom: 40px;
  }
}

.title {
  text-align: center;

  font-size: 21px;
  font-weight: 600;
  color: $greenish-teal;
}

.note {
  text-align: center;

  font-size: 15px;
  font-weight: 600;
  color: $warm-grey;
}

.filter {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;

  @include media(md) {
    flex-direction: row;
  }

  .BaseSelect {
    @include media(md) {
      flex: 0 0 200px;
    }
  }

  > * + * {
    margin-top: 16px;

    @include media(md) {
      margin-top: 0;
      margin-left: 16px;
    }
  }
}

.list {
  &-header {
    margin-bottom: 26px;

    @include media(md) {
      margin-bottom: 40px;
    }
  }
  &-footer {
    margin-top: 40px;
  }
}

.items {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;

  @include media(sm) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include media(lg) {
    grid-template-columns: repeat(3, 1fr);
  }
}
</style>
