<template>
  <main class="Workshops wrap">
    <h3 class="tab-title">培力活動</h3>
    <main>
      <div class="filter">
        <div class="year-picker">
          <BaseSelect
            placeholder="選取年份"
            :options="yearOptions"
            :value.sync="year"
            @clear="year = $event"
            @change="onChangeYear"
          />
        </div>
        <div class="search-bar">
          <SearchBar :value.sync="keyword" @change="onChangeKeyword" />
        </div>
        <div class="pagination-size-changer">
          <PaginationSizeChanger
            :total="workshops.length"
            :pageSize.sync="pageSize"
            @change="currentPage = 1"
          />
        </div>
      </div>
      <div class="Workshops-list">
        <div
          class="work-shops-item"
          v-for="(work, index) in currentPagePostItems"
          :key="work ? work.id : index"
        >
          <WorkShopPostItem :work="work" :loading="loadingList" />
        </div>
      </div>
      <div class="pagination">
        <Pagination
          :currentPage.sync="currentPage"
          :pageSize.sync="pageSize"
          :total="workshops.length"
          @change="onChangePagination"
        />
      </div>
    </main>
  </main>
</template>
<script>
import { AssessmentAPI } from '@/api';
import { groupBy } from '@/utils/helper';
import { getIntervalYearOptions } from '@/utils/date.js';
import RouterUtils from '@/utils/route';

import BaseSelect from '@/components/other/BaseSelect.vue';
import SearchBar from '@/components/shared/SearchBar.vue';
import PaginationSizeChanger from '@/components/shared/PaginationSizeChanger.vue';
import Pagination from '@/components/shared/Pagination.vue';
import WorkShopPostItem from '@/components/Assessment/WorkShopPostItem.vue';

export default {
  name: 'Workshops',
  components: {
    BaseSelect,
    SearchBar,
    PaginationSizeChanger,
    Pagination,
    WorkShopPostItem
  },
  data() {
    return {
      loadingList: true,

      year: null,
      keyword: '',

      workshops: [],

      currentPage: 1,
      pageSize: 10
    };
  },
  created() {
    this.fetchAllPages();
  },
  beforeRouteEnter(to, from, next) {
    next(vm => {
      if (to.query.year !== undefined) {
        vm.year = Number(to.query.year);
      }
      if (to.query.keyword !== undefined) {
        vm.keyword = to.query.keyword;
      }
    });
  },
  computed: {
    currentPagePostItems() {
      return this.loadingList
        ? Array(this.pageSize).fill(null)
        : this.postItemsByPage[this.currentPage];
    },
    postItemsByPage() {
      if (this.workshops <= this.pageSize) {
        return { 1: this.workshops };
      } else {
        const whichPageNumber = (_item, index) =>
          Math.ceil((index + 1) / this.pageSize);
        return groupBy(this.workshops, whichPageNumber);
      }
    },
    filters() {
      const filterConditionMap = {
        year: value => ({ year: { equals: Number(value) } }),
        keyword: value => ({ title: { search: value } })
      };
      const andConditions = Object.entries(this.$route.query)
        .filter(([key]) => ['year', 'keyword'].includes(key))
        .map(([key, value]) => {
          const getCondition = filterConditionMap[key];
          return getCondition(value);
        });
      return andConditions.length === 0 ? null : { AND: andConditions };
    },
    yearOptions() {
      return getIntervalYearOptions(2019, new Date().getFullYear());
    }
  },
  methods: {
    async fetchAllPages() {
      this.loadingList = true;
      const eachPageRecords = AssessmentAPI.workshops.eachPage({
        filters: this.filters
      });
      let numberOfFetches = 0;
      for await (const records of eachPageRecords) {
        numberOfFetches++;
        if (numberOfFetches === 1) this.workshops = [];
        this.workshops.push(...records);
      }
      this.currentPage = 1;
      this.loadingList = false;
    },
    onChangeYear(value) {
      RouterUtils.toggleQuery('year', value);
      this.fetchAllPages();
    },
    onChangeKeyword(value) {
      if (value.trim().length === 0) {
        RouterUtils.removeQuery('keyword', value);
      } else {
        RouterUtils.addQuery('keyword', value);
      }
      this.fetchAllPages();
    },
    onChangePagination() {
      window.scrollTo(0, 0);
    }
  }
};
</script>
<style lang="scss" scoped>
.Workshops {
  &-list {
    margin-bottom: 36px;
  }
}
main {
  padding: 0;
}
.tab-title {
  display: none;
  @include media(md) {
    margin-bottom: 40px;
    display: block;
    text-align: center;
    font-size: 21px;
    color: $greenish-teal;
  }
}

.filter {
  margin-bottom: 16px;
  @include media(md) {
    display: flex;
    align-items: center;
  }
  .year-picker {
    margin-bottom: 16px;
    @include media(md) {
      margin: 0 16px 0 0;
      flex: 0 0 17%;
    }
  }
  .search-bar {
    margin-bottom: 16px;
    @include media(md) {
      margin: 0;
      flex: 0 0 34%;
    }
  }
  .pagination-size-changer {
    display: none;
    @include media(md) {
      display: block;
      margin-left: auto;
    }
  }
}
</style>
