<template>
  <div class="ActivityCalendarTwoMonths">
    <ActivityCalendar
      :activities="activities.firstMonth"
      :defaultValue="moment(datetime)"
      hide-navigation
    />
    <ActivityCalendar
      :activities="activities.secondMonth"
      :defaultValue="moment(datetime).add(1, 'M')"
      hide-navigation
    />
  </div>
</template>

<script>
import moment from 'moment';

import ActivityCalendar from '@/components/shared/ActivityCalendar.vue';

export default {
  name: 'ActivityCalendarTwoMonths',
  components: {
    ActivityCalendar
  },
  props: {
    datetime: {
      type: String, // YYYY-MM-DD
      required: true
    },
    activities: {
      type: Object,
      default: () => ({
        firstMonth: [],
        secondMonth: []
      })
    }
  },
  methods: {
    moment
  }
};
</script>

<style lang="scss" scoped>
.ActivityCalendarTwoMonths {
  .ActivityCalendar + .ActivityCalendar {
    margin-top: 36px;
  }
}
</style>
