<template>
  <div class="ActivityCategorySelect">
    <!-- 手機版使用原生 <select> -->
    <b-form-select
      class="ActivityCategorySelect-select"
      :class="{ 'is-selected': value !== null }"
      :value="value"
      @change="onChange"
    >
      <template #first>
        <b-form-select-option :value="null" disabled hidden>
          選擇分類
        </b-form-select-option>
      </template>

      <b-form-select-option-group label="活動分類">
        <b-form-select-option
          v-for="option in options.activityCategory"
          :value="option.value"
          :key="option.value"
        >
          {{ option.text }}
        </b-form-select-option>
      </b-form-select-option-group>

      <b-form-select-option-group label="公告分類">
        <b-form-select-option
          v-for="option in options.announcementCategory"
          :value="option.value"
          :key="option.value"
        >
          {{ option.text }}
        </b-form-select-option>
      </b-form-select-option-group>
    </b-form-select>

    <div
      class="ActivityCategorySelect-selection"
      :class="{ 'is-selected': value !== null }"
      @click="isOpen = !isOpen"
    >
      {{ value === null ? '選擇分類' : value }}
    </div>

    <input
      type="text"
      autocomplete="off"
      readonly
      hidden
      :value="value"
      @change="onChange($event.target.value)"
    />

    <div class="ActivityCategorySelect-dropdown" v-show="isOpen">
      <div class="ActivityCategorySelect-dropdown-content">
        <p class="ActivityCategorySelect-dropdown-title">活動分類</p>
        <ul>
          <li
            class="ActivityCategorySelect-dropdown-item"
            :class="{ 'is-selected-item': option.value === value }"
            v-for="option in options.activityCategory"
            :value="option.value"
            :key="option.value"
            @click="selectOption(option)"
          >
            {{ option.text }}
          </li>
        </ul>
      </div>

      <div class="ActivityCategorySelect-dropdown-content">
        <p class="ActivityCategorySelect-dropdown-title">公告分類</p>
        <ul>
          <li
            class="ActivityCategorySelect-dropdown-item"
            :class="{ 'is-selected-item': option.value === value }"
            v-for="option in options.announcementCategory"
            :value="option.value"
            :key="option.value"
            @click="selectOption(option)"
          >
            {{ option.text }}
          </li>
        </ul>
      </div>
      <div class="ActivityCategorySelect-dropdown-clear" @click="onClear">
        清除
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ActivityCategorySelect',
  props: {
    value: {
      type: [String, Number],
      default: null
    }
  },
  data() {
    return {
      isOpen: false
    };
  },
  mounted() {
    const closeDropdown = event => {
      if (!this.isOpen) return;

      const isDropdownItem = event.target.classList.contains(
        'ActivityCategorySelect-dropdown-item'
      );
      if (this.$el.contains(event.target) && !isDropdownItem) return;

      this.isOpen = false;
    };
    document.body.addEventListener('click', closeDropdown, true);

    this.$once('hook:beforeDestroy', () => {
      document.body.removeEventListener('click', closeDropdown, true);
    });
  },
  computed: {
    options() {
      const options = {
        activityCategory: [
          { text: '培力/SIG系列活動', value: '培力/SIG活動' },
          '其他活動',
          'EXPO',
          '線上常設展'
        ],
        announcementCategory: ['最新公告', '修正計畫', '計畫管考', '成果報告']
      };

      return {
        activityCategory: options.activityCategory.map(option => {
          return this.setOptionTextAndValue(option);
        }),
        announcementCategory: options.announcementCategory.map(option => {
          return this.setOptionTextAndValue(option);
        })
      };
    }
  },
  methods: {
    selectOption(option) {
      if (option.value === this.value) return;
      this.changeValue(option.value);
    },
    setOptionTextAndValue(option) {
      return typeof option === 'string'
        ? { text: option, value: option }
        : option;
    },
    onChange(value) {
      this.changeValue(value);
    },
    onClear() {
      this.$emit('clear', null);
      this.$emit('change', null);
    },
    changeValue(value) {
      this.$emit('update:value', value);
      this.$emit('change', value);
    }
  }
};
</script>

<style lang="scss" scoped>
.ActivityCategorySelect {
  position: relative;

  user-select: none;

  &-select {
    height: 60px;
    padding: 0;

    position: absolute;

    opacity: 0;

    @include media(lg) {
      display: none;
    }
  }

  &-selection {
    width: 100%;
    padding: 0 16px;

    font-size: 17px;
    font-weight: 600;
    text-align: center;
    line-height: 54px;

    color: $greyish-brown;
    border-radius: 6px;
    border: 3px solid $pale-grey-two;

    cursor: pointer;

    &.is-selected {
      color: $greenish-teal;
      border-color: $greenish-teal;
    }
  }

  &-dropdown {
    width: 520px;
    margin-top: 8px;
    padding: 16px;

    position: absolute;
    z-index: 1;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    border-radius: 10px;
    box-shadow: 0 2px 12px 0 $black-15;
    background-color: $white;

    &-title {
      margin-bottom: 8px;

      font-size: 15px;
      font-weight: 600;

      color: $greenish-teal;
    }

    &-content {
      flex: 0 0 40%;

      text-align: center;

      ul {
        margin: 0;
        padding: 0;

        list-style: none;
      }

      li {
        margin-top: 12px;

        line-height: 36px;

        cursor: pointer;

        &.is-selected-item {
          font-weight: 600;

          color: $greenish-teal;
        }
      }
    }

    &-clear {
      margin-top: 16px;

      flex: 0 0 100%;

      font-size: 17px;
      font-weight: 600;
      text-align: left;
      text-decoration: underline;

      cursor: pointer;

      color: $greyish-brown;
    }
  }
}
</style>
