<template>
  <div class="ActivityItem">
    <div class="time-labtop-size">
      <span class="month">{{ activityMonth }}月</span>
      <span class="day">{{ activityDate }}</span>
    </div>
    <div class="ActivityItem-image">
      <img v-if="activity.image" :src="activity.image" :alt="activity.title" />
      <FakeImage
        v-else
        :post="activity"
        :fake-images="[
          require('@/assets/images/views/C-News/post_01.jpg'),
          require('@/assets/images/views/C-News/post_02.jpg'),
          require('@/assets/images/views/C-News/post_03.jpg')
        ]"
      ></FakeImage>
    </div>
    <div class="ActivityItem-content">
      <div class="ActivityItem-info">
        <div class="ActivityItem-category">
          {{ activity.category }} {{ activity.note }}
        </div>
        <div class="time-phone-size">{{ activity.date }}</div>
      </div>
      <p class="ActivityItem-title">{{ activity.title }}</p>
    </div>
  </div>
</template>

<script>
import { getDate } from 'date-fns/esm//fp';

import { getMonth } from '@/utils/dateHelper';

import FakeImage from '@/components/shared/FakeImage.vue';

export default {
  name: 'ActivityItem',
  components: {
    FakeImage
  },
  props: {
    activity: {
      type: Object,
      required: true
    }
  },
  computed: {
    activityMonth() {
      return getMonth(this.activity.date);
    },
    activityDate() {
      return getDate(new Date(this.activity.date));
    },
    fakeImage() {
      return activityId => {
        // 用活動 id 來隨機 USR 假圖，假圖有 3 張，
        // 所以用 3 取餘數，可讓每個活動的假圖是固定的 (才不會因每次隨機而不同)
        const fakeImageCount = 8;
        const randomNumber = (Number(activityId) % fakeImageCount) + 1;
        return require(`@/assets/images/shared/USR_${randomNumber}.jpg`);
      };
    }
  }
};
</script>

<style lang="scss" scoped>
.ActivityItem {
  margin-bottom: 16px;
  &:last-child {
    margin-bottom: 0;
  }
  @include media(lg) {
    display: flex;
  }
  .time {
    &-labtop-size {
      display: none;
      @include media(lg) {
        height: 120px;
        margin-right: 8px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 0 0 15%;

        border-radius: 10px;
        background-color: $pale-grey;
        .month {
          color: $greyish-brown;
          font-family: $font-family-cursive;
          font-size: 17px;
          font-weight: 600;
        }
        .day {
          color: $greyish-brown;
          font-family: $font-family-cursive;
          font-size: 31px;
        }
      }
    }
    &-phone-size {
      display: block;

      color: $warm-grey;
      @include media(lg) {
        display: none;
      }
    }
  }
  &-image {
    height: 192px;
    margin-bottom: 8px;

    border: solid 3px $greenish-teal;
    border-radius: 10px;
    @include media(sm) {
      height: 290px;
    }
    @include media(md) {
      height: 350px;
    }
    @include media(lg) {
      height: 120px;
      margin: 0 16px 0 0;

      flex: 0 0 30%;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      border-radius: 7px;
    }
  }
  &-info {
    margin-bottom: 8px;

    display: flex;
    justify-content: space-between;
    .time-phone-size {
      line-height: 24px;
      vertical-align: middle;
    }
    .activity-item-typetag {
      color: $pinkish-orange;
    }
  }

  &-category {
    font-size: 17px;
    font-weight: 600;

    color: $pinkish-orange;
  }

  &-title {
    font-size: 17px;
    font-weight: 600;

    color: $greyish-brown;
    text-align: left;
  }
}
</style>
