<template>
  <div class="MonthPicker">
    <div
      class="MonthPicker-selection"
      :class="{ 'is-selected': Boolean(fromDate) && Boolean(toDate) }"
      @click="isOpen = !isOpen"
    >
      <span
        class="MonthPicker-selection-line"
        v-for="(line, index) in displayValue"
        :key="`MonthPicker-selection-line-${index}`"
      >
        {{ line }}
      </span>
    </div>

    <input
      type="text"
      autocomplete="off"
      placeholder="選擇日期"
      readonly
      hidden
      :value="displayValue"
    />

    <div class="MonthPicker-dropdown" v-show="isOpen">
      <div class="MonthPicker-header">
        <div
          class="MonthPicker-navigation MonthPicker-previous-year-button"
          @click.stop="previousYear"
        >
          <PrevIcon />
        </div>
        <span>{{ selectedDate.year }}</span>
        <div
          class="MonthPicker-navigation MonthPicker-next-year-button"
          @click.stop="nextYear"
        >
          <NextIcon />
        </div>
      </div>
      <div class="MonthPicker-container">
        <div
          class="MonthPicker-dropdown-item"
          :class="{ 'is-selected': isSelectedMonth(month) }"
          v-for="month in months"
          :key="month.value"
          @click="onClickMonth(month.value)"
        >
          {{ month.text }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { flow } from 'lodash-es';
import {
  format,
  addYears,
  subYears,
  getYear,
  startOfMonth
} from 'date-fns/esm//fp';

import { parseDate, _formatDate } from '@/utils/format';

import { getMonth, getLastDayOfNextMonth } from '@/utils/dateHelper';

import PrevIcon from '@/assets/images/icons/icon-prev.svg';
import NextIcon from '@/assets/images/icons/icon-next.svg';

export default {
  nome: 'MonthPicker',
  components: {
    PrevIcon,
    NextIcon
  },
  props: {
    fromDate: {
      type: String,
      default: null
    },
    toDate: {
      type: String,
      default: null
    }
  },
  data() {
    return {
      isOpen: false
    };
  },
  mounted() {
    const closeDropdown = event => {
      if (!this.isOpen) return;

      const isDropdownItem = event.target.classList.contains(
        'MonthPicker-dropdown-item'
      );
      if (this.$el.contains(event.target) && !isDropdownItem) return;

      this.isOpen = false;
    };
    document.body.addEventListener('click', closeDropdown, true);

    this.$once('hook:beforeDestroy', () => {
      document.body.removeEventListener('click', closeDropdown, true);
    });
  },
  computed: {
    selectedDate() {
      const fromDate = new Date(this.fromDate);
      return {
        year: fromDate.getFullYear(),
        month: getMonth(fromDate)
      };
    },
    isSelectedMonth() {
      const toDate = new Date(this.toDate);
      const toDateOfYear = toDate.getFullYear();

      return month =>
        getMonth(this.fromDate) === getMonth(month.value) ||
        (toDateOfYear === this.selectedDate.year &&
          getMonth(this.toDate) === getMonth(month.value));
    },
    months() {
      return Array(12)
        .fill(1)
        .map((item, index) => item + index)
        .map(month => {
          const monthValue = String(month).padStart(2, '0');
          const year = this.selectedDate.year;
          const value = `${year}-${monthValue}-01`;
          return { text: `${month}月`, value };
        });
    },
    displayValue() {
      const fromDate = parseDate(this.fromDate);
      const toDate = parseDate(this.toDate);

      const formatYearMonth = format('yyyy M');

      if (getYear(fromDate) === getYear(toDate)) {
        return [`${formatYearMonth(fromDate)}-${getMonth(toDate)} 月`];
      } else {
        return [
          `${formatYearMonth(fromDate)} 月 -`,
          `${formatYearMonth(toDate)} 月`
        ];
      }
    }
  },
  methods: {
    previousYear() {
      const previousYearDate = flow(parseDate, subYears(1))(this.fromDate);

      this.updateValue(previousYearDate);
    },
    nextYear() {
      const nextYearDate = flow(parseDate, addYears(1))(this.fromDate);

      this.updateValue(nextYearDate);
    },
    onClickMonth(monthValue) {
      this.updateValue(parseDate(monthValue));
    },
    updateValue(date) {
      const fromDate = flow(startOfMonth, _formatDate)(date);
      const toDate = flow(getLastDayOfNextMonth, _formatDate)(date);

      const currentFromDate = fromDate;
      const periousFromDate = this.fromDate;
      if (currentFromDate === periousFromDate) return;

      this.$emit('update:fromDate', fromDate);
      this.$emit('update:toDate', toDate);
      this.$emit('change', { fromDate, toDate });
    }
  }
};
</script>
<style lang="scss" scpoed>
.MonthPicker {
  position: relative;

  user-select: none;

  &-selection {
    width: 100%;
    height: 60px;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    font-size: 17px;
    font-weight: 600;

    color: $greyish-brown;
    border-radius: 6px;
    border: 3px solid $pale-grey-two;

    cursor: pointer;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $greyish-brown;
    }

    &.is-selected {
      color: $greenish-teal;
      border-color: $greenish-teal;
    }

    &-line {
      margin: 0;

      line-height: 20px;
    }
  }

  &-dropdown {
    width: 355px;
    margin-top: 8px;
    padding: 10px 20px 20px;

    position: absolute;
    z-index: 1;

    border-radius: 10px;
    box-shadow: 0 2px 12px 0 $black-15;
    background-color: $white;
  }
  &-header {
    width: 100%;
    margin-bottom: 8px;

    display: flex;
    justify-content: space-between;
    svg {
      cursor: pointer;
    }
    span {
      line-height: 30px;
      vertical-align: middle;
    }
  }
  &-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &-dropdown-item {
    width: 99px;
    height: 44px;
    margin-bottom: 8px;

    font-size: 15px;
    text-align: center;
    line-height: 44px;

    background-color: $pale-grey;
    border-radius: 6px;

    cursor: pointer;
    &:nth-child(n + 10) {
      margin-bottom: 0;
    }

    &.is-selected {
      font-weight: 600;

      color: $greenish-teal;
    }
  }

  &-navigation {
    display: inline-block;

    cursor: pointer;

    svg {
      pointer-events: none;
    }
  }
}
</style>
