<template>
  <div class="app" :class="{ en: $i18n.locale === 'en' }">
    <LayoutHeader />
    <Navbar />
    <router-view name="beforePageHeader" />
    <PageHeader />
    <router-view name="afterPageHeader" />
    <keep-alive :include="keepAliveIncludedComponents">
      <router-view />
    </keep-alive>
    <LayoutFooter />
  </div>
</template>

<script>
import LayoutHeader from '@/components/layouts/Header';
import LayoutFooter from '@/components/layouts/Footer';

import Navbar from '@/components/layouts/Navbar';
import PageHeader from '@/components/PageHeader.vue';

export default {
  name: 'app',
  components: {
    LayoutHeader,
    LayoutFooter,
    Navbar,
    PageHeader
  },
  metaInfo() {
    const description = `教育部推行「大學社會責任（University Social Responsibility, USR）實踐計畫」，成立「大學社會責任推動中心」，作為促進USR計畫整體發展工作之平臺，從多方角度與各大學及USR計畫執行團隊協力落實USR目標及效益，聚焦在地連結、人才培育、國際連結等面向及各項議題，並連結聯合國的17項SDGs指標，接軌全球永續發展議題，期許USR計畫在大學社會參與中扮演重要角色與推手。鼓勵各大學發揮專業知識及創意，改善學用落差；促進在地認同與發展，進而邁入接軌國際之願景`;

    const keywords = [
      'USR',
      'USR計畫',
      'USR中心',
      'USR推動中心',
      '永續發展',
      '大學社會責任',
      '大學社會責任推動中心',
      '教育部USR',
      'SDGs',
      'CSR'
    ];

    // ref: https://vue-meta.nuxtjs.org/guide/caveats.html#reactive-variables-in-template-functions
    // 不能在 `titleTemplate()` 內直接使用 reactive 變數，必須先將此變數賦值給 local 變數
    const title = (() => {
      const routeName = this.$route.name;
      const titleTemplate = this.$t('titleTemplates');

      if (routeName === null) {
        return titleTemplate;
      } else {
        const title = this.$t(`${routeName}.title`);
        return routeName === 'Home'
          ? titleTemplate
          : `${title} | ${titleTemplate}`;
      }
    })();

    const openGraphMetas = [
      {
        property: 'og:type',
        content: 'website'
      },
      {
        property: 'og:url',
        content: location.href
      },
      {
        property: 'og:title',
        content: title
      },
      {
        property: 'og:site_name',
        content: title
      },
      {
        property: 'og:description',
        content: description
      },
      {
        property: 'og:locale',
        content: this.$i18n.locale === 'en' ? 'en_US' : 'zh_TW'
      },
      {
        property: 'og:image',
        content: `${process.env.BASE_URL}usr-cover.png`
      },
      {
        property: 'og:image:width',
        content: '1200'
      },
      {
        property: 'og:image:height',
        content: '542'
      }
    ];

    return {
      title,
      meta: [
        {
          property: 'description',
          content: description
        },
        {
          property: 'keywords',
          content: keywords.join()
        },
        ...openGraphMetas
      ]
    };
  },
  computed: {
    keepAliveIncludedComponents() {
      return ['ProjectCalendar'];
    }
  }
};
</script>

<style lang="scss" scoped>
main.wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px 16px 36px 16px;

  @include media(lg) {
    padding: 36px 16px 40px 16px;
  }
}
</style>
