<template>
  <section class="AssessmentTabs">
    <div class="tabs-phone">
      <b-form-select
        :value="$route.name"
        :options="options"
        @change="$router.push({ name: $event })"
      />
    </div>
    <div class="tabs-container">
      <div class="tabs">
        <router-link
          class="tabs-item"
          v-for="tab in tabs"
          :key="tab.name"
          :to="{ name: tab.routeName }"
        >
          {{ tab.name }}
        </router-link>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'AssessmentTabs',
  computed: {
    tabs() {
      return [
        {
          name: '作業須知',
          routeName: 'Documents'
        },
        {
          name: '報告書',
          routeName: 'Reports'
        },
        {
          name: '培力活動',
          routeName: 'Workshops'
        },
        {
          name: '效益評估工具',
          routeName: 'ToolBox'
        },
        {
          name: '部會相關資源',
          routeName: 'RelatedProjects'
        },
        {
          name: '國際USR資源',
          routeName: 'InternationalProjects'
        }
      ];
    },
    options() {
      return this.tabs.map(({ name, routeName }) => ({
        text: name,
        value: routeName
      }));
    }
  }
};
</script>

<style lang="scss" scoped>
.tabs-phone {
  margin-top: 16px;
  padding: 0 16px;
  @include media(lg) {
    display: none;
  }
  .custom-select {
    height: 54px;
    border: solid 3px $greenish-teal;
    border-radius: 5px;
    background: url('~@/assets/images/icons/icon-form-select.png') no-repeat
      right 1rem center;
  }
}
.tabs-container {
  display: none;
  background-color: $beige;
  @include media(lg) {
    display: block;
  }
  .tabs {
    max-width: 1200px;
    padding: 0 16px;
    margin: 0 auto;
    display: flex;
    &-item {
      padding: 16px 24px;
      border-radius: 4px;
      color: $warm-grey;
    }
  }
  .router-link-active {
    color: $greenish-teal;
    background: #fff;
    border-top: solid 3px $greenish-teal;
  }
}
</style>
