<template>
  <b-skeleton-wrapper :loading="loading">
    <template #loading>
      <div class="DocumentTopPost">
        <div class="top-post-image">
          <b-skeleton-img no-aspect />
        </div>

        <div class="top-post-content">
          <div class="top-post-time">
            <b-skeleton width="100px" height="16px"></b-skeleton>
          </div>
          <h2 class="top-post-title">
            <b-skeleton height="18px"></b-skeleton>
          </h2>
          <div class="top-post-text">
            <SkeletonParagraph
              class="text-loading-phone"
              :rows="4"
              height="12px"
              rowSpacing="6px"
            />
            <SkeletonParagraph
              class="text-loading-desktop"
              :rows="6"
              height="12px"
              rowSpacing="6px"
            />
          </div>
        </div>
      </div>
    </template>

    <template #default v-if="topDocument">
      <div class="DocumentTopPost">
        <div class="top-post-image">
          <img :src="topDocument.image" :alt="topDocument.title" />
        </div>

        <div class="top-post-content">
          <div class="top-post-time">
            {{ topDocument.date }}
          </div>
          <h2 class="top-post-title">
            {{ topDocument.title }}
          </h2>
          <div class="top-post-text">
            <p>{{ topDocument.description }}</p>
            <span class="top-post-more">
              繼續閱讀
            </span>
          </div>
        </div>
        <router-link
          :to="{ name: 'Documents', query: { id: topDocument.id } }"
          class="stretched-link"
        />
      </div>
    </template>
  </b-skeleton-wrapper>
</template>
<script>
import SkeletonParagraph from '@/components/shared/SkeletonParagraph.vue';
export default {
  name: 'DocumentTopPost',
  components: {
    SkeletonParagraph
  },
  props: {
    topDocument: {
      type: Object
    },
    loading: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {};
  }
};
</script>
<style lang="scss" scoped>
.DocumentTopPost {
  position: relative;
  @include media(lg) {
    margin-bottom: 37px;
    display: flex;
    gap: 24px;

    cursor: pointer;
  }
}
.top-post {
  &-image {
    height: 211px;
    margin-bottom: 10px;
    flex: 1;
    border: solid 3px $greenish-teal;
    border-radius: 10px;
    @include media(md) {
      height: 350px;
    }
    @include media(lg) {
      flex: 0 0 456px;
      height: 265px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 7px;
    }
  }
  &-label {
    width: 126px;
    height: 42px;
    background-color: $greenish-teal;
    border-radius: 42px 0 42px 0;
    text-align: center;
    position: absolute;
    top: 8px;
    left: 8px;
    span {
      font-size: 15px;
      color: $white;
      line-height: 42px;
      vertical-align: middle;
    }
  }
  &-content {
    flex: 1 0 0;
    margin-bottom: 16px;
  }
  &-time {
    margin-bottom: 10px;

    color: $warm-grey;
  }
  &-title {
    margin-bottom: 16px;

    font-size: 20px;
    color: $greyish-brown;
    line-height: 1.7;
  }
  &-text {
    display: flex;
    flex-direction: column;

    text-align: justify;

    font-size: 17px;
    color: $greyish-brown;
    line-height: 1.7;
    p {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
      overflow: hidden;
    }
    .text-loading {
      &-phone {
        @include media(lg) {
          display: none;
        }
      }
      &-desktop {
        display: none;
        @include media(lg) {
          display: block;
        }
      }
    }
  }
  &-more {
    margin-left: auto;

    font-size: 17px;
    color: $warm-grey;
  }
}
</style>
