<template>
  <b-skeleton-wrapper :loading="loading">
    <template #loading>
      <div class="DocumentPostItem">
        <div class="document-post-image">
          <b-skeleton-img no-aspect />
        </div>
        <div class="document-post-content">
          <div class="document-post-text">
            <div class="document-post-time">
              <b-skeleton width="100px" height="16px"></b-skeleton>
            </div>
            <div class="document-post-title">
              <b-skeleton height="18px"></b-skeleton>
            </div>
          </div>
          <div class="document-post-download">
            <b-skeleton width="64px" height="51px"></b-skeleton>
          </div>
        </div>
      </div>
    </template>
    <template #default v-if="post">
      <div class="DocumentPostItem">
        <div class="document-post-image">
          <img :src="post.image" :alt="post.title" />
        </div>
        <div class="document-post-content">
          <div class="document-post-text">
            <div class="document-post-time">
              {{ post.date }}
            </div>
            <div class="document-post-title">
              {{ post.title }}
            </div>
          </div>
          <div class="document-post-download" v-if="post.has_attachment">
            <DownloadIcon />
          </div>
        </div>
      </div>
    </template>
  </b-skeleton-wrapper>
</template>
<script>
// ====================================
// svg component
import DownloadIcon from '@/assets/images/icons/icon-donload-file.svg';
export default {
  name: 'DocumentPostItem',
  components: {
    DownloadIcon
  },
  props: {
    post: {
      type: Object
    },
    loading: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {};
  }
};
</script>
<style lang="scss" scoped>
.DocumentPostItem {
  padding: 16px 0;
  cursor: pointer;
  @include media(lg) {
    display: flex;
    gap: 13px;
    border-bottom: solid 3px $greenish-teal;
  }
}
.document-post {
  &-content {
    flex: 1 0 0;
    display: flex;
    gap: 18px;
  }
  &-text {
    flex: 1 0 0;
    word-break: break-all;
  }
  &-image {
    height: 217px;
    margin: 0 0 10px 0;

    border-radius: 10px;
    border: solid 3px $greenish-teal;
    @include media(md) {
      height: 350px;
    }
    @include media(lg) {
      width: 163px;
      height: 100px;
      margin: 0;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;

      border-radius: 7px;
    }
  }
  &-title {
    font-size: 17px;
    font-weight: 600;
  }
  &-time {
    margin: 0 0 10px 0;

    font-size: 15px;

    color: $warm-grey;
  }
  &-download {
    margin: auto 0 auto auto;
    @include media(md) {
      margin-right: 24px;
    }
  }
}
</style>
