<template>
  <section>
    <b-skeleton-wrapper
      class="InternationalProjectsPostItem"
      :loading="loading"
    >
      <template #loading>
        <div class="project-item-image">
          <b-skeleton-img no-aspect />
        </div>
        <div class="project-item-content">
          <h4 class="project-title">
            <b-skeleton height="16px"></b-skeleton>
          </h4>
          <div class="project-text">
            <p>
              <SkeletonParagraph :rows="4" height="12px" rowSpacing="6px" />
            </p>
          </div>
        </div>
      </template>

      <template #default v-if="project">
        <div class="InternationalProjectsPostItem">
          <div class="project-item-image" v-if="project.logo">
            <img :src="project.logo" :alt="project.title" />
          </div>
          <div class="fake-image" v-else>
            <img
              src="@/assets/images/shared/international-projects-fake.png"
              :alt="project.title"
            />
          </div>
          <div class="project-item-content">
            <h4 class="project-title">{{ project.title }}</h4>
            <div class="project-text">
              <p>
                {{ project.content }}
              </p>
            </div>
          </div>
        </div>
      </template>
    </b-skeleton-wrapper>
  </section>
</template>
<script>
import SkeletonParagraph from '@/components/shared/SkeletonParagraph.vue';
export default {
  name: 'InternationalProjectsPostItem',
  components: {
    SkeletonParagraph
  },
  props: {
    project: {
      type: Object
    },
    loading: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {};
  }
};
</script>
<style lang="scss" scoped>
.InternationalProjectsPostItem {
  @include media(md) {
    width: 100%;
    display: flex;
  }
}
.project {
  &-item {
    &-image {
      height: 200px;
      padding: 10px;
      text-align: center;
      @include media(md) {
        flex: 1 0 0;
        height: unset;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .fake-image {
      @extend .project-item-image;
      padding: 0;
      img {
        object-fit: cover;
      }
    }
    &-content {
      flex: 3 0 0;
      padding: 16px;
      @include media(md) {
        padding: 24px;
      }
    }
  }
  &-title {
    margin-bottom: 16px;
  }
  &-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
  }
}
</style>
