<template>
  <DetailModal
    title="計畫內容"
    modal-class="related-project-detail-modal"
    :visible="visible"
    @change="$emit('change', $event)"
    @hidden="$emit('hidden', $event)"
  >
    <b-skeleton-wrapper :loading="loading">
      <template #loading>
        <header class="detail-modal-header mb-3 text-center">
          <b-skeleton class="title mx-auto" width="40%" height="28px" />
        </header>

        <section class="detail-modal-content">
          <section class="intro">
            <b-skeleton class="section-title mb-2" width="60px" height="18px" />
            <SkeletonParagraph
              class="section-content"
              :rows="8"
              height="18px"
              rowSpacing="6px"
            />
          </section>

          <section class="ta mt-4">
            <b-skeleton class="section-title mb-2" width="60px" height="18px" />
            <SkeletonParagraph
              class="section-content"
              :rows="3"
              height="18px"
              rowSpacing="6px"
            />
          </section>

          <section class="ta mt-4">
            <b-skeleton class="section-title" width="60px" height="18px" />
            <b-skeleton class="section-content" width="270px" height="18px" />
          </section>

          <footer class="mt-5">
            <b-skeleton
              class="link mx-auto"
              type="button"
              width="100%"
              height="60px"
            />
          </footer>
        </section>
      </template>

      <template #default v-if="data">
        <header class="detail-modal-header mb-3 text-center">
          <h3 class="title">{{ data.title }}</h3>
          <Badge class="calling-for-paper" fill v-if="isCallingForPapers">
            徵件中
          </Badge>
        </header>

        <section class="detail-modal-content">
          <section class="intro">
            <h4 class="section-title">計畫簡介</h4>
            <p class="section-content m-0" v-html="data.intro" />
          </section>

          <template v-if="data.ta">
            <section class="ta mt-4">
              <h4 class="section-title">目標對象</h4>
              <p class="section-content m-0" v-html="data.ta" />
            </section>
          </template>

          <template v-if="data.schedule">
            <section class="schedule mt-4">
              <h4 class="section-title">徵件期程</h4>
              <p class="section-content m-0" v-html="data.schedule" />
            </section>
          </template>
        </section>

        <footer class="text-center mt-5">
          <BaseButton class="link" :href="data.link" target="_blank">
            前往計畫網站
          </BaseButton>
        </footer>
      </template>
    </b-skeleton-wrapper>
  </DetailModal>
</template>

<script>
import { parseISO, isFuture, isToday } from 'date-fns';

import { RelatedProjectEntry } from '@/entries';

import DetailModal from '@/components/shared/DetailModal.vue';
import Badge from '@/components/shared/Badge.vue';
import BaseButton from '@/components/other/BaseButton.vue';
import SkeletonParagraph from '@/components/shared/SkeletonParagraph.vue';

export default {
  name: 'RelatedProjectDetailModal',
  components: {
    DetailModal,
    Badge,
    BaseButton,
    SkeletonParagraph
  },
  props: {
    data: {
      type: RelatedProjectEntry,
      default: null
    },
    visible: {
      type: Boolean,
      default: false
    },
    loading: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    isCallingForPapers() {
      const dueDate = parseISO(this.data.due_date);
      return isToday(dueDate) || isFuture(dueDate);
    }
  }
};
</script>

<style lang="scss" scoped>
.title {
  font-size: 24px;
  font-weight: 600;

  color: $greyish-brown;
}

.section-title {
  font-size: 15px;
  font-weight: 600;

  color: $greyish-brown;
}

.section-content {
  font-size: 17px;
  line-height: normal;
}

.link {
  @include media(md) {
    max-width: 260px;
  }
}
</style>
