<template>
  <b-skeleton-wrapper :loading="loading">
    <template #loading>
      <section class="RelatedProjectPostItem">
        <header class="mb-3">
          <b-skeleton width="40%" height="26px" />
        </header>

        <main class="d-flex flex-column flex-md-row">
          <section class="intro">
            <b-skeleton class="section-title mb-2" width="60px" height="18px" />

            <SkeletonParagraph :rows="6" height="18px" rowSpacing="6px" />
            <b-skeleton
              class="read-more"
              type="button"
              width="100%"
              height="60px"
            />
          </section>

          <section class="link position-relative mt-5 mt-md-0">
            <b-skeleton class="section-title mb-2" width="60px" height="18px" />
            <div class="mb-2">
              <b-skeleton-img no-aspect height="200px" />
            </div>
            <SkeletonParagraph :rows="2" rowSpacing="6px" lastLineWidth="30%" />
          </section>
        </main>
      </section>
    </template>

    <template #default v-if="data">
      <section class="RelatedProjectPostItem">
        <header class="mb-3">
          <h3 class="title">{{ data.org }} {{ data.title }}</h3>
          <Badge
            class="calling-for-paper ml-md-2"
            fill
            v-if="isCallingForPapers"
          >
            徵件中
          </Badge>
        </header>

        <main class="d-flex flex-column flex-md-row">
          <section class="intro">
            <h4 class="section-title">計畫簡介</h4>
            <p class="intro-content m-0" v-html="data.intro" />
            <BaseButton class="read-more" outline @click="$emit('readMore')">
              查看更多
            </BaseButton>
          </section>

          <section class="link position-relative mt-5 mt-md-0">
            <template v-if="data.image && data.link">
              <h4 class="section-title d-none d-md-block">活動網址</h4>
            </template>
            <template v-if="data.image">
              <div class="mb-2">
                <img :src="data.image" :alt="data.title" />
              </div>
            </template>
            <template v-if="data.link">
              <a class="stretched-link" :href="data.link" target="_blank">
                {{ data.link }}
              </a>
            </template>
          </section>
        </main>
      </section>
    </template>
  </b-skeleton-wrapper>
</template>

<script>
import { parseISO, isFuture, isToday } from 'date-fns';

import { RelatedProjectEntry } from '@/entries';

import Badge from '@/components/shared/Badge.vue';
import BaseButton from '@/components/other/BaseButton.vue';
import SkeletonParagraph from '@/components/shared/SkeletonParagraph.vue';

export default {
  name: 'RelatedProjectPostItem',
  components: {
    Badge,
    BaseButton,
    SkeletonParagraph
  },
  props: {
    data: {
      type: RelatedProjectEntry
    },
    loading: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    isCallingForPapers() {
      if (this.data == null) return null;
      const dueDate = parseISO(this.data.due_date);
      return isToday(dueDate) || isFuture(dueDate);
    }
  }
};
</script>

<style lang="scss" scoped>
.title {
  font-size: 18px;
  font-weight: 600;
  line-height: normal;

  color: $greyish-brown;

  @include media(md) {
    display: inline;
  }
}

.title,
.calling-for-paper {
  vertical-align: middle;
}

main {
  // 去除 App.vue 的 padding
  padding: 0;
}

.section-title {
  font-size: 17px;
  font-weight: 600;

  color: $greyish-brown;

  @include media(md) {
    font-size: 15px;
  }
}

.intro {
  flex: 1 0 0;
}

.intro-content {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;

  font-size: 17px;
  line-height: normal;
  text-align: justify;

  @include media(lg) {
    -webkit-line-clamp: 8;
  }
}

.read-more {
  margin-top: 20px;

  @include media(md) {
    max-width: 260px;
  }
}

.link {
  @include media(md) {
    flex: 0 0 300px;
    margin-left: 40px;
  }

  @include media(lg) {
    flex: 0 0 400px;
    margin-left: 50px;
  }

  img {
    width: 100%;
    max-height: 300px;
    object-fit: contain;

    @include media(md) {
      max-height: 230px;
    }
  }

  a {
    font-size: 15px;
    font-weight: 600;
    word-break: break-all;

    color: $dodger-blue;
  }
}
</style>
