<template>
  <section class="ReportPostItem position-relative">
    <b-skeleton-wrapper class="d-flex flex-column  h-100" :loading="loading">
      <template #loading>
        <div class="attachment-image">
          <b-skeleton-img no-aspect height="92px" />
        </div>
        <div class="my-auto">
          <b-skeleton height="20px" />
        </div>
      </template>

      <template #default v-if="data">
        <div class="attachment-image">
          <ReportDownloadFileIcon v-if="data.type === 'USR分析報告'" />
          <img v-else :src="data.logo" :alt="data.school" />
        </div>
        <a
          v-if="data.attachment"
          class="stretched-link my-auto"
          :href="data.attachment.url"
          :title="data.attachment.name"
          target="_blank"
        >
          <p class="attachment-title">{{ attachmentTitle }}</p>
        </a>
        <div v-else class="my-auto">
          <p class="attachment-title">{{ attachmentTitle }}</p>
        </div>
      </template>
    </b-skeleton-wrapper>
  </section>
</template>

<script>
import { ReportEntry } from '@/entries';

import ReportDownloadFileIcon from '@/assets/images/icons/icon-report-download-file.svg';

export default {
  name: 'ReportPostItem',
  components: {
    ReportDownloadFileIcon
  },
  props: {
    data: {
      type: ReportEntry
    },
    loading: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    attachmentTitle() {
      if (this.data == null) return null;
      return this.data.type === 'USR分析報告'
        ? this.data.attachment.name
        : this.data.school;
    }
  }
};
</script>

<style lang="scss" scoped>
.ReportPostItem {
  display: flex;
  flex-direction: column;

  height: 180px;
  padding: 16px;
  border: 3px solid $greenish-teal;
  border-radius: 6px;

  text-align: center;
}

.attachment {
  &-image {
    flex: 0 0 92px;
    margin-bottom: 8px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100%;
      height: 92px;
      object-fit: contain;
    }
  }
  &-title {
    font-size: 17px;
    font-weight: 600;

    color: $greyish-brown;
  }
}
</style>
