<template>
  <b-skeleton-wrapper :loading="loading">
    <template #loading>
      <div class="WorkShopPostItem">
        <div class="work-shops-content">
          <div class="work-shops-title">
            <b-skeleton height="16px"></b-skeleton>
          </div>
          <div class="work-shops-year">
            <b-skeleton width="50px" height="12px"></b-skeleton>
          </div>
          <div class="work-shops-text">
            <SkeletonParagraph :rows="6" height="12px" rowSpacing="6px" />
          </div>
          <div class="work-shops-file p-0">
            <b-skeleton width="150px" height="60px"></b-skeleton>
          </div>
        </div>
        <div class="work-shops-media">
          <div class="work-shops-media-image">
            <div class="image-wrap">
              <b-skeleton-img no-aspect />
            </div>
            <SkeletonParagraph :rows="1" height="12px" lastLineWidth="30%" />
          </div>
        </div>
      </div>
    </template>

    <template #default v-if="work">
      <div class="WorkShopPostItem">
        <div class="work-shops-content">
          <div class="work-shops-title">
            {{ work.title }}
          </div>
          <div class="work-shops-year">{{ work.year }}</div>
          <div class="work-shops-text" v-html="work.content"></div>
          <a
            :href="work.attachment"
            class="work-shops-file"
            target="blank"
            v-if="work.has_attachment"
          >
            <DownloadIconSmall />
            <span>檔案下載</span>
          </a>
        </div>
        <div class="work-shops-media">
          <div class="work-shops-media-item" v-if="work.youtube">
            <b-embed
              type="iframe"
              aspect="16by9"
              :src="correctYoutubeURL"
              allowfullscreen
            ></b-embed>
          </div>
          <div class="work-shops-media-item" v-if="work.fb_video">
            <b-embed
              type="iframe"
              aspect="16by9"
              :src="correctFacebookURL"
              allowfullscreen
            ></b-embed>
          </div>
          <div class="work-shops-media-image" v-if="work.image || work.link">
            <a
              class="image-wrap"
              :href="work.link"
              target="blank"
              v-if="work.image"
            >
              <img :src="work.image" :alt="work.title" />
            </a>
            <a :href="work.link" class="work-shops-media-link" v-if="work.link">
              {{ work.link }}
            </a>
          </div>
        </div>
      </div>
    </template>
  </b-skeleton-wrapper>
</template>
<script>
import { getYouTubeEmbedURL, getFacebookEmbedURL } from '@/utils/helper.js';

import SkeletonParagraph from '@/components/shared/SkeletonParagraph.vue';
// ====================================
// svg component
import DownloadIconSmall from '@/assets/images/icons/icon-donload-file-small.svg';
export default {
  name: 'WorkShopPostItem',
  components: {
    SkeletonParagraph,
    DownloadIconSmall
  },
  props: {
    work: {
      type: Object
    },
    loading: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {};
  },
  computed: {
    correctYoutubeURL() {
      return getYouTubeEmbedURL(this.work.youtube);
    },
    correctFacebookURL() {
      return getFacebookEmbedURL(this.work.fb_video);
    }
  },
  methods: {}
};
</script>
<style lang="scss" scoped>
.WorkShopPostItem {
  padding: 16px 0;
  border-bottom: solid 3px $greenish-teal;
  @include media(lg) {
    padding: 39.5px 0;
    display: flex;
    gap: 70px;
  }
}
.work-shops {
  &-content {
    flex: 1 0 0;
  }
  &-title {
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: $font-weight-semi-bold;
  }
  &-year {
    margin-bottom: 8px;
  }
  &-text {
    margin-bottom: 23px;
    line-height: 1.5;
    text-align: justify;
  }
  &-file {
    width: 150px;
    margin: 16px auto;
    padding: 7px 16px;
    display: block;
    border-radius: 6px;
    background-color: $pale-grey;
    @include media(lg) {
      margin-left: 0;
    }
    span {
      margin-left: 16px;
      font-size: 15px;
    }
  }
  &-media {
    flex: 1 0 0;
    @include media(lg) {
      flex: 0 0 530px;
    }
    &-item {
      margin-bottom: 16px;
    }
    &-image {
      .image-wrap {
        display: block;
        height: 200px;
        margin-bottom: 8px;
        @include media(md) {
          height: 360px;
        }
        @include media(lg) {
          height: 300px;
        }
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &-link {
      color: $dodger-blue;
      word-break: break-all;
    }
  }
}
</style>
